Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: automations, ci, content

.github/labeler.yml:

automations:
  - changed-files:
      - any-glob-to-any-file: ['automation/**', '.github/workflows/**']
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
content:
  - changed-files:
      - any-glob-to-any-file: ['pages/**', 'components/**', 'styles/**']

Add GitHub workflows for automated documentation, security, and CI tasks
  .github/workflows/autodocs.yml
  .github/workflows/broken-links.yml
  .github/workflows/changelog.yml
  .github/workflows/issue-triage.yml
  .github/workflows/security-audit.yml
  .github/workflows/services-schema.yml
  automation/autodocs.cjs
  automation/broken-links.cjs
  automation/generate-changelog.cjs
  automation/security-audit.cjs
  automation/services-schema.cjs
Labels: automations, ci

ci: enhance automation with synthetic QA, drift detection, and issues
  .github/workflows/nightly.yml
  scripts/automation/__pycache__/__init__.cpython-313.pyc
  scripts/automation/__pycache__/create_issues.cpython-313.pyc
  scripts/automation/__pycache__/evaluate.cpython-313.pyc
  scripts/automation/__pycache__/fetch_sources.cpython-313.pyc
  scripts/automation/__pycache__/generate_synthetic_qa.cpython-313.pyc
  scripts/automation/__pycache__/gh_pr.cpython-313.pyc
  scripts/automation/__pycache__/mine_intents.cpython-313.pyc
  scripts/automation/__pycache__/prompt_tuner.cpython-313.pyc
  scripts/automation/__pycache__/runner.cpython-313.pyc
  scripts/automation/create_issues.py
  scripts/automation/drift_detector.py
  scripts/automation/generate_synthetic_qa.py
  scripts/automation/runner.py
Labels: automations, ci

chore(sync): auto-sync from cursor on cursor/generate-zion-multiverse-narrative-and-world-building-7334 at 2025-08-10T02:17:55.027Z
  .github/workflows/docs-indexer.yml
  .github/workflows/nft-pack.yml
  .github/workflows/quick-heal.yml
  .github/workflows/rapid-sync.yml
  automation/docs-indexer.cjs
  automation/empty-page-healer.cjs
  automation/nft-pack-generator.cjs
  automation/rapid-sync.cjs
  data/reports/sync/sync-health.json
Labels: automations, ci

chore: Add GitHub workflows for deps, images, and build stabilization
  .github/workflows/deps-minor-weekly.yml
  .github/workflows/deps-patch-bump.yml
  .github/workflows/image-optimizer.yml
  .github/workflows/stabilize-build.yml
Labels: automations, ci

chore(ci): add Lighthouse performance audits and nightly link checks
  .github/lighthouse/lighthouserc.json
  .github/workflows/lighthouse-performance.yml
  .github/workflows/link-check.yml
  tsconfig.tsbuildinfo
Labels: automations, ci

Add Zion Brain workflows for autonomy, reporting, and issue tracking
  .github/workflows/zion-brain-daily.yml
  .github/workflows/zion-brain-fastloop.yml
  .github/workflows/zion-brain-issues.yml
  automation_logs/stuck-users.json
  data/zion-brain/chains.json
  data/zion-brain/thresholds.json
  package.json
  scripts/zion-chain-tuner.cjs
  scripts/zion-daily-report.cjs
  scripts/zion-stuck-users-scan.cjs
Labels: automations, ci

Add Lighthouse mobile performance and npm security audit to CI workflow
  .github/workflows/autonomous-automation.yml
Labels: automations, ci

Add automation scripts for routes, API, dependencies, and module docs
  .github/workflows/fast-autosync.yml
  .github/workflows/insight-bots.yml
  automation/api-indexer.cjs
  automation/dependency-report.cjs
  automation/markdown-link-check.cjs
  automation/module-readme-template.cjs
  automation/routes-inventory.cjs
  package.json
Labels: automations, ci

chore: Add automation workflows for image optimization, news digest, and validation
  .github/workflows/image_optimize.yml
  .github/workflows/jsonld_validate.yml
  .github/workflows/news_digest.yml
  scripts/generate-news-digest.cjs
  scripts/optimize-images.cjs
  scripts/ping-search-engines.cjs
  scripts/validate-jsonld.cjs
Labels: automations, ci

Add autonomous smart runner with AI content curation and orchestration
  .github/workflows/autonomous-smart-runner.yml
  automation/ai-content-curator.cjs
  automation/intelligent-autonomous-orchestrator.cjs
  package.json
Labels: automations, ci

chore: Add automation workflows for link checking, search indexing, and Lighthouse
  .github/workflows/lighthouse-report.yml
  .github/workflows/link-check.yml
  .github/workflows/search-index.yml
  automation/link-checker.cjs
  automation/search-index-builder.cjs
  data/reports/links/latest.json
  data/reports/links/link-check-1754825976646.json
Labels: automations, ci

feat(automation): add autonomous cloud automations (deps auto-upgrade, content curator) and workflows
  .github/workflows/autonomous-content-curation.yml
  .github/workflows/autonomous-deps-upgrade.yml
  automation/deps-auto-upgrade.cjs
  automation/llm-content-curator.cjs
Labels: automations, ci

Add GitHub workflows, site maintenance, and waitlist submission
  .github/workflows/auto-deps.yml
  .github/workflows/auto-format.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/link-check.yml
  .github/workflows/security-codeql.yml
  .github/workflows/site-maintenance.yml
  .github/workflows/spell-style-guard.yml
  .github/workflows/synthetic-uptime.yml
  .github/workflows/visual-regression.yml
  index.html
  netlify/functions/waitlist.js
  script.js
  scripts/site-maintenance.mjs
Labels: automations, ci

chore(automation): add rapid sync, healer, docs indexer, nft pack
  automation_logs/git-health-summary.json
  docs/INDEX.md
  pages/_app.tsx
Labels: content

fix(heal): regex safety in empty-page-healer
  automation/empty-page-healer.cjs
  pages/404.tsx
  pages/about.tsx
  pages/admin/automation-status.tsx
  pages/auth/callback.tsx
  pages/auth/forgot-password.tsx
  pages/auth/index.tsx
  pages/auth/reset-password.tsx
  pages/auth/verify.tsx
  pages/auto/auto-update-2025-08-08t16-07-55-171z.tsx
  pages/auto/auto-update-2025-08-08t16-10-20-249z.tsx
  pages/auto/auto-update-2025-08-08t16-30-00-086z.tsx
  pages/auto/auto-update-2025-08-08t16-30-20-949z.tsx
  pages/auto/auto-update-2025-08-08t16-38-19-257z.tsx
  pages/auto/auto-update-2025-08-08t16-49-54-200z.tsx
  pages/auto/auto-update-2025-08-08t17-23-07-688z.tsx
  pages/automation/index.tsx
  pages/blockchain-solutions.tsx
  pages/chat-content/ai-powered-business-solutions-discussion.tsx
  pages/chat-content/cloud-computing-strategies.tsx
  pages/chat-content/cybersecurity-best-practices.tsx
  pages/chat-content/data-analytics-implementation.tsx
  pages/chat-content/digital-transformation-insights.tsx
  pages/chat-content/emerging-technology-trends.tsx
  pages/chat-content/future-of-work-and-automation.tsx
  pages/chat-content/innovation-in-enterprise-technology.tsx
  pages/chat-content/sustainable-technology-practices.tsx
  pages/chat-content/technology-implementation-strategies.tsx
  pages/contact.tsx
  pages/enhanced-home.tsx
  pages/index.tsx
  pages/iot-platforms.tsx
  pages/products/index.tsx
  pages/talent/[slug].tsx
  pages/talent/index.tsx
Labels: automations, content

Add automation scripts for repo insights and security scanning
  .github/workflows/fast-autosync.yml
  .github/workflows/insight-bots.yml
  automation/codeowners-generator.cjs
  automation/env-usage-scanner.cjs
  automation/git-heatmap.cjs
  automation/repo-size-report.cjs
  automation/secrets-scan.cjs
  package.json
Labels: automations, ci

Add cloud automation scripts for content refresh, i18n, and SEO
  .github/workflows/cloud-auto.yml
  automation/cloud/ai-content-refresh.cjs
  automation/cloud/i18n-meta-generator.cjs
  automation/cloud/jsonld-generator.cjs
  automation/cloud/og-banner-builder.cjs
  automation/cloud/run-all.cjs
Labels: automations, ci

Add GitHub workflow and script for auto-generating blog feeds
  .github/workflows/auto-feed.yml
  automation/auto-feed-generator.cjs
Labels: automations, ci

feat(home): advertise autonomous cloud automations with links and status badges; add /automation page
  components/ui/AutomationShowcase.tsx
  pages/automation/index.tsx
  pages/index.tsx
Labels: content

Add automation functions for site performance, security, and content management
  netlify.toml
  netlify/functions/pagespeed_audit.js
  netlify/functions/security_headers_audit.js
  netlify/functions/sitemap_from_index.js
  netlify/functions/stale_content_issues.js
  pages/automation/innovations.tsx
Labels: content

Create homepage and docs for autonomous cloud automations
  docs/AUTONOMOUS_AUTOMATIONS.md
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Add homepage content and improve news digest generation script
  pages/index.tsx
  scripts/generate-news-digest.cjs
  tsconfig.tsbuildinfo
Labels: content

feat(automation): add SEO and image audits; advertise automations on homepage; schedule functions
  netlify.toml
  netlify/functions/image_audit.ts
  netlify/functions/seo_audit.ts
  pages/Home.tsx
Labels: content

Add automations section and OG image generation workflow
  .github/workflows/auto-format.yml
  .github/workflows/og-image.yml
  .github/workflows/site-maintenance.yml
  .github/workflows/synthetic-uptime.yml
  index.html
  script.js
  styles.css
Labels: automations, ci

Add automation dashboard and reports with improved UI and links
  .github/workflows/autonomous-automation.yml
  pages/automation/index.tsx
  pages/index.tsx
Labels: automations, ci, content

Update index page with Zion Brain details and improved layout
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Add autonomous cloud bot workflows page with workflow details
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

chore(sync): auto-sync from cursor on cursor/generate-zion-multiverse-narrative-and-world-building-7334 at 2025-08-10T12:05:12.712Z
  .github/workflows/ensure-homepage.yml
  pages/_app.tsx
  pages/index.tsx
Labels: automations, ci, content

Create homepage with workflow sections, reports, and developer tools
  pages/index.tsx
  tsconfig.tsbuildinfo
  utils/repoLinks.ts
Labels: content

feat(home): advertise autonomous automations on homepage; add custom Document; guard workflow
  pages/_document.tsx
Labels: content

Checkpoint before follow-up message
  tsconfig.tsbuildinfo
Labels: none

Add GitHub Actions for SEO, a11y, asset optimization, and security
  .github/workflows/a11y-axe.yml
  .github/workflows/assets-optimize.yml
  .github/workflows/search-engine-ping.yml
  .github/workflows/secret-scan-gitleaks.yml
  .github/workflows/seo-enhance.yml
  index.html
  scripts/optimize-assets.mjs
  scripts/seo-enhance.mjs
Labels: automations, ci

Add image audit and link checker to automation workflow
  .github/workflows/autonomous-automation.yml
  pages/automation/index.tsx
  pages/index.tsx
  scripts/image-audit.mjs
  scripts/link-checker.mjs
Labels: automations, ci, content

Add automation scripts for ESLint, TypeScript, and bundle size reports
  .github/workflows/fast-autosync.yml
  .github/workflows/insight-bots.yml
  automation/bundle-size-report.cjs
  automation/eslint-summary.cjs
  automation/tsc-summary.cjs
  package.json
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat(automation): governance guardian, changelog curator, l10n builder, og generator; homepage links
  .github/FUNDING.yml
  .github/workflows/changelog.yml
  .github/workflows/governance-guardian.yml
  .github/workflows/l10n-builder.yml
  .github/workflows/og-generator.yml
  .github/workflows/performance-budget-15min.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  automation/changelog-autocurator.cjs
  automation/governance-guardian.cjs
  automation/l10n-builder.cjs
  automation/og-placeholder-generator.cjs
  docs/CHANGELOG.md
  pages/eo/index.tsx
  pages/index.tsx
  pages/la/index.tsx
  pages/zl/index.tsx
Labels: automations, ci, content

Add keyword gap analyzer and placeholder pages for site structure
  automation/cloud/keyword-gap-analyzer.cjs
  automation/cloud/run-all.cjs
  pages/404.tsx
  pages/_document.tsx
  pages/about.tsx
  pages/admin/automation-status.tsx
  pages/auth/callback.tsx
  pages/auth/forgot-password.tsx
  pages/auth/index.tsx
  pages/auth/reset-password.tsx
  pages/auth/verify.tsx
  pages/auto/auto-update-2025-08-08t16-07-55-171z.tsx
  pages/auto/auto-update-2025-08-08t16-10-20-249z.tsx
  pages/auto/auto-update-2025-08-08t16-30-00-086z.tsx
  pages/auto/auto-update-2025-08-08t16-30-20-949z.tsx
  pages/auto/auto-update-2025-08-08t16-38-19-257z.tsx
  pages/auto/auto-update-2025-08-08t16-49-54-200z.tsx
  pages/auto/auto-update-2025-08-08t17-23-07-688z.tsx
  pages/automation/index.tsx
  pages/blockchain-solutions.tsx
  pages/chat-content/ai-powered-business-solutions-discussion.tsx
  pages/chat-content/cloud-computing-strategies.tsx
  pages/chat-content/cybersecurity-best-practices.tsx
  pages/chat-content/data-analytics-implementation.tsx
  pages/chat-content/digital-transformation-insights.tsx
  pages/chat-content/emerging-technology-trends.tsx
  pages/chat-content/future-of-work-and-automation.tsx
  pages/chat-content/innovation-in-enterprise-technology.tsx
  pages/chat-content/sustainable-technology-practices.tsx
  pages/chat-content/technology-implementation-strategies.tsx
  pages/contact.tsx
  pages/enhanced-home.tsx
  pages/index.tsx
  pages/iot-platforms.tsx
  pages/products/index.tsx
  pages/talent/[slug].tsx
  pages/talent/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, content

Add automation pages with details on cloud-based autonomous services
  pages/automation/autodocs.tsx
  pages/automation/broken-links.tsx
  pages/automation/index.tsx
  pages/automation/marketplace-enrichment.tsx
  pages/automation/quote-requests.tsx
  pages/automation/services-schema.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

feat(autonomy): add cloud autonomous orchestrator, status page, homepage CTA, and hourly integration
  .github/workflows/autonomous-hourly.yml
  automation/autonomy-orchestrator.cjs
  pages/autonomy.tsx
  pages/index.tsx
Labels: automations, ci, content

Add automation functions for site maintenance and reporting
  netlify.toml
  netlify/functions/broken_image_checker.js
  netlify/functions/commit_changelog.js
  netlify/functions/og_meta_audit.js
  netlify/functions/rss_generator.js
  pages/automation/innovations.tsx
  pages/index.tsx
Labels: content

Add autonomous cloud automations for bundle, typo, and route map reports
  .github/workflows/auto-bundle.yml
  .github/workflows/auto-typo.yml
  automation/auto-bundle-report.cjs
  automation/auto-typo-checker.cjs
  automation/route-map-generator.cjs
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content
