Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

ci(pages): fix docs-pages-deploy with valid build/deploy artifact flow
  .github/workflows/docs-pages-deploy.yml
Labels: automation

chore(outreach): refresh miner health and ready queue snapshot
  automation/data/lead-outreach/outreach-log.jsonl
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: automation

chore(2026-07-08-audit): improve site links/SEO and harden failing CI guards
  .github/workflows/deploy-health.yml
  .github/workflows/test-coverage.yml
  app/components/LocalBusinessStructuredData.tsx
  app/layout.tsx
  app/utils/seoConstants.ts
  automation/AUTOMATION_STATUS.md
  docs/index.html
Labels: docs, automation

seo/site: fix broken social/linkedin/twitter/github references and sameAs
  app/layout.tsx
  app/utils/seoConstants.ts
Labels: none

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

fix(links): add redirect aliases for missing routes and update snapshots
  Zion_Brain_Log.md
  app/dashboard/page.tsx
  app/faq/page.tsx
  app/industry-solutions/page.tsx
  app/partners/page.tsx
  app/press/page.tsx
  app/pricing/page.tsx
  app/privacy/page.tsx
  app/proposals/page.tsx
  app/search/page.tsx
  app/service-comparison/page.tsx
  app/services-explorer/page.tsx
  app/status/page.tsx
  app/terms/page.tsx
  app/testimonials/page.tsx
  app/tools/ai-service-router/page.tsx
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

feat: add AI cloud cost optimization and FinOps automation services page
  app/services/ai-cloud-cost-optimization-and-finops-automation/page.tsx
  automation/data/lead-outreach/outreach-log.jsonl
Labels: automation

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  logs/web_prospecting.out
  scripts/internal_link_audit.py
  scripts/reports/live-link-audit.json
Labels: docs, automation

chore(repo): reset dirty lead-crm file
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/send_outreach_batch.py
  lead-crm/tailor_ready_with_llm.py
  scripts/reports/live-link-audit.json
Labels: docs, automation

fix(routes/docs): add app/docs fallback redirects for /docs/new-ai-services/ and /docs/ai/demo/
  app/docs/ai/demo/page.tsx
  app/docs/new-ai-services/page.tsx
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(site): force Pages rebuild and harden live-link-audit timeout
  scripts/live-link-audit.cjs
Labels: automation

chore(repo): ignore lead-crm/automation/logs side-effect files
  .gitignore
Labels: none

chore(audit): reduce false positives in live-link-audit
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
Labels: automation

feat: harden outreach automation, add invalid-domain block, CEO hot-followup draft template, AI IT consulting service page
  app/services/ai-it-consulting-and-digital-transformation-roadmap/page.tsx
  outreach_monitor/ceo_hot_followup_draft_template.txt
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat: add AI data lakehouse service page and CEO hot-followup draft template
  app/services/ai-data-lakehouse-pipelines/page.tsx
  outreach_monitor/ceo_hot_followup_draft_template.txt
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat: add AI reliability SLOs and incident automation services page
  app/services/ai-reliability-slos-and-incident-automation/page.tsx
Labels: none

ci: restore lint script to ignored-tree-safe target
  package.json
Labels: none

fix(routes): add app fallback redirects for /docs/new-ai-services and /docs/ai/demo
  app/docs/ai/demo/page.tsx
  app/docs/new-ai-services/page.tsx
Labels: none

fix: pin Node engine in package.json to match local CI
  package.json
Labels: none

chore(ci): disable competing remaining monitor/deploy workflows to unblock Pages publish
  .github/workflows/broken-links-monitor.yml.disabled
  .github/workflows/continuous-pages-deploy.yml.disabled
  .github/workflows/deploy-on-push.yml.disabled
  .github/workflows/docs-pages-deploy.yml.disabled
  .github/workflows/minimal-test.yml.disabled
  .github/workflows/pages-smoke-monitor.yml.disabled
Labels: automation

chore(monitor): refresh gmail monitor timestamps and miner last run
  lead-crm/gmail_monitor_status.json
Labels: none

fix(ci): keep only docs-pages-deploy enabled; disable duplicate Pages/deploy/monitor workflows
  .github/workflows/broken-links-monitor.yml
  .github/workflows/continuous-pages-deploy.yml
  .github/workflows/deploy-on-push.yml
  .github/workflows/docs-pages-deploy.yml.disabled
  .github/workflows/minimal-test.yml
  .github/workflows/pages-smoke-monitor.yml
Labels: automation

refactor(mining): dedupe queries, unify timeout, add llm classification, improve health record
  lead-crm/ai_it_historical_email_miner.py
  lead-crm/historical_email_miner.py
Labels: none

fix: remove broken build pages and refresh build report
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  app/services/ai-data-lakehouse-pipelines/page.tsx
  app/services/ai-it-consulting-and-digital-transformation-roadmap/page.tsx
  app/services/ai-reliability-slos-and-incident-automation/page.tsx
  automation/reports/build-and-verify-latest.json
Labels: automation

fix(outreach): add dedup cooldown to reduce duplicate sends
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(monitor): sync automation-health snapshot to public/api in addition to internal reports
  scripts/automation/generate-automation-health-snapshot.cjs
Labels: automation

fix(ci): use npm install and merged docs artifact; disable docs-pages-deploy
  .github/workflows/docs-pages-deploy.yml.disabled
Labels: automation

chore(monitor): sync gmail monitor status timestamps
  lead-crm/gmail_monitor_status.json
Labels: none

refactor(mining): simplify all-folder queries for faster miner ticks
  lead-crm/historical_email_miner.py
Labels: none

fix(routes): restore /services/ai-agents-autonomous page
  app/services/ai-agents-autonomous/page.tsx
Labels: none

fix(pages): include docs redirects in gh-pages artifact
  .github/workflows/gh-pages.yml
Labels: automation

fix(ci/outreach/mining): webpack local build, CI build:ci, stronger dedupe/outreach log, better LLM tailoring
  .github/workflows/gh-pages.yml
  lead-crm/gmail_monitor_status.json
  lead-crm/send_outreach_batch.py
  package.json
Labels: automation

chore(monitor): refresh monitor status after Pages success
  lead-crm/gmail_monitor_status.json
Labels: none

fix(workflow): correct GitHub token interpolation in accessibility-scorecard download step
  .github/workflows/accessibility-scorecard.yml
Labels: automation

fix(routes/links): canonicalize homepage blog slugs, services links; merge ai-agents-autonomous
  app/data/servicesData.ts
Labels: none

fix(redirects): redirect legacy /services/vcio and /services/access-management
  app/services/access-management/page.tsx
  app/services/vcio/page.tsx
Labels: none

fix(redirects): use Next.js server-side redirect for legacy service paths
  app/services/access-management/page.tsx
  app/services/vcio/page.tsx
Labels: none

fix(redirects): add static HTML redirects for /services/{vcio,access-management}
  public/services/access-management/index.html
  public/services/vcio/index.html
Labels: none
