Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

fix(automation): classify trailing-slash redirects as non-terminal, improve site improvement agent base/catalog awareness
  automation/ai-site-improvement-agent.cjs
  automation/site_integrity_run.py
Labels: automation

fix(automation): ignore same-page trailing-slash redirects in site integrity crawler
  automation/site_integrity_run.py
Labels: automation

chore: ignore internal_link_report.json artifact
  .gitignore
Labels: none

fix(deps): resolve form-data high severity via lockfile update
  package-lock.json
Labels: none

chore(lead-crm): remove noisy emkt.b3.com.br lead record
  lead-crm/all-leads.json
Labels: none

ci: add site integrity + outreach dry-run workflow for continuous monitoring
  .github/workflows/site-and-outreach-dry-run.yml
Labels: automation

feat(outreach): add LLM tailoring readiness report generator
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/write_llm_readiness_report.cjs
Labels: automation

feat(cta): reorder floating dock to Calendly + AI assessment
  app/components/FloatingActionDock.tsx
Labels: none

fix(outreach): enforce minimum healthy run timeout in high-frequency runner
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

fix(actions): remove failing outreach dry-run from site-and-outreach-dry-run workflow
  .github/workflows/site-and-outreach-dry-run.yml
Labels: automation

fix: cross-platform outreach paths and restore 404 aliases
  app/ai-services-pricing/page.tsx
  app/free-ai-tools/page.tsx
  scripts/outreach/high_frequency_monitor.py
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/patch_blast_dedup.py
Labels: automation

feat(outreach): add readiness report wiring and CI workflows for live LLM tailoring
  .github/workflows/outreach-live-llm-tailoring.yml
  .github/workflows/outreach-llm-enable-check.yml
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(actions): ensure requests is installed before pages watchdog probe
  .github/workflows/pages-watchdog.yml
Labels: automation

fix: type-check breadcrumb/service-page metadata fixes
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  app/services/ai-it-consulting-and-digital-transformation-roadmap/page.tsx
  tsconfig.tsbuildinfo
Labels: none

fix(pages-watchdog): harden probe path/dep handling for CI stability
  automation/scripts/pages_watchdog.py
Labels: automation

fix(outreach): persist reply audit entries in hot_followup_reply_ledger.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore: harden pages watchdog, site integrity fallbacks, and memory log
  .github/workflows/pages-watchdog.yml
  automation/verify_200.py
  memory/2026-07-11.md
Labels: docs, automation

fix(outreach): resolve merge conflicts, harden runner, persist reply ledger
  scripts/outreach/high_frequency_monitor.py
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

fix(ci): replace broken pin-actions weekly script with local smoke validation
  .github/workflows/pin-actions-weekly.yml
Labels: automation

fix(ci+site): resolve merge conflict in blog page and replace broken pin-actions script
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
Labels: none

ci: update outreach processor state files
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix: resolve merge conflict markers, add pages watchdog, and jest setup
  scripts/outreach/outreach_worker_automation.py
  tsconfig.tsbuildinfo
Labels: automation

fix: remove vcio route conflict, update service stats, patch miner
  app/data/serviceStats.json
  app/services/vcio/route.ts
  lead-crm/historical_email_miner.py
Labels: none

fix(ci): align production-smoke-test trigger with actual Pages deploy workflow name
  .github/workflows/production-smoke-test.yml
Labels: automation

fix(seo+routes): canonicalize broken category paths in sitemap and add permanent redirects
  next.config.js
Labels: none

feat(outreach): add post-run reply ledger self-check output
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(routes): add trailing-slash redirects for /services prefixed category pages
  next.config.js
Labels: none

chore(sitemap+token): refresh sitemap and stamp local token/state metadata
  data/token_dashboard.json
  data/token_state.json
  public/sitemap.xml
  tsconfig.tsbuildinfo
Labels: none

fix(redirects): add static redirect stubs for /services/* and /help
  public/help/index.html
  public/services/ai-services/index.html
  public/services/cloud-services/index.html
  public/services/cybersecurity/index.html
  public/services/data-analytics/index.html
  public/services/devops-services/index.html
  public/services/iot-platform/index.html
  public/services/it-services/index.html
  public/services/micro-saas-services/index.html
  public/services/security-services/index.html
Labels: none

ci(outreach): print explicit LLM activation instructions when inactive
  .github/workflows/outreach-llm-enable-check.yml
Labels: automation

feat(outreach): expose local gmail auth readiness in llm readiness report
  scripts/outreach/outreach_worker_automation.py
Labels: automation

ci(outreach): add blocker discovery step for llm/gmail auth failures
  .github/workflows/outreach-live-llm-tailoring.yml
Labels: automation

fix(redirects): add missing redirects for stale /ai-* and /services/* paths
  next.config.js
Labels: none

fix(redirects): serve /ai-* redirects from public/_redirects for Pages export
  public/_redirects
Labels: none

ci(test/routes): fix jest rootDir/setup path, normalize build smoke test, and add missing /services/* redirects for stale ai/it slugs
  __tests__/build-smoke.test.js
  jest.config.cjs
  next.config.js
  public/_redirects
Labels: none

chore: sync local tree before rebase
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

ci(site-improv): surface report output after run and ignore missing artifact uploads
  .github/workflows/site-improv-agent.yml
Labels: automation

fix(pages): merge public/_redirects and _headers into Pages artifact after export
  .github/workflows/gh-pages.yml
Labels: automation

fix(outreach): restore missing google_api module for local gmail auth
  scripts/outreach/google_api.py
Labels: automation

fix: local lint/test health without changing app code
  config/jest-quarantine.json
  eslint.config.mjs
  package.json
Labels: none
