Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat(outreach+seo): rebuild ready queue and add LATAM AI managed services page
  app/blog/ai-managed-services-and-outsourcing-for-latam-enterprises/page.tsx
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_log.json
Labels: none

feat(seo): add text-to-SQL, voice assistant, and finance automation pages
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/page.tsx
  app/blog/ai-voice-assistant-integration-for-business-communications-in-2026/page.tsx
Labels: none

chore(outreach): send Homer follow-up reply and update cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore(outreach): send Homer second follow-up reply and update cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore(outreach): rebuild outreach queue and refresh miner results
  lead-crm/all-leads.json
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
Labels: none

feat(seo): add LATAI/Brazil AI support automation, cost optimization, platform engineering, integration roadmap, and outsourcing pages
  app/blog/ai-it-cost-optimization-for-micro-saas/page.tsx
  app/blog/ai-outsourcing-vs-in-house-it-latam/page.tsx
  app/blog/ai-support-automation-for-brazilian-companies-in-2026/page.tsx
  app/blog/enterprise-ai-integration-roadmap-for-2026/page.tsx
  app/blog/platform-engineering-and-ai-observability-in-2026/page.tsx
Labels: none

chore(outreach): send latest Homer reply and update sent cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add observability, platform engineering, multichannel support, LATAM partnership, and free tools pages
  app/blog/ai-observability-and-incident-response-for-modern-it-teams/page.tsx
  app/blog/ai-partnership-models-for-latam-growth-in-2026/page.tsx
  app/blog/ai-platform-engineering-patterns-for-scale-in-2026/page.tsx
  app/blog/ai-voice-and-multichannel-support-automation/page.tsx
  app/blog/free-ai-tools-technology-companies-should-use-in-2026/page.tsx
Labels: none

chore(outreach): log mining tick with 1 new lead
  lead-crm/miner_log.json
Labels: none

chore(outreach): rebuild clean ready queue after miner tick
  lead-crm/outreach_ready_canonical.json
Labels: none

feat(outreach): add master outreach cycle automation script
  lead-crm/run_outreach_cycle.py
Labels: none

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  route_check.py
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
  smoke_test.py
Labels: docs, automation

chore(outreach): fix queue rebuild, keep fast tailoring automation
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach): continuous miner tick and queue refresh
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_log.json
Labels: none

chore(lead): add hot-followup responder, LLM-tailored outreach, SEO pack
  automation/data/lead-outreach/improvements.json
  lead-crm/CEO_NEGOTIATION_TEMPLATES.md
  lead-crm/HOT_FOLLOWUP_SETUP.md
  lead-crm/SEO_CONTENT_PACK.md
  lead-crm/hot_followup_responder.py
  lead-crm/send_outreach_batch.py
  lead-crm/unified_automation_runner.py
Labels: docs, automation

chore(automation): snapshot improvements.json and blog page fixes
  automation/data/lead-outreach/improvements.json
Labels: automation

chore(lead): add dry-run CEO drafts and hardened auth fallback
  lead-crm/ceo_dry_run_drafts.json
Labels: none

chore: harden auth fallback, hot-followup probe, improvements snapshot
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/site_integrity_check.py
  commands/google_workspace.py
  lead-crm/hot_followup_responder.py
Labels: docs, automation

chore(lead): add service angle expansion and new lead CEO drafts
  lead-crm/SERVICE_ANGLE_EXPANSION.md
  lead-crm/new_lead_ceo_drafts.json
Labels: docs

chore: finalize dry-run drafts, clean caches, stabilize monitored artifacts
  MEMORY.md
  automation/reports/build-and-verify-latest.json
  lead-crm/ceo_dry_run_drafts.json
  lead-crm/ceo_dry_run_drafts.py
Labels: docs, automation

chore(content): expand AI/IT SEO blog drafts and lead magnet briefs
  lead-crm/SEO_LEAD_MAGNET_BRIEFS.md
  lead-crm/seo/automacao-de-sinistros.md
  lead-crm/seo/bi-preditivo-decisoes-antecipadas.md
  lead-crm/seo/blog-finops-para-startups.md
  lead-crm/seo/blog-ia-no-atendimento.md
  lead-crm/seo/generate_seo_blogs.py
  lead-crm/seo/migracao-nuvem-checklist-executivo.md
  lead-crm/seo/visao-computacional-industria.md
  lead-crm/seo/zero-trust-na-pratica.md
Labels: docs

chore: snapshot improvements, clean caches, finalize pipeline guard
  MEMORY.md
  automation/data/lead-outreach/hot-followup-ceo-reply-draft.txt
  automation/data/lead-outreach/improvements.json
  lead-crm/continuous_outreach_pipeline.py
Labels: docs, automation

feat(seo+outreach): add new SEO pages for support outsourcing, data engineering, security/compliance, consulting vs implementation, and SaaS integration
  app/blog/ai-consulting-vs-ai-implementation-services-in-2026/page.tsx
  app/blog/ai-data-engineering-patterns-for-latam-in-2026/page.tsx
  app/blog/ai-integration-patterns-for-saas-products-in-2026/page.tsx
  app/blog/ai-security-and-compliance-for-brazilian-companies-in-2026/page.tsx
  app/blog/ai-support-outsourcing-for-ecommerce-in-2026/page.tsx
Labels: none

chore(content): add new AI/IT lead angles, SEO briefs, and pipeline auth guard
  MEMORY.md
  app/academy/page.tsx
  app/agents-monitoring/page.tsx
  app/blog/page.tsx
  app/dashboard/page.tsx
  lead-crm/__pycache__/_run_safe_batch.cpython-313.pyc
  lead-crm/__pycache__/continuous_outreach_pipeline.cpython-313.pyc
  lead-crm/__pycache__/retry_pending_hot_followup.cpython-313.pyc
  lead-crm/__pycache__/send_outreach_batch.cpython-313.pyc
  lead-crm/__pycache__/tailor_ready_llm.cpython-313.pyc
  lead-crm/__pycache__/web_prospecting.cpython-313.pyc
Labels: docs

fix(links): add redirect pages for legacy service slugs and /ai/demo; clean live audit script
  docs/services/ai-development-acceleration/index.html
  docs/services/ai-helpdesk-ticketing-system/index.html
  docs/services/cloud-migration-assessment-tool/index.html
  docs/services/devops-automation-consulting/index.html
  docs/services/fleet-management-gps-tracking/index.html
  docs/services/free-tools/index.html
  docs/services/lead-generation-outreach-automation/index.html
  docs/services/nextjs-static-export/index.html
  docs/services/property-management-suite/index.html
  docs/services/seo-consulting/index.html
  docs/services/smart-booking-scheduling-platform/index.html
Labels: none

fix(deploy): canonicalize broken service/blog links, rebuild, redeploy
  docs/_next/static/chunks/app/tools/port-scanner/page-af3fbecbc30d58c9.js
  docs/_next/static/chunks/app/tools/port-scanner/page-d81dedd21ec3eaf0.js
  docs/_next/static/chunks/app/tools/ssl-checker/page-3c133ef85e05e462.js
  docs/_next/static/chunks/app/tools/ssl-checker/page-bcf8fd12c226d02c.js
  docs/agents-monitoring/__next._full.txt
  docs/agents-monitoring/__next.agents-monitoring.__PAGE__.txt
  docs/agents-monitoring/index.html
  docs/agents-monitoring/index.txt
  docs/blog/ai-financial-engineering-and-portfolio-automation-in-2026/__next._full.txt
  docs/blog/ai-financial-engineering-and-portfolio-automation-in-2026/__next.blog.ai-financial-engineering-and-portfolio-automation-in-2026.__PAGE__.txt
  docs/blog/ai-financial-engineering-and-portfolio-automation-in-2026/index.html
  docs/blog/ai-financial-engineering-and-portfolio-automation-in-2026/index.txt
  docs/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/__next._full.txt
  docs/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/__next.blog.ai-text-to-sql-platforms-for-business-intelligence-in-2026.__PAGE__.txt
  docs/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/index.html
  docs/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/index.txt
  docs/blog/ai-voice-assistant-integration-for-business-communications-in-2026/__next._full.txt
  docs/blog/ai-voice-assistant-integration-for-business-communications-in-2026/__next.blog.ai-voice-assistant-integration-for-business-communications-in-2026.__PAGE__.txt
  docs/blog/ai-voice-assistant-integration-for-business-communications-in-2026/index.html
  docs/blog/ai-voice-assistant-integration-for-business-communications-in-2026/index.txt
  docs/data/services.json
  docs/feed.xml
  docs/service-index.json
  docs/tools/port-scanner/__next._full.txt
  docs/tools/port-scanner/__next.tools.port-scanner.__PAGE__.txt
  docs/tools/port-scanner/index.html
  docs/tools/port-scanner/index.txt
  docs/tools/ssl-checker/__next._full.txt
  docs/tools/ssl-checker/__next.tools.ssl-checker.__PAGE__.txt
  docs/tools/ssl-checker/index.html
  docs/tools/ssl-checker/index.txt
Labels: none

chore: add outreach playbook and landing page copy blocks
  lead-crm/LANDING_PAGE_COPY_BLOCKS.md
  lead-crm/OUTREACH_PLAYBOOK.md
Labels: docs

feat(seo+outreach): operational readiness, client retention, gov/public sector, workflow automation, vendor due diligence
  app/blog/ai-client-retention-tactics-for-it-and-ai-services-companies-in-2026/page.tsx
  app/blog/ai-government-and-public-sector-opportunities-for-it-companies-in-brazil-in-2026/page.tsx
  app/blog/ai-operational-readiness-for-brazilian-it-companies-in-2026/page.tsx
  app/blog/ai-vendor-due-diligence-checklist-for-latam-in-2026/page.tsx
  app/blog/ai-workflow-automation-patterns-for-enterprises-in-2026/page.tsx
Labels: none

chore(outreach): sync pipeline state and miner logs
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore: finalize activation runbook and staged artifacts
  MEMORY.md
  app/academy/page.tsx
  app/agents-monitoring/page.tsx
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/page.tsx
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
  app/blog/ai-voice-assistant-integration-for-business-communications-in-2026/page.tsx
  app/blog/managed-ai-cloud-support-for-startups-and-enterprises-in-2026/page.tsx
  app/blog/nebius-latam-ai-partnership-opportunity-2026/page.tsx
  app/blog/nebius-partnership-and-ai-vendor-co-selling-2026/page.tsx
  app/blog/nebius-partnership-latam-expansion-guide/page.tsx
  app/blog/page.tsx
  app/dashboard/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/ssl-checker/page.tsx
  automation/__pycache__/crawl_zion.cpython-314.pyc
  automation/__pycache__/site_integrity_check.cpython-314.pyc
  automation/crawl_zion.py
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-history.json
  automation/data/lead-outreach/outreach-log.jsonl
  automation/reports/build-and-verify-latest.json
  automation/site_integrity_check.py
  commands/__pycache__/__init__.cpython-314.pyc
  commands/__pycache__/google_workspace.cpython-314.pyc
  lead-crm/web_prospecting.py
  lib/__pycache__/llm_client.cpython-314.pyc
  public/sitemap.xml
Labels: docs, automation

chore(lead): add post-auth activation runbook
  lead-crm/HOT_FOLLOWUP_ACTIVATION.md
Labels: docs

chore(outreach): sync pipeline state after miner tick
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

feat(seo+outreach): add LATAM AI enterprise readiness assessment page
  app/blog/ai-enterprise-readiness-assessment-for-latam-in-2026/page.tsx
Labels: none

chore: reconcile local outreach_monitor artifacts after remote sync
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

feat: send Procurri/Matt Weiss CEO reply; add dedup record and AI readiness audit SEO page
  app/blog/free-ai-readiness-audit-for-it-services-companies/page.tsx
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
  outreach_monitor/processed/dedup_matt_weiss.json
  scripts/outreach_monitor/processed/ceo_replies/send_matt_weiss_ceo_reply.py
Labels: automation

feat: add AI infrastructure/data center ops SEO page; preserve contact funnel updates
  app/blog/ai-for-it-infrastructure-and-data-center-operations-2026/page.tsx
  app/components/ContactFunnel.tsx
  app/components/Footer.tsx
  app/contact/page.tsx
  app/utils/seoConstants.ts
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: none

fix(links): restore fallback redirects for legacy slugs and patch pages artifact to include docs redirects
  docs/ai/demo/index.html
  docs/services/ai-claims-automation/index.html
  docs/services/ai-development-acceleration/index.html
  docs/services/ai-helpdesk-ticketing-system/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/cloud-migration-assessment-tool/index.html
  docs/services/devops-automation-consulting/index.html
  docs/services/fleet-management-gps-tracking/index.html
  docs/services/free-tools/index.html
  docs/services/lead-generation-outreach-automation/index.html
  docs/services/nextjs-static-export/index.html
  docs/services/property-management-suite/index.html
  docs/services/seo-consulting/index.html
  docs/services/smart-booking-scheduling-platform/index.html
Labels: none

feat: add MSP/VAR AI partnership SEO page for VAR and MSP lead gen
  app/blog/ai-for-managed-service-providers-and-var-2026/page.tsx
  app/utils/seoConstants.ts
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: none

ci(pages): use npm install instead of npm ci to avoid lockfile/CI mismatch
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

feat: add IT staffing/resource delivery AI SEO page
  app/blog/ai-for-it-staffing-and-resource-delivery-companies-2026/page.tsx
Labels: none
