Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

ci: use working Next.js build in Pages and deploy only out/ artifact
  .github/workflows/gh-pages.yml
Labels: automation

feat: improve outreach automation with LLM tailoring coverage and Pages build fix
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

fix: add next.config.mjs for static export and @ alias
  next.config.mjs
Labels: none

fix: deduplicate pending approval queue entries
  outreach_monitor/processed/pending_approval_queue.jsonl
  outreach_monitor/processed/pending_approval_queue.jsonl.bak
Labels: none

fix: remove stale next.config.js and keep .mjs export config
  next.config.js.build.disabled
Labels: none

fix: next.config.mjs ESM-safe alias for @ path
  next.config.mjs
Labels: none

chore(ci): ESM next config, alias fixes, import repair
  app/products/page.tsx
  app/services/stage/[stage]/page.tsx
  next.config.mjs
Labels: none

fix(ci): bump actions to v5 and opt into Node 24 runner compatibility
  .github/workflows/gh-pages.yml
Labels: automation

feat(outreach): enable cross-folder discovery + LLM tailoring for hot-follow-ups
  next.config.mjs
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  outreach_monitor/processed/site_health_report.jsonl
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

restore: continuous-pages-deploy.yml workflow
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

chore(outreach): add continuous improvement runner artifacts
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(ci): upgrade pages artifact upload to v4 in continuous deploy
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

ci: add route watchdog workflow + script
  .github/workflows/route-watchdog.yml
  scripts/ci/route-watchdog.sh
Labels: automation

ci(outreach): fix build-wrapper, add link crawler, ...
  artifacts/ci-logs-29342179384/1_build.txt
  artifacts/ci-logs-29342179384/build/1_Set up job.txt
  artifacts/ci-logs-29342179384/build/20_Post Run actions_checkout@v4.txt
  artifacts/ci-logs-29342179384/build/21_Complete job.txt
  artifacts/ci-logs-29342179384/build/2_Run actions_checkout@v4.txt
  artifacts/ci-logs-29342179384/build/3_Run actions_setup-node@v4.txt
  artifacts/ci-logs-29342179384/build/4_Run npm install --no-audit --fund=false.txt
  artifacts/ci-logs-29342179384/build/5_Run npm run buildci.txt
  artifacts/ci-logs-29342179384/build/7_Upload build state artifact.txt
  artifacts/ci-logs-29342179384/build/system.txt
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  scripts/build-wrapper.cjs
  scripts/ci/link-crawler.cjs
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(docs,ci): add link crawler and route watchdog
  artifacts/ci-logs-29342179384/1_build.txt
  artifacts/ci-logs-29342179384/build/1_Set up job.txt
  artifacts/ci-logs-29342179384/build/20_Post Run actions_checkout@v4.txt
  artifacts/ci-logs-29342179384/build/21_Complete job.txt
  artifacts/ci-logs-29342179384/build/2_Run actions_checkout@v4.txt
  artifacts/ci-logs-29342179384/build/3_Run actions_setup-node@v4.txt
  artifacts/ci-logs-29342179384/build/4_Run npm install --no-audit --fund=false.txt
  artifacts/ci-logs-29342179384/build/5_Run npm run buildci.txt
  artifacts/ci-logs-29342179384/build/7_Upload build state artifact.txt
  artifacts/ci-logs-29342179384/build/system.txt
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  scripts/build-wrapper.cjs
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): update dedup/ledger and continuous-improvement state
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(pages): add root index.html; add link crawler and route watchdog
  docs/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(gmail): make batchModify payload type-safe for label changes
  commands/google_workspace.py
Labels: none

chore(outreach): automated outreach cycle
  check_hot_followup.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

feat(monitor): add live LLM tailoring fallback, history miner, and safer batchModify
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-13.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(pages): add services landing page index
  docs/services/index.html
Labels: none

feat(monitor): filter outbound/noise interest drafts to improve outreach quality
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

refactor(monitor): harden interest-draft spam filters and clean queue
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

fix(ci): bump actions to v5, set Node 24 env, and improve build diagnostics
  .github/workflows/gh-pages.yml
Labels: automation

feat(pages): add missing route landing pages; add consistent route watchdog
  .github/workflows/route-watchdog.yml
  docs/about/index.html
  docs/blog/index.html
  docs/careers/index.html
  docs/contact/index.html
  docs/partners/index.html
  docs/portal/index.html
  docs/pricing/index.html
  docs/solutions/index.html
  docs/tools/index.html
Labels: automation

feat(outreach): improve cold outreach and follow-up automation
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

feat(pages): add sitemap.xml and robots.txt
  docs/robots.txt
  docs/sitemap.xml
Labels: none

fix(ci): improve continuous Pages artifact and verification
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

feat(outreach): CEO follow-up sent to Whibbert; improve automation state
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(ci): disable failing gh-pages.yml fallback workflow to avoid queue contention
  .github/workflows/gh-pages.disabled
  scripts/build-wrapper.cjs
Labels: automation

feat(pages): add missing landing routes, sitemap, and route watchdog; improve CI artifact preparation
  docs/about/index.html
  docs/blog/index.html
  docs/careers/index.html
  docs/contact/index.html
  docs/partners/index.html
  docs/portal/index.html
  docs/pricing/index.html
  docs/solutions/index.html
  docs/tools/index.html
  scripts/build-wrapper.cjs
Labels: automation

feat(outreach): safe high-frequency hot-follow-up discovery with duplicate checks
  scripts/outreach/outreach_worker_automation.py
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
