Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat(outreach): prioritize live threads and reply-like messages for !!!hot-follow-up
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat: deploy app/tools/[toolId]/page.tsx via Contents API
  app/tools/[toolId]/page.tsx
Labels: none

feat: deploy public/_redirects via Contents API
  public/_redirects
Labels: none

feat: deploy scripts/automation/gh-issue-dedupe-or-create.cjs via Contents API
  scripts/automation/gh-issue-dedupe-or-create.cjs
Labels: automation

feat: deploy scripts/automation/gh-issue-close-on-recovery.cjs via Contents API
  scripts/automation/gh-issue-close-on-recovery.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
Labels: none

repair(workflows+link-audit+email): harden live audit ignores, restore token renew script, update smoke trigger
  lead-crm/all-leads.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  scripts/reports/email-summary-latest.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(seo): add canonical sitemap.xml redirect to sitemap-0.xml
  public/_redirects
Labels: none

feat(outreach): thank clients by past work area in CEO fallback reply
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(ci): serve static export for Lighthouse budget workflow
  .github/workflows/lighthouse-budget.yml
Labels: automation

chore: move pages/ out of build path for static export
  pages-disabled/ai-cloud-cost-optimization.html
  pages-disabled/ai-cost-optimization.html
  pages-disabled/ai-data-analytics-platform.html
  pages-disabled/ai-incident-response-retainer.html
  pages-disabled/ai-security-compliance.html
  pages-disabled/ai-services-free-tools.html
  pages-disabled/ai-strategy-consulting.html
  pages-disabled/low-code-ai.html
  pages-disabled/managed-it-operations-ai.html
Labels: none

chore: remove legacy pages/ dir and stale /tools/[toolId] dynamic page
  app/tools/[toolId]/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

fix(audit+ci): harden live link ignore list, align Lighthouse budget to Pages artifact
  .github/workflows/lighthouse-budget.yml
  scripts/live-link-audit.cjs
  scripts/reports/internal-link-audit.json
Labels: automation

feat(outreach): improve LLM-tailored CEO reply prompt and recipient parsing
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach+site): update send-disabled analysis and tighten internal link audit report
  lead-crm/outreach_send_disabled_analysis.jsonl
  scripts/reports/internal-link-audit.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(outreach): suppress dead domains servi.ai, servi.com, manag.io, start.co
  lead-crm/_run_safe_batch.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(ci): unpin Lighthouse production workflow action versions
  .github/workflows/lighthouse-production.yml
  lead-crm/outreach_send_disabled_analysis.jsonl
  scripts/reports/email-summary-latest.json
Labels: automation

fix(email): expand exclusion list from live gmail delivery failures
  .gitignore
  lead-crm/exclusion-list.json
Labels: none

fix(ci): unpin Lighthouse production workflow action versions
  .github/workflows/lighthouse-production-smoke-weekly.yml
  .github/workflows/pin-actions-weekly-smoke-weekly.yml
  .github/workflows/pin-actions-weekly.yml
  .github/workflows/production-health-monitor-smoke-weekly.yml
  .github/workflows/production-health-monitor.yml
  .github/workflows/production-smoke-test-smoke-weekly.yml
  .github/workflows/production-smoke-test.yml
  .github/workflows/stale-smoke-weekly.yml
  .github/workflows/stale.yml
Labels: automation

chore(outreach): update all-leads.json with new entries
  lead-crm/all-leads.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): update outreach send-disabled analysis
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(site): add internal_link_audit_fallback.py
  internal_link_audit_fallback.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  smoke-check-tmp/dw.err
  smoke-check-tmp/dw.out
  smoke-check-tmp/ha.err
  smoke-check-tmp/ha.out
  smoke-check-tmp/sr.err
  smoke-check-tmp/sr.out
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-12.md
Labels: docs

feat(outreach): broaden all-folder discovery with in:anywhere fallback query
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): keep !!!hot-follow-up threads even if not reply-like
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): tighten high-frequency backoff pacing for pending-work mode
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

fix(email): enforce exclusion-list filtering in outbound outreach sender
  lead-crm/send_outreach_batch.py
Labels: none
