Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore: reconcile after upstream main sync
  .github/workflows/continuous-pages-deploy.yml
  app/blog/ai-for-it-staffing-and-resource-delivery-companies-2026/page.tsx
  app/blog/ai-for-managed-service-providers-and-var-2026/page.tsx
  app/utils/seoConstants.ts
  docs/ai/demo/index.html
  docs/services/ai-claims-automation/index.html
  docs/services/ai-development-acceleration/index.html
  docs/services/ai-helpdesk-ticketing-system/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/cloud-migration-assessment-tool/index.html
  docs/services/devops-automation-consulting/index.html
  docs/services/fleet-management-gps-tracking/index.html
  docs/services/free-tools/index.html
  docs/services/lead-generation-outreach-automation/index.html
  docs/services/nextjs-static-export/index.html
  docs/services/property-management-suite/index.html
  docs/services/seo-consulting/index.html
  docs/services/smart-booking-scheduling-platform/index.html
Labels: automation

chore(ci): temporarily disable continuous pages deploy workflow due persistent failure without admin log access
  .github/workflows/continuous-pages-deploy.yml.bak
Labels: automation

chore: reconcile outreach monitor metrics after merge
  outreach_monitor/metrics/continuous_improvement.json
Labels: none

fix(deploy): calmendly/linkedin urls + build flag
  app/utils/seoConstants.ts
Labels: none

fix(deploy): cal/linkedin urls + build flag + static adjustments
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: none

fix(redirects): add legacy slug redirects for observability, soc, insurance claims, free-tools
  docs/free-tools/index.html
  docs/services/ai-insurance-claims/index.html
  docs/services/ai-observability/index.html
  docs/services/ai-soc-automation-and-threat-detection-in-2026/index.html
Labels: none

fix: service title fallback + calendly url + rel=noopener noreferrer
  app/components/ContactFunnel.tsx
  app/components/Footer.tsx
  app/services/[id]/page.tsx
Labels: none

feat(pages): add /new-ai-services landing page for latest AI services
  docs/new-ai-services/index.html
Labels: none

chore(outreach): sync pipeline lock
  lead-crm/continuous_outreach_pipeline.lock
Labels: none

feat: add /new-ai-services landing page for latest AI services
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/web_prospecting.py
Labels: none

fix: service title fallback + calendly url + rel=noopener noreferrer
  app/components/ContactFunnel.tsx
  app/components/Footer.tsx
  app/services/[id]/page.tsx
Labels: none

chore(outreach): sync pipeline lock
  lead-crm/continuous_outreach_pipeline.lock
Labels: none

feat: add new-ai-services landing page and footer exposure
  docs/index.html
Labels: none

fix(seo/contact): normalize external URLs and build script
  package.json
  scripts/reports/build_timeout_diagnostic.txt
Labels: automation

fix: use /docs/new-ai-services link consistent with Pages source
  docs/index.html
Labels: none

chore(outreach): remove stale __pycache__ artifacts
  commands/__pycache__/__init__.cpython-314.pyc
  commands/__pycache__/google_workspace.cpython-314.pyc
Labels: none

chore(outreach): automated outreach cycle
  commands/__pycache__/__init__.cpython-313.pyc
  commands/__pycache__/google_workspace.cpython-313.pyc
  lead-crm/outreach_tailored_canonical.json
Labels: none

feat(tools): add /tools/favicon-generator static page
  docs/tools/favicon-generator/index.html
Labels: none

feat(tools): add /tools/favicon-generator static page
  docs/tools/favicon-generator/index.html
Labels: none

feat(tools): add /tools/favicon-generator static page at root for Pages
  tools/favicon-generator/index.html
Labels: none

ci(pages): restore continuous pages deploy workflow for root-path publication
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

chore(ci): restore continuous pages deploy workflow for root-path publication
  .github/workflows/continuous-pages-deploy.yml.bak
Labels: automation

fix(deploy): restore CI workflow, merge root+docs pages artifacts, populate missing root static routes
  .github/workflows/continuous-pages-deploy.yml
  agents-monitoring/index.html
  ai-lab/index.html
  blog/index.html
  contact/index.html
  dashboard/index.html
  manifest.json
  new-ai-services/index.html
  pricing/index.html
  robots.txt
  services/index.html
  tools/index.html
Labels: automation

fix(tools): add /tools/favicon-generator static page
  tools/favicon-generator/index.html
Labels: none

fix(ci): correct pages smoke monitor URLs and minimal-test workflow YAML
  .github/workflows/minimal-test.yml
  .github/workflows/pages-smoke-monitor.yml
Labels: automation

feat(seo): managed services, text2sql, voice assistant pages
  app/blog/ai-managed-services-and-outsourcing-for-latam-enterprises/page.tsx
  app/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/page.tsx
  app/blog/ai-voice-assistant-integration-for-business-communications-in-2026/page.tsx
Labels: none

chore(outreach): ignore __pycache__ and remove cache artifacts
  .gitignore
  commands/__pycache__/__init__.cpython-313.pyc
  commands/__pycache__/google_workspace.cpython-313.pyc
Labels: none

fix(build): rename stale Breadcrumb imports, normalize links/docs artifacts, patch content rapid workflow
  .github/workflows/ai-content-rapid.yml
  app/academy/page.tsx
  app/agents-monitoring/page.tsx
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-text-to-sql-platforms-for-business-intelligence-in-2026/page.tsx
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
  app/blog/ai-voice-assistant-integration-for-business-communications-in-2026/page.tsx
  app/blog/managed-ai-cloud-support-for-startups-and-enterprises-in-2026/page.tsx
  app/blog/nebius-latam-ai-partnership-opportunity-2026/page.tsx
  app/blog/nebius-partnership-and-ai-vendor-co-selling-2026/page.tsx
  app/blog/nebius-partnership-latam-expansion-guide/page.tsx
  app/blog/page.tsx
  app/dashboard/page.tsx
  automation/reports/build-and-verify-latest.json
  docs/.htaccess
  docs/.well-known/security.txt
  docs/5g-solutions/index.html
  docs/5g-solutions/index.txt
  docs/CNAME
  docs/_headers
  docs/services/index.html
  docs/tools/index.html
Labels: automation

fix: restore broken live pages and site assets
  .github/workflows/ci-cd.yml
  .github/workflows/continuous-pages-deploy.yml.bak
  MEMORY.md
  app/data/servicesData.ts
  app/data/wave296.ts
  app/data/wave297.ts
  app/services/page.tsx
  automation/__pycache__/crawl_zion.cpython-314.pyc
  automation/__pycache__/site_integrity_check.cpython-314.pyc
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-history.json
  automation/data/lead-outreach/outreach-log.jsonl
  automation/reports/build-and-verify-latest.json
  automation/site_check.py
  automation/site_integrity.py
  automation/site_integrity_run.py
  blog/index.html
  contact/index.html
  dashboard/index.html
  docs/index.html
  docs/tools/favicon-generator/index.html
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/web_prospecting.py
  search/index.html
  services/ai-agentic-workflow-automation/index.html
  services/ai-document-processing/index.html
  services/cloud-hybrid-orchestration/index.html
  services/index.html
  services/it-endpoint-procurement-hub/index.html
  services/penetration-testing/index.html
  services/saas-invoice-generator/index.html
  services/saas-social-scheduler/index.html
  tools/ai-service-router/index.html
  tsconfig.tsbuildinfo
Labels: docs, automation

fix: restore missing live pages, site assets, and continuous deploy workflow
  .github/workflows/continuous-pages-deploy.yml
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/reports/build-and-verify-latest.json
  public/sitemap.xml
Labels: docs, automation

chore(outreach): append canonical Homer reply sent record
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore: capture latest operational state
  MEMORY.md
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/outreach_tailored_canonical.json
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
Labels: automation

chore(audit): harden live-link-audit.cjs output and root-page discovery
  scripts/live-link-audit.cjs
Labels: automation

chore(outreach): sync pipeline lock and restore live-link audit report
  lead-crm/continuous_outreach_pipeline.lock
Labels: none

fix(outreach): point hot-followup responder to repo root, normalize lock
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/hot_followup_responder.py
Labels: none

feat(seo): add 3 AI/IT LATAM blog pages and update index
  app/blog/ai-chatops-and-agentic-support-automation-in-2026/page.tsx
  app/blog/ai-fraud-prevention-and-identity-intelligence-for-brazilian-companies-in-2026/page.tsx
  app/blog/ai-soc-aiops-platform-engineering-for-latam-it-teams-in-2026/page.tsx
Labels: none

chore(automation): sync brain log and pipeline lock timestamp
  Zion_Brain_Log.md
  lead-crm/continuous_outreach_pipeline.lock
Labels: docs

feat(seo): add 4 AI/IT blog pages and update index
  app/blog/ai-devops-ai-automation-platform-engineering-in-2026/page.tsx
  app/blog/ai-enterprise-integration-patterns-for-saas-and-erp-in-2026/page.tsx
  app/blog/ai-identity-and-zero-trust-for-brazilian-it-teams-in-2026/page.tsx
  app/blog/ai-observability-and-incident-management-in-2026/page.tsx
Labels: none

feat(blog): make blog index dynamic so new pages appear automatically
  app/blog/page.tsx
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
