Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

ci: sync miner and monitor runtime data after outreach patches
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci: optimize Next.js build config for memory reduction
  next.config.mjs
Labels: none

ci: optimize Next.js config for CI memory constraints
  .github/workflows/gh-pages.yml
  next.config.mjs
Labels: automation

ci: further optimize Next.js config for CI memory constraints
  .github/workflows/gh-pages.yml
  next.config.mjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): replace Connect placeholder draft with tailored PT reply
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
Labels: none

ci: sync monitor runtime telemetry after tailoring/dedup updates
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: remove invalid turbo config from next.config.mjs
  next.config.mjs
Labels: none

ci: reduce NODE_OPTIONS to 4096MB for CI memory constraints
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: use buildWorkers: 1 in next.config.mjs for CI memory optimization
  next.config.mjs
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: remove invalid experimental config from next.config.mjs
  next.config.mjs
Labels: none

ci: fix next.config.mjs syntax and remove invalid experimental options
  .github/workflows/gh-pages.yml
  next.config.mjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: restore build-wrapper.cjs fallback approach
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: fix workflow outputs so deploy job gets pages count from prepare_pages step
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  memory/2026-07-17.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none
