Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

docs: update automation status with current site/Actions/model check
  automation/AUTOMATION_STATUS.md
Labels: docs, automation

fix: use local next binary for build
  .github/workflows/performance-budget.yml
Labels: automation

ci(pages): add docs/ paths for /automation and /services/ai-workflow-automation
  docs/automation/index.html
  docs/services/ai-workflow-automation/index.html
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: use npx next build --webpack directly
  .github/workflows/performance-budget.yml
Labels: automation

feat(outreach): harden marketplace noise filter and refresh LLM tailoring readiness state
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix: remove static export verification step
  .github/workflows/performance-budget.yml
Labels: automation

fix: simplify performance budget workflow to test live URL only
  .github/workflows/performance-budget.yml
Labels: automation

fix: add workflows permission for dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Labels: automation

fix: use workflow permission for dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Labels: automation

chore: refresh outreach monitor dedup state and docs recoveries
  docs/recoveries/case-studies.json
  docs/recoveries/consultation.json
  docs/recoveries/faq.json
  docs/recoveries/free-tools-hub.json
  docs/recoveries/industries.json
  docs/recoveries/products.json
  docs/recoveries/site-map.json
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(outreach): automated outreach cycle
  automation/AUTOMATION_STATUS.md
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: docs, automation

ci(pages): improve build failure diagnostics with full log tail
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): mark Solyssey thread as prior-draft to prevent reconsideration
  outreach_monitor/processed/sent_threads.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

Update sitemap.xml
  public/sitemap.xml
Labels: none

feat(outreach): support OpenRouter/Groq/Hermes auth fallback in LLM tailoring
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

cron(outreach): site crawl 2026-07-16 + hot-followup scan; dedup up to date
  artifacts/crawl-2026-07-16.json
  artifacts/hot-followup-scan-2026-07-16.json
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-16.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-16.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

recovery(free-ai-it-tools): restore missing docs fallback from git history
  docs/free-ai-it-tools/index.html
Labels: none

fix(site): static fallback for /services/ai-workflow-automation
  docs/services/ai-workflow-automation/index.html
Labels: none

fix(site): static fallback for /automation instead of redirect
  docs/automation/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(pages+outreach): restore /case-studies /industries docs; reapply redirect and LLM/all-folder hardening
  docs/_redirects
  docs/case-studies/index.html
  docs/industries/index.html
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(deploy): skip backup script force-push to main to avoid Pages cancellation races
  scripts/backup-to-remote.sh
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(pages): restore /case-studies /industries /testimonials plus configurator/dashboard docs
  docs/configurator/index.html
  docs/dashboard/index.html
  docs/industries/index.html
  docs/testimonials/index.html
Labels: none

ci(outreach): update monitor report state
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci(pages): reduce deploy schedule from every 30m to every 2h to avoid cancellation races
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci(pages): remove schedule trigger temporarily to stop cancel races and verify fallback deploy
  .github/workflows/gh-pages.yml
Labels: automation

fix(pages): move fallback stubs to repo root for Pages serving
  case-studies/index.html
  industries/index.html
  testimonials/index.html
Labels: none
