Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat: add AI SEO pages subject dedup redirects remediation batch 2026-07-07
  app/blog/ai-insurance-claims-automation-playbook-2026/page.tsx
  app/blog/ai-observability-for-enterprise-it-teams-2026/page.tsx
  app/blog/ai-soc-automation-and-threat-detection-in-2026/page.tsx
  app/services/ai-insurance-claims/page.tsx
  app/services/ai-observability/page.tsx
  outreach_monitor/metrics/continuous_improvement.json
Labels: none

fix: service type mismatch in data files and services page searchParams nullability
  app/data/wave296.ts
  app/data/wave297.ts
Labels: none

feat(seo): add 2 AI/IT blog pages and ensure dynamic index
  app/blog/ai-automation-and-low-code-for-brazilian-enterprises-in-2026/page.tsx
  app/blog/ai-support-automation-ai-chat-and-ticket-intelligence-in-2026/page.tsx
Labels: none

fix: add static /privacy and /terms pages to stabilize smoke checks
  privacy/index.html
  terms/index.html
Labels: none

feat(outreach): add new lead CEO email sequence in Portuguese
  lead-crm/new_lead_email_sequence.json
Labels: none

chore: clean temp deploy artifacts and finalize offline outreach assets
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-history.json
  automation/data/lead-outreach/outreach-log.jsonl
  lead-crm/ceo_hot_followup_ready_send.txt
Labels: docs, automation

fix(llm): use Nous token from ~/.hermes/auth.json for chat completions
  lib/llm_client.py
Labels: none

feat(seo): add 10 AI/IT LATAM blog pages
  app/blog/ai-devops-and-platform-engineering-automation-in-2026/page.tsx
  app/blog/ai-enterprise-integration-patterns-for-saas-and-erp-in-2026/page.tsx
  app/blog/ai-enterprise-readiness-assessment-for-latam-in-2026/page.tsx
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-it-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-observability-aiops-platform-engineering-for-latam-in-2026/page.tsx
  app/blog/ai-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-outsourcing-vs-inhouse-it-teams-2026/page.tsx
  app/blog/ai-platform-engineering-2026-services-guide/page.tsx
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
Labels: none

feat: outreach worker improvements for LLM tailoring dedup accuracy and lead discovery
  .github/workflows/api-schema-validation.yml
  .github/workflows/bundle-split-analyzer.yml
  .github/workflows/changelog.yml
  .github/workflows/custom-eslint.yml
  .github/workflows/emergency-recovery.yml
  .github/workflows/openapi-drift-detector.yml
  .github/workflows/performance-budget.yml
  .github/workflows/type-coverage.yml
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix: align wave296/297 with Service type, tighten serviceTypes, drop broken import, and fix services searchParams nullability
  app/data/serviceTypes.ts
  app/data/servicesData.ts
  app/data/wave296.ts
  app/data/wave297.ts
  app/data/waveAuxServices.ts
  app/services/page.tsx
Labels: none

fix(blog): add missing next/link imports causing build prerender failure
  app/blog/ai-automation-and-low-code-for-brazilian-enterprises-in-2026/page.tsx
  app/blog/ai-chatops-and-agentic-support-automation-in-2026/page.tsx
  app/blog/ai-devops-ai-automation-platform-engineering-in-2026/page.tsx
  app/blog/ai-devops-and-platform-engineering-automation-in-2026/page.tsx
  app/blog/ai-enterprise-integration-patterns-for-saas-and-erp-in-2026/page.tsx
  app/blog/ai-enterprise-readiness-assessment-for-latam-in-2026/page.tsx
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-fraud-prevention-and-identity-intelligence-for-brazilian-companies-in-2026/page.tsx
  app/blog/ai-identity-and-zero-trust-for-brazilian-it-teams-in-2026/page.tsx
  app/blog/ai-it-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-observability-aiops-platform-engineering-for-latam-in-2026/page.tsx
  app/blog/ai-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-outsourcing-vs-inhouse-it-teams-2026/page.tsx
  app/blog/ai-platform-engineering-2026-services-guide/page.tsx
  app/blog/ai-soc-aiops-platform-engineering-for-latam-it-teams-in-2026/page.tsx
  app/blog/ai-support-automation-ai-chat-and-ticket-intelligence-in-2026/page.tsx
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
Labels: none

feat: add ITSM playbook AI readiness audit SEO and outreach improvement cycle
  app/blog/ai-itsm-modernization-playbook-2026/page.tsx
  app/free-ai-readiness-audit/page.tsx
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: none

feat: add high frequency outreach monitor script
  outreach_monitor/metrics/continuous_improvement.json
  scripts/outreach/high_frequency_monitor.py
Labels: automation

feat: add AI for MSPs and IT support teams SEO lead page 2026
  app/blog/ai-for-msps-and-it-support-teams-in-2026/page.tsx
Labels: none

fix: resolve CI type-check/build failures and restore missing workflow script
  .gitignore
  app/blog/ai-chatops-and-agentic-support-automation-in-2026/page.tsx
  app/blog/ai-devops-ai-automation-platform-engineering-in-2026/page.tsx
  app/blog/ai-email-outreach-automation-for-msps-2026/page.tsx
  app/blog/ai-enterprise-integration-patterns-for-saas-and-erp-in-2026/page.tsx
  app/blog/ai-fraud-prevention-and-identity-intelligence-for-brazilian-companies-in-2026/page.tsx
  app/blog/ai-identity-and-zero-trust-for-brazilian-it-teams-in-2026/page.tsx
  app/blog/ai-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-phone-agent-for-small-business-free-tools-2026/page.tsx
  app/blog/ai-soc-aiops-platform-engineering-for-latam-it-teams-in-2026/page.tsx
  app/blog/healthcare-crm-automation-ai-patient-workflows-2026/page.tsx
  app/data/serviceTypes.ts
  app/data/wave278.ts
  app/services/[id]/page.tsx
  automation/reports/build-and-verify-latest.json
  public/sitemap.xml
  scripts/automation/append-smoke-health-snapshot.cjs
  tsconfig.tsbuildinfo
Labels: automation

feat(homepage): expose new AI services on root homepage and docs footer
  docs/index.html
  index.html
Labels: none

feat(miner): deeper queries, larger result cap, and health monitor
  lead-crm/historical_email_miner.py
Labels: none

chore(pages): set GitHub Pages source to continuous-pages-deploy workflow
  .github/pages.yml
Labels: none

chore(ci): drop deprecated --webpack from Deploy on Push build step
  .github/workflows/deploy-on-push.yml
Labels: automation

feat: expanded AI/IT SEO blog pages and lead automation improvements
  MEMORY.md
  Zion_Brain_Log.md
  app/blog/ai-automation-and-low-code-for-brazilian-enterprises-in-2026/page.tsx
  app/blog/ai-chatops-and-agentic-support-automation-in-2026/page.tsx
  app/blog/ai-devops-ai-automation-platform-engineering-in-2026/page.tsx
  app/blog/ai-devops-and-platform-engineering-automation-in-2026/page.tsx
  app/blog/ai-enterprise-integration-patterns-for-saas-and-erp-in-2026/page.tsx
  app/blog/ai-enterprise-readiness-assessment-for-latam-in-2026/page.tsx
  app/blog/ai-financial-engineering-and-portfolio-automation-in-2026/page.tsx
  app/blog/ai-fraud-prevention-and-identity-intelligence-for-brazilian-companies-in-2026/page.tsx
  app/blog/ai-identity-and-zero-trust-for-brazilian-it-teams-in-2026/page.tsx
  app/blog/ai-it-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-observability-aiops-platform-engineering-for-latam-in-2026/page.tsx
  app/blog/ai-observability-and-incident-management-in-2026/page.tsx
  app/blog/ai-outsourcing-vs-inhouse-it-teams-2026/page.tsx
  app/blog/ai-platform-engineering-2026-services-guide/page.tsx
  app/blog/ai-soc-aiops-platform-engineering-for-latam-it-teams-in-2026/page.tsx
  app/blog/ai-support-automation-ai-chat-and-ticket-intelligence-in-2026/page.tsx
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
  app/blog/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-history.json
  automation/data/lead-outreach/outreach-log.jsonl
  lead-crm/ceo_hot_followup_ready_send.txt
  lead-crm/hot_followup_responder.py
  lead-crm/new_lead_email_sequence.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_sent_cache.txt
  lib/llm_client.py
  outreach_monitor/metrics/continuous_improvement.json
  outreach_monitor/metrics/continuous_improvement.jsonl
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
Labels: docs, automation

feat(miner): increase query depth, trim query count to 18, add per-request timeout
  lead-crm/historical_email_miner.py
Labels: none

chore(repo): ignore volatile pipeline lock file written by live automation
  lead-crm/continuous_outreach_pipeline.lock
Labels: none

Add high-intent SEO lead-magnet: AI email personalization CRO playbook
  app/blog/ai-email-personalization-cro-for-ecommerce-brazil-2026/metadata.json
  app/blog/ai-email-personalization-cro-for-ecommerce-brazil-2026/page.tsx
Labels: none

chore(repo): ignore volatile pipeline lock written by live automation
  .gitignore
Labels: none

fix: normalize workflows + monitoring metrics updates
  .github/workflows/audit-report-cleanup.yml
  .github/workflows/lighthouse-baseline.yml
  .github/workflows/lighthouse-budget.yml
  .github/workflows/telegram-digest.yml
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: automation

feat: add AI managed services for MSPs 2026 static lead page
  blog/ai-managed-services-for-msps-2026/index.html
Labels: none

feat: add AI managed services for MSPs 2026 lead page
  app/blog/ai-managed-services-for-msps-2026/page.tsx
  outreach_monitor/metrics/continuous_improvement.jsonl
Labels: none

feat(outreach): prefer validated LLM tailoring in master cycle with safe fallback
  lead-crm/run_outreach_cycle.py
Labels: none

fix(ci): add missing rsc:guard script and safe health snapshot writer
  scripts/automation/append-smoke-health-snapshot.cjs
  scripts/checks/rsc-guard-check.cjs
Labels: automation

feat(seo): add 5 AI infrastructure and accessibility blog pages for LATAM IT
  app/blog/ai-data-pipeline-lakehouse-platform-engineering-in-2026/page.tsx
  app/blog/ai-first-cdn-and-edge-computing-for-brazilian-it-in-2026/page.tsx
  app/blog/ai-first-connectivity-private-5g-and-sase-in-2026/page.tsx
  app/blog/ai-native-backup-disaster-recovery-making-software-defined-in-2026/page.tsx
  app/blog/ai-web-accessibility-inclusive-design-for-brazilian-digital-services-in-2026/page.tsx
Labels: none

chore(automation): capture memory/brain log, ready queue rebuild, and miner health monitor
  MEMORY.md
  Zion_Brain_Log.md
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
Labels: docs

chore(outreach): default master outreach cycle to send-disabled to prevent duplicate sends
  lead-crm/run_outreach_cycle.py
Labels: none

fix(monitoring): ensure health.json is tracked and stable in export
  package.json
  public/api/health.json
  scripts/checks/rsc-guard-check.cjs
  scripts/checks/write-api-health.cjs
Labels: automation

feat(services): add AI observability, data, edge, accessibility, and partnership pages
  app/services/ai-accessibility-inclusive-design/page.tsx
  app/services/ai-consulting-latam-partnerships/page.tsx
  app/services/ai-data-lakehouse-pipelines/page.tsx
  app/services/ai-edge-cdn-connectivity/page.tsx
  app/services/ai-observability-aiops/page.tsx
Labels: none

chore(services): remove stray duplicated route template
  app/services/[id]/page.tsx
Labels: none

fix(package): add missing rsc:guard script for CI workflows
  package.json
Labels: none

fix(pages): add fallback redirects for /services/ai-4801..4808 -> /new-ai-services/
  docs/services/ai-4801/index.html
  docs/services/ai-4802/index.html
  docs/services/ai-4803/index.html
  docs/services/ai-4804/index.html
  docs/services/ai-4805/index.html
  docs/services/ai-4806/index.html
  docs/services/ai-4807/index.html
  docs/services/ai-4808/index.html
Labels: none

fix(cron): add safe monitoring script stubs for failing scheduled jobs
  scripts/email_process.sh
  scripts/lead_gen.sh
  scripts/lead_pipeline.sh
  scripts/token_renew_check.sh
Labels: automation

chore(build+seo): fix static export blockers and add lead-ready AI/IT SEO content
  MEMORY.md
  app/blog/ai-document-processing-automation-guide/page.tsx
  app/blog/ai-low-code-workflow-automation-guide-brazilian-enterprises/page.tsx
  app/privacy/page.tsx
  app/services/ai-insurance-claims/page.tsx
  app/services/ai-observability/page.tsx
  automation/crawl_compact.py
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-log.jsonl
  automation/reports/build-and-verify-latest.json
  automation/verify_200.py
  public/sitemap.xml
Labels: docs, automation

fix: normalize auth cleanup baseline budget telegram digest workflows
  .github/workflows/audit-report-cleanup.yml
  .github/workflows/lighthouse-baseline.yml
  .github/workflows/lighthouse-budget.yml
  .github/workflows/telegram-digest.yml
Labels: automation
