Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Add `if: always()` to all workflow steps for improved error handling
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/auto-fix.yml
  .github/workflows/autonomous-meta.yml
  .github/workflows/cloud-maintenance.yml
  .github/workflows/cloud-marketing.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/cursor-rules-autoupdate.yml
  .github/workflows/dependency-maintenance.yml
  .github/workflows/diverse-agent-matrix.yml
  .github/workflows/frontend-sync-continuous.yml
  .github/workflows/git-health.yml
  .github/workflows/infinite-improvement-loop.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/monetization-daily.yml
  .github/workflows/netlify-monitor.yml
  .github/workflows/performance-weekly.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/sync-health.yml
  .github/workflows/ui-evolution-schedule.yml
  .github/workflows/ui-evolution-weekly-beautify.yml
Labels: workflows, config, marketing

workflow: trigger autonomous-workflow-watchdog workflow specifically
  autonomous-workflow-watchdog-trigger.md
Labels: none

automation: trigger autonomous-agent-orchestrator workflow specifically
  autonomous-agent-orchestrator-trigger.md
Labels: none

automation: trigger autonomous-intelligence workflow specifically
  autonomous-intelligence-trigger.md
Labels: none

automation: trigger autonomous-keepalive workflow specifically
  autonomous-keepalive-trigger.md
Labels: none

automation: trigger autonomous-ultrafast workflow specifically
  autonomous-ultrafast-trigger.md
Labels: none

🤖 Add seo-audit report [skip ci]
  seo-audit-report.md
Labels: none

automation: trigger autonomous-deep-maintenance workflow specifically
  autonomous-deep-maintenance-trigger.md
Labels: none

automation: trigger autonomous-minute-orchestrator workflow specifically
  autonomous-minute-orchestrator-trigger.md
Labels: none

🤖 Add ai-trends-radar report [skip ci]
  ai-trends-radar-report.md
Labels: none

Add test trigger workflow to validate workflow system
  .github/workflows/test-trigger.yml
Labels: workflows, config

automation: trigger autonomous-quick-fixes workflow specifically
  autonomous-quick-fixes-trigger.md
Labels: none

automation: trigger autonomous-marketing-seo workflow specifically
  autonomous-marketing-seo-trigger.md
Labels: none

performance: trigger autonomous-lighthouse workflow specifically
  autonomous-lighthouse-trigger.md
Labels: none

automation: trigger autonomous-content-curation workflow specifically
  autonomous-content-curation-trigger.md
Labels: none

automation: trigger autonomous-content-scanner workflow specifically
  autonomous-content-scanner-trigger.md
Labels: none

automation: trigger autonomous-image-optimizer workflow specifically
  autonomous-image-optimizer-trigger.md
Labels: none

Add workflow testing script and enhance repository configuration
  package-lock.json
  package.json
  scripts/trigger-workflows.cjs
  test-workflows.sh
  workflow-test-report.md
Labels: config

automation: trigger autonomous-deps-upgrade workflow specifically
  autonomous-deps-upgrade-trigger.md
Labels: none

workflow: trigger autonomous-workflow-cleanup workflow specifically
  autonomous-workflow-cleanup-trigger.md
Labels: none

🤖 Add homepage_advertiser report [skip ci]
  automation/netlify-build-stamp.txt
  homepage-advertiser-report.md
Labels: automation

🤖 Add cloud_orchestrator report [skip ci]
  cloud-orchestrator-report.md
Labels: none

🤖 Add front_enhancer report [skip ci]
  front-enhancer-report.md
Labels: none

🤖 Add security-audit-runner report [skip ci]
  security-audit-runner-report.md
Labels: none

🤖 Add seo-audit-runner report [skip ci]
  seo-audit-runner-report.md
Labels: none

automation: trigger autonomous-external-links workflow specifically
  autonomous-external-links-trigger.md
Labels: none

Add workflow testing scripts and comprehensive workflow validation
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/autonomous-meta.yml
  .github/workflows/ci-lint-types-build.yml
  .github/workflows/ci-self-heal.yml
  .github/workflows/dependency-maintenance.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/security-auto-heal.yml
  .github/workflows/security-gates.yml
  .github/workflows/security-scan.yml
  .github/workflows/sitemap-auto-commit.yml
  test-workflows-locally.sh
  trigger-workflows.sh
  workflow-testing-summary.md
Labels: workflows, config, marketing

🤖 Add topics-and-clusters report [skip ci]
  topics-and-clusters-report.md
Labels: none

🤖 Add homepage_advertiser report [skip ci]
  homepage-advertiser-report.md
Labels: none

🤖 Add cloud_orchestrator report [skip ci]
  cloud-orchestrator-report.md
Labels: none

🤖 Add front_enhancer report [skip ci]
  front-enhancer-report.md
Labels: none

🤖 Add security-audit-runner report [skip ci]
  security-audit-runner-report.md
Labels: none

🤖 Add seo-audit-runner report [skip ci]
  seo-audit-runner-report.md
Labels: none

automation: trigger autonomous-cloud workflow specifically
  autonomous-cloud-trigger.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add repo-knowledge-graph-runner report [skip ci]
  repo-knowledge-graph-runner-report.md
Labels: none

🤖 Add image-optimizer-runner report [skip ci]
  image-optimizer-runner-report.md
Labels: none

🤖 Add dead-code-report report [skip ci]
  dead-code-report-report.md
Labels: none

🤖 Add continuous-orchestrator report [skip ci]
  continuous-orchestrator-report.md
Labels: none

automation: trigger autonomous-cloud-fast workflow specifically
  autonomous-cloud-fast-trigger.md
Labels: none
