Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore: sync local runtime artifacts before upstream merge
  data/token_dashboard.json
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  public/sitemap.xml
  tsconfig.tsbuildinfo
Labels: none

fix(pages): preserve public redirect stubs in Pages artifact and cover legacy service routes
  .github/workflows/gh-pages.yml
Labels: automation

fix(pages): add static redirect stubs for legacy service routes
  public/services/ai-automation/index.html
  public/services/ai-endpoint-management-and-zero-trust-access-for-it-in-2026/index.html
  public/services/ai-network-performance-and-wan-optimization-for-it-in-2026/index.html
  public/services/it-outsourcing/index.html
Labels: none

fix(site): add redirect stubs for missing blog slugs found in crawl
  public/blog/ai-driven-marketing-automation-strategies/index.html
  public/blog/ai-security-best-practices-protecting-your-ai-systems-from-emerging-threats/index.html
  public/blog/cloud-migration-and-ai-modernizing-infrastructure-for-intelligent-workloads/index.html
Labels: none

fix(site): restore agents/monitoring route via static redirect stub
  public/agents/monitoring/index.html
Labels: none

fix(ci): harden watchdog missing-deps fallback and refresh sitemap
  public/sitemap.xml
Labels: none

fix(ci): remove yargs dependency from performance-budget enforcer
  .github/workflows/performance-budget.yml
  automation/performance-budget-enforcer.cjs
Labels: automation

fix(pages): add static redirect stubs for legacy /ai-* routes and clean stale runtime artifacts
  public/ai-agents/index.html
  public/ai-chat-companion/index.html
  public/ai-financial-services/index.html
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(ci): harden performance budget enforcer for headless CI runs
  automation/performance-budget-enforcer.cjs
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(ci): harden performance budget enforcer for headless CI and clean runtime artifacts
  automation/performance-budget-enforcer.cjs
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(ci): simplify performance budget workflow and clean runtime artifacts
  .github/workflows/performance-budget.yml
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(ci): add startup diagnostics for performance-budget workflow
  .github/workflows/performance-budget.yml
Labels: automation

feat: improve 404 UX and fix performance-budget workflow YAML
  .github/workflows/performance-budget.yml
  app/not-found.tsx
Labels: automation

feat(outreach): adaptive high-frequency runner with continuous improvement metrics
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

feat(site): add health API route and 404 quick links
  app/api/health/route.ts
  app/not-found.tsx
Labels: none

fix(ci): install Python site-intgrity deps in site-improv-agent workflow
  .github/workflows/site-improv-agent.yml
  automation/ai-site-improvement-agent.cjs
Labels: automation

ci+outreach: fix site-improv-agent bs4 deps and gmail build_service signature
  .github/workflows/site-improv-agent.yml
  data/token_dashboard.json
  data/token_state.json
  lead-crm/miner_log.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/google_api.py
  tsconfig.tsbuildinfo
Labels: automation

site: add static /health and /api/health fallbacks
  public/api/health/index.html
  public/health/index.html
Labels: none

fix(outreach): canonicalize forbidden-domain validation and remove duplicate filter definition
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): canonicalize CEO signature and remove duplicate personalize wrapper
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  MEMORY.md
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  it_smb_outreach.py
  lead-crm/metrics_tailor_coverage.json
  public/sitemap.xml
  scripts/outreach/outreach_worker_automation.py
  tsconfig.tsbuildinfo
Labels: docs, automation

fix(outreach,sitemap): clean hot-followup local repeat marker, harden miner monitor, sync sitemap to public artifact
  lead-crm/ceo_hot_followup_ready_send.txt
  lead-crm/outreach_continuous_improvement_monitor.py
  public/sitemap.xml
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(outreach): push current branch instead of hardcoded main
  .github/workflows/production-smoke-test.yml
  lead-crm/run_outreach_cycle.py
  scripts/reports/link-audit.json
Labels: automation

site: remove app/api/health route dir fixing static export
  app/api/health/route.ts
Labels: none

site: make health-check resilient when /api/health is unavailable
  app/tools/health-check/page.tsx
Labels: none

feat(outreach): add hot-followup ledger dedup, miner all-folders throughput, continuous monitor signals
  lead-crm/historical_email_miner.py
  lead-crm/outreach_continuous_improvement_monitor.py
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): relax LLM reply validation and add language-aware prompting for tailored responses
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(repo): resolve merge conflicts by removing stale generated artifacts
  public/sitemap.xml
  tsconfig.tsbuildinfo
Labels: none

audit(fix): apply live link audit hardening
  scripts/live-link-audit.cjs
Labels: automation

fix(pages): include sitemap.xml, robots.txt, and feed.xml in Pages artifact
  .github/workflows/gh-pages.yml
Labels: automation

fix(ci): remove --unsafe-perm from pages workflow to unset lightningcss install
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(pages): restore public/sitemap.xml artifact for Pages deployment
  public/sitemap.xml
Labels: none

fix(pages): serve sitemap.xml via Pages artifact
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore: remove stale app/api/health block to fix Pages export build
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(ci): remove stale public/api/health directory blocking Pages export build
  public/api/health/index.html
Labels: none

chore(outreach): record hot-followup no-duplicate ledger and daily memory note
  lead-crm/historical_email_miner.py
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-12.md
Labels: docs

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
