Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat: intelligent reply classification + v2 follow-up system + new cron
  lead-crm/follow_up_ready_v2.json
  lead-crm/follow_up_send_results_v2.json
  lead-crm/replies_classified_skipped.json
  lead-crm/reply_scan_v2.json
Labels: none

feat: recipient dedup registry, RFQ lead mining, pool refresh script, metrics report
  lead-crm/dedup_cleanup_report.json
  lead-crm/dedupe_candidates_before_send.py
  lead-crm/outreach_normalization_report.json
  lead-crm/recipient_dedup_registry.json
  lead-crm/refresh_lead_pools.py
  lead-crm/rfq_leads_unanswered.json
  lead-crm/rfq_new_leads_unanswered.json
  lead-crm/rfq_skipped_leads.json
  lead-crm/weekly_metrics_report.json
Labels: none

fix: harden deploy script and clean homepage memo indentation
  app/page.tsx
  deploy.cjs
Labels: none

chore: stage verified static export artifacts
  out/.nojekyll
  out/404.html
  out/feed.xml
  out/index.html
  out/robots.txt
  out/service-index.json
  out/sitemap.xml
Labels: none

ci: add clear-next-lock script and harden deploy API parsing
  scripts/clear-next-lock.cjs
Labels: automation

feat: continuous pages deploy workflow + local verifier hardening
  .github/workflows/continuous-pages-deploy.yml
  next.config.js
  scripts/checks/build-and-verify.cjs
  scripts/checks/verify-static-artifacts.cjs
  scripts/deploy-gh-pages-contents.cjs
Labels: automation

feat: add scheduled Pages smoke monitor workflow
  .github/workflows/pages-smoke-monitor.yml
Labels: automation

chore: push path verification 2026-07-04T02:43:31Z
  public/sitemap.xml
Labels: none

feat: verified local artifacts + deploy script branch default + manifest.json
  next.config.js
  public/.well-known/assetlinks.json
  public/manifest.json
  scripts/deploy-gh-pages-contents.cjs
Labels: automation

fix: Windows build crash + build verification + CI smoke test
  __tests__/build-smoke.test.js
  app/data/runtime-integrity.ts
  app/status/page.tsx
  jest.config.cjs
  next.config.js
  package.json
Labels: none

feat: add consulting page, fix SW registration, improve SEO metadata, add redeploy helpers
  app/components/ServiceWorkerRegistration.tsx
  app/consultation/page.tsx
  app/consulting/page.tsx
  app/layout.tsx
  app/services/layout.tsx
  public/sitemap.xml
  scripts/checks/build-deploy-runner.cjs
  scripts/checks/build-deploy-runner.sh
  scripts/checks/redeploy-helper.cjs
Labels: automation

feat: trigger Pages deploy on push + harden runner
  .github/workflows/continuous-pages-deploy.yml
  scripts/checks/build-deploy-runner.cjs
Labels: automation

chore(seo): fix robots.txt disallow rules and sitemap references
  public/robots.txt
Labels: none

feat(security): add runtime security headers + SPA fallback rules
  .htaccess
Labels: none

chore: verified push proof 2026-07-04T11:26:12.678Z
  automation/verified-push-proof.txt
Labels: automation

fix: add real Calendly CTA and fix tel: links on contact pages
  Zion_Brain_Log.md
  app/components/ContactFunnel.tsx
  app/contact/page.tsx
Labels: docs

hardening: replace eval demo sample with safer parameterized example
  src/components/ai-agents/code-auto-fix.tsx
Labels: none

chore: staged outputs + deploy scripts
  app/ai-lab/page.tsx
  app/ai/demo/DemoSandboxClient.tsx
  app/ai/demo/page.tsx
  app/consulting/page.tsx
  app/data/servicesData.ts
  app/data/wave296.ts
  data/regen_services_json_count.cjs
  data/services.json
  public/_headers
  public/sitemap.xml
  scripts/checks/build-and-verify.cjs
  scripts/checks/verify-postbuild-artifacts.cjs
  scripts/contents-single-commit.cjs
  tsconfig.tsbuildinfo
Labels: automation

chore: win build guard, Contents deploy, deploy-verify scripts
  package.json
  scripts/deploy-gh-pages-contents.cjs
  scripts/verify-deploy.cjs
  scripts/windows-build-guard.cjs
Labels: automation

chore: continuous deploy workflow, deploy fast path, win build guard
  .github/workflows/continuous-pages-deploy.yml
  .gitignore
  scripts/deploy-gh-pages-contents-fast.cjs
  scripts/deploy-gh-pages-worktree.cjs
Labels: automation

fix: normalize servicesData stage typing and consulting import
  app/consulting/page.tsx
  app/data/servicesData.ts
Labels: none

chore: normalize wave stage values, harden contents deploy, prepare verified export
  app/data/wave214.ts
  app/data/wave241.ts
  app/data/wave242.ts
  app/data/wave243.ts
  app/data/wave244.ts
  app/data/wave245.ts
  app/data/wave246.ts
  app/data/wave247.ts
  public/sitemap.xml
  scripts/deploy-gh-pages-contents-fast.cjs
  scripts/deploy-gh-pages-contents.cjs
  scripts/deploy-gh-pages-main.cjs
Labels: automation

fix: harden contents deploy scripts and sync sitemap
  scripts/deploy-gh-pages-contents.cjs
Labels: automation

feat: add continuous build/deploy runner with verification
  package.json
  scripts/continuous-build-deploy.cjs
  scripts/deploy-to-main.sh
  scripts/deploy-to-worktree.cjs
Labels: automation

feat: add homepage What's New + schema improvement checklist
  app/page.tsx
  autonomous-improvement-checklist.md
Labels: docs

feat: add offline fallback + service worker caching
  autonomous-improvement-checklist.md
  public/offline.html
  public/sw.js
Labels: docs

feat: add service skeleton + CI verify/dispatch + checklist update
  app/components/Skeletons/ServiceGridSkeleton.tsx
  app/components/Skeletons/index.ts
  app/services/page.tsx
  autonomous-improvement-checklist.md
  scripts/checks/ci-verify-dispatch.cjs
Labels: docs, automation

probe: live deploy marker 2026-07-04T22:10:46Z
  automation/reports/live-deploy-probe.json
Labels: automation

chore: restore local service wave data files
  app/data/wave277.ts
  app/data/wave278.ts
  app/data/wave279.ts
  app/data/wave280.ts
  app/data/wave281.ts
  app/data/wave282.ts
  app/data/wave285.ts
  app/data/wave286.ts
Labels: none

fix: resolve type-check TS18048 in homepage What's New release cards
  app/page.tsx
Labels: none

fix: correct stale wave imports in servicesData.ts for waves 277-286
  app/data/servicesData.ts
Labels: none

Add wave296 AI services and SEO blog posts for AI/IT outreach
  app/data/servicesData.ts
  app/data/wave296.ts
  blog/ai-field-service-scheduling-dispatcher-routing-sla.md
  blog/ai-observability-monitoring-correlation-sre-platform-engineering.md
  blog/ai-procurement-vendor-selection-contract-renewals-spend-visibility.md
  blog/ai-revenue-operations-collections-optimization.md
  blog/ai-workplace-automation-discovery-pipeline-ideas-to-production.md
  blog/supply-chain-risk-management-ai-predictive-resilience.md
  blog/zero-trust-access-control-remote-offices-field-teams.md
  blog/zero-trust-implementation-healthcare-clinical-environments-hipaa.md
Labels: docs

feat: new auxiliary services, blog SEO bundle, sitemap refresh, outreach script cleanup
  app/data/servicesData.ts
  app/data/waveAuxServices.ts
  blog/index.md
  blog/seo-bundle-20260705.md
  commands/outreach_drafts/stage_github_discovery.py
  public/sitemap.xml
  tsconfig.tsbuildinfo
Labels: docs

feat: homepage cross-links for new services + refreshed featured blog posts
  app/page.tsx
Labels: none

feat: add rendered blog pages for 13 SEO posts + fix service-comparison sort
  app/blog/ai-agentic-workflow-automation-reduce-manual-work-hours/page.tsx
  app/blog/ai-computer-vision-quality-inspection/page.tsx
  app/blog/ai-knowledge-base-rag-platform/page.tsx
  app/blog/ai-services-for-business-it-leaders/page.tsx
  app/blog/cloud-cost-optimization-platform-reduce-waste/page.tsx
  app/blog/cyber-incident-response-retainer-ready-before-breach/page.tsx
  app/blog/data-warehouse-modernization-legacy-to-cloud/page.tsx
  app/blog/fleet-management-gps-tracking-visibility-utilization/page.tsx
  app/blog/managed-observability-247-detect-issues-before-customers/page.tsx
  app/blog/managed-service-providers-add-ai-layer/page.tsx
  app/blog/online-lead-generation-for-it-agencies/page.tsx
  app/blog/property-management-suite-automate-leases-maintenance/page.tsx
  app/blog/rag-knowledge-base-platform-internal-ai-assistants/page.tsx
  app/blog/zion-tech-group-free-ai-tools-guide/page.tsx
  app/service-comparison/page.tsx
  scripts/fix_blog_pages.py
Labels: automation

feat: surface new SEO blog posts on /blog index
  app/blog/page.tsx
Labels: none

feat: deploy robustness + SEO smoke + JSON-LD enrichment
  .github/workflows/pr-staleness-lifecycle-commenter.yml
  app/data/serviceTypes.ts
  app/layout.tsx
  app/testimonials/page.tsx
  package.json
  scripts/checks/build-deploy-health-check.cjs
  scripts/checks/script-dedupe-guard.cjs
  scripts/checks/smoke-test-seo.cjs
  scripts/deploy-gh-pages-main.cjs
Labels: automation

fix: normalize remaining Metadata default imports to type imports and audit live site paths
  MEMORY.md
  automation/ai-email-lead-outreach-agent.cjs
  automation/ai-site-link-audit-automation.cjs
  commands/__pycache__/himalaya_mail.cpython-314.pyc
  commands/__pycache__/intelligent_email_responder_v33.cpython-314.pyc
  commands/__pycache__/v34_email_validator.cpython-314.pyc
  commands/__pycache__/v34_learning_loop.cpython-314.pyc
  commands/__pycache__/v34_reply_all_guarantee.cpython-314.pyc
  commands/v30/__pycache__/intelligent_email_responder_v31.cpython-314.pyc
  commands/v32_modules/__pycache__/lang_detector.cpython-314.pyc
  commands/zion_email_interaction_agent.py
Labels: docs, automation

fix: correct SEO page metadata syntax for build
  app/seo/ai-business-proposal-template/page.tsx
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-contact-center-free-tools/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-email-tuning-free-tools/page.tsx
  app/seo/ai-free-platform-trial/page.tsx
  app/seo/ai-free-services-and-tools/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-free-trial-enterprise/page.tsx
  app/seo/ai-poc-to-production-playbook/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  app/seo/free-it-automation-scripts/page.tsx
  app/seo/it-automation-free-tools/page.tsx
  app/seo/zion-ai-free-tools/page.tsx
Labels: none

feat(automation): add LLM-tailored outreach agent with duplicate suppression
  MEMORY.md
  app/about/page.tsx
  app/agents-monitoring/page.tsx
  app/ai/solutions-configurator/page.tsx
  app/ai/url-audit-assistant/page.tsx
  app/dashboard/page.tsx
  app/devops-services/page.tsx
  app/iot-services/page.tsx
  app/micro-saas/page.tsx
  app/security-services/page.tsx
  app/testimonials/page.tsx
  next-env.d.ts
  package-lock.json
  package.json
  public/sitemap.xml
Labels: docs
