Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix(build): set optimizeFonts false to avoid lightningcss native deps in CI
  next.config.js
Labels: none

fix(build): remove next/font/google dependency to unblock CI lightningcss issue
  app/layout.tsx
Labels: none

fix(build): replace inter.className with font-sans after removing next/font
  app/layout.tsx
Labels: none

fix(pages): add redirect fallback for stale /services/-aiops link to live service
  docs/services/-aiops/index.html
  package-lock.json
  scripts/outreach/deep_crawl_site.py
Labels: automation

chore(ci): trigger push workflow run
  .github/workflows/unstoppable-retry-guard.yml
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  outreach_ready_canonical.analysis.json
  scripts/reports/live-link-audit.json
Labels: automation

fix(links): replace stale /services/-aiops with live managed-observability-247 in blog references
  app/blog/ai-first-anti-fraud-and-payment-intelligence-in-2026/page.tsx
  app/blog/ai-first-it-asset-management-and-discovery-in-2026/page.tsx
  app/blog/ai-first-low-code-workflow-automation-for-brazilian-it-in-2026/page.tsx
  app/blog/ai-knowledge-management-and-enterprise-search-in-2026/page.tsx
Labels: none

fix(ci): use webpack in build:ci to resolve lightningcss native binary failure on GitHub Actions and remove deprecated optimizeFonts
  next.config.js
  package.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/gmail_monitor_status.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  scripts/reports/live-link-audit.json
Labels: automation

fix(ci): use --unsafe-perm and remove invalid next config option
  .github/workflows/gh-pages.yml
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

fix(ci): use safe empty postcss config to bypass lightningcss native deps
  postcss.config.js
Labels: none

improve(outreach): block processed hot-follow-up ledger entries from visibility, filter undisclosed-recipients, add continuous high-frequency runner
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/run_high_frequency_forever.py
  scripts/outreach/run_high_frequency_outreach.bat
Labels: automation

fix(ci): set LIGHTNINGCSS_BINARY=false in deploy/lighthouse/guard workflows
  .github/workflows/deploy-on-push.yml
  .github/workflows/lighthouse-budget.yml
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

fix(ci): clean unstoppable-retry-guard workflow file
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

feat(outreach): define HOT_FOLLOWUP_LABEL_ID and PENDING_QUEUE_FILE in monitor, refine interest query, keep worker dry-run path validated
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(outreach): filter calendar/supabase noise from discovery, preserve reply-all recipients in live send path, and validate duplicate-free dry-run
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(hot-followup): remove hot label from thread after successful send to prevent duplicate retries
  lead-crm/hot_followup_responder.py
Labels: none

chore: refresh monitoring artifacts and session memory
  lead-crm/all-leads.json
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  memory/2026-07-10.md
  scripts/reports/live-link-audit.json
Labels: docs, automation

fix(runtime): add global client error boundary and wrap layout children to prevent live site crashes
  app/GlobalErrorBoundary.tsx
  app/layout.tsx
Labels: none

fix(outreach): deduplicate sent_ledger, improve dry-run audit, add CEO draft builder for !!!hot-follow-up with language-aware templates
  scripts/outreach/inspect_mail_dry_run.py
  tsconfig.tsbuildinfo
Labels: automation

fix: Pages redirect for /tools/favicon-generator/
  public/_redirects
Labels: none

fix(outreach): bound monitor runner subprocess timeouts and write heartbeat/metrics for continuous operation
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

metrics(outreach): capture continuous monitor heartbeat and bounded-run results for improving high-frequency mail automation
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
Labels: automation

fix(site): add ai-claims-automation redirect to ai-insurance-claims-automation
  app/services/ai-claims-automation/page.tsx
Labels: none

fix(outreach): correct hot-followup draft language branching (es/pt/en) and keep deduped queue updates
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(outreach): add auth-failure guard in worker/monitor so dry-run path reports instead of crashing
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): restore discovery loop indentation/auth-reporting path in worker and restore runner timeout branch
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

fix(outreach): restore worker discovery loop indentation and fix runner timeout handling
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(site): add /services/ai-claims-automation redirect to /services/ai-insurance-claims-automation
  app/services/ai-claims-automation/page.tsx
Labels: none

fix(site): add /services/ai-claims-automation redirect to /services/ai-insurance-claims-automation (#37810)
  app/services/ai-claims-automation/page.tsx
Labels: none

chore(gitignore): remove accidentally tracked outreach runtime log
  automation/data/lead-outreach/outreach-log.jsonl
Labels: automation

chore(ci): remove orphaned workflows whose automation scripts are absent from this checkout
  .github/workflows/heap-diff.yml
  .github/workflows/meta-tags-scanner.yml
  .github/workflows/og-image-generator.yml
  .github/workflows/openapi-drift-detector.yml
  .github/workflows/schema-validator.yml
  .github/workflows/service-index-verifier.yml
  .github/workflows/sitemap-optimizer.yml
  .github/workflows/type-coverage.yml
Labels: automation

metrics(outreach): persist runner heartbeat and bounded worker metrics for continuous monitoring
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(outreach): cache thread-alive probes per contact to reduce high-frequency API latency
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(pages): recreate /docs/services/-aiops fallback; persist outreach runner metrics/heartbeat for monitoring
  docs/services/-aiops/index.html
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(outreach): refresh lead-crm/all-leads from improved miner/tailor run
  lead-crm/all-leads.json
Labels: none

chore(outreach): sync runner artifacts before merge
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

docs(verify): add Pages deploy verification artifacts and final workflow cleanup
  outreach_monitor/processed/dry_run_report.jsonl
  outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  outreach_monitor/processed/runner_heartbeat.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(build): stop tracking tsconfig.tsbuildinfo cache artifact
  tsconfig.tsbuildinfo
Labels: none

fix(outreach): add API timeout wrapper in search, fix runner timeout path, persist metrics/heartbeat
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(gitignore): ignore TypeScript build cache artifact to prevent CI noise
  .gitignore
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
