Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

Phase 7: Advanced AI-Powered Enterprise Features - Complete ERP and Supply Chain Management systems
  package-lock.json
  yarn.lock
Labels: none

Update TypeScript build info for project configuration
  tsconfig.tsbuildinfo
Labels: none

Phase 11: Advanced Blockchain & Web3 Integration - Complete blockchain and Web3 dashboard with wallet management, smart contracts, NFTs, DeFi operations, and comprehensive enterprise features
  README.md
  src/App.tsx
  src/components/BlockchainWeb3Dashboard.tsx
  src/hooks/useBlockchainWeb3.ts
Labels: docs

Update ESLint config for TypeScript and React with improved settings
  eslint.config.js
  package-lock.json
  package.json
Labels: none

Refactor UI components and update icons across multiple pages
  package-lock.json
  src/components/ui/FuturisticNeonButton.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/table.tsx
  src/pages/Contact.tsx
  src/pages/Cookies.tsx
  src/pages/EquipmentDetail.tsx
  src/pages/EquipmentPage.tsx
  src/pages/GreenIT.tsx
  src/pages/HomePage.tsx
  src/pages/Privacy.tsx
Labels: none

Major enhancement: Added 20+ real micro SAAS services, 8+ emerging tech services, futuristic design improvements, enhanced navigation, and comprehensive service showcase
  dist/index.html
  src/App.tsx
  src/components/EnhancedServicesShowcase.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/data/emergingTechServices.ts
  src/data/enhancedMicroSaasServices.ts
  src/index.css
  src/pages/EmergingTech.tsx
  src/pages/Home.tsx
  tailwind.config.js
  yarn.lock
Labels: none

Add new comprehensive services across multiple technology categories
  src/data/comprehensiveServices.ts
  yarn.lock
Labels: none

Refactor services, enhance UI, and add advanced services showcase
  dist/index.html
  src/components/AdvancedServicesShowcase.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/data/advancedMicroSaasServices.ts
  src/data/specializedITServices.ts
  src/index.css
  src/pages/Home.tsx
  yarn.lock
Labels: none

Major website enhancement: Added 50+ AI services, 100+ Micro SAAS solutions, 25+ IT services with futuristic design system, improved navigation, and comprehensive service showcase
  ENHANCEMENTS_README.md
  dist/index.html
  src/App.tsx
  src/components/ChatAssistant/ChatAssistant.js
  src/components/ChatAssistant/ChatInput.js
  src/components/ComprehensiveServicesShowcase.js
  src/components/EnhancedServicesShowcase.tsx
  src/components/Header.tsx
  src/components/HeroSection.js
  src/components/ProductListingCard.js
  src/components/ThemeToggle.js
  src/components/community/CreatePostButton.js
  src/components/contracts/templates/TemplateList.js
  src/components/header/Header.js
  src/components/home/EnhancedHeroSection.js
  src/components/home/EnhancedServicesOverview.js
  src/components/home/FeatureCTAs.js
  src/components/ui/button.js
  src/data/enhancedAIServices.ts
  src/data/enhancedITServices.ts
  src/data/enhancedMicroSaasServices.ts
  src/data/index.ts
  src/lib/utils.js
  src/pages/Blog.js
  src/pages/BlogPost.js
  src/pages/Careers.js
  src/pages/ComprehensiveServices.js
  src/pages/Contact.js
  src/pages/EnhancedServicesPage.js
  src/pages/EnhancedServicesPage.tsx
  src/pages/GreenIT.js
  src/pages/HelpCenter.js
  src/pages/Home.tsx
  src/pages/Onboarding.js
  src/pages/OpenAppRedirect.js
  src/pages/ProfileDetail.js
  src/pages/ProfilePage.js
  src/styles/futuristic.css
  yarn.lock
Labels: docs

Add advanced services page with futuristic micro SAAS showcase
  dist/index.html
  src/App.css
  src/App.tsx
  src/components/Footer.tsx
  src/components/FuturisticServicesShowcase.tsx
  src/components/Header.tsx
  src/data/advancedMicroServices.ts
  src/pages/AdvancedServices.tsx
  yarn.lock
Labels: none

Update components, services, and styles for enhanced AI-driven platform
  dist/index.html
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/data/comprehensiveServices.ts
  src/data/innovativeServices.ts
  src/index.css
  src/pages/Home.tsx
  yarn.lock
Labels: none

Enhance UI with futuristic animations, cyberpunk design, and new components
  dist/index.html
  src/App.css
  src/App.tsx
  src/components/Footer.tsx
  src/components/FuturisticLoader.tsx
  src/components/Header.tsx
  src/data/comprehensiveServices.ts
  src/pages/Home.tsx
  src/pages/Services.tsx
  yarn.lock
Labels: none

Enhance Zion Tech Group app with comprehensive services, futuristic design, and improved UI/UX
  dist/index.html
  src/App.tsx
  src/components/ComprehensiveServicesShowcase.js
  src/components/ComprehensiveServicesShowcase.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeroSection.js
  src/components/HeroSection.tsx
  src/data/comprehensiveServices.ts
  src/data/innovativeServices.ts
  src/layout/Layout.tsx
  src/pages/About.tsx
  src/pages/Blog.js
  src/pages/Blog.tsx
  src/pages/Careers.js
  src/pages/Careers.tsx
  src/pages/ComprehensiveServices.js
  src/pages/ComprehensiveServices.tsx
  src/pages/Contact.js
  src/pages/Contact.tsx
  src/pages/HelpCenter.js
  src/pages/HelpCenter.tsx
  src/pages/Home.tsx
  yarn.lock
Labels: none

Checkpoint before follow-up message
  src/components/EnhancedServicesShowcase.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/data/enhancedServices.ts
  src/pages/Home.tsx
  src/styles/futuristic.css
Labels: none

Phase 8: Advanced AI-Powered Business Process Automation - Complete workflow automation system with AI insights and optimization
  src/components/AdvancedAIBusinessProcessAutomation.tsx
  src/pages/Home.tsx
Labels: none

feat: Successfully merged with main branch and applied ESLint improvements
  eslint.config.js
  package-lock.json
  package.json
  yarn.lock
Labels: none

Fix build after merge: adjust Sidebar usage, Careers icon/imports and filters, remove unsupported SEO canonical prop, stub Enhanced pages
  src/App.tsx
  src/pages/AIMatcher.tsx
  src/pages/Careers.tsx
  src/pages/EnhancedHome.tsx
  src/pages/EnhancedServicesShowcase.tsx
  src/pages/TalentDirectory.tsx
  src/pages/TalentsPage.tsx
Labels: none

Enhance UI with futuristic animations and design improvements
  dist/index.html
  src/App.css
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/data/comprehensiveServices.ts
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Home.tsx
  src/pages/Services.tsx
  yarn.lock
Labels: none

Refactor services page and sidebar with enhanced UI and tech stack
  dist/index.html
  src/App.tsx
  src/components/EnhancedServicesShowcase.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/Home.tsx
  src/pages/Services.tsx
  yarn.lock
Labels: none

Major improvements: Added Pricing, About, and Contact pages with enhanced UI, improved navigation, and comprehensive service showcase
  dist/_redirects
  dist/assets/Partners-D0IrP-sD.js
  dist/assets/ZionHireAI-BY-_jcpH.js
  dist/assets/browser-VPsPOpiQ.js
  dist/assets/html2canvas.esm-CBrSDip1.js
  dist/assets/index-DYRR3qC7.css
  dist/assets/index-Xo6e1Qzc.js
  dist/assets/index.es-otQcZAzW.js
  dist/assets/purify.es-C_uT9hQ1.js
  dist/enterprise/index.html
  dist/images/blog-placeholder.svg
  dist/index.html
  dist/request-quote/index.html
  dist/robots.txt
  dist/sitemap.xml
  package-lock.json
  src/App.tsx
  src/components/GradientHeading.tsx
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Pricing.tsx
  yarn.lock
Labels: none

Enhance Home page with advanced animations, improved UI components, and better user experience
  src/pages/Home.tsx
  tsconfig.tsbuildinfo
Labels: none

Add comprehensive AI Solutions page with advanced UI components and enhanced navigation
  src/App.tsx
  src/pages/AISolutions.tsx
  src/pages/Home.tsx
  tsconfig.tsbuildinfo
Labels: none

Fix Services import in App.tsx - Changed from named import to default import
  src/App.tsx
Labels: none

Refactor UI components and update data structures for enhanced marketplace
  src/components/Footer.tsx
  src/components/header/Header.tsx
  src/components/ui/data-visualization.tsx
  src/data/enhancedServicesData.ts
  src/data/microSaasServices.ts
  src/hooks/useBlockchainWeb3.ts
  src/lib/utils.ts
  src/pages/HomePage.tsx
  src/pages/RequestQuote.tsx
  src/pages/ServicesShowcase.tsx
  src/types/listings.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Labels: none

Comprehensive app enhancement: Added traditional IT services, enhanced routing, improved ServicesShowcase, and resolved all build issues
  src/App.tsx
  src/data/comprehensiveServices.ts
  src/pages/ServicesShowcase.tsx
Labels: none

Comprehensive app enhancement: Added traditional IT services, enhanced routing, improved ServicesShowcase, and resolved all build issues - Ready for deployment
  src/pages/ServicesShowcase.tsx
Labels: none

Resolve merge conflicts and update dependencies
  dist/locales/en-US/common.json
  dist/locales/es-ES/common.json
  dist/sw.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/main.tsx
  src/pages/Home.tsx
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Labels: none

Fix Home component export for lazy loading compatibility - Change from named export to default export - Ensure proper lazy loading in App.tsx - Build now completes successfully without errors
  src/pages/Home.tsx
Labels: none

Clean up build artifacts and remove deleted files - Remove old build chunks and unused service page files - Maintain clean project structure - All changes now properly tracked
  dist/js/ExpandedServicesPage-D-O3Nu_c.js
  dist/js/Home-n-_ukm7j.js
  dist/js/ServicesPricingPage-Cj0FWPvt.js
  dist/js/chunk-B8PQw8ow.js
  dist/js/chunk-BXCJdwP0.js
  dist/js/chunk-ezOzJdh-.js
Labels: none

Update dependencies and add new packages to project
  package-lock.json
  package.json
  src/components/FooterNewsletter.tsx
  src/components/Header.tsx
  src/components/ThemeProvider.tsx
  src/components/ui/sonner.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/context/WhitelabelContext.tsx
  src/hooks/use-toast.ts
  src/pages/Services.tsx
  yarn.lock
Labels: none

chore(deps): automated minor/patch dependency updates
  package-lock.json
  package.json
  yarn.lock
Labels: none

chore(auto): ai moderation updates [skip ci]
  yarn.lock
Labels: none

feat: Add enhanced AI Services Showcase and Interactive Testimonials components with modern design and animations
  dist/index.html
  dist/js/About-CI5pazbi.js
  dist/js/About-Ck718OUp.js
  dist/js/Blog-p0HZGwa7.js
  dist/js/BlogPost-Br62Iva4.js
  dist/js/BlogPost-Dor45dS4.js
  dist/js/Contact-Dxi7xS3D.js
  dist/js/Contact-efU5fBVV.js
  dist/js/FAQ-1U2MjXFk.js
  dist/js/FAQ-ChFA8dgX.js
  dist/js/GreenIT-CbF_Q8rl.js
  dist/js/GreenIT-DuHdBJL3.js
  dist/js/Home-Bn2dnxSp.js
  dist/js/Home-DLcdEcZ5.js
  dist/js/Privacy-DcBCrxsa.js
  dist/js/Privacy-tTuMTALz.js
  dist/js/Sitemap-BrQa_Onl.js
  dist/js/Sitemap-D7p3yQ_y.js
  dist/js/Terms-4hvac7G1.js
  dist/js/Terms-DdeDpvF0.js
  dist/js/chunk-BWVb7_VJ.js
  dist/js/chunk-CVWgDgo1.js
  dist/js/chunk-CqauCSb4.js
  dist/js/chunk-D8tGnEJs.js
  dist/js/index-CVtbytcW.js
  dist/js/index-vd3T9JgM.js
  src/components/AIServicesShowcase.tsx
  src/components/InteractiveTestimonials.tsx
  src/pages/Home.tsx
Labels: none

Fix: Recreate GradientHeading component for compatibility
  src/components/GradientHeading.tsx
Labels: none

feat: Add comprehensive UI components and futuristic design enhancements
  dist/_redirects
  dist/assets/Partners-D0IrP-sD.js
  dist/assets/ZionHireAI-BY-_jcpH.js
  dist/assets/browser-VPsPOpiQ.js
  dist/assets/html2canvas.esm-CBrSDip1.js
  dist/assets/index-DYRR3qC7.css
  dist/assets/index-Xo6e1Qzc.js
  dist/assets/index.es-otQcZAzW.js
  dist/assets/purify.es-C_uT9hQ1.js
  dist/enterprise/index.html
  dist/images/blog-placeholder.svg
  dist/index.html
  dist/request-quote/index.html
  dist/robots.txt
  dist/sitemap.xml
  package-lock.json
  src/components/BenefitsSection.tsx
  src/components/CategoriesSection.tsx
  src/components/FeaturedListingsSection.tsx
  src/components/FooterNewsletter.tsx
  src/components/HowItWorksSection.tsx
  src/components/ITServiceRequestHero.tsx
  src/components/NewsletterSection.tsx
  src/components/SEO.tsx
  src/components/ui/FloatingOrbs.tsx
  src/components/ui/GradientHeading.tsx
  src/components/ui/NeonGlow.tsx
Labels: none

Update build assets with new hashed filenames
  dist/index.html
Labels: none

Update Netlify config and React to version 18.3.1
  netlify.toml
  package.json
Labels: none

Update CI workflow to use Node.js 20 and improve testing configuration
  .github/workflows/test.yml
  .github/workflows/yaml-validator.yml
  package.json
Labels: automation

feat: Enhance Zion Tech Group app with modern design and improved UX
  package-lock.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/pages/About.tsx
  src/pages/Home.tsx
Labels: none

feat: Comprehensive website improvements for Zion Tech Group
  ZION_WEBSITE_IMPROVEMENTS_SUMMARY.md
  package-lock.json
  src/App.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/components/ServicesSection.tsx
  src/components/ui/LoadingSpinner.tsx
  src/pages/Home.tsx
  tailwind.config.ts
Labels: docs
