Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

fix(pages): include full public dir in Pages artifact
  .github/workflows/gh-pages.yml
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore: sync local runtime and pages artifact fixes
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  app/layout.tsx
  docs/academy/index.html
  docs/agents-monitoring/index.html
  docs/ai-services/index.html
  docs/cookies/index.html
  docs/dashboard/index.html
  docs/faq/index.html
  docs/privacy/index.html
  docs/terms/index.html
  docs/tools/index.html
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-14.md
Labels: docs

fix(pages): include full public assets in Pages artifacts
  .github/workflows/continuous-pages-deploy.yml
  docs/tools/index.html
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(site/outreach): add /tools/ hub, preserve monitoring state, keep CEO Meet link
  docs/tools/index.html
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore: outreach monitor state cleanup
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(ci): capture npm run build logs in artifacts for Lighthouse/performance workflows
  .github/workflows/lighthouse-budget.yml
  .github/workflows/performance-budget.yml
Labels: automation

site(tools): add free tool landing pages for /tools/* routes
  docs/tools/base64/index.html
  docs/tools/color-palette-generator/index.html
  docs/tools/css-gradient-generator/index.html
  docs/tools/html-to-jsx/index.html
  docs/tools/json-formatter/index.html
  docs/tools/json-to-csv-converter/index.html
  docs/tools/jwt-decoder/index.html
  docs/tools/password-generator/index.html
  docs/tools/qr-code-generator/index.html
  docs/tools/regex-tester/index.html
  docs/tools/secure-hash-generator/index.html
  docs/tools/subnet-calculator/index.html
  docs/tools/timestamp-converter/index.html
  docs/tools/url-encoder-decoder/index.html
  docs/tools/uuid-generator/index.html
  docs/tools/word-counter/index.html
Labels: none

fix(ci): harden Pages deploy workflows and add build/manifest artifacts
  .github/workflows/gh-pages.yml
Labels: automation

chore: sync workflow hardening
  .github/workflows/gh-pages.yml
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(ci): replace multiline retry wrapper, harden Lighthouse/Pages workflows
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

chore(outreach/ci): sync workflows + mon state
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(ci): make lint check fail-open in guard workflow
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-14.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  hot_followup_check.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-14.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  check_hot_followup.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach-log.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

hot-followup: send Hemmersbach/Heygen CEO replies; harden worker imports and Windows runner
  live-path-check.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  probe.py
  scripts/outreach/send_hot_followup_ceo.py
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed_backup_20260714204719/ceo_replies/send_matt_weiss_ceo_reply.py
  scripts/outreach_monitor/processed_backup_20260714204719/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed_backup_20260714204719/hot_followup_reply_ledger.jsonl
  scripts/outreach_monitor/processed_backup_20260714204719/runner_continuous_improvement.json
  scripts/outreach_monitor/processed_backup_20260714204719/runner_counters.json
  scripts/outreach_monitor/processed_backup_20260714204719/runner_heartbeat.json
  scripts/outreach_monitor/processed_backup_20260714204719/runner_run_readme.txt
  scripts/outreach_monitor/processed_backup_20260714204719/sent_ledger.jsonl
  site_probe.sh
Labels: automation

docs(pages): improve landing page copy and CTAs for services, solutions, pricing, about, and home
  docs/services/index.html
Labels: none

docs(pages): improve core page copy and CTAs
  docs/about/index.html
  docs/contact/index.html
  docs/index.html
  docs/pricing/index.html
  docs/solutions/index.html
  docs/tools/index.html
Labels: none

fix(monitoring): stop probing known-missing routes in verify_200 and improve watchdog parser robustness
  automation/scripts/pages_watchdog.py
  automation/verify_200.py
Labels: automation

docs(pages): improve blog, careers, partners, and portal pages with brand copy and CTAs
  docs/blog/index.html
  docs/careers/index.html
  docs/partners/index.html
  docs/portal/index.html
Labels: none

fix(pages): ensure analytics/products/status/faq aliases are published
  app/analytics/page.tsx
  app/faq/page.tsx
  app/products/page.tsx
  app/status/page.tsx
Labels: none

sitemap: add /free-ai-it-tools/
  public/sitemap.xml
Labels: none

chore(gitignore): ignore local monitor/runtime state files
  .gitignore
Labels: none

fix(pages): restore ai-chatbot-builder and ai-customer-support-pro pages; correct Pages workflow deploy path
  .github/workflows/gh-pages.yml
  app/services/ai-chatbot-builder/page.tsx
  app/services/ai-customer-support-pro/page.tsx
Labels: automation

chore(outreach): automated outreach cycle
  automation/verify_200.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach-log.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  monitor_output.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: automation

chore(outreach): automated outreach cycle
  _tmp_hot_followup_check.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-13.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(ci): align production health monitor route set with current Pages routes and cleanup line endings
  .github/workflows/production-health-monitor.yml
Labels: automation

ci: harden artifact gate and lighthouse workflow
  .github/workflows/lighthouse-budget.yml
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

hot-followup: send CEO reply to intersoftkk partner onboarding thread
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

outreach: fix Windows sys.path and remove send_ceo_reply double execute
  scripts/outreach/outreach_worker_automation.py
Labels: automation

outreach: harden Windows import path and add thread-history duplicate guard
  commands/google_workspace.py
  scripts/outreach/outreach_worker_automation.py
Labels: automation

add new service landing pages: analytics, security/compliance, support automation, seo, smart booking
  docs/services/analytics-dashboard-platform/index.html
  docs/services/security-compliance-platform/index.html
  docs/services/support-operations-automation/index.html
Labels: none
