Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Add orchestrator and cloud swarm functions for automated sync
  netlify.toml
  netlify/functions/cloud-swarm-committer.js
  netlify/functions/functions-manifest.json
  netlify/functions/orchestrator-swarm.js
  pages/index.tsx
Labels: frontend, config

feat(automation): add accelerated-sync-orchestrator (1m cron) + advertise on homepage/front; fix functions manifest conflict [skip ci]
  netlify.toml
  netlify/functions/accelerated-sync-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add autonomous cloud bootstrap and meta orchestrator; adaptive orchestrator; schedule in netlify.toml; advertise on homepage; regenerate functions manifest
  netlify.toml
  netlify/functions/adaptive-orchestrator.js
  netlify/functions/autonomous-cloud-bootstrap.js
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

ci: speed up Netlify functions trigger to every 10 minutes [skip ci]
  .github/workflows/netlify-functions-trigger.yml
Labels: workflows, config

Update functions manifest with latest function list
  netlify/functions/functions-manifest.json
Labels: config

Add autonomous meta orchestrator and cloud trigger hub functions
  netlify.toml
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/cloud-trigger-hub.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat: autonomous master orchestrator function + homepage/front advertising + schedule; regenerate Netlify manifest
  netlify.toml
  netlify/functions/autonomous-master-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): add autonomous-meta-orchestrator; schedule in Netlify; advertise on home and front; fix manifest conflict; wire trigger-all links
  netlify.toml
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): add automation-heartbeat, cloud-brain-orchestrator, repo-fast-sync; schedule in netlify.toml; advertise on homepage and Automations hub; fix manifest conflict; regenerate manifest
  netlify.toml
  netlify/functions/automation-heartbeat.js
  netlify/functions/cloud-brain-orchestrator.js
  netlify/functions/functions-manifest.json
  netlify/functions/repo-fast-sync.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

feat(automation): add meta orchestrator; schedule 1m; advertise on front [skip ci]
  netlify.toml
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Add autonomous cloud trigger function for frequent, prioritized tasks
  netlify.toml
  netlify/functions/autonomous-cloud-trigger.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): add autonomous-meta-orchestrator (1m) with homepage/front/automation links and schedule; regenerate manifest
  netlify.toml
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

feat(agents): intelligent meta orchestrator + homepage/front links + schedule; regenerate functions manifest [ci skip]
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/intelligent-meta-orchestrator.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Add agent swarm orchestrator for automated function triggering
  netlify.toml
  netlify/functions/agent-swarm-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(cloud): add supreme-orchestrator and advertise it on front + home; schedule in netlify.toml
  automation/front-index-auto-advertiser.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/supreme-orchestrator.js
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/generate-netlify-functions-manifest.cjs
Labels: frontend, automation, config

chore(home): update explore section via homepage-updater [skip ci]
  pages/index.tsx
Labels: frontend

feat(autonomy): add 1m meta orchestrator + homepage/front links
  netlify.toml
  netlify/functions/autonomous-cloud-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/generate-netlify-functions-manifest.cjs
Labels: frontend, config

chore: satisfy lint for new cron functions [skip ci]
  netlify.toml
  netlify/functions/cron-heartbeat.js
  netlify/functions/cron-hub.js
  netlify/functions/cron-supervisor.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(front): advertise Autonomous Cloud Brain on main/front and index; schedule on Netlify [skip ci]
  netlify.toml
  netlify/functions/autonomous-cloud-brain.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

Add agent-of-agents and adaptive orchestrator cloud functions
  netlify/functions/adaptive-orchestrator.js
  netlify/functions/agent-of-agents.js
  netlify/functions/canonical-auditor.js
  netlify/functions/functions-manifest.json
  netlify/functions/knowledge-pack-runner.js
  netlify/functions/robots-auditor.js
  netlify/functions/structured-data-auditor.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

Add reports index page and agent-of-agents GitHub workflow
  .github/workflows/agent-of-agents-trigger.yml
  netlify/functions/functions-manifest.json
  pages/reports/index.tsx
Labels: frontend, workflows, config

fix: add missing comma in pages/index.tsx to resolve Next.js build error
  pages/index.tsx
Labels: frontend

chore(ci): add keepalive workflow and weekly heartbeat; gate netlify config to manual runs
  .github/workflows/keepalive.yml
  .github/workflows/netlify-config.yml
Labels: workflows, config

feat(gh-actions): add autonomous error guardian, a11y contrast guardian, marketing pulse, repo radar knowledge; advertise on homepage and front
  .github/workflows/a11y-contrast-guardian.yml
  .github/workflows/autonomous-error-guardian.yml
  .github/workflows/marketing-pulse.yml
  .github/workflows/repo-radar-knowledge.yml
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, workflows, config, marketing

chore(front): advertise features, capabilities and benefits [skip ci]
  pages/main/front/index.tsx
Labels: frontend

chore(front): advertise features, capabilities and benefits [skip ci]
  .github/workflows/codeql.yml
  data/reports/dead-code/report-2025-08-12T12-35-31-502Z.json
  data/reports/dead-code/report-2025-08-12T12-35-42-429Z.json
  data/reports/external-links/external-links-1755002180424.json
  data/reports/images/broken-images.json
  pages/main/front/index.tsx
  pages/site-health.tsx
  public/automation/content-registry.json
  public/automation/duplicate-media.html
  public/automation/duplicate-media.json
  public/reports/ai-trends/2025-08-12.json
  public/reports/ai-trends/latest.json
Labels: frontend, workflows, config

chore(front): enhance front index [skip ci]
  pages/main/front/index.tsx
Labels: frontend

chore(sync): advanced autonomous sync
  data/reports/external-links/latest.json
  pages/main/front/index.tsx
  public/automation/content-registry.json
Labels: frontend, config

chore(sync): advanced autonomous sync
  data/reports/repo-knowledge-graph.json
  data/reports/repo-radar-metrics.json
Labels: config

chore(sync): advanced autonomous sync
  docs/ROADMAP.md
  pages/main/front/index.tsx
Labels: frontend, docs

chore(front): micro enhancements [skip ci]
  public/sitemap.xml
Labels: none

feat(content): publish update-2025-08-12-1417.tsx [ci skip]
  automation/content-creator.cjs
  ecosystem.config.cjs
  pages/reports/updates/update-2025-08-12-1417.tsx
  public/automation/content-registry.json
Labels: frontend, automation, config

chore(sync): fast autonomous sync
  data/reports/link-sentinel/internal-report-2025-08-12T17-17-24-883Z.json
  pages/main/front/index.tsx
  public/automation/content-registry.json
Labels: frontend, config

Resolve ESM module issues, optimize build, and sync git repository
  FINAL_PROJECT_STATUS_2025-01-17.md
Labels: none

feat(front): advertise new autonomous cloud functions on Netlify Automations section
  pages/main/front/index.tsx
Labels: frontend

feat(automations): add content freshness, internal link graph, anchor auto-fixer, pagespeed runners; advertise on front; schedule and manifest
  automation/content-freshness-score.cjs
  netlify.toml
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/content-freshness-score-runner.js
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/pagespeed-insights-runner.js
  pages/automation/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation

chore: regenerate functions manifest for new runners
  netlify/functions/functions-manifest.json
Labels: config

fix(front): escape apostrophe in Netlify Automations description to fix JSX parse error
  pages/main/front/index.tsx
Labels: frontend
