Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix: handle null body/html in send_outreach_batch and run improve pass on send path
  lead-crm/send_outreach_batch.py
Labels: none

feat(seo): add why-us, financial-services, reseller, defense-logistics, ROI, and staff-augmentation pages
  .github/workflows/gh-pages.yml
  docs/ROI/index.html
  docs/defense-logistics/index.html
  docs/financial-services/index.html
  docs/reseller/index.html
  docs/staff-augmentation/index.html
  docs/why-us/index.html
Labels: automation

feat(seo): add why-us, financial-services, reseller, defense-logistics, ROI, staff-augmentation, and contact pages
  public/contact/index.html
Labels: none

chore(outreach): automated outreach cycle
  docs/industries/financial-services/index.html
  docs/services/ai-it-staff-augmentation/index.html
  lead-crm/outreach-log.jsonl
  lead-crm/outreach_sent_history.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

docs: Add SEO-optimized telecom network optimization case study
  docs/case-studies/telecom-network-optimization/index.html
Labels: none

docs: Add SEO-optimized retail demand forecasting case study
  docs/case-studies/retail-demand-forecasting/index.html
Labels: none

feat(seo): add why-us, financial-services, reseller, defense-logistics, ROI, and staff-augmentation pages
  docs/ROI/index.html
  docs/defense-logistics/index.html
  docs/financial-services/index.html
  docs/reseller/index.html
  docs/staff-augmentation/index.html
  docs/why-us/index.html
Labels: none

chore(outreach): automated outreach cycle
  build.exit
  lead-crm/outreach-log.jsonl
  lead-crm/outreach_sent_history.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

docs: Add SEO-optimized gaming player analytics case study
  docs/case-studies/gaming-player-analytics/index.html
Labels: none

feat(seo): add case-studies, industries, testimonials, and automation SEO fallback pages
  docs/automation/index.html
  docs/case-studies/index.html
  docs/industries/index.html
  docs/testimonials/index.html
Labels: none

feat(growth): add autonomous-ai-operating-system, growth-engine, fast-start-ai-audit, partner-enablement, ai-managed-services, methodology
  docs/ai-managed-services/index.html
  docs/autonomous-ai-operating-system/index.html
  docs/fast-start-ai-audit/index.html
  docs/growth-engine/index.html
  docs/methodology/index.html
  docs/partner-enablement/index.html
Labels: none

chore(pages): promote all fallback routes in workflow
  .github/workflows/gh-pages.yml
Labels: automation

docs: Add SEO-optimized automotive quality inspection case study
  docs/case-studies/automotive-quality-inspection/index.html
Labels: none

docs: Add SEO-optimized construction project management case study
  docs/case-studies/construction-project-management/index.html
Labels: none

chore(pages): remove npm dependency from Pages workflow
  .github/workflows/gh-pages.yml
Labels: automation

feat(seo): add docs/resources/index.html
  docs/resources/index.html
  package-lock.json
  package.json
Labels: none

chore(pages): promote all fallback routes including services, tools, solutions, resources, and growth pages
  .github/workflows/gh-pages.yml
Labels: automation

fix(seo): simplify industry solutions landing page
  app/industry-solutions/page.tsx
Labels: none

feat(growth): add SEO fallbacks for why-us, industries/financial-services, partners/reseller, tools/ai-support-outsourcing-roi, services/ai-it-staff-augmentation, case-studies/defense-ai-logistics
  docs/case-studies/defense-ai-logistics/index.html
  docs/industries/financial-services/index.html
  docs/partners/reseller/index.html
  docs/products/index.html
  docs/services/ai-it-staff-augmentation/index.html
  docs/tools/ai-support-outsourcing-roi/index.html
  docs/why-us/index.html
Labels: none

chore(pages): promote all fallback routes including new growth pages
  .github/workflows/gh-pages.yml
  app/constants/navigation.ts
  docs/about/index.html
  docs/blog/index.html
  docs/case-studies/index.html
  docs/contact/index.html
  docs/partners/index.html
  docs/portal/index.html
  docs/pricing/index.html
  docs/services/index.html
  docs/testimonials/index.html
  docs/tools/index.html
  public/_redirects
Labels: automation

docs: Add SEO-optimized energy grid optimization case study
  docs/case-studies/energy-grid-optimization/index.html
Labels: none

feat(seo): add AI industry pages for healthcare, ecommerce, education, real estate, legal, energy, and performance optimization
  docs/about/index.html
  docs/ai-ecommerce/index.html
  docs/ai-education/index.html
  docs/ai-energy/index.html
  docs/ai-healthcare/index.html
  docs/ai-legal/index.html
  docs/ai-performance-optimization/index.html
  docs/ai-real-estate/index.html
  docs/ai-security/index.html
  docs/blog/index.html
  docs/contact/index.html
  docs/partners/index.html
  docs/portal/index.html
  docs/pricing/index.html
  docs/services/index.html
  docs/testimonials/index.html
  docs/tools/index.html
Labels: none

chore(pages): promote AI industry fallback routes
  .github/workflows/gh-pages.yml
Labels: automation

docs: Add SEO-optimized banking customer analytics case study
  docs/case-studies/banking-customer-analytics/index.html
Labels: none

chore(pages): promote AI industry fallback routes
  .github/workflows/gh-pages.yml
Labels: automation

docs: Add SEO-optimized telecom network optimization case study
  docs/case-studies/telecom-network-optimization/index.html
Labels: none

chore(site): unified nav + richer top-level pages
  docs/blog/index.html
  docs/case-studies/index.html
  docs/index.html
  docs/industries/healthcare/index.html
  docs/industries/insurance/index.html
  docs/industries/legal/index.html
Labels: none

feat(growth): add 10 new SEO blog posts for autonomous growth
  app/blog/ai-cybersecurity-msps-2026/page.tsx
  app/blog/ai-ecommerce-predictive-lead-inventory-optimization/page.tsx
  app/blog/ai-healthcare-document-automation/page.tsx
  app/blog/ai-legal-contract-review-operations-automation/page.tsx
  app/blog/ai-manufacturing-predictive-quality-2026/page.tsx
  app/blog/ai-real-estate-market-intelligence-automation/page.tsx
  app/blog/ai-support-outsourcing-roi-enterprise/page.tsx
  app/blog/autonomous-it-staff-augmentation-ai-copilots-2026/page.tsx
  app/blog/channel-partner-reseller-program-ai-services/page.tsx
  app/blog/defense-ai-logistics-optimization/page.tsx
  app/blog/financial-services-ai-fraud-risk-automation/page.tsx
Labels: none

feat: Deploy Hyper-Accelerated Growth Engine v2.0
  app/data/new_ai_services.json
  app/data/servicesData.json
  sitemap.xml
Labels: none

Add Hyper-Accelerated Growth Engine v2.0 with 50 new services
  app/data/servicesData.json
  scripts/hyper-accelerated-growth-engine.cjs
  sitemap.xml
Labels: automation

feat: Add AI-powered service recommendation engine and industry solutions
  app/components/Footer.tsx
  app/components/HomepageEnhancements.tsx
  app/components/ROICalculator.tsx
  app/components/ServiceComparison.tsx
  app/components/SmartRecommendationEngine.tsx
  app/constants/navigation.ts
  app/data/servicesData.json
  app/industry-solutions/page.tsx
  scripts/add-industry-services.cjs
Labels: automation

chore: Update services data and sitemap
  app/data/servicesData.json
  app/data/servicesData.ts
  scripts/generate-sitemap-feed.cjs
Labels: automation

feat: Add Industry Services Explorer and ROI Calculator tools
  app/constants/navigation.ts
  app/industries/page.tsx
  app/tools/roi-calculator/page.tsx
  app/tools/service-comparison/page.tsx
  components/IndustryServicesExplorer.tsx
  components/ServiceComparisonPreview.tsx
Labels: frontend

fix: Correct double-brace syntax errors in SEO pages
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
Labels: none

fix: Restore proper services data format for deployment
  app/data/servicesData.json
Labels: none

Add SEO page: ai-financial-planning-platform
  services/ai-financial-planning-platform/index.html
Labels: none

Add SEO page: ai-marketing-attribution-platform
  services/ai-marketing-attribution-platform/index.html
Labels: none

Add SEO page: ai-supply-chain-visibility
  services/ai-supply-chain-visibility/index.html
Labels: none

Add SEO page: ai-knowledge-base-rag-platform
  services/ai-knowledge-base-rag-platform/index.html
Labels: none

Add SEO page: ai-customer-journey-orchestration
  services/ai-customer-journey-orchestration/index.html
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
