Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(miner): append timeout log entry
  lead-crm/miner_log.json
Labels: none

ci(guard): improve failure diagnostics in unstoppable retry wrapper
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

fix(outreach): restore required check in Nous reasoning fallback
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): update send-disabled analysis/artifacts
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-13.md
  scripts/checks/pages-canonical-deploy-verifier.py
  scripts/reports/pages-canonical-deploy-latest.json
Labels: docs, automation

chore(outreach): refresh HeyGen CEO draft artifact
  lead-crm/outreach_monitor/processed/ceo_draft_19ec75d835ce8a1d.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci(pages): harden npm cache path + postbuild no-op fix
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

Revert "ci(guard): improve failure diagnostics in unstoppable retry wrapper"
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

outreach: mark HeyGen CEO reply sent; update dedupe artifact
  lead-crm/outreach_monitor/processed/ceo_draft_19ec75d835ce8a1d.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

ci: emit build-state.json from build wrapper for offline failure triage
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  package.json
  scripts/build-wrapper.cjs
Labels: automation

feat(watchdog): classify Pages failures from build-state.json artifact
  scripts/checks/deploy-watchdog-check.cjs
Labels: automation

fix(ci): resolve broken module imports for Pages build
  app/ai-services/page.tsx
  app/components/Navigation.tsx
  app/hooks/useAutoJsonLdPage.ts
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

fix(outreach): remove test/dry-run example.com sends from outreach log
  lead-crm/outreach-log.jsonl
Labels: none

fix(ci): add webpack alias for @ -> app in Next config
  next.config.js
Labels: none

ci(pages): upload build-state artifact even on build failure
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(ci): use ESM next.config.mjs with webpack @ alias
  next.config.mjs
Labels: none

fix(ci): add ncomponents/ndata/nlib webpack aliases
  next.config.mjs
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  next.config.js
Labels: none

fix: revert bad metadata corruption in page files
  app/5g-solutions/page.tsx
  app/about/page.tsx
  app/academy/page.tsx
  app/agents-monitoring/page.tsx
Labels: none

fix(outreach): bound thread probing timeout to prevent cron hangs
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(ci): remove alias import and duplicate AnimatedCounter in home page
  app/5g-solutions/page.tsx
  app/about/page.tsx
  app/academy/page.tsx
  app/agents-monitoring/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(ci): use @ alias for homepage component imports
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
  outreach_monitor/processed/pending_ceo_drafts.jsonl
  scripts/outreach/google_api.py
  scripts/outreach/high_frequency_monitor.py
  scripts/outreach/minimal_high_frequency_monitor.py
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(seo): restore page-level canonical definitions for portal/contact/ai-agents
  app/api-development/page.tsx
  app/blockchain-solutions/page.tsx
  app/contact/page.tsx
  app/portal/page.tsx
  app/services/ai-agents-autonomous/page.tsx
  app/status/service-health/page.tsx
  outreach_monitor/processed/lead_crm_coverage_snapshot.json
Labels: none

fix(ci): repair portal metadata, servicesData.json paths, and duplicate service-health imports
  app/portal/page.tsx
  app/services/stage/[stage]/page.tsx
  app/status/service-health/page.tsx
Labels: none

fix(ci): switch repeated services imports to JSON default-export with TS service types
  app/components/SmartSearchBar.tsx
  app/pricing-calculator/page.tsx
  app/products/layout.tsx
  app/services/[id]/page.tsx
  app/services/stage/[stage]/page.tsx
  app/status/service-health/page.tsx
  ghruns.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/checks/pages-canonical-deploy-verifier.py
  scripts/reports/pages-canonical-deploy-latest.json
Labels: automation

chore: ignore accidental ghruns.json artifact from CI checks
  .gitignore
  ghruns.json
Labels: none

feat(verifier): classify canonical mismatches and trim homepage false positive
  app/portal/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
  scripts/checks/pages-canonical-deploy-verifier.py
  scripts/reports/pages-canonical-deploy-latest.json
Labels: automation

ci(pages): validate static export output before Pages artifact packaging
  .github/workflows/gh-pages.yml
Labels: automation

feat(outreach): enable live LLM tailoring by default with safe fallback
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): dedupe LLM preamble helper and add live Nous debug/cleanup path
  scripts/outreach/outreach_worker_automation.py
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
