Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat: add 5 client-facing SEO service pages plus redirects and sitemap entries
  automation/reports/body-1785267982.911497-prateek.swain.txt
  automation/reports/body-1785268783.171677-ignacio.detmer.txt
  docs/_redirects
  docs/ai-consulting-services/index.html
  docs/business-it-consulting/index.html
  docs/cloud-services/index.html
  docs/cybersecurity-services/index.html
  docs/managed-it-services/index.html
  docs/sitemap.xml
  public/_redirects
  public/ai-consulting-services/index.html
  public/business-it-consulting/index.html
  public/cloud-services/index.html
  public/cybersecurity-services/index.html
  public/managed-it-services/index.html
Labels: automation

feat: add IT support, data analytics, automation, and DevOps SEO service pages
  automation/reports/body-1785268991.672285-aurelia.song.txt
  docs/automation-services/index.html
  docs/data-analytics-services/index.html
  docs/devops-services/index.html
  docs/it-support-services/index.html
  docs/sitemap.xml
  public/automation-services/index.html
  public/data-analytics-services/index.html
  public/devops-services/index.html
  public/it-support-services/index.html
Labels: automation

feat: add AI/ML, blockchain, IoT, micro-SaaS, database, and email intelligence SEO pages
  automation/reports/body-1785269743.705313-olof.mollstedt.txt
  automation/reports/body-1785269797.561113-nizar.batada.txt
  docs/ai-ml-platform/index.html
  docs/blockchain-services/index.html
  docs/database-services/index.html
  docs/email-intelligence-services/index.html
  docs/iot-services/index.html
  docs/micro-saas-products/index.html
  docs/sitemap.xml
  public/blockchain-services/index.html
  public/database-services/index.html
  public/email-intelligence-services/index.html
  public/iot-services/index.html
  public/micro-saas-products/index.html
Labels: automation

feat: add industry landing pages for healthcare, financial services, manufacturing, retail, and education
  automation/reports/body-1785270431.798155-nadia.amalia.txt
  automation/reports/body-1785270526.843083-greg.schvey.txt
  automation/reports/body-1785270599.933954-steve.rahimi.txt
  automation/reports/body-1785270858.590794-nirmit.arora.txt
  docs/industries/education/index.html
  docs/industries/financial-services/index.html
  docs/industries/healthcare/index.html
  docs/industries/manufacturing/index.html
  docs/industries/retail/index.html
  docs/sitemap.xml
  outreach_monitor/processed/live_send_ledger.jsonl
  public/industries/education/index.html
  public/industries/financial-services/index.html
  public/industries/healthcare/index.html
  public/industries/manufacturing/index.html
  public/industries/retail/index.html
Labels: automation

feat: add SEO, free consultation, AI agent, managed IT, AI development, and automation pages
  automation/reports/body-1785271102.894854-karthik.raman.txt
  automation/reports/body-1785271309.159453-olof.mollstedt.txt
  docs/_redirects
  docs/ai-agent-services/index.html
  docs/ai-automation/index.html
  docs/ai-development/index.html
  docs/free-ai-consultation/index.html
  docs/it-managed-services/index.html
  docs/seo-services/index.html
  docs/sitemap.xml
  public/_redirects
  public/ai-agent-services/index.html
  public/ai-automation/index.html
  public/ai-development/index.html
  public/free-ai-consultation/index.html
  public/it-managed-services/index.html
  public/seo-services/index.html
Labels: automation

feat: add app/ SEO and industry page routes so Pages exports them reliably
  app/ai-agent-services/page.tsx
  app/ai-automation/page.tsx
  app/ai-consulting-services/page.tsx
  app/ai-consulting-strategy/page.tsx
  app/ai-development/page.tsx
  app/ai-for-enterprise/page.tsx
  app/business-it-consulting/page.tsx
  app/data-analytics-services/page.tsx
  app/email-intelligence-services/page.tsx
  app/free-ai-assessment/page.tsx
  app/free-ai-consultation/page.tsx
  app/industries/education/page.tsx
  app/industries/manufacturing/page.tsx
  app/industries/retail/page.tsx
  app/it-managed-services/page.tsx
  app/it-support-services/page.tsx
  app/micro-saas-products/page.tsx
  app/seo-services/page.tsx
  app/technology-roadmap/page.tsx
  automation/reports/body-1785272104.88232-karthik.raman.txt
  automation/reports/body-1785272611.707179-oliver.armitage.txt
Labels: automation

feat: add BI, enterprise AI integration, cloud AI, digital transformation, assessment, and consulting SEO pages
  .github/workflows/gh-pages.yml
  app/ai-readiness-assessment-services/page.tsx
  app/business-intelligence-services/page.tsx
  app/cloud-ai-services/page.tsx
  app/digital-transformation-services/page.tsx
  app/enterprise-ai-integration/page.tsx
  app/it-consulting-services/page.tsx
  automation/reports/body-1785273587.207695-prateek.swain.txt
  automation/reports/body-1785273766.114032-bertrand.vick.txt
  docs/ai-readiness-assessment-services/index.html
  docs/business-intelligence-services/index.html
  docs/cloud-ai-services/index.html
  docs/digital-transformation-services/index.html
  docs/enterprise-ai-integration/index.html
  docs/it-consulting-services/index.html
  docs/sitemap.xml
  public/ai-readiness-assessment-services/index.html
  public/business-intelligence-services/index.html
  public/cloud-ai-services/index.html
  public/digital-transformation-services/index.html
  public/enterprise-ai-integration/index.html
  public/it-consulting-services/index.html
Labels: automation

feat: add outsourced IT, virtual CIO, cyber risk, compliance AI, warehouse, and lake SEO pages
  automation/reports/body-1785275406.027961-ignacio.detmer.txt
  automation/reports/body-1785275666.369649-aurelia.song.txt
  docs/_redirects
  docs/compliance-ai/index.html
  docs/cyber-risk-assessment/index.html
  docs/data-lake-services/index.html
  docs/data-warehouse-services/index.html
  docs/outsourced-it-services/index.html
  docs/sitemap.xml
  docs/virtual-cio/index.html
  outreach_monitor/processed/live_send_ledger.jsonl
  public/_redirects
  public/compliance-ai/index.html
  public/cyber-risk-assessment/index.html
  public/data-lake-services/index.html
  public/data-warehouse-services/index.html
  public/outsourced-it-services/index.html
  public/virtual-cio/index.html
Labels: automation

feat: add AI ethics, ML services, data governance, infrastructure, endpoint security, managed security SEO pages
  automation/reports/body-1785276617.830622-karthik.raman.txt
  docs/ai-ethics/index.html
  docs/data-governance/index.html
  docs/endpoint-security/index.html
  docs/it-infrastructure-services/index.html
  docs/managed-security-services/index.html
  docs/ml-services/index.html
  docs/sitemap.xml
  public/ai-ethics/index.html
  public/data-governance/index.html
  public/endpoint-security/index.html
  public/it-infrastructure-services/index.html
  public/managed-security-services/index.html
  public/ml-services/index.html
Labels: automation

feat: add PMO, ERP, CRM, hybrid cloud, managed DevOps, and zero trust SEO pages
  automation/reports/body-1785277084.114274-olof.mollstedt.txt
  automation/reports/body-1785277289.147053-everett.ivy.txt
  automation/reports/body-1785277482.9235-bertrand.vick.txt
  automation/reports/body-1785277807.612764-prateek.swain.txt
  automation/reports/body-1785277872.353062-gabriel.santero.txt
  automation/reports/body-1785277941.665384-gabriel.santero.txt
  automation/reports/body-1785278625.347359-karthik.raman.txt
  automation/reports/body-1785278809.025278-bertrand.vick.txt
  docs/_redirects
  docs/crm-services/index.html
  docs/erp-services/index.html
  docs/hybrid-cloud-services/index.html
  docs/managed-devops-services/index.html
  docs/project-management-services/index.html
  docs/sitemap.xml
  docs/zero-trust-security/index.html
  public/_redirects
  public/crm-services/index.html
  public/erp-services/index.html
  public/hybrid-cloud-services/index.html
  public/managed-devops-services/index.html
  public/project-management-services/index.html
  public/zero-trust-security/index.html
Labels: automation

feat: add RFI, RFP, request proposal, partners, integration partners, and technology partners SEO pages
  automation/reports/body-1785278929.078996-ignacio.detmer.txt
  docs/_redirects
  docs/integration-partners/index.html
  docs/request-proposal/index.html
  docs/rfi/index.html
  docs/rfp/index.html
  docs/sitemap.xml
  docs/technology-partners/index.html
  public/_redirects
  public/integration-partners/index.html
  public/partners/index.html
  public/request-proposal/index.html
  public/rfi/index.html
  public/rfp/index.html
  public/technology-partners/index.html
Labels: automation

feat: add enterprise-ai-solutions page
  docs/enterprise-ai-solutions/index.html
Labels: none

feat: add ml-model-development page
  docs/ml-model-development/index.html
Labels: none

feat: add data-science-consulting page
  docs/data-science-consulting/index.html
Labels: none

feat: add intelligent-automation page
  docs/intelligent-automation/index.html
Labels: none

feat: add ai-for-finance page
  docs/ai-for-finance/index.html
Labels: none

feat: add ai-for-healthcare page
  docs/ai-for-healthcare/index.html
Labels: none

feat: add change management, staff augmentation, IT/cloud strategy/migration/security/managed SEO pages
  automation/reports/body-1785280314.637343-prateek.swain.txt
  automation/reports/body-1785281613.464995-nadia.amalia.txt
  automation/reports/body-1785282367.31579-ignacio.detmer.txt
  docs/_redirects
  docs/change-management-services/index.html
  docs/cloud-managed-services/index.html
  docs/cloud-migration/index.html
  docs/cloud-security/index.html
  docs/cloud-strategy/index.html
  docs/it-strategy/index.html
  docs/sitemap.xml
  docs/staff-augmentation/index.html
  outreach_monitor/processed/live_send_ledger.jsonl
  public/_redirects
  public/change-management-services/index.html
  public/cloud-managed-services/index.html
  public/cloud-migration/index.html
  public/cloud-security/index.html
  public/cloud-strategy/index.html
  public/it-strategy/index.html
  public/staff-augmentation/index.html
Labels: automation

feat: add autonomous AI growth strategy page
  docs/autonomous-ai-growth/index.html
Labels: none

feat: improve homepage buyer-intent nav and industries discovery page for autonomous growth
  app/industries/page.tsx
  app/page.tsx
  automation/reports/body-1785287680.067603-olof.mollstedt.txt
  automation/reports/body-1785287839.580305-jun.tan.txt
Labels: automation

feat: add AI ops, analytics, ML, IT service management, and managed hosting SEO pages for growth
  docs/_redirects
  docs/ai-observability-services/index.html
  docs/ai-readiness-audit/index.html
  docs/analytics-engineering-services/index.html
  docs/computer-vision-services/index.html
  docs/data-platform-services/index.html
  docs/it-change-management/index.html
  docs/it-incident-management/index.html
  docs/it-problem-management/index.html
  docs/managed-hosting-services/index.html
  docs/ml-implementation-services/index.html
  docs/model-governance-services/index.html
  docs/nlp-services/index.html
  docs/predictive-analytics-services/index.html
  docs/remote-it-support/index.html
  docs/sitemap.xml
  docs/technical-account-management/index.html
  public/_redirects
  public/ai-observability-services/index.html
  public/ai-readiness-audit/index.html
  public/analytics-engineering-services/index.html
  public/computer-vision-services/index.html
  public/data-platform-services/index.html
  public/it-change-management/index.html
  public/it-incident-management/index.html
  public/it-problem-management/index.html
  public/managed-hosting-services/index.html
  public/ml-implementation-services/index.html
  public/model-governance-services/index.html
  public/nlp-services/index.html
  public/predictive-analytics-services/index.html
  public/remote-it-support/index.html
  public/technical-account-management/index.html
Labels: none

fix: ensure public/sitemap.xml includes new SEO routes for faster discovery
  outreach_monitor/processed/live_send_ledger.jsonl
  public/sitemap.xml
Labels: none

Add /client-success-roadmap page
  app/client-success-roadmap/page.tsx
Labels: none

Add client-success-roadmap page/fallback and redirect rule
  app/client-success-roadmap/page.tsx
  public/_redirects
  public/client-success-roadmap/index.html
Labels: none

feat: add AI rollout/adoption/training/pilot and IT/privacy/partner success SEO pages
  automation/reports/body-1785290151.343787-aurelia.song.txt
  docs/_redirects
  docs/ai-adoption-services/index.html
  docs/ai-change-management/index.html
  docs/ai-fine-tuning-services/index.html
  docs/ai-pilot-programs/index.html
  docs/ai-rollout-services/index.html
  docs/ai-user-training/index.html
  docs/api-integration-services/index.html
  docs/customer-retention-services/index.html
  docs/customer-success-management/index.html
  docs/data-privacy-services/index.html
  docs/data-sovereignty-services/index.html
  docs/it-audit-services/index.html
  docs/it-compliance-audit/index.html
  docs/partner-enablement-services/index.html
  docs/platform-integration-services/index.html
  docs/sitemap.xml
  public/_redirects
  public/ai-adoption-services/index.html
  public/ai-change-management/index.html
  public/ai-fine-tuning-services/index.html
  public/ai-pilot-programs/index.html
  public/ai-rollout-services/index.html
  public/ai-user-training/index.html
  public/api-integration-services/index.html
  public/customer-retention-services/index.html
  public/customer-success-management/index.html
  public/data-privacy-services/index.html
  public/data-sovereignty-services/index.html
  public/it-audit-services/index.html
  public/it-compliance-audit/index.html
  public/partner-enablement-services/index.html
  public/platform-integration-services/index.html
Labels: automation

add ai-outsourcing-services fallback and sitemap/redirect updates
  docs/_redirects
  docs/ai-outsourcing-services/index.html
  public/_redirects
  public/ai-outsourcing-services/index.html
Labels: none

feat: improve homepage nav, category pills, and differentiators
  _check_live.js
  app/data/industries.ts
  app/globals.css
  app/industries/page.tsx
  app/page.tsx
  automation/reports/body-1785290259.756902-prateek.swain.txt
  automation/reports/body-1785291618.947565-ignacio.detmer.txt
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: automation

Add success-stories and use-cases pages with JSON-LD, docs fallbacks, and 200 redirect rules
  app/success-stories/page.tsx
  app/use-cases/page.tsx
  docs/_redirects
  docs/success-stories/index.txt
  docs/use-cases/index.txt
  public/_redirects
Labels: none

add redirect rules for new SEO fallbacks
  docs/_redirects
  docs/ai-governance-compliance/index.html
  docs/ai-quantum-computing/index.html
  docs/maintenance-software/index.html
  public/_redirects
  public/ai-governance-compliance/index.html
  public/ai-quantum-computing/index.html
  public/maintenance-software/index.html
  sitemap.xml
Labels: none

fix: remove PAUSE_CI and sync public/_redirects to docs/_redirects
  .github/workflows/pause-triggers.txt
  public/_redirects
Labels: automation

feat: add SuccessStoriesSection component
  components/SuccessStoriesSection.tsx
Labels: frontend

chore: remove temporary _check_live.js helper from repo
  _check_live.js
Labels: none

feat: add success-stories, use-cases, ai-quick-audit, phishing-analyzer, industries data
  app/industries/page.tsx
  app/tools/ai-quick-audit/page.tsx
  app/tools/phishing-analyzer/page.tsx
Labels: none

add it-infrastructure-modernization, ai-data-engineering, ai-platform-engineering, ai-security-operations fallbacks + sitemap
  docs/ai-data-engineering/index.html
  docs/ai-platform-engineering/index.html
  docs/ai-security-operations/index.html
  docs/it-infrastructure-modernization/index.html
  public/ai-data-engineering/index.html
  public/ai-platform-engineering/index.html
  public/ai-security-operations/index.html
  public/it-infrastructure-modernization/index.html
  sitemap.xml
Labels: none

feat: add ServiceRecommendations component
  components/ServiceRecommendations.tsx
Labels: frontend

feat: replace pricing alias with live pricing page + fix case-studies redirect
  app/pricing/page.tsx
  automation/reports/body-1785295875.03836-prateek.swain.txt
  automation/reports/body-1785296362.207189-gabriel.santero.txt
  docs/_redirects
  public/_redirects
Labels: automation

feat: update docs fallbacks for industries, case-studies, pricing
  automation/reports/body-1785296576.683476-anton.txt
  docs/case-studies/index.html
  docs/industries/index.html
  docs/pricing/index.html
Labels: automation

memory: add 2026-07-29 site improvements log
  automation/reports/body-1785296612.267477-ben.stein.txt
  memory/2026-07-29.md
Labels: docs, automation

feat: add ServiceCategoriesGrid component
  components/ServiceCategoriesGrid.tsx
Labels: frontend

add ai-edge-computing, ai-iot-platform, ai-blockchain-enterprise fallbacks + sitemap/redirects
  docs/_redirects
  docs/ai-blockchain-enterprise/index.html
  docs/ai-edge-computing/index.html
  docs/ai-iot-platform/index.html
  public/_redirects
  public/ai-blockchain-enterprise/index.html
  public/ai-edge-computing/index.html
  public/ai-iot-platform/index.html
  sitemap.xml
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
