Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

build: enable static export and adjust scripts; ignore redirects copy if missing
  netlify/functions/functions-manifest.json
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: config

chore(front): refine homepage section title for live automations
  pages/index.tsx
Labels: frontend

chore(front): refine homepage section title for live automations
  pages/index.tsx
Labels: frontend

build: enable static export and adjust scripts; ignore redirects copy if missing
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: config

Update Next.js build and export configuration
  package-lock.json
  package.json
Labels: config

fix: resolve merge conflicts in generated docs and search index (prefer newer stashed changes)
  docs/components-props.md
  public/components-props.json
  public/search/index.json
Labels: docs, config

Remove Netlify plugin and update export script for Next.js
  package-lock.json
  package.json
Labels: config

Remove Netlify plugin and update export script for Next.js build
  package-lock.json
  package.json
Labels: config

fix: resolve merge conflicts in generated files; update export script
  docs/components-props.md
  public/components-props.json
  public/search/index.json
Labels: docs, config

feat(automation): ai/it content agents + gh actions workflow
  netlify/functions/functions-manifest.json
  public/reports/metadata/index.html
  zion.app/.github/workflows/ai-content-autonomy.yml
  zion.app/automation/ai-it-advertiser.cjs
  zion.app/automation/ai-it-content-factory.cjs
  zion.app/automation/ai-it-researcher.cjs
  zion.app/pages/reports/ai-lab.tsx
Labels: config

feat(automation): ai/it content agents + gh actions workflow (page + workflow + scripts)
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): ai/it content agents + gh actions workflow
  .github/workflows/ai-content-autonomy.yml
  automation/ai-it-advertiser.cjs
  automation/ai-it-content-factory.cjs
  automation/ai-it-researcher.cjs
  pages/reports/ai-lab.tsx
Labels: frontend, workflows, automation, config

feat(automation): add cloud-dossier crawler/factory/workflow
  automation/cloud-autonomous-agents-factory.cjs
Labels: automation

chore(seo): remove duplicate SEO from _document and enhance DefaultSEO with robots + OG metadata
  components/DefaultSEO.tsx
  netlify/functions/functions-manifest.json
  pages/_document.tsx
  public/reports/metadata/index.html
Labels: frontend, config

ci: add GitHub Actions CI and scheduled automation workflows
  .github/workflows/automation.yml
  .github/workflows/ci.yml
Labels: workflows, config

ci: add CodeQL and marketing automation workflows
  .github/workflows/codeql.yml
  .github/workflows/marketing.yml
Labels: workflows, config, marketing

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

chore(cloud): autonomous agents content update
  pages/reports/innovations/insight-2025-08-14T16-52.tsx
  pages/reports/updates/update-2025-08-14T16-52.tsx
  public/automation/content-registry.json
  public/automation/new-content-registry.json
  public/search/index.json
Labels: frontend, config

chore(cloud): autonomous agents content update
  pages/reports/innovations/insight-2025-08-14T18-56.tsx
  pages/reports/updates/update-2025-08-14T18-56.tsx
  public/automation/content-registry.json
  public/automation/new-content-registry.json
  public/search/index.json
Labels: frontend, config

Add service blueprint and scaffolding automation tools
  automation/service-factory/service-blueprint-generator.cjs
  automation/service-factory/service-scaffolder.cjs
Labels: automation

Update Next.js static export configuration for version 14
  next.config.js
  package.json
Labels: config

feat: Add service factory automation with market intelligence and MVP generation
  .github/workflows/service-factory-automation.yml
  automation/service-factory/market-intelligence.cjs
  automation/service-factory/mvp-generator.cjs
  automation/service-factory/opportunity-detector.cjs
  automation/service-factory/service-factory-orchestrator.cjs
  package.json
Labels: workflows, automation, config

Add deployment, quality, and dashboard automation scripts
  automation/service-factory/deployment-orchestrator.cjs
  automation/service-factory/quality-automation.cjs
  automation/service-factory/service-factory-dashboard.cjs
  package.json
Labels: automation, config

Add integration, performance, and ultimate service factory automation scripts
  automation/service-factory/integration-tester.cjs
  automation/service-factory/performance-optimizer.cjs
  automation/service-factory/ultimate-service-factory.cjs
  package.json
Labels: automation, config

Add service catalog management and services page with dynamic rendering
  automation/service-factory/service-catalog-manager.cjs
  components/Navigation.tsx
  package.json
  pages/services.tsx
Labels: frontend, automation, config

Add dashboard, status pages and update navigation menu
  components/Navigation.tsx
  pages/dashboard.tsx
  pages/status.tsx
Labels: frontend

Fix Netlify build with pre-build validation and automated workflows
  .github/workflows/build-monitor.yml
  .github/workflows/dependency-update.yml
  IMPLEMENTATION-SUMMARY.md
  _headers
  build-report.json
  docs/BUILD-AUTOMATION.md
  netlify.toml
  netlify/functions/functions-manifest.json
  next.config.js
  package.json
  pages/api/health.js
  scripts/build-automation.js
  scripts/pre-build-check.sh
  utils/network-utils.js
Labels: frontend, workflows, docs, config

Add enhanced build system with security, optimization, and orchestration
  docs/ENHANCED-BUILD-SYSTEM.md
  package.json
  scripts/enhanced-build-automation.js
  scripts/intelligent-build-optimizer.js
  scripts/master-build-orchestrator.js
  scripts/security-scanner.js
Labels: docs, config

Add smart dependency, monitoring, and caching systems
  docs/PHASE-2-ENHANCEMENTS.md
  package.json
  scripts/advanced-cache-manager.js
  scripts/master-build-orchestrator.js
  scripts/real-time-monitor.js
  scripts/smart-dependency-manager.js
Labels: docs, config

Fix local data fetching for automation health page during build
  package.json
  pages/automation-health.tsx
  tsconfig.tsbuildinfo
Labels: frontend, config

Fix export script to copy headers from public/_headers correctly
  package.json
Labels: config

Add AI-powered build optimization with strategy, failure prediction, and performance engines
  docs/PHASE-3-AI-OPTIMIZATION.md
  package.json
  scripts/ai-build-strategist.js
  scripts/master-build-orchestrator.js
  scripts/performance-prediction-engine.js
  scripts/predictive-failure-prevention.js
Labels: docs, config

Implement Phase 4: Advanced AI with deep learning, NLP, and RL engines
  IMPLEMENTATION-SUMMARY.md
  docs/PHASE-4-ADVANCED-AI.md
  package.json
  scripts/deep-learning-engine.js
  scripts/master-build-orchestrator.js
  scripts/nlp-engine.js
  scripts/reinforcement-learning-engine.js
Labels: docs, config

chore(automation): refresh research scout [skip ci]
  public/automation/research-scout.json
Labels: config

chore(cloud): autonomous agents content update
  pages/reports/innovations/insight-2025-08-15T00-34.tsx
  pages/reports/updates/update-2025-08-15T00-34.tsx
  public/automation/content-registry.json
  public/automation/new-content-registry.json
  public/search/index.json
Labels: frontend, config

chore(automation): refresh research scout [skip ci]
  public/automation/research-scout.json
Labels: config

chore(cloud): autonomous agents content update
  pages/reports/innovations/insight-2025-08-15T00-57.tsx
  pages/reports/updates/update-2025-08-15T00-57.tsx
  public/automation/content-registry.json
  public/automation/new-content-registry.json
  public/search/index.json
Labels: frontend, config

chore(automation): autonomous AI content update [skip ci]
  pages/main/front/index.tsx
  pages/reports/updates/update-2025-08-15-0107.tsx
  public/automation/content-registry.json
Labels: frontend, config

chore(cloud): autonomous agents content update
  pages/reports/innovations/insight-2025-08-15T01-30.tsx
  pages/reports/updates/update-2025-08-15T01-30.tsx
  public/automation/content-registry.json
  public/automation/new-content-registry.json
  public/search/index.json
Labels: frontend, config

chore(automation): refresh research scout [skip ci]
  public/automation/research-scout.json
Labels: config
