Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat: Complete website optimization and improvements
  README.md
  dist/index.html
  dist/site.webmanifest
  dist/sw.js
  public/robots.txt
  public/site.webmanifest
  public/sitemap-index.xml
  public/sitemap.xml
  public/sw.js
  scripts/generate-sitemap.js
  src/App.tsx
  src/components/AccessibilityControls.tsx
  src/components/Header.tsx
  src/components/PerformanceOptimizer.tsx
  src/components/SEOHead.tsx
  src/pages/Home.tsx
Labels: docs, automation

Add Innovative Micro SAAS page with AI-powered service solutions
  src/pages/services/AIAutomationSuite.tsx
  src/pages/services/InnovativeMicroSAAS.tsx
Labels: none

Refactor services pages, update routing, and enhance UI components
  dist/index.html
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/components/ui/accordion.tsx
  src/pages/FAQ.tsx
  src/pages/HelpCenter.tsx
  src/pages/services/AIAutonomousSystems.tsx
  src/pages/services/Cybersecurity.tsx
  src/pages/services/ITInfrastructure.tsx
  src/pages/services/IndustrySolutions.tsx
  src/pages/services/InnovativeNewServices.tsx
  src/pages/services/MicroSAASSolutions.tsx
  src/pages/services/QuantumTechnology.tsx
  src/pages/services/SpecializedITInfrastructure.tsx
Labels: none

feat: implement comprehensive improvements for Zion Tech Group app
  dist/index.html
  dist/robots.txt
  dist/sitemap.xml
  public/robots.txt
  public/sitemap.html
  public/sitemap.json
  public/sitemap.xml
  scripts/generate-sitemap.js
  src/App.tsx
  src/components/Breadcrumb.tsx
  src/components/ErrorBoundary.tsx
  src/components/LoadingSpinner.tsx
  src/components/PerformanceMonitor.tsx
  src/components/SEO.tsx
  src/utils/sitemapGenerator.ts
Labels: automation

Refactor accessibility, SEO, and footer components with enhanced features
  dist/index.html
  src/components/AccessibilityControls.tsx
  src/components/Footer.tsx
  src/components/SEO.tsx
  src/index.css
  vite.config.ts
Labels: none

feat: implement comprehensive application improvements
  IMPROVEMENTS_README.md
  dist/index.html
  src/App.tsx
  src/components/EnhancedErrorBoundary.tsx
  src/components/LinkHealthMonitor.tsx
  src/components/PerformanceOptimizer.tsx
Labels: docs

feat: add innovative micro SAAS services and enhance Zion Tech Group website
  dist/index.html
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/index.css
  src/pages/Contact.tsx
  src/pages/services/AICybersecurityPlatform.tsx
  src/pages/services/AIWorkflowAutomation.tsx
  src/pages/services/EdgeComputingPlatform.tsx
  src/pages/services/QuantumComputingAsAService.tsx
Labels: none

feat: add comprehensive micro SAAS services, emerging technologies, and specialized IT infrastructure solutions with enhanced marketing content
  dist/index.html
  src/data/emergingTechServices.ts
  src/data/innovativeMicroSaasServices.ts
  src/data/specializedITInfrastructureServices.ts
  src/pages/services/InnovativeNewServices.tsx
  src/pages/services/SpecializedITInfrastructure.tsx
Labels: none

feat: fix broken links and create missing pages for Zion Tech Group website
  dist/index.html
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/AIPoweredITAssetManagement.tsx
  src/pages/AccessibilityAuditor.tsx
  src/pages/AdvancedCybersecuritySuite.tsx
  src/pages/AdvancedResearchAutomation.tsx
  src/pages/AffiliateAttributionHub.tsx
  src/pages/AgenticRAGHelpdesk.tsx
  src/pages/AutonomousBusinessOperationsPlatform.tsx
  src/pages/QuantumNeuralNetworkPlatform.tsx
Labels: none

feat: integrate performance optimizations and SEO improvements
  dist/index.html
  dist/robots.txt
  dist/sitemap.xml
  src/components/TestimonialsSection.tsx
  src/pages/Home.tsx
Labels: none

fix: resolve broken links and create missing pages - Status, Support, and Docs. Improve navigation structure and social media links.
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/Docs.tsx
  src/pages/Status.tsx
  src/pages/Support.tsx
Labels: none

fix: resolve broken links and create missing pages for Zion Tech Group website
  dist/index.html
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/AIAgentOrchestrator.tsx
  src/pages/AIAnalyticsCopilot.tsx
  src/pages/AIAutonomousBusinessManager.tsx
  src/pages/AIAutonomousBusinessPlatform.tsx
  src/pages/AIAutonomousCodeReview.tsx
Labels: none

Add advanced micro SAAS, AI, and IT services pages with comprehensive details
  src/pages/services/AdvancedMicroSAAS.tsx
  src/pages/services/ComprehensiveAIServices.tsx
  src/pages/services/ComprehensiveITServices.tsx
Labels: none

fix: add missing Sidebar props and useState import
  src/App.tsx
Labels: none

Add advanced micro SAAS, comprehensive IT, and all services pages
  dist/index.html
  src/App.tsx
  src/components/Header.tsx
  src/data/advancedMicroSAASServices.ts
  src/data/comprehensiveITServices.ts
  src/index.css
  src/pages/services/AdvancedMicroSAASServices.tsx
  src/pages/services/AllServicesOverview.tsx
  src/pages/services/ComprehensiveITServices.tsx
Labels: none

feat: add 25+ new innovative micro SAAS services with comprehensive showcase pages
  src/App.tsx
  src/data/comprehensiveServices.ts
  src/pages/ComprehensiveInnovativeServices.tsx
  src/pages/InnovativeMicroSaasServices.tsx
Labels: none

fix: resolve broken links and create missing pages for Zion Tech Group website
  dist/index.html
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/pages/5GEnterpriseNetwork.tsx
  src/pages/AIPoweredITAssetManagement.tsx
  src/pages/AccessibilityAuditor.tsx
  src/pages/AdvancedCybersecuritySuite.tsx
  src/pages/AdvancedResearchAutomation.tsx
  src/pages/AffiliateAttributionHub.tsx
  src/pages/AgenticRAGHelpdesk.tsx
  src/pages/AutonomousBusinessOperationsPlatform.tsx
  src/pages/QuantumNeuralNetworkPlatform.tsx
Labels: none

feat: add comprehensive innovative services showcase with AI, IT, and micro SAAS solutions
  dist/index.html
  src/App.tsx
  src/components/Header.tsx
  src/data/innovativeAIServices.ts
  src/data/innovativeITServices.ts
  src/data/innovativeMicroSaasServices.ts
  src/pages/Home.tsx
  src/pages/InnovativeServicesShowcase.tsx
Labels: none

chore: add wave215 IT services and integrate into catalog
  app/data/servicesData.ts
  app/data/wave215.ts
Labels: none

fix(ci): use webpack build and add autonomous preflight checks
  app/data/servicesData.ts
  app/data/wave280.ts
  package.json
Labels: none

feat: add wave214/wave216 IT services and manual lead discovery outreach artifacts
  app/data/new_services_it.json
  app/data/servicesData.ts
  app/data/wave214.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
  commands/google_workspace.py
  lead-crm/outreach_ready_manual_lead_discovery.json
  lead-crm/outreach_send_results_manual_discovery.json
  lead-crm/outreach_verification_sent.json
Labels: none

feat: wave217 IT services + verified outreach batch 7 emails
  app/data/wave217ItServices.ts
  lead-crm/outreach_ready_20260703T0759Z.json
  lead-crm/outreach_send_results_20260703T0759Z.json
  lead-crm/outreach_verification_all.json
Labels: none

feat: wave218 IT services + verified outreach 10 emails
  app/data/wave218ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave218_pool.json
  lead-crm/outreach_send_results_wave218_pool.json
  lead-crm/outreach_verification_wave218.json
Labels: none

feat: wave219 IT services + verified outreach 15 emails
  app/data/wave219ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave219_pool.json
  lead-crm/outreach_send_results_wave219_pool.json
  lead-crm/outreach_verification_wave219.json
Labels: none

feat: verified outreach waves 219/220 — 15+15 emails
  lead-crm/outreach_ready_wave220_pool.json
  lead-crm/outreach_send_results_wave220_pool.json
  lead-crm/outreach_verification_wave220.json
Labels: none

feat: wave220 IT services + verified outreach 20 emails
  app/data/wave220ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave220b_pool.json
  lead-crm/outreach_send_results_wave220b_pool.json
  lead-crm/outreach_verification_wave220b.json
Labels: none

feat: wave221 IT services + verified outreach 20 emails, 1 failed(hubspot)
  app/data/wave221ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave221_pool.json
  lead-crm/outreach_send_results_wave221_pool.json
  lead-crm/outreach_verification_wave221.json
Labels: none

feat: wave222 IT services + verified outreach waves 222/223b — 15+20 emails
  app/data/wave222ItServices.ts
  lead-crm/outreach_ready_wave222_pool.json
  lead-crm/outreach_ready_wave223b_pool.json
  lead-crm/outreach_send_results_wave222_pool.json
  lead-crm/outreach_send_results_wave223b_pool.json
  lead-crm/outreach_verification_wave222.json
  lead-crm/outreach_verification_wave223b.json
Labels: none

feat: wave223 IT services + mined-contact outreach 9 emails + partner outreach 4 emails
  app/data/wave223ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_mined_contacts_pool.json
  lead-crm/outreach_ready_mined_partners_pool.json
  lead-crm/outreach_send_results_mined_contacts_pool.json
  lead-crm/outreach_send_results_mined_partners_pool.json
Labels: none

feat: wave223 IT services + repo-mined outreach 10 emails
  lead-crm/outreach_ready_repo_mined_pool.json
  lead-crm/outreach_send_results_repo_mined_pool.json
Labels: none

feat: wave224 IT services + verified outreach 15 emails
  app/data/wave224ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave224_pool.json
  lead-crm/outreach_send_results_wave224_pool.json
  lead-crm/outreach_verification_wave224.json
Labels: none

feat: wave225 IT services + verified outreach 13 emails + reply classification
  app/data/wave225ItServices.ts
  lead-crm/it_services_shortlist.json
  lead-crm/outreach_ready_wave225_pool.json
  lead-crm/outreach_send_results_wave225_pool.json
  lead-crm/reply_classification_20260703.json
  lead-crm/reply_scan_20260703.json
Labels: none

chore: add outreach loop prompt/guardrails for continuous cron operation
  .hermes/cron/outreach_loop_prompt.txt
Labels: none

feat: reply monitoring queue + follow_up_ready ready
  lead-crm/follow_up_ready.json
  lead-crm/monitor_replies_queue.json
  lead-crm/outreach_batch_20260703T141634Z.json
  lead-crm/outreach_batch_20260703T143315Z.json
  lead-crm/outreach_batch_20260703T143922Z.json
  lead-crm/outreach_ready_20260703T141634Z.json
  lead-crm/outreach_ready_20260703T143315Z.json
  lead-crm/reply_scan_latest.json
Labels: none

test: E2E pipeline pass; monitor_replies_queue/follow_up_ready updated
  Zion_Brain_Log.md
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  latest_ready.json
  lead-crm/__pycache__/_outreach_pipeline_builder.cpython-313.pyc
  lead-crm/_outreach_pipeline_builder.py
  lead-crm/follow_up_ready.json
  lead-crm/outreach_batch_20260703T070658Z.json
  lead-crm/outreach_batch_20260703T111712Z.json
  lead-crm/outreach_batch_20260703T130219Z.json
  lead-crm/outreach_batch_20260703T151251Z.json
  lead-crm/outreach_batch_20260703T151941Z.json
  lead-crm/outreach_batch_20260703_135339.json
  lead-crm/outreach_ready_20260703T145517Z.json
  lead-crm/outreach_ready_20260703T151251Z.json
  lead-crm/outreach_ready_20260703T151941Z.json
  lead-crm/outreach_ready_current.json
  lead-crm/outreach_ready_mined_old_emails.json
  lead-crm/outreach_run_2026-06-30.json
  lead-crm/reply_scan_latest.json
  lead-crm/send_outreach_batch.py
  outreach_send_results.json
Labels: docs

feat: pipeline_health_latest artifact for continuous monitoring
  lead-crm/pipeline_health_latest.json
Labels: none

outreach: append 2026-07-03 completion report and blocking artifacts
  Zion_Brain_Log.md
  lead-crm/outreach_batch_20260703T163830Z.json
  lead-crm/outreach_ready_20260703T163830Z.json
Labels: docs

feat: add .gitignore cleanup, improvement_plan, follow_up queue, AI landing content
  .gitignore
  lead-crm/ai_services_landing.json
  lead-crm/follow_up_message_queue.json
  lead-crm/improvement_plan.json
Labels: none

feat: improvements + verification + follow-up queue + AI landing content
  .hermes/build_outreach_batch.py
  .hermes/scripts/outreach_batch_step3_helper.py
  Zion_Brain_Log.md
  __pycache__/enhanced_historical_email_miner.cpython-313.pyc
  cron_discovery_fallback.py
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  enhanced_historical_email_miner.py
  lead-crm/__pycache__/_outreach_pipeline_builder.cpython-313.pyc
  lead-crm/_outreach_pipeline_builder.py
  lead-crm/outreach_batch_20260703T152639Z.json
  lead-crm/outreach_batch_20260703T153338Z.json
  lead-crm/outreach_batch_20260703T162430Z.json
  lead-crm/outreach_batch_20260703T162804Z.json
  lead-crm/outreach_ready_20260703T152639Z.json
  lead-crm/outreach_ready_20260703T153338Z.json
  lead-crm/outreach_ready_20260703T162430Z.json
  lead-crm/outreach_ready_20260703T162804Z.json
  lead-crm/outreach_ready_20260703T163000Z.json
  lead-crm/outreach_ready_mined_old_emails.json
  lead-crm/outreach_run_2026-06-30.json
  lead-crm/outreach_run_2026-07-03.json
  lead-crm/pipeline_health_latest.json
Labels: docs

feat: send 5 verified follow-up replies + improvement artifacts
  lead-crm/follow_up_message_queue.json
  lead-crm/follow_up_send_results.json
Labels: none
