Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach/miner): persist runtime artifacts from active automation runs
  check_hot_followup.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

outreach: wire REST send path, fix timeout call, Windows auth, Ledger
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(ci): use npm exec/npx build path in build-wrapper.cjs for Windows-safe Pages deploy
  scripts/build-wrapper.cjs
Labels: automation

chore(sitemap): refresh public sitemap after static export
  public/sitemap.xml
Labels: none

feat(seo): add breadcrumb structured data on deep routes
  app/hooks/useAutoJsonLdPage.ts
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

chore(ci): use wrapper build and remove obsolete Pages/Lighthouse workflows
  .github/workflows/continuous-pages-deploy.yml
  .github/workflows/gh-pages.disabled
  .github/workflows/gh-pages.yml
  .github/workflows/lighthouse-baseline.yml
  .github/workflows/lighthouse-budget.yml
  .github/workflows/lighthouse-production-smoke-weekly.yml
  .github/workflows/lighthouse-production.yml
  package.json
Labels: automation

ci: disable duplicate Pages deploy workflow; narrow Lighthouse trigger to main; fix YAML structure
  .github/workflows/continuous-pages-deploy.disabled
  .github/workflows/lighthouse-budget.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: restore GitHub Pages deploy workflow
  .github/workflows/gh-pages.yml
Labels: automation

fix(ci): set PYTHONPATH for commands module; add missing /ai-lab/ target; fix canonical
  .github/workflows/outreach-live-llm-tailoring.yml
  docs/ai-lab/index.html
  docs/ai/demo/index.html
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/miner_log.json
Labels: none

fix(site): restore /ai-lab/ target; fix canonical; services cleanup
  docs/services/index.html
Labels: none

fix: clear temp outreach runner state; preserve ready-to-run sent state
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): preserve latest run state and metrics
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat(outreach): improve CEO fallback reply quality and PT/ES/EN handling
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore: update outreach monitor state and hot-followup audit helpers
  _tmp_inspect_hot_followup_thread.py
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore: remove temporary hot-followup inspection helpers
  _tmp_hot_followup_check.py
  _tmp_inspect_hot_followup_thread.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  logs/web_prospecting.out
  memory/2026-07-15.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): add hot-followup runner artifact and draft state
  outreach_monitor/processed/_run_hot_followup.py
  outreach_monitor/processed/next_hot_followup_llm_draft.json
Labels: none

chore(outreach): keep worker state/readiness report current
  memory/2026-07-15.md
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  reports/site-integrity-2026-07-15.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: docs, automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  tmp_gmail_check.py
Labels: none

chore(site): remove stale duplicate docs fallback files for legacy service path and bad slug
  docs/services/-aiops/index.html
  docs/services/cloud-cost-optimization-service.html
Labels: none

fix(seo): stop forcing ai-customer-support-pro to /services redirect
  next.config.mjs
Labels: none

chore(cron): add 2026-07-15 crawler report with 404 candidates and outreach no-op outcome
  reports/2026-07-15-crawl-report.md
Labels: docs
