Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

fix(monitor): harden high_frequency_monitor startup when gmail service is unavailable
  scripts/outreach/high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
  tmp_gmail_hot_followup.py
Labels: docs

chore(outreach): persist monitor improvements and readiness state
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(monitor): avoid Gmail auth crash when token is missing
  scripts/outreach/high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci(site): add docs fallback for Pages recovery
  docs/index.html
Labels: none

fix(outreach): avoid miner-driven cron timeouts
  lead-crm/historical_email_miner.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

chore(outreach): persist send-disabled analysis
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): persist latest monitor artifacts
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(build): remove duplicate Link/Service imports in app/products/page.tsx
  app/products/page.tsx
Labels: none

chore: persist local monitor state changes
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/high_frequency_monitor.py.bak
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix: products prerender path, pages workflow, monitor, tool classes
  app/products/page.tsx
Labels: none

improve: continuous high-frequency runner resilience + hot-followup draft template
  outreach_monitor/processed/pending_ceo_hot_followup_draft.json
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore: local build verify + continuous monitor readiness + deploy script auth prep
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/deploy-gh-pages-contents.cjs
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  commands/google_workspace.py
  lead-crm/historical_email_miner.py
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(gmail): autodetect gog_tokens.json under ~/.openclaw/workspace
  commands/google_workspace.py
Labels: none

fix(outreach): fallback Gmail auth when commands.google_workspace is unavailable
  scripts/outreach/google_api.py
Labels: automation

chore: sync local monitor state + outreach auth fallback
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): persist sender email + outgoing sample in monitor report
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  tmp_run_hot_followup_check.py
Labels: none

chore(outreach): add duplicate-prevention metrics to monitor
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): persist runtime artifacts + report append
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): attach recent outgoing thread ids to monitor report
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  .tmp/enrich_outreach.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): count duplicate-prevention hits in monitor report
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation
