Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach): persist monitor_report update
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): remove /api/healthz to restore static export build
  app/api/healthz/route.ts
Labels: none

ci/monitor: add static healthz.txt, strengthen export artifact checks, extend smoke test
  lead-crm/all-leads.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  public/healthz.txt
  scripts/checks/build-and-verify.cjs
  scripts/checks/verify-postbuild-artifacts.cjs
Labels: automation

chore(outreach): automated outreach cycle
  gmail_followup_check.py
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(pages): use Bearer token for Contents API deploys
  scripts/deploy-gh-pages-contents.cjs
Labels: automation

chore(verifier): add route manifest
  public/zion-verifier/manifest.json
Labels: none

chore(outreach): automated outreach cycle
  app/privacy/page.tsx
  automation/data/broken-links-report.json
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
  scripts/outreach/outreach_worker_automation.py
Labels: docs, automation

chore(outreach): automated outreach cycle
  app/products/page.tsx
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(pages): trigger Pages refresh
  public/.pages-trigger
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(build): resolve Pages build breakers and emit verified build state
  public/sitemap.xml
Labels: none

chore(pages): static fallback for /tools/json-formatter/
  tools/json-formatter/index.html
Labels: none

chore: save monitor/report artifacts before sync
  outreach_monitor/processed/monitor_report.jsonl
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
  zion-support.github.io/check_hot_followup.py
Labels: automation

fix(outreach): restore live LLM fallback path + Nous cleanup
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore: preserve monitor/report artifacts and sync state
  lead-crm/all-leads.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

fix(pages): restore continuous-pages-deploy workflow
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

chore(outreach): persist monitor artifacts
  lead-crm/all-leads.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ui): repair missing space in hero H1 rendering
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

chore(tools): shared helper link text in 35 placeholder routes
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
Labels: none

fix(outreach): improve PT fallback phrasing for CEO replies
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): persist monitor report artifact
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(tools): normalize JSX quoting in 35 tool placeholder pages\n\nNormalize exact placeholder content so Next compiles cleanly after\nrecreating routes that were previously 404ing.
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
Labels: none

fix(build): restore verified local build fixes on top of current main
  app/products/page.tsx
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(outreach): mark llm tailoring enabled in monitor coverage
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): raise Node heap size in Pages workflow
  .github/workflows/gh-pages.yml
Labels: automation

fix: type metadata + canonical in 25 blog pages, mute readonly servicesData
  app/blog/ai-chatbot-builder/page.tsx
  app/blog/ai-cybersecurity-operations-for-msp/page.tsx
  app/blog/ai-document-processing/page.tsx
  app/blog/ai-finops-for-it-service-providers/page.tsx
  app/blog/ai-for-aiops-and-incident-response/page.tsx
  app/blog/ai-for-data-center-operations/page.tsx
  app/blog/ai-for-devops-automation-and-it-services/page.tsx
  app/blog/ai-for-it-compliance-and-risk-operations/page.tsx
  app/blog/ai-for-it-cost-optimization-and-finops/page.tsx
  app/blog/ai-for-it-incident-management-and-response/page.tsx
  app/blog/ai-for-it-project-delivery-and-implementation-services/page.tsx
  app/blog/ai-for-it-servicedesk-and-workplace-technicians/page.tsx
  app/blog/ai-for-it-support-automation-and-managed-help-desk/page.tsx
  app/blog/ai-for-itsm-and-service-management/page.tsx
  app/blog/ai-for-managed-it-services-and-msp-automation/page.tsx
  app/blog/ai-for-managed-service-provider-operations-in-2026/page.tsx
  app/blog/ai-for-managed-service-provider-operations/page.tsx
  app/blog/ai-for-msp-growth-and-it-outsourcing-automation/page.tsx
  app/blog/ai-for-outsourced-it-support-automation/page.tsx
  app/blog/ai-it-infrastructure-automation-and-cloud-operations/page.tsx
  app/blog/ai-it-ops-automation/page.tsx
  app/blog/ai-it-support-automation/page.tsx
  app/blog/ai-observability-and-it-operations/page.tsx
  app/blog/ai-partner-offer-with-tech-giants/page.tsx
  app/blog/ai-predictive-analytics/page.tsx
  app/data/servicesData.ts
  app/page.tsx
Labels: none

fix: add Metadata import and canonicals to products layout
  app/products/layout.tsx
Labels: none

fix: typed metadata + canonicals in 25 blog pages, mutable servicesData, products Metadata
  app/blog/ai-chatbot-builder/page.tsx
  app/blog/ai-cybersecurity-operations-for-msp/page.tsx
  app/blog/ai-document-processing/page.tsx
  app/blog/ai-finops-for-it-service-providers/page.tsx
  app/blog/ai-for-aiops-and-incident-response/page.tsx
  app/blog/ai-for-data-center-operations/page.tsx
  app/blog/ai-for-devops-automation-and-it-services/page.tsx
  app/blog/ai-for-it-compliance-and-risk-operations/page.tsx
  app/blog/ai-for-it-cost-optimization-and-finops/page.tsx
  app/blog/ai-for-it-incident-management-and-response/page.tsx
  app/blog/ai-for-it-project-delivery-and-implementation-services/page.tsx
  app/blog/ai-for-it-servicedesk-and-workplace-technicians/page.tsx
  app/blog/ai-for-it-support-automation-and-managed-help-desk/page.tsx
  app/blog/ai-for-itsm-and-service-management/page.tsx
  app/blog/ai-for-managed-it-services-and-msp-automation/page.tsx
  app/blog/ai-for-managed-service-provider-operations-in-2026/page.tsx
  app/blog/ai-for-managed-service-provider-operations/page.tsx
  app/blog/ai-for-msp-growth-and-it-outsourcing-automation/page.tsx
  app/blog/ai-for-outsourced-it-support-automation/page.tsx
  app/blog/ai-it-infrastructure-automation-and-cloud-operations/page.tsx
  app/blog/ai-it-ops-automation/page.tsx
  app/blog/ai-it-support-automation/page.tsx
  app/blog/ai-observability-and-it-operations/page.tsx
  app/blog/ai-partner-offer-with-tech-giants/page.tsx
  app/blog/ai-predictive-analytics/page.tsx
Labels: none

chore: persist monitor artifacts before sync
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

fix(outreach): skip known historical !!!hot-follow-up thread ids
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(build): prevent webpack syntax crash in color tools placeholder pages
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
Labels: none

fix(build): prevent webpack syntax crash in color tools placeholder pages
  package-lock.json
  public/sitemap.xml
Labels: none

chore: re-sync package-lock after npm ci; fix site build blockers
  scripts/outreach/high_frequency_monitor.py
Labels: automation
