Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add repo complexity + docs coverage + adaptive cloud factory [skip ci]
  automation/adaptive-cloud-factory.cjs
  automation/docs-coverage-report.cjs
  automation/repo-complexity-report.cjs
  netlify.toml
  netlify/functions/adaptive-cloud-factory.js
  netlify/functions/docs-coverage-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/repo-complexity-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

chore(reports): add initial repo complexity and docs coverage [skip ci]
  data/reports/docs-coverage.json
  data/reports/repo-complexity.json
Labels: config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

Add new automated runners for link fixing, revenue ideas, and media
  netlify.toml
  netlify/functions/branch-cleanup-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-fixer-runner.js
  netlify/functions/media-release-runner.js
  netlify/functions/revenue-ideas-agents-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add new autonomous cloud runners and advertise on homepage
  netlify.toml
  netlify/functions/diversification-runner.js
  netlify/functions/frontend-sync-autonomous-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/linting-orchestrator-runner.js
  netlify/functions/meta-orchestrator-runner.js
  netlify/functions/ui-evolution-runner.js
  netlify/functions/venture-runner.js
  pages/index.tsx
Labels: frontend, config

feat(automations): add new Netlify functions
  netlify.toml
  netlify/functions/dependency-upgrader.js
  netlify/functions/docs-knowledge-sync.js
  netlify/functions/front-surface-maximizer.js
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

feat(automations): add new autonomous functions, schedules, and homepage/front auto-ads [ci skip]
  automation/front-index-auto-advertiser.cjs
  netlify.toml
  netlify/functions/autonomous-front-home-accelerator.js
  netlify/functions/functions-manifest.json
  netlify/functions/link-healer-committer.js
  netlify/functions/newsroom-auto-curator.js
  netlify/functions/trends-to-promos-writer.js
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add dependency upgrade, content drift, and a11y remediator + advertise on front
  automation/accessibility-remediator.cjs
  automation/content-drift-detector.cjs
  netlify.toml
  netlify/functions/accessibility-remediator-runner.js
  netlify/functions/content-drift-detector-runner.js
  netlify/functions/dependency-upgrade-runner.js
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, automation, config

fix(front): main/front auto-advertiser tiles and add new cloud runners [skip ci]
  automation/front-index-auto-advertiser.cjs
Labels: automation

chore: trigger netlify automations and build [skip ci] (2025-08-11T22:43:51.209Z)
  automation/netlify-build-stamp.txt
Labels: automation

Add autonomous cloud automations for front, healing, and content
  netlify.toml
  netlify/functions/auto-heal-and-optimize.js
  netlify/functions/content-refresh-runner.js
  netlify/functions/front-autopilot.js
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

Add component docs and content gap analysis automations
  automation/component-docs-generator.cjs
  automation/content-gap-analyzer.cjs
  netlify.toml
  netlify/functions/component-docs-runner.js
  netlify/functions/content-gap-analyzer.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/main/front/index.tsx
  public/reports/component-docs/index.html
  public/reports/content-gaps/index.html
Labels: frontend, automation, config

Add performance, deps, and sitemap automation runners
  automation/performance-audit.cjs
  automation/unused-deps-scanner.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/performance-audit-runner.js
  netlify/functions/sitemap-pinger.js
  netlify/functions/unused-deps-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/deps.tsx
  pages/reports/performance.tsx
Labels: frontend, automation, config

feat(automation): add Repo Velocity & Redirects Synthesizer + advertise on front/home; schedule Netlify runners [skip ci]
  automation/front-index-ads.cjs
  automation/redirects-synthesizer.cjs
  automation/repo-velocity.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/redirects-synthesizer.js
  netlify/functions/repo-velocity-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/trigger-netlify-automations.cjs
Labels: frontend, automation, config

feat(autonomy): add a11y audit, alt-text suggester, docs gap finder, code churn heatmap + scheduled runners; advertise on homepage
  automation/a11y-audit.cjs
  automation/alt-text-suggester.cjs
  automation/code-churn-heatmap.cjs
  automation/docs-gap-finder.cjs
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/alt-text-suggester-runner.js
  netlify/functions/code-churn-heatmap-runner.js
  netlify/functions/docs-gap-finder-runner.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, automation, config

chore: fix JSX comment closure and lint regex escapes
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/unused-images-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/reports/images.tsx
  pages/reports/internal-links.tsx
  scripts/internal-link-graph.js
  scripts/unused-images-report.js
Labels: frontend, config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

chore(netlify): regenerate functions manifest with new runners
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add cloud auditors + schedules + front ads
  automation/content-staleness-auditor.cjs
  automation/css-bloat-report.cjs
  automation/frontpage-advertiser.cjs
  automation/image-lazyload-auditor.cjs
  automation/internal-link-orphan-audit.cjs
  netlify.toml
  netlify/functions/content-staleness-auditor.js
  netlify/functions/css-bloat-report.js
  netlify/functions/functions-manifest.json
  netlify/functions/image-lazyload-auditor.js
  netlify/functions/internal-link-orphan-audit.js
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add OG audit + docs link checker; advertise on home/front [skip ci]
  automation/front-index-ads.cjs
  netlify.toml
  netlify/functions/docs-link-checker-runner.js
  netlify/functions/og-metadata-audit-runner.js
  pages/index.tsx
  pages/reports/docs-links.tsx
  pages/reports/og.tsx
  public/reports/docs-links/index.html
  public/reports/docs-links/latest.json
  public/reports/og/index.html
  public/reports/og/latest.json
  scripts/docs-link-checker.js
  scripts/og-audit.js
Labels: frontend, automation, config

feat(automation): add internal link graph, component usage index, and content freshness runners; advertise on homepage and front [skip ci]
  automation/component-usage-indexer.cjs
  automation/content-freshness-auditor.cjs
  automation/internal-link-graph.cjs
  netlify.toml
  netlify/functions/component-usage-index-runner.js
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

chore: record netlify trigger stamp [skip ci]
  automation/netlify-build-stamp.txt
Labels: automation

Add new automation tools to Automation Hub page
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
Labels: frontend, config

Add docs-link-checker and og-metadata-audit runners to functions manifest
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add Redirect Healer and Sitemap Prioritizer cloud functions; advertise on homepage and front; schedule in Netlify; update manifest
  automation/redirect-healer.cjs
  automation/sitemap-prioritizer.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/redirect-healer.js
  netlify/functions/sitemap-prioritizer.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Add autonomous UX, roadmap, and content gap reporting tools
  automation/content-gap-finder.cjs
  automation/roadmap-synthesizer.cjs
  automation/ux-heuristics-audit.cjs
  netlify.toml
  netlify/functions/content-gap-finder.js
  netlify/functions/functions-manifest.json
  netlify/functions/roadmap-synthesizer.js
  netlify/functions/ux-heuristics-audit-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/content-gaps.tsx
  pages/reports/roadmap.tsx
  pages/reports/ux.tsx
  scripts/generate-netlify-functions-manifest.cjs
Labels: frontend, automation, config

chore: make report HTML static and fix lint warnings [ci skip]
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-sentinel-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

feat(automation): add AI Alt Text Generator and Content Keywords Miner; schedule as Netlify functions; enhance front auto-ads; fix ads generator syntax; wire to homepage advertising
  automation/ai-alt-text-generator.cjs
  automation/content-keywords-generator.cjs
  automation/front-index-ads.cjs
  automation/front-index-advertiser.cjs
  netlify.toml
  netlify/functions/ai-alt-text-generator-runner.js
  netlify/functions/content-keywords-runner.js
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add freshness auditor + deps upgrader
  automation/content-freshness-auditor.cjs
  netlify.toml
  netlify/functions/content-freshness-auditor.js
  netlify/functions/dependency-intelligence-upgrader.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  public/automation/content-freshness-report.json
Labels: frontend, automation, config

feat(automations): add smart-redirects + automation-catalog; advertise on frontpage; schedule in Netlify; regen manifest
  netlify.toml
  netlify/functions/automation-catalog.js
  netlify/functions/functions-manifest.json
  netlify/functions/smart-redirects.js
  pages/automation/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add a11y audit, OG validator, and internal redirect optimizer; schedule on Netlify; advertise on homepage and hub
  automation/a11y-audit.cjs
  automation/internal-redirect-optimizer.cjs
  automation/og-tags-validator.cjs
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-redirect-optimizer.js
  netlify/functions/og-tags-validator.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

chore(front): refresh auto-promoted section with new intelligence tools
  pages/main/front/index.tsx
Labels: frontend

feat(home): advertise new AI Alt Text and Content Keywords cloud automations on homepage
  pages/index.tsx
Labels: frontend

chore: regenerate functions manifest
  automation/netlify-build-stamp.txt
  netlify/functions/functions-manifest.json
Labels: automation, config

feat(front): advertise new cloud auditors on front page
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): autonomous cloud inventor function + front ads include it
  automation/front-index-auto-advertiser.cjs
  automation/frontpage-advertiser.cjs
  netlify/functions/autonomous-cloud-inventor.js
  pages/main/front/index.tsx
Labels: frontend, automation

feat(automation): add perf-budget-enforcer, stale-content-refresher, docs-glossary-builder; advertise on home/front; fix netlify schedule conflict
  automation/docs-glossary-builder.cjs
  automation/perf-budget-enforcer.cjs
  automation/stale-content-refresher.cjs
  netlify.toml
  netlify/functions/docs-glossary-builder.js
  netlify/functions/functions-manifest.json
  netlify/functions/perf-budget-enforcer.js
  netlify/functions/stale-content-refresher.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat: add orphan-page auditor, meta OG enhancer, RSS feed + homepage links; schedule netlify functions [skip ci]
  automation/meta-og-enhancer.cjs
  automation/orphan-page-auditor.cjs
  automation/rss-feed-generator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/meta-og-enhancer-runner.js
  netlify/functions/orphan-page-audit-runner.js
  netlify/functions/rss-feed-generator.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): autonomous Roadmap generator + Netlify schedule; advertise on front + hub; resolve netlify.toml conflict; initial report
  automation/roadmap-orchestrator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/roadmap-runner.js
  package.json
  pages/automation/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
