Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Remove CI workflow, add ESLint config, update functions manifest and site footer
  .eslintrc.js
  .github/workflows/continuous-integration.yml
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tsconfig.tsbuildinfo
Labels: workflows, config

automation: trigger autonomous-cloud-automations workflow specifically
  autonomous-cloud-automations-trigger.md
Labels: none

automation: trigger autonomous-cloud-runner workflow specifically
  autonomous-cloud-runner-trigger.md
Labels: none

automation: trigger autonomous-cloud-orchestrator workflow specifically
  autonomous-cloud-orchestrator-trigger.md
Labels: none

🤖 Add revenue-ideas-daily report [skip ci]
  revenue-ideas-daily-report.md
Labels: none

automation: trigger autonomous-cloud-maintenance workflow specifically
  autonomous-cloud-maintenance-trigger.md
Labels: none

🤖 Add autonomous-auto-discovery report [skip ci]
  autonomous-auto-discovery-report.md
Labels: none

automation: trigger autonomous-cloud-deep-research workflow specifically
  autonomous-cloud-deep-research-trigger.md
Labels: none

automation: trigger autonomous-cloud-marketing workflow specifically
  autonomous-cloud-marketing-trigger.md
Labels: none

automation: trigger autonomous-cloud-orchestrator-plus workflow specifically
  autonomous-cloud-orchestrator-plus-trigger.md
Labels: none

automation: trigger autonomous-cloud-agents workflow specifically
  autonomous-cloud-agents-trigger.md
Labels: none

automation: trigger autonomous-cloud-agents-fast workflow specifically
  autonomous-cloud-agents-fast-trigger.md
Labels: none

automation: trigger autonomous-cloud-factory workflow specifically
  autonomous-cloud-factory-trigger.md
Labels: none

automation: trigger autonomous-cloud-factory-automation workflow specifically
  autonomous-cloud-factory-automation-trigger.md
Labels: none

automation: trigger autonomous-cloud-factory-proliferation workflow specifically
  autonomous-cloud-factory-proliferation-trigger.md
Labels: none

automation: trigger exponential-agent-factory-proliferation workflow specifically
  exponential-agent-factory-proliferation-trigger.md
Labels: none

automation: trigger agent-factory-proliferation workflow specifically
  agent-factory-proliferation-trigger.md
Labels: none

automation: trigger diverse-agent-matrix workflow specifically
  diverse-agent-matrix-trigger.md
Labels: none

automation: trigger infinite-improvement-loop workflow specifically
  infinite-improvement-loop-trigger.md
Labels: none

Add footer to metadata report page with site navigation links
  netlify/functions/functions-manifest.json
  public/reports/metadata/index.html
  tsconfig.tsbuildinfo
Labels: config

automation: trigger exponential-ai-delegation workflow specifically
  exponential-ai-delegation-trigger.md
Labels: none

Add workflow validation script to check GitHub Actions YAML syntax
  validate-all-workflows.sh
Labels: none

🤖 Add topics-and-clusters report [skip ci]
  topics-and-clusters-report.md
Labels: none

Add ESLint config, continue-on-error for smoke tests, and minor updates
  .eslintrc.js
  .github/workflows/ci.yml
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tsconfig.tsbuildinfo
Labels: workflows, config

🤖 Add dead-code-report report [skip ci]
  dead-code-report-report.md
Labels: none

🤖 Add security-audit report [skip ci]
  security-audit-report.md
Labels: none

Add pull-requests permission and retention-days to workflows
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/autonomous-meta.yml
  .github/workflows/dependency-maintenance.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/security-auto-heal.yml
  .github/workflows/security-gates.yml
  .github/workflows/security-scan.yml
  .github/workflows/sitemap-auto-commit.yml
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tsconfig.tsbuildinfo
  workflow-testing-report.md
Labels: workflows, config, marketing

Update ESLint config, test adjustments, and add footer to reports page
  eslint.config.js
  netlify/functions/functions-manifest.json
  package.json
  playwright-report/index.html
  public/reports/metadata/index.html
  public/reports/workflows/latest.json
  public/reports/workflows/report-2025-08-18T16-52-16-390Z.json
  test-results/.last-run.json
  tests/smoke.spec.ts
  tsconfig.tsbuildinfo
Labels: config

🤖 Add ai-changelog report [skip ci]
  ai-changelog-report.md
Labels: none

Update functions manifest, package scripts, and add footer to HTML
  netlify/functions/functions-manifest.json
  package.json
  playwright-report/index.html
  public/reports/metadata/index.html
  public/reports/workflows/latest.json
  public/reports/workflows/report-2025-08-18T16-47-04-320Z.json
  test-results/.last-run.json
  tsconfig.tsbuildinfo
  workflow-testing-summary.md
Labels: config

Refactor: Improve type safety and code quality across multiple components
  .eslintrc.js
  components/Form.tsx
  netlify/functions/functions-manifest.json
  pages/500.tsx
  pages/_document.tsx
  pages/about.tsx
  pages/api-documentation.tsx
  pages/automation-health.tsx
  pages/blog/ai-automation-trends-2025.tsx
  pages/blog/index.tsx
  pages/events/index.tsx
  pages/index.tsx
  pages/privacy.tsx
  pages/terms.tsx
  pages/user-management.tsx
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tests/smoke.spec.ts
  tsconfig.tsbuildinfo
Labels: frontend, config

🤖 Add netlify-functions-trigger report [skip ci]
  netlify-functions-trigger-report.md
Labels: none

Fix GitHub Actions workflows: permissions, artifacts, and structure
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/autonomous-meta.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/dependency-maintenance.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/playwright-smoke.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/security-auto-heal.yml
  .github/workflows/security-gates.yml
  .github/workflows/security-scan.yml
  .github/workflows/sitemap-auto-commit.yml
  package-lock.json
  package.json
  workflow-fixes-summary.md
Labels: workflows, config, marketing

Update dependencies, add security scanner, and enhance project configuration
  .eslintrc.js
  automation/security-scanner.cjs
  netlify/functions/functions-manifest.json
  package-lock.json
  package.json
  playwright-report/data/1628339e1739e8466d3eb49d628dca1cd02e905b.md
  playwright-report/data/2fdef2ef4e6d066fe83409306bd68d788b216424.png
  playwright-report/data/30c7d19c970be92e765fdafa5ff9c1e5e75f452d.md
  playwright-report/data/51b4f0910fb541433105c30d066c3802dbc972cf.png
  playwright-report/data/9caaf87c69059aace87db92edaeb85cbc139f023.png
  playwright-report/data/9fe1cae6671c57c1112f62a3e84b6bc15ace72ba.png
  playwright-report/data/ada976fa340dfb8ccf3403b33ebe6a20e8c3275f.md
  playwright-report/data/d0197fd1312fb9abed23cee5ff322a1b02bef152.md
  playwright-report/index.html
  public/reports/metadata/index.html
  security-scan-results.json
  test-results/.last-run.json
  test-results/smoke-Smoke-Tests-explore-page-loads-successfully-chromium/error-context.md
  test-results/smoke-Smoke-Tests-explore-page-loads-successfully-chromium/test-failed-1.png
  test-results/smoke-Smoke-Tests-front-page-loads-successfully-chromium/error-context.md
  test-results/smoke-Smoke-Tests-front-page-loads-successfully-chromium/test-failed-1.png
  test-results/smoke-Smoke-Tests-homepage-loads-successfully-chromium/error-context.md
  test-results/smoke-Smoke-Tests-homepage-loads-successfully-chromium/test-failed-1.png
  test-results/smoke-Smoke-Tests-newsroom-page-loads-successfully-chromium/error-context.md
  test-results/smoke-Smoke-Tests-newsroom-page-loads-successfully-chromium/test-failed-1.png
  tsconfig.tsbuildinfo
Labels: automation, config, security

Fix GitHub Actions workflows: Add error handling and summary steps
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/auto-fix.yml
  .github/workflows/autonomous-meta.yml
  .github/workflows/cloud-maintenance.yml
  .github/workflows/cloud-marketing.yml
  .github/workflows/continuous-improvement.yml
  .github/workflows/cursor-rules-autoupdate.yml
  .github/workflows/dependency-maintenance.yml
  .github/workflows/diverse-agent-matrix.yml
  .github/workflows/frontend-sync-continuous.yml
  .github/workflows/git-health.yml
  .github/workflows/infinite-improvement-loop.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/monetization-daily.yml
  .github/workflows/monetization.yml
  .github/workflows/netlify-monitor.yml
  .github/workflows/performance-weekly.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/sync-health.yml
  .github/workflows/ui-evolution-schedule.yml
  .github/workflows/ui-evolution-weekly-beautify.yml
  tests/smoke.spec.ts
Labels: workflows, config, marketing

Update functions manifest, add footer, and generate Playwright report
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tsconfig.tsbuildinfo
Labels: config

Update smoke tests, add footer, and create ESLint config
  .eslintrc.json
  netlify/functions/functions-manifest.json
  playwright-report/data/51b4f0910fb541433105c30d066c3802dbc972cf.png
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tests/smoke.spec.ts
  tsconfig.tsbuildinfo
Labels: config

Add footer to reports page and update functions manifest
  .eslintrc.json
  data/reports/repo-knowledge-graph.json
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-all-workflows-local.sh
  test-results/.last-run.json
  test-workflow-local.sh
  test-workflows-simple.sh
  tsconfig.tsbuildinfo
Labels: config

Fix CI workflow issues: add ESLint config, fix smoke tests, and install dependencies
  .eslintrc.json
  package-lock.json
  package.json
  tests/smoke.spec.ts
Labels: config

Update functions manifest, add footer, and generate Playwright report
  netlify/functions/functions-manifest.json
  playwright-report/index.html
  public/reports/metadata/index.html
  test-results/.last-run.json
  tsconfig.tsbuildinfo
Labels: config
