Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

improve live static fallback pricing, industries, case studies CTAs
  docs/industries/index.html
  docs/pricing/index.html
  public/industries/index.html
  public/pricing/index.html
Labels: none

upgrade 5 confirmed static fallback pages with stronger SEO + CTAs
  docs/about/index.html
  docs/blog/index.html
  docs/contact/index.html
  docs/managed-ai-services/index.html
  docs/managed-it-services/index.html
  public/about/index.html
  public/blog/index.html
  public/contact/index.html
  public/managed-ai-services/index.html
  public/managed-it-services/index.html
Labels: none

sync improved static fallbacks; refresh case studies lead+meta
  docs/case-studies/index.html
  public/case-studies/index.html
Labels: none

feat: Add dedicated industry landing pages and improve navigation
  app/components/Footer.tsx
  app/constants/navigation.ts
  app/industries/ai-agents/page.tsx
  app/industries/education/page.tsx
  app/industries/energy/page.tsx
  app/industries/financial/page.tsx
  app/industries/healthcare/page.tsx
  app/industries/legal/page.tsx
  app/industries/logistics/page.tsx
  app/industries/manufacturing/page.tsx
  app/industries/media/page.tsx
  app/industries/technology/page.tsx
  app/tools/page.tsx
Labels: none

improve app routes for pricing, partners, proposals, and faq
  app/faq/page.tsx
  app/partners/page.tsx
  app/pricing/page.tsx
  app/proposals/page.tsx
Labels: none

fix homepage CTA link from /solutions/ to /services/ labeled Solutions
  app/page.tsx
Labels: none

fix: replace dead /configurator CTAs, upgrade success stories, sync redirects
  app/ai-lab/page.tsx
  app/ai-services/page.tsx
  app/components/AgentDashboard.tsx
  app/components/PricingEstimator.tsx
  app/components/ProductPageLayout.tsx
  app/components/ServiceCTA.tsx
  app/components/ServiceMatchQuiz.tsx
  app/components/StickyMobileCTA.tsx
  app/consulting/page.tsx
  app/cookies/page.tsx
  app/services/ai-chronic-disease-tracker/page.tsx
  app/success-stories/page.tsx
  app/tools/ai-service-router/page.tsx
Labels: none

chore: resolve rebase merge state for outreach ledger
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: none

chore: replace remaining /configurator refs with /contact; clean automation/reports from index
  app/5g-solutions/page.tsx
  app/ai-lab/page.tsx
  app/ai/solutions-configurator/page.tsx
  app/api-development/page.tsx
  app/blockchain-solutions/page.tsx
  app/components/AgentDashboard.tsx
  app/components/HomepageEnhancements.tsx
  app/industries/energy-utilities/page.tsx
  app/industries/financial-services-fintech/page.tsx
  app/industries/healthcare-life-sciences/page.tsx
  app/industries/legal-compliance/page.tsx
  app/industries/media-entertainment/page.tsx
  app/industries/retail-ecommerce/page.tsx
  app/industries/technology-saas/page.tsx
  app/industry-solutions/page.tsx
  app/use-cases/page.tsx
  automation/reports/.gitkeep
  automation/reports/site-health/latest.txt
  components/Navigation.tsx
  components/ServiceMatchQuiz.tsx
Labels: frontend, automation

add serviceStats.json to fix homepage service counter display
  public/data/serviceStats.json
Labels: none

upgrade proposals fallback and clean dead industry route links
  docs/ai-solutions/index.html
  docs/blog/index.html
  docs/industries/healthcare-life-sciences/index.html
  docs/industries/insurance/index.html
  docs/industries/legal/index.html
  docs/industries/technology-saas/index.html
  docs/resources/index.html
  docs/solutions/healthcare/index.html
  public/blog/index.html
  public/privacy/index.html
  public/proposals/index.html
  public/terms/index.html
Labels: none

add SEO metadata to case-studies and industries app routes
  app/case-studies/page.tsx
  app/industries/page.tsx
  public/services/ai-computer-vision-quality-inspection/index.html
  public/services/ai-knowledge-base-rag-platform/index.html
  public/services/managed-observability-247/index.html
Labels: none

Auto-deploy: 5 new service landing pages from pipeline deployer
  app/data/servicesData.json
  app/services/dashboard-creation-ai-powered-threat-detection-system-84530f8d/page.tsx
  app/services/document-management-zero-trust-identity--access-manager-b6b99fe3/page.tsx
  app/services/emotion-ai-ai-supply-chain-optimization-cb203730/page.tsx
  app/services/employee-engagement-intelligent-document-processing-ai-7b5a4bb5/page.tsx
  app/services/pricing-optimization-real-time-data-pipeline-platform-7389d06c/page.tsx
  app/services/process-mining-intelligent-document-processing-ai-1c545179/page.tsx
  app/services/regulatory-reporting-ai-powered-market-intelligence-2fec213b/page.tsx
  app/services/revenue-cycle-management-ai-powered-data-quality-manager-785b890a/page.tsx
  app/services/serverless-optimization-autonomous-customer-service-ai-82238de3/page.tsx
  app/services/serverless-optimization-zero-trust-identity--access-manager-7cdf7bae/page.tsx
Labels: none

tighten services schema description
  app/services/page.tsx
Labels: none

upgrade pricing and partners CTAs
  docs/partners/index.html
  docs/pricing/index.html
  public/partners/index.html
  public/pricing/index.html
Labels: none

add sitemap.xml and robots.txt for crawlability
  docs/robots.txt
  docs/sitemap.xml
  public/robots.txt
  public/sitemap.xml
Labels: none

remove shadowing app routes and add services fallback
  _archive/app/page.tsx
  _archive/app/services/page.tsx
  app/services/page.tsx
  docs/services/index.html
  docs/use-cases/index.html
Labels: none

content: add revenue operations, customer success, how-it-works pages and sitemap entries
  public/customer-success/index.html
  public/how-it-works/index.html
  public/revenue-operations/index.html
  public/sitemap.xml
Labels: none

docs: Add industry landing pages and improve tools hub
  docs/industries/education/index.html
  docs/industries/energy/index.html
  docs/industries/financial/index.html
  docs/industries/healthcare/index.html
  docs/industries/index.html
  docs/industries/legal/index.html
  docs/industries/logistics/index.html
  docs/industries/manufacturing/index.html
  docs/industries/technology/index.html
  docs/tools/index.html
Labels: none

add vip onboarding fallback and homepage discovery link
  docs/index.html
  docs/vip-onboarding/index.html
  public/vip-onboarding/index.html
Labels: none

add free ai it tools fallback page
  docs/free-ai-it-tools/index.html
Labels: none

add guaranteed-it-services fallback page
  docs/guaranteed-it-services/index.html
  public/guaranteed-it-services/index.html
Labels: none

add why-zion fallback and homepage discovery link
  docs/index.html
  docs/why-zion/index.html
  public/why-zion/index.html
Labels: none

add ai pilot program fallback and homepage discovery link
  docs/ai-pilot-program/index.html
  docs/index.html
  public/ai-pilot-program/index.html
Labels: none

fix: resolve TypeScript errors in industry pages and components
  app/industries/ai-agents/page.tsx
  app/industries/education/page.tsx
  app/industries/energy/page.tsx
  app/industries/legal/page.tsx
  app/industries/logistics/page.tsx
  app/industries/media/page.tsx
  app/industries/page.tsx
  app/industries/technology/page.tsx
  components/ImplementationTimeline.tsx
  components/ROICalculator.tsx
  components/ReviewsSection.tsx
Labels: frontend

add rapid ai adoption fallback and homepage discovery link
  docs/index.html
  docs/rapid-ai-adoption/index.html
  public/rapid-ai-adoption/index.html
Labels: none

add customer success management fallback and homepage discovery link
  docs/customer-success-management/index.html
  docs/index.html
  public/customer-success-management/index.html
Labels: none

docs: remove old financial-services directory
  docs/industries/financial-services/index.html
Labels: none

Improve case studies conversion and cross-linking
  app/case-studies/page.tsx
  app/components/HomepageTestimonialProof.tsx
Labels: none

add change management fallback and homepage discovery link
  docs/change-management/index.html
  public/change-management/index.html
Labels: none

restore homepage discovery links after rebase
  docs/index.html
Labels: none

add executive advisory fallback and restore homepage discovery links
  docs/executive-advisory/index.html
  docs/index.html
  public/executive-advisory/index.html
Labels: none

Enrich case-study static fallback and keep app conversion updates
  docs/case-studies/index.html
  public/case-studies/index.html
Labels: none

add enterprise automation fallback and homepage discovery link
  docs/enterprise-automation/index.html
  docs/index.html
  public/enterprise-automation/index.html
Labels: none

add partner program fallback and homepage discovery link
  docs/index.html
  docs/partner-program/index.html
  public/partner-program/index.html
Labels: none

add partner program and results fallbacks plus homepage links
  docs/results/index.html
  public/results/index.html
Labels: none

add results fallback and homepage discovery link
  docs/index.html
Labels: none

Add richer static service catalog fallback with categories and CTAs
  public/services/index.html
Labels: none

add ai roi calculator fallback and homepage discovery link
  docs/ai-roi-calculator/index.html
  docs/index.html
  public/ai-roi-calculator/index.html
Labels: none

add business impact fallback and homepage discovery link
  docs/business-impact/index.html
  docs/index.html
  public/business-impact/index.html
Labels: none
