Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

Refactor services data structure and update service definitions
  src/data/comprehensiveServices.ts
Labels: none

Add new innovative micro SAAS services and update services pages
  data/enhanced-real-micro-saas-services.ts
  src/pages/ServicesShowcase.tsx
  src/pages/services/ServicesOverview.tsx
Labels: none

Enhance README with comprehensive service documentation and futuristic design features - Complete overview of all micro SAAS services, pricing, and technical specifications
  README.md
Labels: docs

Update dependencies and resolve package-lock.json conflicts
  package-lock.json
  package.json
  src/pages/Careers.tsx
  src/pages/News.tsx
  src/pages/Partners.tsx
  src/pages/Testimonials.tsx
  src/pages/solutions/EnterpriseSolutions.tsx
  src/pages/solutions/FinancialSolutions.tsx
  src/pages/solutions/GovernmentSolutions.tsx
  src/pages/solutions/HealthcareSolutions.tsx
  src/pages/solutions/ManufacturingSolutions.tsx
  src/pages/solutions/RetailSolutions.tsx
  yarn.lock
Labels: none

Add AI, Cloud DevOps, and Enterprise Solutions pages
  src/pages/AIServices.tsx
  src/pages/CloudDevOps.tsx
  src/pages/EnterpriseSolutions.tsx
Labels: none

Add comprehensive Careers page and integrate enhanced services showcase - Complete integration of enhancement branch improvements
  src/App.tsx
  src/pages/Careers.tsx
Labels: none

Optimize performance, add performance monitor, and enhance SEO components
  src/App.tsx
  src/components/PerformanceMonitor.tsx
  src/components/SEO.tsx
  src/index.css
  src/pages/Home.tsx
  vite.config.ts
Labels: none

Chore: Update yarn.lock dependencies and resolve package conflicts
  yarn.lock
Labels: none

Fix build issues: resolve merge conflicts and add missing components - QuoteRequestForm and fix AppHeader import
  dist/index.html
  package-lock.json
  src/components/QuoteRequestForm.tsx
  src/pages/Blog.tsx
  src/pages/RequestQuote.tsx
  yarn.lock
Labels: none

Enhance header, home page performance, accessibility, and design
  src/components/Header.tsx
  src/index.css
  src/pages/Home.tsx
Labels: none

feat(services): integrate Services Hub, AI Services, and IT Services pages; update navigation; successful builds
  dist/index.html
  src/App.tsx
  src/layout/MainNavigation.tsx
  src/pages/AIServicesPage.tsx
  src/pages/ITServicesPage.tsx
  src/pages/ServicesHubPage.tsx
Labels: none

Update dependencies and resolve package-lock.json merge conflicts
  package-lock.json
  package.json
  src/pages/Careers.tsx
  src/pages/Pricing.tsx
  yarn.lock
Labels: none

Resolve tailwind.config.ts merge conflicts; add CloudDevOps and EnterpriseSolutions pages; fix imports; green build
  src/App.tsx
  src/pages/CloudDevOpsServices.tsx
  src/pages/EnterpriseSolutions.tsx
  tailwind.config.ts
Labels: none

✨ Enhanced Services Page: Added search/filter functionality, improved UX, better SEO, modern design patterns, and enhanced service cards with ratings, pricing, and tags
  src/pages/Services.tsx
Labels: none

Update asset references in index.html for new build
  dist/index.html
Labels: none

Refactor imports, update dependencies, and optimize component structure
  dist/index.html
  src/App.tsx
  src/pages/Home.tsx
  yarn.lock
Labels: none

Add comprehensive Partners page with partnership types, current partners, and collaboration opportunities - Technology, Channel, Strategic, and Implementation partnerships
  src/pages/Partners.tsx
Labels: none

Refactor pages to use default exports and simplify component structure
  src/pages/Blog.tsx
  src/pages/FAQ.tsx
  src/pages/HelpCenter.tsx
  src/pages/RequestQuote.tsx
Labels: none

🚀 Implement comprehensive improvements for Zion Tech Group application - clean implementation
  DEPLOYMENT-INSTRUCTIONS.md
  IMPROVEMENTS-IMPLEMENTED.md
  package.json
  src/App.tsx
  src/AppWrapper.tsx
  src/components/AccessibilityControls.tsx
  src/components/ErrorBoundary.tsx
  src/components/LoadingSkeleton.tsx
  src/components/SEO.tsx
  src/components/ScrollToTop.tsx
  src/components/conflicted/RequestQuote.tsx
  src/components/conflicted/listings.ts
  src/components/conflicted/utils.ts
  src/hooks/usePerformance.ts
  src/main.tsx
  src/pages/Home.tsx
  vite.config.ts
Labels: docs

feat: add explicit service routes (AI, Cloud DevOps, Enterprise, Digital Transformation); fix tailwind conflicts earlier; ensure build passes with terser
  dist/index.html
  package-lock.json
  package.json
  src/App.tsx
  yarn.lock
Labels: none

fix: remove nonexistent service.rating usage in Services page; green build on main
  dist/index.html
  src/pages/Services.tsx
Labels: none

Fix merge conflict and update footer links to contact page
  src/pages/Services.tsx
Labels: none

Fix duplicate declarations in App.tsx
  src/App.tsx
Labels: none

Resolve merge conflicts in netlify.toml configuration
  netlify.toml
Labels: none

Update dependencies and build artifacts
  dist/index.html
  yarn.lock
Labels: none

Update GitHub workflows with concurrency, permissions, and minor improvements
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/yaml-validator.yml
Labels: automation

Enhance service showcase and overview pages with advanced features: favorites, comparison, advanced filtering, grid/list views, statistics, and improved UI/UX
  dist/index.html
  src/pages/InnovativeServicesShowcase.tsx
  src/pages/ServicesOverview.tsx
Labels: none

Add comprehensive improvements summary document - complete overview of all enhancements and new services
  IMPROVEMENTS_SUMMARY.md
Labels: docs

Resolve all merge conflicts and enhance Home page with modern design and animations
  src/pages/Home.tsx
Labels: none

Update summary document with completed merge conflict resolution and enhancements
  NEW_SERVICES_SUMMARY.md
Labels: docs

Complete app enhancement: New services, futuristic design, fixed all build errors
  dist/index.html
  dist/robots.txt
  dist/sitemap.xml
  dist/sw.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/AdvancedServicesShowcase.tsx
  src/components/Footer.js
  src/components/FooterNewsletter.tsx
  src/components/QuoteRequestForm.tsx
  src/data/advancedMicroSaasServices.ts
  src/pages/Blog.tsx
  src/pages/Home.tsx
  src/pages/ITOnsiteServicesPage.tsx
  src/pages/MicroSaasServices.tsx
  src/pages/RequestQuote.tsx
  src/pages/Services.tsx
  yarn.lock
Labels: none

Fix remaining build errors: SEO props and Robot icon references
  dist/index.html
  src/pages/Mission.tsx
  src/pages/Team.tsx
  src/pages/services/AIAutonomousSystems.tsx
  src/pages/services/Cybersecurity.tsx
  src/pages/services/ITInfrastructure.tsx
  src/pages/services/IndustrySolutions.tsx
  src/pages/services/MicroSAASSolutions.tsx
  src/pages/services/QuantumTechnology.tsx
  src/pages/services/ServicesOverview.tsx
Labels: none

chore: Update GitHub Actions workflows and improve script efficiency
  .github/workflows/agent-factory.yml
  .github/workflows/ai-pr-review.yml
  .github/workflows/auto-pr-cursor-branches.yml
  .github/workflows/build-monitor-ultimate-backup.yml
  .github/workflows/ci.yml
  .github/workflows/codex-fix.yml
  .github/workflows/generate-tests.yml
  .github/workflows/hourly-check.yml
  .github/workflows/hourly-jest-coverage.yml
  .github/workflows/lint-autofix-schedule.yml
  .github/workflows/marketing-sync-backup-backup.yml
  .github/workflows/netlify-status.yml
  .github/workflows/scheduled-audits.yml
  .github/workflows/scheduled-test-retry.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/sync-health-backup-backup.yml
  .github/workflows/topics-and-clusters.yml
  .github/workflows/track-todos.yml
  .github/workflows/ultimate-redundancy-automation.yml
Labels: automation

chore(pm2): add missing PM2 workers, fix ecosystem repo, enable logrotate on deploy
  automation/autonomous-system-manager.cjs
  automation/link-health-scheduler.cjs
  automation/ml-link-intelligence.cjs
  automation/real-time-performance-monitor.cjs
  ecosystem.config.js
Labels: automation

chore(pm2): add npm helpers and PM2 docs section
  AUTONOMOUS_SYSTEM_README.md
  package.json
Labels: docs

chore(pm2): add healthcheck and startup helper scripts
  package.json
  pm2-healthcheck.sh
Labels: none

chore(pm2): add ecosystem.config.cjs and point npm scripts to it
  ecosystem.config.cjs
  package.json
Labels: none

Add advanced AI services data model and update other service interfaces
  src/data/advancedAIServices.ts
  src/data/emergingTechServices.ts
  src/data/innovativeMicroSaasServices.ts
  src/data/specializedITServices.ts
  yarn.lock
Labels: none

ci: harden workflows (CI, self-heal, rapid-sync, release-drafter)
  .github/ci-self-heal.yml
  .github/ci.yml
  .github/rapid-sync.yml
  .github/release-drafter.yml
  automation/logs/autonomous-system-manager.runtime.log
  automation/logs/link-health-scheduler.runtime.log
  automation/logs/ml-link-intelligence.runtime.log
  automation/logs/real-time-performance-monitor.runtime.log
  logs/autonomous-ai-manager-error.log
  logs/autonomous-ai-manager-out.log
  logs/autonomous-ai-manager.log
  logs/link-scheduler-error.log
  logs/link-scheduler-out.log
  logs/link-scheduler.log
  logs/ml-intelligence-error.log
  logs/ml-intelligence-out.log
  logs/ml-intelligence.log
  logs/real-time-monitor-error.log
  logs/real-time-monitor-out.log
  logs/real-time-monitor.log
Labels: automation

fix(netlify): remove hardcoded tokens; use GH_TOKEN; redact test data
  automation/logs/autonomous-system-manager.runtime.log
  automation/logs/ml-link-intelligence.runtime.log
  automation/logs/real-time-performance-monitor.runtime.log
  comprehensive-pr-merge.sh
  data.disabled/reports/sync/sync-health.json
  merge_open_prs_systematic.sh
  merge_prs_python.py
  yarn.lock
Labels: automation
