Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

🤖 Add external-link-check-runner report [skip ci]
  external-link-check-runner-report.md
Labels: none

🤖 Add fast-front-promoter report [skip ci]
  fast-front-promoter-report.md
Labels: none

🤖 Add fast-orchestrator report [skip ci]
  fast-orchestrator-report.md
Labels: none

🤖 Automated sync via cloud orchestrator [skip ci]
  netlify/functions/fast-front-promoter.js
  netlify/functions/marketing-and-features-promo.js
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
  automation/netlify-build-stamp.txt
Labels: automation

🤖 Add features-capabilities-benefits-advertiser report [skip ci]
  features-capabilities-benefits-advertiser-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add front-ads-promoter report [skip ci]
  front-ads-promoter-report.md
Labels: none

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Add front-enhancer report [skip ci]
  front-enhancer-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Add front-index-orchestrator report [skip ci]
  front-index-orchestrator-report.md
Labels: none

🤖 Add ai-trends-radar-runner report [skip ci]
  ai-trends-radar-runner-report.md
Labels: none

🤖 Add anchor-links-auto-fixer report [skip ci]
  anchor-links-auto-fixer-report.md
Labels: none

🤖 Add front-maximizer report [skip ci]
  front-maximizer-report.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

Improve workflow health check script and add smart merge agent workflow
  .github/workflows/smart-merge-agent.yml
  scripts/workflow-health-check.sh
Labels: workflows, config

🤖 Add front-visionary-expander report [skip ci]
  front-visionary-expander-report.md
Labels: none

🤖 Add frontpage-enhancer report [skip ci]
  frontpage-enhancer-report.md
Labels: none

🤖 Add headers-enforcer report [skip ci]
  headers-enforcer-report.md
Labels: none

🤖 Add home-visionary-expander report [skip ci]
  home-visionary-expander-report.md
Labels: none

🤖 Add homepage_advertiser report [skip ci]
  homepage-advertiser-report.md
Labels: none

Enhance workflow health check and add comprehensive testing tools
  WORKFLOW_TESTING_GUIDE.md
  WORKFLOW_TESTING_SUMMARY.md
  scripts/setup-github-tokens.sh
  scripts/test-workflows-local.sh
  scripts/test-workflows-systematically.sh
  scripts/workflow-health-check.sh
  workflow-local-reports/summary-20250818-165041.txt
  workflow-local-reports/workflow-local-report-20250818-165041.txt
Labels: none

🤖 Add hyper-front-index-accelerator report [skip ci]
  hyper-front-index-accelerator-report.md
Labels: none

🤖 Add image-optimizer-runner report [skip ci]
  image-optimizer-runner-report.md
Labels: none

🤖 Add innovation-lab report [skip ci]
  innovation-lab-report.md
Labels: none

workflow: trigger workflow-manager workflow specifically
  workflow-manager-trigger.md
Labels: none

🤖 Add intelligent-meta-orchestrator report [skip ci]
  intelligent-meta-orchestrator-report.md
Labels: none

🤖 Add internal-link-graph-runner report [skip ci]
  internal-link-graph-runner-report.md
Labels: none

🤖 Add knowledge-pack-runner report [skip ci]
  knowledge-pack-runner-report.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add license-compliance-auditor report [skip ci]
  license-compliance-auditor-report.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add link-and-health-scheduler report [skip ci]
  link-and-health-scheduler-report.md
Labels: none

🤖 Add marketing-and-features-promo report [skip ci]
  marketing-and-features-promo-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add metadata-optimizer-runner report [skip ci]
  metadata-optimizer-runner-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add netlify-auto-healer-runner report [skip ci]
  netlify-auto-healer-runner-report.md
Labels: none
