Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Add missing run_all.cjs script for rapid-sync workflow
  scripts/automations/run_all.cjs
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

Trigger workflow validation by updating test workflow
  .github/workflows/test.yml
Labels: workflows, config

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

security: trigger gitleaks workflow specifically
  gitleaks-trigger.md
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

performance: trigger lighthouse-live workflow specifically
  lighthouse-live-trigger.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

Implement 14 Netlify functions and add comprehensive testing report
  .gitignore
  automation/netlify-build-stamp.txt
  netlify-functions-testing-report.md
  netlify/functions/auto-scheduler.js
  netlify/functions/broken-image-scanner.js
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/front-enhancer.js
  netlify/functions/functions-manifest.json
  netlify/functions/headers-enforcer.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/innovation-lab.js
  netlify/functions/marketing-and-features-promo.js
  netlify/functions/readme-advertiser.js
  netlify/functions/security-audit-runner.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/sitemap_runner.js
  public/reports/metadata/index.html
Labels: automation, config

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

deploy: trigger netlify-monitor workflow specifically
  netlify-monitor-trigger.md
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Ultra-fast orchestration via Netlify function [skip ci]
  ULTRAFAST_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

ci: trigger yaml-validator workflow specifically
  yaml-validator-trigger.md
Labels: none
