Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Update Netlify functions manifest and build timestamp
  automation/netlify-build-stamp.txt
  netlify/functions/functions-manifest.json
Labels: automation, config

chore(netlify): schedule meta-accelerator function every 2 minutes
  netlify.toml
  netlify/functions/functions-manifest.json
Labels: config

Add autonomous functions for repo insights, architecture graph, and UX scanning
  netlify.toml
  netlify/functions/architecture-graph.js
  netlify/functions/functions-manifest.json
  netlify/functions/repo-insights-digest.js
  netlify/functions/ux-issues-scanner.js
  pages/index.tsx
Labels: frontend, config

feat(automation): add cache-warmer and anchor-auditor; homepage+hub links; front promo [skip ci]
  automation/front-index-advertiser.cjs
  netlify/functions/anchor-auditor.js
  netlify/functions/cache-warmer.js
  netlify/functions/functions-manifest.json
  package-lock.json
  package.json
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automations): add new cloud automations and advertise on homepage [skip ci]
  netlify.toml
  netlify/functions/ai-trends-radar.js
  netlify/functions/autonomous-git-sync.js
  netlify/functions/autonomous-invention-lab.js
  netlify/functions/design-evolution.js
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-sprint.js
  netlify/functions/knowledge-radar.js
  netlify/functions/monetization-orchestrator.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/ui-evolution-beautify.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

feat(automation): add autonomous-innovation-studio function and UI links [skip ci]
  automation/autonomous-innovation-studio.cjs
  automation/logs/automation-guardian-10min.log
  netlify.toml
  netlify/functions/autonomous-innovation-studio.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add cache warmer, OG meta auditor, repo fitness; schedules + homepage/front links
  automation/edge-cache-warmer.cjs
  automation/og-meta-auditor.cjs
  automation/repo-fitness-score.cjs
  netlify.toml
  netlify/functions/edge-cache-warmer.js
  netlify/functions/functions-manifest.json
  netlify/functions/og-meta-auditor.js
  netlify/functions/repo-fitness-score.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automations): add new autonomous cloud functions and advertise on homepage
  netlify.toml
  netlify/functions/auto-media-release-runner.js
  netlify/functions/autonomous-invention-orchestrator.js
  netlify/functions/front-index-advertiser.js
  netlify/functions/llm-content-curator-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend

feat(automation): add content-freshness auditor and repo insights digest; advertise on front; fix netlify schedules; regen manifest
  automation/content-freshness-auditor.cjs
  automation/repo-insights-digest.cjs
  netlify.toml
  netlify/functions/content-freshness-auditor.js
  netlify/functions/functions-manifest.json
  netlify/functions/repo-insights-digest.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add UX Drift Detector, Unused Asset Cleaner, Type Tightener; advertise on front + hub; schedule functions [skip ci]
  automation/type-tightener.cjs
  automation/unused-asset-cleaner.cjs
  automation/ux-drift-detector.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/type-tightener.js
  netlify/functions/unused-asset-cleaner.js
  netlify/functions/ux-drift-detector.js
  pages/automation/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(front): advertise new autonomous cloud automations on main/front and home
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

Add new cloud automation functions for continuous deployment
  netlify.toml
  netlify/functions/autonomous-front-advertiser.js
  netlify/functions/cloud-automation-inventor.js
  netlify/functions/functions-manifest.json
  netlify/functions/hyper-sync-committer.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): automation-insights digest + homepage/front advertising
  automation/automation-insights-digest.cjs
  automation/frontpage-advertiser.cjs
  automation/homepage-updater.cjs
  netlify.toml
  netlify/functions/automation-insights-runner.js
  netlify/functions/functions-manifest.json
  public/automation/insights.json
  public/reports/automation-insights/index.html
Labels: automation, config

Add deps auto-upgrade and sitemap pinger cloud functions
  netlify.toml
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/sitemap-pinger.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

chore(front): auto-advertise Automation Insights across home/front
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

feat(automation): add Competitive Intelligence and Performance Budget autonomous cloud automations; advertise on front; schedule via Netlify + GH cron [skip ci]
  .github/workflows/autonomous-cloud-cron.yml
  automation/competitive-intel-radar.cjs
  automation/performance-budget-watcher.cjs
  data/competitors.json
  netlify.toml
  netlify/functions/competitive-intel-radar.js
  netlify/functions/functions-manifest.json
  netlify/functions/performance-budget-watcher.js
  pages/main/front/index.tsx
Labels: frontend, workflows, automation, config

feat(automations): add a11y alt-text auditor and metadata optimizer; advertise on front; schedule runners [ci skip]
  automation/a11y-alt-text-auditor.cjs
  automation/front-index-ads.cjs
  automation/front-index-auto-advertiser.cjs
  automation/metadata-optimizer.cjs
  netlify.toml
  netlify/functions/a11y-alt-text-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/metadata-optimizer-runner.js
  pages/main/front/index.tsx
  public/reports/a11y/index.html
  public/reports/a11y/latest.json
  public/reports/metadata/index.html
  public/reports/metadata/latest.json
Labels: frontend, automation, config

Add function injectors for home and front pages with dynamic function lists
  automation/front-functions-injector.cjs
  automation/home-functions-injector.cjs
  netlify.toml
  netlify/functions/front-functions-injector.js
  netlify/functions/functions-manifest.json
  netlify/functions/home-functions-injector.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add internal link graph, robots.txt enhancer, alt text indexer, and content registry (cloud‑scheduled) [skip ci]
  automation/alt-text-indexer.cjs
  automation/content-registry-builder.cjs
  automation/internal-link-graph.cjs
  automation/robots-enhancer.cjs
  data/reports/internal-link-graph.json
  netlify.toml
  netlify/functions/alt-text-indexer-runner.js
  netlify/functions/content-registry-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/robots-enhancer-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  public/automation/alt-text-index.json
  public/automation/content-registry.json
  public/automation/internal-link-graph.json
  public/robots.txt
Labels: frontend, automation, config

feat(automation): add ui-audit-runner, roadmap-curator, content-curation-lab; schedule & advertise on homepage
  netlify.toml
  netlify/functions/content-curation-lab.js
  netlify/functions/functions-manifest.json
  netlify/functions/roadmap-curator.js
  netlify/functions/ui-audit-runner.js
  pages/index.tsx
Labels: frontend, config

feat(automation): add new autonomous cloud functions and advertise on homepage [skip ci]
  netlify/functions/ai-innovation-orchestrator.js
  netlify/functions/autonomous-invention-orchestrator.js
  netlify/functions/functions-manifest.json
  netlify/functions/meta-orchestrator.js
  netlify/functions/ui-evolution-runner.js
  netlify/functions/venture-orchestrator.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

chore(conflict): resolve merge markers; add links to new reports [skip ci]
  pages/index.tsx
  public/reports/competitive-intel/data.json
  public/reports/competitive-intel/index.html
  public/reports/performance-budget/data.json
  public/reports/performance-budget/index.html
Labels: frontend, config

feat(automation): add four autonomous Netlify functions + homepage links; schedule in netlify.toml
  netlify.toml
  netlify/functions/autonomous-ad-factory.js
  netlify/functions/continuous-cloud-refiner.js
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-researcher.js
  netlify/functions/knowledge-radar-orchestrator.js
  pages/index.tsx
Labels: frontend, config

docs(front): advertise new autonomous functions on index and automation hub
  pages/automation/index.tsx
Labels: frontend

feat(automation): add A11y Auditor, Internal Link Guardian, Perf Asset Watcher; advertise on front; schedule in Netlify [skip ci]
  automation/a11y-audit.cjs
  automation/internal-link-guardian.cjs
  automation/perf-asset-watcher.cjs
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-guardian.js
  netlify/functions/perf-asset-watcher.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add deps-auto-upgrade and frontpage-advertiser cloud functions; wire homepage/front ads [skip ci]
  automation/frontpage-advertiser.cjs
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/frontpage-advertiser.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Add new automated runners for branch, deps, media, and content tasks
  automation/front-index-ads.cjs
  netlify.toml
  netlify/functions/auto-media-release-runner.js
  netlify/functions/branch-cleanup-runner.js
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/llm-content-curator-runner.js
  pages/index.tsx
Labels: frontend, automation, config

chore(netlify): refresh functions manifest
  netlify/functions/functions-manifest.json
Labels: config

Update functions manifest with expanded list of automated functions
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add SEO audit, AI trends, deps upgrade runners
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/seo-audit-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

fix(netlify): resolve schedule conflicts; include new runners
  netlify.toml
  netlify/functions/functions-manifest.json
Labels: config

Add new automated functions for SEO, AI trends, indexing, and revenue
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/front-index-directory-builder.js
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-ideas-promoter.js
  netlify/functions/seo-audit-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add Link Health Monitor automation, reports, front promos, and CI schedule
  .github/workflows/link-health.yml
  automation/front-index-advertiser.cjs
  automation/link-health-monitor.cjs
  netlify/functions/functions-manifest.json
  package.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/index.tsx
  pages/reports/link-health.tsx
  public/reports/link-health/index.html
  public/reports/link-health/latest.json
  public/reports/link-health/links.csv
Labels: frontend, workflows, automation, config

Update build and function manifest timestamps
  automation/netlify-build-stamp.txt
  netlify/functions/functions-manifest.json
Labels: automation, config

feat(automations): add SEO audit, AI trends radar, unused exports runners; advertise on homepage and front; schedule in Netlify
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/unused-exports-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/unused-exports.tsx
  scripts/automations/unused_exports_report.cjs
Labels: frontend

chore(ci): run Link Health Monitor every 15 minutes
  .github/workflows/link-health.yml
Labels: workflows, config

Add new autonomous audits for OG meta, unused media, and orphan pages
  automation/front-index-auto-advertiser.cjs
  automation/og-meta-auditor.cjs
  automation/orphan-page-finder.cjs
  automation/unused-media-report.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/og-meta-auditor.js
  netlify/functions/orphan-page-finder.js
  netlify/functions/unused-media-report.js
  pages/index.tsx
Labels: frontend, automation, config

Update functions manifest and minor UI adjustment
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

chore(automation): sync cloud functions and update homepage tools
  netlify.toml
  netlify/functions/branch-cleanup-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/redirect-healer.js
  netlify/functions/redirect-manager.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/website-search-index-runner.js
  pages/index.tsx
Labels: frontend, config

feat(automation): add new autonomous cloud functions and advertise on homepage
  netlify.toml
  netlify/functions/autonomous-code-insights.js
  netlify/functions/autonomous-commit-digest.js
  netlify/functions/autonomous-roadmap-synthesizer.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config
