Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: automations, ci, content

.github/labeler.yml:

automations:
  - changed-files:
      - any-glob-to-any-file: ['automation/**', '.github/workflows/**']
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
content:
  - changed-files:
      - any-glob-to-any-file: ['pages/**', 'components/**', 'styles/**']

Update TypeScript build info and project configuration
  tsconfig.tsbuildinfo
Labels: none

Add site automations and update homepage with AI marketplace
  .github/workflows/content-freshness.yml
  .github/workflows/knowledge-graph.yml
  automation/content-freshness-auditor.cjs
  automation/knowledge-graph-builder.cjs
  automation/link-checker.cjs
  data/reports/content-freshness/freshness-1754833224925.json
  data/reports/content-freshness/latest.json
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add autonomous feedback analysis and cloud automation features
  .github/workflows/autonomous-advertise-and-sync.yml
  .github/workflows/feedback-weekly.yml
  pages/index.tsx
  scripts/weekly-feedback-analysis.ts
Labels: automations, ci, content

Add static file serving and interactive landing page for ZionGPT
  app/__pycache__/main.cpython-313.pyc
  app/main.py
Labels: none

Add autonomous workflows, homepage, and curation pages
  .github/workflows/fast-autonomous.yml
  .github/workflows/quick-sync.yml
  pages/_app.tsx
  pages/automations/curation.tsx
  pages/automations/index.tsx
  pages/index.tsx
Labels: automations, ci, content

Checkpoint before follow-up message
  tsconfig.tsbuildinfo
Labels: none

feat(automation): add a11y, security headers, and RSS health scheduled functions; expand homepage automation showcase; schedule entries
  netlify.toml
  netlify/functions/a11y_audit.ts
  netlify/functions/rss_health.ts
  netlify/functions/security_headers_audit.ts
  pages/Home.tsx
Labels: content

Add new automated functions for link health, sitemap, and dependency audit
  netlify.toml
  netlify/functions/deep_link_health_from_index.js
  netlify/functions/osv_dependency_audit.js
  netlify/functions/sitemap_submitter.js
  pages/automation/innovations.tsx
  pages/index.tsx
Labels: content

feat(automation): add Schema Markup Bot and inject JSON-LD via _document; advertise on homepage; wire into cloud orchestrator
  automation/cloud-autonomous-orchestrator.cjs
  automation/schema-markup-generator.cjs
  components/ui/AutomationShowcase.tsx
  pages/_document.tsx
Labels: automations, content

ci: Add RSS feed ingestion, analytics dashboard, and workflow updates
  .github/workflows/automation.yml
  app/main.py
  automation.yaml
  requirements.txt
  scripts/automation/dashboard.py
  scripts/automation/rss_ingest.py
  scripts/automation/runner.py
Labels: automations, ci

Add automated accessibility audits with GitHub Actions workflow
  .github/workflows/a11y_audit.yml
  pages/index.tsx
  scripts/a11y-audit.cjs
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add intelligent agents, changelog, and automated reporting workflows
  .github/workflows/changelog-weekly.yml
  .github/workflows/forecast-daily.yml
  .github/workflows/journey-daily.yml
  pages/api/admin/forecast-report.ts
  pages/api/admin/journey-report.ts
  pages/changelog.tsx
  pages/index.tsx
  scripts/changelog-summarizer.ts
  scripts/journey-friction-analysis.ts
  scripts/market-health-forecast.ts
Labels: automations, ci, content

Add changelog generation and page with automated workflow updates
  .github/workflows/autonomous-smart-runner.yml
  automation/generate-changelog.cjs
  package.json
  pages/changelog.tsx
  pages/index.tsx
Labels: automations, ci, content

Add sitemap pinging and new workflow bots to index page
  .cspell.json
  .github/workflows/autonomous-cloud-bot-bundle.yml
  .github/workflows/autonomous-cloud-bot-todos.yml
  .github/workflows/spellcheck.yml
  automation/bundle-size-audit.cjs
  automation/scan-todos.cjs
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add prompt benchmark and governance digest automation scripts
  .github/workflows/zion-brain-benchmark.yml
  .github/workflows/zion-governance-digest.yml
  automation_logs/prompt-benchmark.json
  data/governance/digests/sample-1.digest.md
  data/governance/source/sample-1.md
  docs/zion-brain/governance-digest.md
  docs/zion-brain/prompt-benchmark.md
  package.json
  pages/index.tsx
  scripts/zion-governance-digest.cjs
  scripts/zion-prompt-benchmark.cjs
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Checkpoint before follow-up message
  tsconfig.tsbuildinfo
Labels: none

Add OG image generation workflow and homepage link
  .github/workflows/auto-og.yml
  automation/auto-og-generator.cjs
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add bundle size reporting automation with GitHub workflow
  .github/workflows/bundle-report.yml
  automation/bundle-report.cjs
  pages/automation/bundle-report.tsx
  pages/automation/index.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat(autonomy): add auto-changelog and auto-roadmap; nav Autonomy link; auto PR workflow; daily wiring
  .github/workflows/auto-pr-on-push.yml
  .github/workflows/autonomous-daily.yml
  automation/auto-changelog.cjs
  automation/auto-roadmap.cjs
  utils/tenant.ts
Labels: automations, ci

Update TypeScript build info and project configuration
  tsconfig.tsbuildinfo
Labels: none

Add automation workflows for RSS, embeddings, and reports dashboard
  .github/workflows/reports-dashboard.yml
  .github/workflows/rss-feed.yml
  .github/workflows/semantic-embeddings.yml
  automation/report-dashboard.cjs
  automation/rss-feed-generator.cjs
  automation/semantic-embeddings-builder.cjs
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat(automation+ci): add external link checker, image optimizer, Lighthouse CI; advertise on homepage; add workflows
  .github/workflows/autonomous-external-links.yml
  .github/workflows/autonomous-image-optimizer.yml
  .github/workflows/autonomous-lighthouse.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/1.pack
  .next/cache/webpack/client-production/2.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/JcaR8cbUrdBP-cNoqloNo/_buildManifest.js
  .next/static/chunks/pages/index-a93170d4ccf08eb918f4.js
  .next/static/chunks/pages/index-e5e02fe553fca1974e73.js
  .next/static/lWf-PG4mOGG8c4eXY8deE/_buildManifest.js
  .next/static/lWf-PG4mOGG8c4eXY8deE/_ssgManifest.js
  .next/trace
  automation/external-link-check.cjs
  automation/image-optimizer.cjs
  pages/index.tsx
Labels: automations, ci, content

feat(automation): add deps vuln, external link, og image, uptime, and content freshness scheduled functions; advertise on homepage; schedules in netlify.toml
  netlify.toml
  netlify/functions/content_freshness.ts
  netlify/functions/deps_vuln_audit.ts
  netlify/functions/external_link_audit.ts
  netlify/functions/og_image_audit.ts
  netlify/functions/uptime_synthetic.ts
  pages/Home.tsx
Labels: content

Add new automation functions for link audit, summary, and badges
  netlify.toml
  netlify/functions/automation_summary.js
  netlify/functions/external_link_audit.js
  netlify/functions/readme_badges_updater.js
  pages/automation/innovations.tsx
  pages/index.tsx
Labels: content

feat(home): futuristic redesign with Aurora background, neon effects, and expanded capabilities/benefits sections
  components/ui/Aurora.tsx
  pages/index.tsx
  styles/animated.css
Labels: content

Update TypeScript build info and project configuration
  tsconfig.tsbuildinfo
Labels: none

feat(automation): add canonical, structured data, sitemap integrity, and robots enforcer scheduled functions; advertise on homepage; schedules
  netlify.toml
  netlify/functions/canonical_audit.ts
  netlify/functions/robots_enforcer.ts
  netlify/functions/sitemap_integrity.ts
  netlify/functions/structured_data_audit.ts
  pages/Home.tsx
Labels: content

feat(automation): add cache headers, redirects audit, automation digest, and newsletter digest; advertise on homepage; schedules
  netlify.toml
  netlify/functions/cache_headers_audit.ts
  netlify/functions/changelog_digest.ts
  netlify/functions/newsletter_digest.ts
  netlify/functions/redirects_audit.ts
  pages/Home.tsx
Labels: content

feat(autonomy): add autonomous cloud agents (language sync, market signals, seo audit) and advertise on homepage
  .github/workflows/auto-language-sync.yml
  .github/workflows/market-signals-daily.yml
  .github/workflows/seo-audit-daily.yml
  automation/auto-language-sync.cjs
  automation/market-signals-collector.cjs
  automation/seo-audit.cjs
  pages/auto/index.tsx
  pages/auto/language-sync.tsx
  pages/auto/market-signals.tsx
  pages/auto/seo-audit.tsx
  pages/index.tsx
Labels: automations, ci, content

Add autonomous cloud automations and partner integration portal
  .github/workflows/autonomous-cloud.yml
  automation/autonomous-cloud/ai-talent-intake.cjs
  automation/autonomous-cloud/impact-metrics.cjs
  automation/autonomous-cloud/partner-kpis.cjs
  automation_logs/git-health-summary.json
  data/reports/impact/impact-latest.json
  data/reports/partners/kpis-2025-08-10.json
  data/reports/partners/kpis-latest.json
  data/talents/talents.json
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat: Add autonomous cloud agents and documentation infrastructure
  .github/workflows/autonomous-cloud-agents.yml
  automation/api-openapi-generator.cjs
  automation/cloud-autonomy-orchestrator.cjs
  automation/docs-intelligence.cjs
  automation/governance-insights.cjs
  components/layout/EnhancedNavigation.tsx
  data/reports/docs/broken-links.json
  data/reports/docs/summary.json
  data/reports/governance/summary.json
  data/reports/governance/summary.md
  next.config.js
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/about.tsx
  pages/automation/index.tsx
  pages/blockchain-solutions.tsx
  pages/contact.tsx
  pages/docs/gitbook/index.tsx
  pages/enhanced-home.tsx
  pages/index.tsx
  pages/iot-platforms.tsx
Labels: automations, ci, content

Add futuristic hero section with animated background and feature grid
  components/ui/AnimatedBackground.tsx
  components/ui/FeatureGrid.tsx
  components/ui/FuturisticCard.tsx
  components/ui/FuturisticHero.tsx
  pages/index.tsx
Labels: content

Redesign homepage with animated background and futuristic card components
  components/ui/AnimatedBackground.tsx
  components/ui/FuturisticCard.tsx
  pages/index.tsx
Labels: content

Implement autonomous cloud suite with investor matching and reporting
  .github/workflows/autonomous-cloud-suite.yml
  automation/autonomous-cloud-suite.cjs
  automation/modules/investor-autopilot.cjs
  automation_logs/git-health-summary.json
  components/layout/EnhancedNavigation.tsx
  data/autonomy/.gitkeep
  pages/api/automation/reports.ts
  pages/automation/reports.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat(autonomy): add AI release notes, taxonomy tagger, hreflang generator + homepage links + schedules
  .github/workflows/ai-release-notes-daily.yml
  .github/workflows/ai-taxonomy-daily.yml
  .github/workflows/hreflang-weekly.yml
  automation/ai-release-notes.cjs
  automation/ai-taxonomy-tagger.cjs
  automation/hreflang-generator.cjs
  pages/auto/release-notes-agent.tsx
  pages/auto/taxonomy-agent.tsx
  pages/index.tsx
Labels: automations, ci, content

Add autonomous cloud automation infrastructure and hub page
  .github/workflows/autonomous-cloud-automation.yml
  package.json
  pages/automation/index.tsx
  pages/index.tsx
  scripts/cloud-autonomous-run.js
Labels: automations, ci, content

feat: Add autonomous automation dashboard and reports
  .github/workflows/automations.yml
  automation/content-health.cjs
  automation/marketplace-insights.cjs
  automation/run-all.cjs
  automation_logs/git-health-summary.json
  components/layout/EnhancedNavigation.tsx
  data/reports/automation-status.json
  data/reports/content-health.json
  data/reports/marketplace-insights.json
  pages/automation/[slug].tsx
  pages/automation/index.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add autonomous cloud automation with metrics and status tracking
  .github/workflows/cloud-automation.yml
  automation/cloud-autonomous-orchestrator.cjs
  automation/lib/metrics-generator.cjs
  components/layout/EnhancedNavigation.tsx
  docs/reports/summary-2025-08-10.md
  package.json
  pages/automation/status.tsx
  pages/index.tsx
Labels: automations, ci, content

Refactor homepage with cyberpunk design and enhanced Zion Brain details
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Refactor homepage with futuristic design and new UI components
  components/ui/AnimatedBackground.tsx
  components/ui/FuturisticCard.tsx
  components/ui/FuturisticHero.tsx
  pages/index.tsx
Labels: content
