Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

autopm: outreach batch refresh + dry-run validation
  app/services/autonomous-ai-ops-retainer/page.tsx
  docs/services/autonomous-ai-ops-retainer/index.html
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

feat(growth): add autonomous AI ops retainer page with fallback
  public/_redirects
Labels: none

autopm: queue live inbox interest drafts
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: batch 5 AI/IT SEO pages remote support, roadmap, CX, due diligence, readiness
  app/blog/ai-ceo-playbook-2026/page.tsx
  app/blog/ai-cx-automation-retail-brazil/page.tsx
  app/blog/ai-first-remote-it-support-brazil/page.tsx
  app/blog/ai-operational-readiness-brazilian-it/page.tsx
  app/blog/ai-roadmap-for-it-departments-in-2026/page.tsx
  app/blog/ai-vendor-due-diligence-latam/page.tsx
Labels: none

autopm: compress noisy monitor_report into single rollup after bad wildcard restore
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

expedite growth: deploy seo live fallbacks, fix build blockers
  app/page.tsx
  app/seo/ai-business-proposal-automation-free-trial/page.tsx
  app/seo/ai-business-proposal-automation/page.tsx
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-tuning-free-tools/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  app/seo/ai-support-automation-playbook/page.tsx
  app/seo/data-pipeline-automation-starter-kit/page.tsx
  app/seo/it-automation-free-tools-scripts/page.tsx
  app/seo/it-freelance-automation-tools/page.tsx
  app/tools/phishing-analyzer/page.tsx
  automation/reports/next-actions-growth.md
  docs/seo/ai-business-proposal-automation-free-trial/index.html
  docs/seo/ai-business-proposal-automation/index.html
  docs/seo/ai-contact-center-automation/index.html
  docs/seo/ai-document-automation-enterprise/index.html
  docs/seo/ai-email-tuning-free-tools/index.html
  docs/seo/ai-security-operations-automation/index.html
  docs/seo/ai-support-automation-playbook/index.html
  docs/seo/data-pipeline-automation-starter-kit/index.html
  docs/seo/it-automation-free-tools-scripts/index.html
  docs/seo/it-freelance-automation-tools/index.html
  outreach_monitor/processed/next-actions-growth.md
  scripts/maintenance/renew_gog_token.py
  scripts/maintenance/renew_wrapper.sh
Labels: docs, automation

autopm: resolve monitor_report merge conflict; keep compressed rollup
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

autopm: add subject suppression script; protect outreach pacing
  lead-crm/subject_suppression.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/dedupe_subject_suppression.py
Labels: automation

growth: deploy free AI readiness audit lead capture page
  docs/free-ai-readiness-audit/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: deploy AI readiness free assessment lead capture
  docs/ai-readiness-free-assessment/index.html
Labels: none

growth: add mobile and desktop app lead capture pages
  docs/desktop-app/index.html
  docs/mobile-app/index.html
Labels: none

autopm: wire same-subject suppression into live send path + fix prompt leak
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

autopm: resolve monitor_report jsonl conflict and keep rollup
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: batch 5 buyer-decision-stage SEO pages for manufacturing, finance, fraud, digital twin, RPA
  app/blog/ai-computer-vision-quality-inspection-brazil/page.tsx
  app/blog/ai-digital-twin-asset-simulation-industry/page.tsx
  app/blog/ai-fraud-detection-fintech-brazil/page.tsx
  app/blog/ai-predictive-maintenance-manufacturing-latam/page.tsx
  app/blog/ai-rpa-workflow-automation-finance-ops/page.tsx
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

autopm: fix blog JSX typo + compress monitor report
  app/blog/ai-fraud-detection-fintech-brazil/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat(growth): add autonomous AI ops retainer page with fallback and resolve outreach runtime file merge
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: deploy plugin marketplace lead capture
  docs/plugin-marketplace/index.html
Labels: none

autopm: harden send path + trim monitor payload + compress report
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

autopm: resolve monitor_report conflict; keep rollup
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: add 5 AI/IT buyer-intent SEO pages
  app/blog/ai-channel-partner-program-brazilian-resellers/page.tsx
  app/blog/ai-fintech-integration-brazilian-banks/page.tsx
  app/blog/ai-observability-for-brazilian-saas-startups/page.tsx
  app/blog/ai-operational-readiness-brazilian-it-companies/page.tsx
  app/blog/ai-retail-automation-brazil/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

growth: deploy changelogs and public roadmap pages
  docs/changelogs/index.html
  docs/public-roadmap/index.html
Labels: none

growth: deploy status page for trust and enterprise conversion
  docs/status-page/index.html
Labels: none

fix(layout): restore metadata formatting for valid JSON/TSX
  app/layout.tsx
Labels: none

growth: deploy security compliance audit lead capture
  docs/security-compliance-audit/index.html
Labels: none

growth: add assessment, workshop, and integration lead pages
  docs/ai-poc-workshop/index.html
  docs/cloud-migration-assessment/index.html
  docs/enterprise-api-integration/index.html
Labels: none

growth: add cybersecurity, analytics, and managed IT lead pages
  docs/cybersecurity-risk-assessment/index.html
  docs/data-analytics-consulting/index.html
  docs/managed-it-services/index.html
Labels: none

autopm: harden outreach queue; remove noise domains, answered threads, bounces
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

autopm: resolve monitor_report conflict; keep rollup
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

autopm: rebuild and harden ready queue deterministically
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore: update token health summary; stop tracking outreach runtime files to reduce merge noise
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(seo): allow /api/ in robots.txt
  public/robots.txt
Labels: none

fix(seo): allow /api/ in robots.txt
  public/robots.txt
Labels: none

feat(growth): add autonomous CRM lead outreach driver
  automation/crm_auto_outreach.py
Labels: automation

fix(types): remove duplicate Service interface and fix wave216 stubs
  app/data/servicesData.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
Labels: none

fix(types): remove duplicate Service interface and fix wave216 stubs
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
Labels: none

fix(types): remove duplicate Service interface and fix wave216 stubs (#38948)
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
Labels: none

feat(tools): expand tools catalog and add direct services CTA on /tools
  app/tools/page.tsx
Labels: none

fix(types): resolve merge conflicts in servicesData/wave214/wave216
  app/data/servicesData.ts
  app/data/wave214.ts
  app/data/wave216.ts
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
