Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: automations, ci, content

.github/labeler.yml:

automations:
  - changed-files:
      - any-glob-to-any-file: ['automation/**', '.github/workflows/**']
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
content:
  - changed-files:
      - any-glob-to-any-file: ['pages/**', 'components/**', 'styles/**']

fix(homepage): update actual homepage component at src/pages/Home.tsx to showcase automations
  src/pages/Home.tsx
Labels: none

feat(automation): autonomous trends curation, health checks, scheduled CI; advertise on homepage
  .github/workflows/automation.yml
  package.json
  pages/index.tsx
  scripts/curate-trends.mjs
  scripts/health-check.mjs
  tsconfig.tsbuildinfo
Labels: automations, ci, content

feat(landing): futuristic homepage with animated backgrounds, neon cards, and marketing sections
  pages/_app.tsx
  pages/index.tsx
  styles/futuristic-landing.css
Labels: content

Implement futuristic hero section with animated background and cards
  components/ui/AnimatedBackground.tsx
  components/ui/FuturisticCard.tsx
  components/ui/FuturisticHero.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Add futuristic design with neon effects and animated background
  pages/_app.tsx
  pages/index.tsx
  styles/futuristic.css
Labels: content

feat(automation): homepage banner for autonomous services
  components/AutomationPromoBanner.tsx
  pages/_app.tsx
  tsconfig.tsbuildinfo
Labels: content

Checkpoint before follow-up message
  components/ui/AnimatedBackground.tsx
Labels: content

Redesign homepage with futuristic UI and enhanced feature sections
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Add futuristic homepage design with animated background and cards
  components/ui/FuturisticCard.tsx
  components/ui/FuturisticHero.tsx
  pages/_app.tsx
  pages/index.tsx
  styles/futuristic.css
Labels: content

Refactor homepage with modern design, enhanced sections, and dynamic content
  pages/index.tsx
Labels: content

Update homepage with new automation sections and dynamic content loading
  .github/workflows/auto-orchestrator.yml
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add reports page, link checks, and Lighthouse performance workflows
  .github/workflows/lighthouse-weekly.yml
  .github/workflows/link-check-daily.yml
  pages/index.tsx
  pages/reports.tsx
  scripts/link-check.mjs
  scripts/run-lighthouse-local.mjs
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add autonomous agents for content insights, freshness, and RSS
  .github/workflows/autonomous-ultrafast-agents.yml
  automation/autonomous-changelog-summarizer.cjs
  automation/autonomous-content-freshness.cjs
  automation/autonomous-rss-generator.cjs
  pages/index.tsx
Labels: automations, ci, content

Add futuristic hero section with animated background and feature cards
  components/ui/AnimatedBackground.tsx
  components/ui/FuturisticCards.tsx
  components/ui/FuturisticHero.tsx
  pages/index.tsx
Labels: content

Update _document.tsx to use Next.js document component
  pages/_document.tsx
  tsconfig.tsbuildinfo
Labels: content

Add new autopilot tasks for dependencies, sitemap, and external links
  .github/workflows/autopilot.yml
  automation/dependency-report-autopilot.cjs
  automation/external-links-autopilot.cjs
  automation/sitemap-submit-autopilot.cjs
  pages/automations/index.tsx
  pages/index.tsx
Labels: automations, ci, content

Add automation pages for GitHub repos, datasets, news, and contributors
  .github/workflows/agentic-news-10min.yml
  .github/workflows/github-agent-repos-15min.yml
  .github/workflows/github-contributors-daily.yml
  .github/workflows/hf-datasets-hourly.yml
  automation/agentic-news.cjs
  automation/github-agent-repos.cjs
  automation/github-contributors.cjs
  automation/hf-datasets.cjs
  data/agentic-news.json
  data/github-agent-repos.json
  data/github-contributors.json
  data/hf-datasets.json
  pages/automation/agentic-news.tsx
  pages/automation/github-agent-repos.tsx
  pages/automation/github-contributors.tsx
  pages/automation/hf-datasets.tsx
  pages/automation/index.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add site validator and knowledge graph automation pages
  .github/workflows/knowledge-graph.yml
  .github/workflows/site-validator.yml
  automation/autonomous-knowledge-graph.cjs
  automation/autonomous-site-validator.cjs
  components/layout/EnhancedNavigation.tsx
  package.json
  pages/automation/knowledge-graph.tsx
  pages/automation/site-validator.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Implement autonomous homepage content generation with dynamic content fetching
  .github/workflows/autonomous-homepage.yml
  pages/index.tsx
  scripts/homepage-autonomy.mjs
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Add highlights section with dynamic features, benefits, and updates
  .github/workflows/update-home.yml
  index.html
  scripts/update-home.mjs
  styles.css
Labels: automations, ci

Add autonomous homepage feature generation and GitHub workflow
  .github/workflows/homepage-autonomous.yml
  automation/homepage-features-analyzer.cjs
  automation/homepage-features-applier.cjs
  data/reports/homepage/homepage-features-latest.json
  data/reports/homepage/homepage-features.json
  package.json
  pages/index.tsx
Labels: automations, ci, content

Build: Update Next.js build cache and webpack compilation artifacts
  .next/BUILD_ID
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/index.pack
  .next/export-marker.json
  .next/images-manifest.json
  .next/prerender-manifest.json
  .next/required-server-files.json
  .next/server/chunks/152.js
  .next/server/chunks/465.js
  .next/server/chunks/664.js
  .next/server/font-manifest.json
  .next/server/pages-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/_app.js
  .next/server/pages/_document.js
  .next/server/pages/_error.js
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/server/webpack-runtime.js
  .next/static/chunks/89.c4a0d65b514bd033c93b.js
  .next/static/chunks/framework-026e845a9a147f17f377.js
  .next/static/chunks/main-decf7a0e391cc440fb11.js
  .next/static/chunks/pages/_app-a6184c66272600f76351.js
  .next/static/chunks/pages/_error-eb7f79f2af83e8ddf5e2.js
  .next/static/chunks/pages/index-b5defd75a49a6262c39b.js
  .next/static/chunks/pages/newsroom-813cf0d852eb4b40cce1.js
  .next/static/chunks/pages/site-health-98f4e658096afc9ae120.js
  .next/static/chunks/webpack-fb409e8cda91a115bc77.js
  .next/static/gZ2gezlv6t6FW1p9lay78/_buildManifest.js
  .next/static/gZ2gezlv6t6FW1p9lay78/_ssgManifest.js
  next-env.d.ts
  tsconfig.json
Labels: none

feat: Add dynamic homepage content API with GitHub fallback
  .github/workflows/autonomous-homepage.yml
  pages/api/homepage/content.ts
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automations, ci, content

Update git health status to clean working directory
  automation_logs/git-health-summary.json
Labels: none

Checkpoint before follow-up message
  tsconfig.tsbuildinfo
Labels: none

chore(sync): auto-sync from cursor on cursor/agent-enhancement-and-main-branch-integration-7066 at 2025-08-10T18:55:22.464Z
  automation_logs/git-health-summary.json
Labels: none

feat(homepage): auto-insert intelligent promo section on main
  pages/index.tsx
Labels: content

Refactor homepage with futuristic design and enhanced UI components
  pages/index.tsx
  styles/modern-design-system.css
Labels: content

Enhance homepage with futuristic hero, cards, and interactive stats
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Redesign homepage with modern UI, animated background, and feature sections
  pages/index.tsx
Labels: content

Redesign homepage with futuristic UI, features, and autonomous platform overview
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Refactor _app.tsx to use EnhancedLayout and update global styles
  pages/_app.tsx
  tsconfig.tsbuildinfo
Labels: content

Refactor homepage with futuristic design and new feature sections
  components/ui/FuturisticBackground.tsx
  components/ui/GlowCard.tsx
  pages/index.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Labels: content

Implement futuristic landing page with modern design and autonomous tech features
  pages/index.tsx
  styles/futuristic-landing.css
  tsconfig.tsbuildinfo
Labels: content

Add futuristic design with animated backgrounds and glass UI
  pages/_app.tsx
  pages/index.tsx
  styles/futuristic.css
  tsconfig.tsbuildinfo
Labels: content

feat(www): futuristic home page with animated nebula, grid, starfield; features/capabilities/benefits; strong CTAs
  pages/index.tsx
Labels: content

chore(sync): auto-sync from cursor on cursor/automate-fundraising-deck-and-deal-room-generation-c352 at 2025-08-10T20:26:45.187Z
  components/ui/AnimatedAurora.tsx
  components/ui/FuturisticCard.tsx
Labels: content

Refactor homepage with futuristic design, aurora, and feature cards
  pages/index.tsx
Labels: content

Add animated background with z-index to layout components
  components/layout/EnhancedLayout.tsx
Labels: content

Simplify layout and navigation styling with transparent backgrounds
  components/layout/EnhancedLayout.tsx
  components/layout/EnhancedNavigation.tsx
Labels: content
