Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

fix(outreach): repair merge artifact, wrap remaining Gmail API calls with timeout
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(outreach): sync runner artifacts before merge
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(outreach): restore persisted PersistIQ CEO draft for hot-followup reply
  outreach_monitor/processed/next_ceo_reply_persistiq.json
Labels: none

fix(outreach): exclude self threads, ensure dry-run report file, restore runner artifacts
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(outreach): tailor LLM gmail params, exclude self threads in discovery, add discovery trace
  scripts/outreach/high_frequency_monitor.py
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): sync runner metrics/heartbeat after self-thread filter and report path fix
  outreach_monitor/processed/dry_run_report.jsonl
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(outreach): dedupe reply ledger, suppress self-thread noise, refresh runner housekeeping
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/run_high_frequency_forever.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

improve(outreach): faster all-folder discovery, stronger LLM tailoring, fallback models, tighter timeouts
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix(outreach): broader hot-follow-up discovery, correct Gmail list args, thread-liveness fallback, ledega rescue
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): search historical messages by removing 7d recency cap from discovery
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(monitor): correct doubled path in high-frequency runner, ensure worker script resolves from outreach dir
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

chore(memory): add cron run log for 2026-07-11
  memory/2026-07-11.md
Labels: docs

fix(monitor): prevent high-frequency runner timeout by setting worker timeout >= interval
  scripts/outreach/run_high_frequency_forever.py
Labels: automation

feat(outreach): enforce LLM-tailored CEO reply requirements with Calendly, site link, and past-project thanks
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(monitor): normalize Gmail list calls to maxResults, remove false errors
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(telegram-digest): send valid JSON payload to Telegram API
  .github/workflows/telegram-digest.yml
Labels: automation

fix(outreach): blacklist noisy/system subjects and domains in discovery to reduce bad sends
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): context-aware CEO fallback replies with mutually-beneficial business ideas
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(telegram-digest): validate secrets and tolerate send failures without failing the whole workflow
  .github/workflows/telegram-digest.yml
Labels: automation

fix(workflows): harden SSL step, remove tracked generated report artifacts from repo
  .github/workflows/production-health-monitor.yml
  automation/reports/build-and-verify-latest.json
  automation/reports/live-deploy-probe.json
  automation/reports/site-link-audit-latest.json
  automation/reports/site-monitor-latest.json
Labels: automation

fix(ci): create missing site-improvement-agent.cjs for GitHub Actions workflow
  automation/ai-site-improvement-agent.cjs
Labels: automation

fix(actions): replace legacy action digests with stable v4 references in site-improv-agent
  .github/workflows/site-improv-agent.yml
Labels: automation

chore(memory): log second-pass site/CI findings for 2026-07-11
  memory/2026-07-11.md
Labels: docs

feat(outreach): query multiple LLM providers/sources, enforce REQUIRED CEO reply fields
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): dedupe reply ledger filter, ignore runtime monitor artifacts
  .gitignore
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): skip low-quality/generic thread bodies before send
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): filter internal-like/school domains, tighten contact cleanup
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): remove low-quality entries from hot follow-up reply ledger
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

feat(outreach/ci): extract safer fallback reply builders, add Pages watchdog workflow, clean corrupted artifacts if present
  .github/workflows/pages-watchdog.yml
  automation/scripts/pages_watchdog.py
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore: ignore generated live-link-audit.json report artifact
  .gitignore
  scripts/reports/live-link-audit.json
Labels: automation

fix(outreach): purge remaining forbidden-domain draft from hot follow-up reply ledger
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

feat(outreach): add pre-send approval queue by default
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): clean malformed CEO reply template body from build_ceo_reply helper formatting
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): enable llm tailoring when any supported provider env is configured
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(ci): tighten site improvement workflow, remove invalid upload artifact option, keep runtime artifacts clean
  .github/workflows/site-improv-agent.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
Labels: none

docs(outreach): add LLM tailoring activation checklist with provider env vars
  docs/llm-tailoring-activation.md
Labels: docs

feat(outreach): harden LLM tailoring prompt, retries, and required-content validation
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(ai): add AI Readiness Assessment page and link from AI Lab
  app/ai/ai-readiness-assessment/page.tsx
  app/ai/page.tsx
Labels: none

refactor(lead-crm): add miner soft-timeout safety for high-frequency runs
  lead-crm/historical_email_miner.py
Labels: none
