Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(deps): remove runtime churn after verified 5-message live send pass
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

fix(deploy): disable Pages auto-build in favor of artifact workflow
  .github/pages.yml
Labels: none

chore(deps): remove reopened runtime churn and keep safe growth delta
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/exclusion-list.json
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

fix(growth): harden send fallback body and verify bounded 5-message live pass
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): capture verified 5-message live send pass and remove runtime churn
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  .tmp_check_dedup.py
  outreach_monitor/processed/historical_miner_ts.txt
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

feat(growth): add AI Quick Audit tool and strengthen browse-to-contact CTAs
  .tmp_check_dedup.py
  app/tools/ai-quick-audit/page.tsx
  app/tools/page.tsx
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

fix(deploy): remove @next/swc-android-arm64 from package.json to fix npm install EBADPLATFORM in GitHub Actions
  package-lock.json
  package.json
Labels: none

fix(deploy): remove @next/swc-android-arm64 lock block to ensure clean npm install in GitHub Actions
  package-lock.json
Labels: none

fix(seo): add /portal and /services/ai-agents-autonomous fallback rules to public/_redirects
  public/_redirects
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore: remove stale continuous-pages-deploy.disabled workflow file
  .github/workflows/continuous-pages-deploy.disabled
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

fix(deploy): include client-portal and ai-agents-autonomous build artifacts in Pages deploy
  .github/workflows/gh-pages.yml
Labels: automation

fix(deploy): replace Pages workflow with direct out/docs/public deploy to avoid stuck install/build
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(outreach): automated outreach cycle
  memory/2026-07-24.md
Labels: docs

fix(seo): add docs fallback pages for /portal and /services/ai-agents-autonomous
  docs/portal/index.html
  docs/services/ai-agents-autonomous/index.html
Labels: none

improve(monitoring): make site-health-check.sh verifiable and non-empty
  scripts/site-health-check.sh
Labels: automation

fix(conversion): normalize phone links on /contact and /tools
  app/tools/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

improve(monitoring): cover portal and ai service routes in site health check
  scripts/site-health-check.sh
Labels: automation

growth: add fast free-tools and favicon-generator conversion pages
  docs/free-tools/index.html
  docs/tools/favicon-generator/index.html
Labels: none

growth: add AI readiness, free consultation, favicon generator, and free-tools conversion pages
  docs/ai/ai-readiness-assessment/index.html
  docs/free-consultation/index.html
Labels: none

chore(outreach): automated outreach cycle
  .local-pages-test/_next/static/chunks/app/client-portal/page-d426c1ac0075c296.js
  .local-pages-test/_next/static/chunks/app/page-056a7ec2a46ac43d.js
  .local-pages-test/_next/static/chunks/app/services/ai-chronic-disease-tracker/page-6e00a4274faaf8a5.js
  .local-pages-test/_next/static/chunks/app/services/page-431f6a118b6c9ec7.js
  .local-pages-test/index.html
  _next/static/chunks/0r2d8zl581tv5.js
  _next/static/chunks/1pnipkvqgc39d.js
  _next/static/chunks/3fluyxazej3zo.js
  _next/static/chunks/3hs-545a3h3n4.js
  _next/static/chunks/3yitatqhycuht.js
  components/AgentDashboard.tsx
  components/AgentsMonitoring.tsx
  components/Navigation.tsx
  components/V1011V1015Showcase.tsx
  components/V1021V1025Showcase.tsx
  components/V1076V1080Showcase.tsx
  components/V1086V1090Showcase.tsx
  index.html
  outreach_monitor/processed/historical_miner_ts.txt
  src/app/agents-monitoring/page.tsx
  src/app/pricing/page.tsx
  src/app/solutions/page.tsx
Labels: frontend

chore(pages): add ai-quick-audit and cloud-cost-estimator fallbacks
  docs/tools/ai-quick-audit/index.html
  docs/tools/cloud-cost-estimator/index.html
  public/_redirects
Labels: none

fix(seo): add _redirects fallback routes for new conversion pages
  public/_redirects
Labels: none

chore(pages): improve free-services-and-tools fallback and normalize tools CTAs
  app/tools/page.tsx
  docs/free-services-and-tools/index.html
Labels: none

chore(outreach): automated outreach cycle
  docs/free-ai-it-tools/index.html
Labels: none

growth: replace /tools/ redirect with conversion hub and add /free-ai-it-tools/ fallback
  docs/tools/index.html
  public/_redirects
Labels: none

growth: add insurance, healthcare, and legal industry magnet pages
  docs/industries/healthcare/index.html
  docs/industries/insurance/index.html
  docs/industries/legal/index.html
  public/_redirects
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
Labels: none

chore(growth): strengthen free services hub; clean outreach data
  docs/free-services-and-tools/index.html
  lead-crm/all-leads.json
  lead-crm/outreach_sent_history.jsonl
Labels: none

chore: stop tracking CRM runtime artifacts
  lead-crm/all-leads.json
  lead-crm/outreach_sent_history.jsonl
Labels: none

chore(outreach): automated outreach cycle
  .gitignore
  memory/2026-07-24.md
  outreach_monitor/processed/historical_miner_ts.txt
Labels: docs

feat(outreach): add autonomous outreach worker for lead discovery and drafting
  scripts/outreach/autonomous_outreach_worker.py
Labels: automation
