Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

add automation/scripts/route_audit.cjs
  automation/scripts/route_audit.cjs
Labels: automation

add docs/tools/csv-to-json-converter/index.html
  docs/tools/csv-to-json-converter/index.html
Labels: none

add docs/tools/markdown-to-html-converter/index.html
  docs/tools/markdown-to-html-converter/index.html
Labels: none

feat: add automation/scripts/html_audit.py
  automation/scripts/html_audit.py
Labels: automation

add automation/scripts/html_lint.py
  automation/scripts/html_lint.py
Labels: automation

add docs/tools/base64-encoder-decoder/index.html
  docs/tools/base64-encoder-decoder/index.html
Labels: none

add automation/scripts/summarize_services.py
  automation/scripts/summarize_services.py
Labels: automation

add automation/scripts/seo-audit.cjs
  automation/scripts/seo-audit.cjs
Labels: automation

add automation/scripts/markdown_audit.py
  automation/scripts/markdown_audit.py
Labels: automation

feat: add automation/scripts/integrity_report.py
  automation/scripts/integrity_report.py
Labels: automation

chore: rebuild static export post-rebase and stage finalized pages
  out/feed.xml
Labels: none

update docs/tools/color-palette-generator/index.html
  docs/tools/color-palette-generator/index.html
Labels: none

update docs/tools/password-generator/index.html
  docs/tools/password-generator/index.html
Labels: none

update docs/tools/css-gradient-generator/index.html
  docs/tools/css-gradient-generator/index.html
Labels: none

update docs/tools/regex-tester/index.html
  docs/tools/regex-tester/index.html
Labels: none

add automation/scripts/site_diff.cjs
  automation/scripts/site_diff.cjs
Labels: automation

add automation/scripts/summarize_tools.py
  automation/scripts/summarize_tools.py
Labels: automation

add automation/reports/hot-followup-preview-latest.txt
  automation/reports/hot-followup-preview-latest.txt
Labels: automation

update docs/tools/timestamp-converter/index.html
  docs/tools/timestamp-converter/index.html
Labels: none

feat(services): add 14 new enterprise services to catalog
  app/data/servicesData.json
Labels: none

chore: trigger rebuild for new services
  README.md
Labels: docs

feat(tools): add API contract generator and webhook inspector tools
  app/tools/api-contract-generator/page.tsx
  app/tools/webhook-inspector/page.tsx
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  scripts/add-new-services.cjs
  tmp_inspect_thread.py
  tmp_inspect_thread2.py
  tmp_script.py
Labels: automation

fix(outreach): switch LLM tailoring to OpenRouter with free model; improve noise filtering for inbox interest scanning
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore: trigger rebuild for new services
  README.md
Labels: docs

ci(pages): add all tools/* static fallbacks to deployment promotion list
  .github/workflows/gh-pages.yml
Labels: automation

feat: add 6 professional template pages (project charter, ROI, implementation plan, checklist, KPI dashboard, success metrics)
  app/templates/implementation-plan/page.tsx
  app/templates/kpi-dashboard/page.tsx
  app/templates/project-charter/page.tsx
  app/templates/roi-calculation/page.tsx
  app/templates/rollout-checklist/page.tsx
  app/templates/success-metrics/page.tsx
Labels: none

feat: add 4 utility scripts (sitemap, seo, performance, uptime)
  utils/performance-tester.js
  utils/seo-analyzer.sh
  utils/sitemap-generator.py
  utils/uptime-check.py
Labels: backend

chore: trigger Pages rebuild
  README.md
Labels: docs

chore: trigger Pages rebuild
  README.md
Labels: docs

fix(pages): normalize verify route list in workflow
  .github/workflows/gh-pages.yml
Labels: automation

fix(workflow): hard-fail verify step on non-200 routes
  .github/workflows/gh-pages.yml
Labels: automation

feat(outreach): enable per-email LLM tailoring in continuous pipeline when OPENROUTER_API_KEY is available
  lead-crm/continuous_outreach_pipeline.py
Labels: none

test: probe verify deploy behavior
  README.testing
Labels: none

test: cleanup probe file
  README.testing
Labels: none

fix(docs): add fallbacks for /ai-services-index, /solutions, /tools/index
  docs/ai-services-index.html
  docs/solutions.html
  docs/tools/index.html
Labels: none

fix(docs): add fallback pages for missing static routes
  docs/client-portal/index.html
  docs/proposal-generator/index.html
  docs/roi-calculator/index.html
Labels: none

fix(docs): add missing fallback pages for keylish routes
  docs/ai-services-index.html
  docs/solutions.html
  docs/tools/index.html
Labels: none

chore(outreach): harden LLM-tailored outreach path and keep hot-followup draft local-only
  automation/run_outreach_scan.py
Labels: automation

feat(tools): improve tool pages and cleanup service data
  app/data/servicesData.ts
  app/tools/api-contract-generator/page.tsx
  app/tools/json-formatter/page.tsx
Labels: none

fix(deploy): promote /ai-services-index route for Pages
  docs/ai-services-index/index.html
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
