Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

docs: refresh automation status after verified deploy/fix review
  automation/AUTOMATION_STATUS.md
Labels: docs, automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  monitor_run.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: fix performance-budget workflow - use Node 24 and serve for static export
  .github/workflows/performance-budget.yml
Labels: automation

chore: resolve stash conflict in hot_followup_reply_ledger
  public/sitemap.xml
  scripts/outreach/deep_crawl_site.py
  scripts/outreach/send_hot_followup_ceo.py
Labels: automation

chore(outreach): automated outreach cycle
  app/data/new_services_it.json
  app/data/servicesData.ts
  app/data/wave214.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
  commands/google_workspace.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_ready_manual_lead_discovery.json
  lead-crm/outreach_send_results_manual_discovery.json
  lead-crm/outreach_verification_sent.json
Labels: none

fix(pages): restore /automation/ static fallback route
  public/automation/index.html
Labels: none

chore(outreach): automated outreach cycle
  app/data/new_services_it.json
  app/data/servicesData.ts
  app/data/wave214.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
  commands/google_workspace.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_ready_manual_lead_discovery.json
  lead-crm/outreach_send_results_manual_discovery.json
  lead-crm/outreach_verification_sent.json
Labels: none

docs: refresh external link status in automation report
  automation/AUTOMATION_STATUS.md
Labels: docs, automation

ci(pages): fail fast on build and verify /automation fallback route
  .github/workflows/gh-pages.yml
Labels: automation

chore: sync local fixes with latest origin/main and preserve workflow/site updates
  app/services/cloud-cost-optimization-platform/page.tsx
  automation/scripts/service_center_check.py
Labels: automation

fix: align service-center integrity checker with live redirect-stub behavior
  automation/scripts/service_center_check.py
Labels: automation

chore(outreach): automated outreach cycle
  commands/google_workspace.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  logs/web_prospecting.out
  monitor_tailor_check.txt
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

fix: resolve google_workspace merge conflict and refresh outreach send-disabled analysis
  commands/google_workspace.py
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

fix(outreach): restore all-folder search, resolve workspace conflict, advance miner timestamp
  commands/google_workspace.py
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(commands): dedupe broken merge artifacts and restore google_workspace.py imports
  commands/google_workspace.py
Labels: none

fix(commands): restore canonical gmail helpers and import state
  .github/workflows/service-center-canary.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: resolve merge conflicts and add missing imports in wave216 data files
  app/data/servicesData.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
Labels: none

fix: resolve merge conflicts in data files (wave214, wave216, servicesData)
  app/data/wave214.ts
Labels: none

fix: update performance budget workflow to use live URL and proper build logging
  .github/workflows/performance-budget.yml
Labels: automation

fix: use npx next build --webpack directly to skip postbuild
  .github/workflows/performance-budget.yml
Labels: automation

ci(pages): add docs fallback routes for 11 missing live paths and fix routing
  docs/case-studies/index.html
  docs/configurator/index.html
  docs/consultation/index.html
  docs/dashboard/index.html
  docs/docs/index.html
  docs/faq/index.html
  docs/free-tools-hub/index.html
  docs/industries/index.html
  docs/products/index.html
  docs/site-map/index.html
  docs/status/index.html
Labels: none

ci(pages): harden deploy gating, increase Node memory, preserve diagnostics on build failure
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): refresh exclusion-list delivery-guard entries
  lead-crm/exclusion-list.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci(pages): add _redirects manifest to fix 11 live 404 routes before deploy
  docs/_redirects
Labels: none

chore: harden site-improvement workflow and align service-center canary report behavior
  .github/workflows/site-improv-agent.yml
Labels: automation

ci(pages): merge route redirects into public/_redirects so Pages artifact preserves them
  public/_redirects
Labels: none

fix: rename BUILD_EXIT variable to avoid conflict
  .github/workflows/performance-budget.yml
Labels: automation

chore(outreach): persist miner + monitor runtime artifacts
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: harden service-center canary, site-improv report dir, and services SEO metadata
  app/services/layout.tsx
  automation/scripts/service_center_check.py
Labels: automation

ci(pages): harden /automation fallback and add Pages redirect manifest for missing routes
  public/_redirects
  public/automation/index.html
Labels: none

fix: use 0 instead of PIPESTATUS for build exit code
  .github/workflows/performance-budget.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(autopilot): add site deep crawl report
  outreach_monitor/processed/site_deep_crawl_report.json
Labels: none

fix: use build-wrapper.cjs for robust CI build
  .github/workflows/performance-budget.yml
Labels: automation

fix: use npx --yes next build --webpack for CI build
  .github/workflows/performance-budget.yml
Labels: automation

fix: set CI=true explicitly for build
  .github/workflows/performance-budget.yml
Labels: automation

fix: add || true to prevent exit code issue
  .github/workflows/performance-budget.yml
Labels: automation

ci(pages): add root aliases and /automation redirect package for Pages recovery
  about/index.html
  ai-services-index/index.html
  automation/index.html
  blog/index.html
  careers/index.html
  free-ai-it-tools/index.html
  partners/index.html
  portal/index.html
  pricing/index.html
  solutions/index.html
  tools/index.html
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
