Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

Improve success-stories fallback with measurable outcomes and CTAs
  docs/success-stories/index.html
Labels: none

Improve contact header proof points and trust signals
  app/contact/page.tsx
Labels: none

Add partners page trust signals and proof points
  app/partners/page.tsx
Labels: none

Improve testimonials page with cross-links and mobile sticky CTA
  app/testimonials/page.tsx
Labels: none

Add partners static fallback and testimonials docs fallback
  docs/partners/index.html
  docs/testimonials/index.html
  public/partners/index.html
Labels: none

Add testimonials static fallback + pricing page proof points
  public/testimonials/index.html
Labels: none

Add richer pricing static fallback and docs mirrors
  docs/pricing/index.html
  public/pricing/index.html
Labels: none

add ai customer support and service areas fallbacks plus homepage links
  docs/ai-customer-support/index.html
  docs/index.html
  docs/service-areas/index.html
  public/ai-customer-support/index.html
  public/service-areas/index.html
Labels: none

Auto-deploy new service pages - 2026-07-29 23:00:53
  outreach_monitor/processed/last_service_count.txt
  scripts/growth-automation/service_pipeline_deployer.py
  scripts/growth-automation/verify_count.py
Labels: automation

Add /how-it-works app route outlining 4-step delivery model
  app/how-it-works/page.tsx
Labels: none

Add /use-cases app page with outcome-first case grid and conversion CTAs
  app/use-cases/page.tsx
Labels: none

Improve /services layout with outcome-first intro block and live catalog proof pill
  app/services/page.tsx
Labels: none

Add trust proof grid and direct proposal CTAs to /services intro
  app/services/page.tsx
Labels: none

Replace /pricing with real app page and remove stale docs fallback
  app/pricing/page.tsx
  docs/pricing/index.html
Labels: none

Align pricing trust proof phrasing with rest of site
  app/pricing/page.tsx
Labels: none

feat(site+growth): add new case studies, expand lead pool, add services CTAs
  app/case-studies/ai-automated-reporting-2-week-to-overnight/page.tsx
  app/case-studies/ai-customer-support-64pct-less-resolution-time/page.tsx
  app/case-studies/ai-manufacturing-quality-inspection/page.tsx
  app/case-studies/cloud-cost-optimization-35pct-savings/page.tsx
  app/case-studies/fintech-seed-fraud-prevention/page.tsx
  app/case-studies/healthnet-patient-flow-ai-triage/page.tsx
  app/case-studies/meridian-ai-mlops-automation/page.tsx
  app/case-studies/page.tsx
  app/data/discovered_leads.json
  app/services/page.tsx
Labels: none

chore: restore homepage enhancements from main
  app/case-studies/ai-manufacturing-quality-inspection/page.tsx
  app/case-studies/fintech-seed-fraud-prevention/page.tsx
  app/case-studies/healthnet-patient-flow-ai-triage/page.tsx
  app/case-studies/meridian-ai-mlops-automation/page.tsx
  app/components/SmartRecommendationEngine.tsx
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: none

chore: harden case-studies index and cleanup stale growth patch
  app/case-studies/page.tsx
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: none

fix: resolve TS errors, update case studies, remove broken homepage component
  app/case-studies/ai-automated-reporting-2-week-to-overnight/page.tsx
  app/case-studies/ai-customer-support-64pct-less-resolution-time/page.tsx
  app/case-studies/cloud-cost-optimization-35pct-savings/page.tsx
  app/components/HomepageEnhancements.tsx
  app/components/SmartRecommendationEngine.tsx
  app/industry-solutions/page.tsx
Labels: none

chore: add public+docs case-study fallback pages for 4 routes
  docs/case-studies/ai-manufacturing-quality-inspection/index.html
  docs/case-studies/fintech-seed-fraud-prevention/index.html
  docs/case-studies/healthnet-patient-flow-ai-triage/index.html
  docs/case-studies/meridian-ai-mlops-automation/index.html
  public/case-studies/ai-manufacturing-quality-inspection/index.html
  public/case-studies/fintech-seed-fraud-prevention/index.html
  public/case-studies/healthnet-patient-flow-ai-triage/index.html
  public/case-studies/meridian-ai-mlops-automation/index.html
Labels: none

chore: add 3 remaining case-study static fallbacks
  docs/case-studies/ai-automated-reporting-2-week-to-overnight/index.html
  docs/case-studies/ai-customer-support-64pct-less-resolution-time/index.html
  docs/case-studies/cloud-cost-optimization-35pct-savings/index.html
  public/case-studies/ai-automated-reporting-2-week-to-overnight/index.html
  public/case-studies/ai-customer-support-64pct-less-resolution-time/index.html
  public/case-studies/cloud-cost-optimization-35pct-savings/index.html
Labels: none

feat: expand case-studies index to 7 proof routes
  app/case-studies/page.tsx
Labels: none

fix: replace broken static-fallback links with working routes and clean paths
  docs/industries/healthcare-life-sciences/index.html
  docs/industries/index.html
  docs/industries/insurance/index.html
  docs/industries/legal/index.html
  docs/industries/technology-saas/index.html
  docs/solutions/healthcare/index.html
  public/privacy/index.html
  public/terms/index.html
Labels: none

chore: services intro CTAs
  app/services/page.tsx
Labels: none

chore: add free-ai-consultation fallback page + redirects
  docs/free-ai-consultation/index.html
  public/_redirects
Labels: none

feat: strengthen services page conversion with proof strip
  app/services/page.tsx
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: none

chore: add ai-roi-calculator fallback + redirects
  docs/ai-roi-calculator/index.html
  public/_redirects
  public/ai-roi-calculator/index.html
Labels: none

feat: Add AI Service Router, Content Discovery, and fix service counter
  app/components/ContentDiscovery.tsx
  app/page.tsx
  app/tools/ai-service-router/page.tsx
Labels: none

Add 3 new blog posts, 2 new service pages, and 1 new case study
  app/blog/devops-automation-best-practices-for-2024/page.tsx
  app/blog/how-ai-is-transforming-e-commerce-in-2024/page.tsx
  app/blog/how-to-implement-natural-language-processing-in-16-days/page.tsx
  app/case-studies/page.tsx
  app/data/servicesData.json
Labels: none

growth: +30 services from Hyper-Accelerated Growth Engine
  app/data/servicesData.json
Labels: none

fix: Update Node.js from 20 to 22 in CI workflow
  .github/workflows/gh-pages.yml
  .nvmrc
  package.json
Labels: automation

feat: add autonomous_recruiter OSINT skill
  skills/autonomous_recruiter/SKILL.md
  skills/taubate-it-sourcing/SKILL.md
Labels: docs

chore: sync outreach, growth, recruiting, and audit scripts
  app/components/useValidServiceSlug.tsx
  app/page.tsx
  app/services/page.tsx
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/live_send_ledger.jsonl
  scripts/checks/audit/live-crawl-1785432574239.json
  scripts/checks/audit/live-smoke-1785431749521.json
  scripts/checks/audit/live-smoke-1785431823217.json
  scripts/checks/live-smoke-routes.cjs
  scripts/growth-automation/hyper_accelerated_growth_engine.py
  scripts/live_crawl_audit.py
  scripts/outreach/outreach_monitor/site_monitor_log.jsonl
  scripts/outreach/outreach_monitor/site_monitor_state.json
  scripts/outreach/site_monitor.py
  scripts/quantum_growth_accelerator.py
  scripts/utils/file_lock.py
  scripts/utils/resilient_llm.py
  scripts/utils/telegram_notifier.py
  scripts/write-service-slug-index.cjs
  skills/autonomous_recruiter/SKILL.md
  skills/autonomous_recruiter/output/pipeline_database.csv
  skills/autonomous_recruiter/scripts/autonomous_recruiter.py
  skills/autonomous_recruiter/scripts/cron_telegram_fallback.sh
Labels: docs, automation

fix(pages): use setup-node v4/node20 and raise build-wrapper heap to 12GB
  .github/workflows/gh-pages.yml
  scripts/build-wrapper.cjs
Labels: automation

fix: Update Node.js from 20 to 22 in robots-sitemap-compliance.yml
  .github/workflows/robots-sitemap-compliance.yml
Labels: automation

fix(pages): pin Node 20 in CI and raise build-wrapper heap to 12GB
  .github/workflows/gh-pages.yml
Labels: automation

cron(autopilot): hot-follow-up scan cleanup + Windows scan tool
  outreach_monitor/processed/_cron_hot_followup_scan_win.py
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/next_hot_followup_llm_draft.json
Labels: none

wip: site + outreach lead state
  app/page.tsx
  app/services/[...slug]/page.tsx
  app/services/[slug]/page.tsx
  app/solutions/page.tsx
  lead-crm/outreach-log.jsonl
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  public/sitemap.xml
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix: clean homepage template, service detail arrays, and service data integrity
  app/data/servicesData.json
  app/industry-solutions/page.tsx
  app/page.tsx
  app/services/[id]/page.tsx
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix(homepage): switch dead configurator CTAs to /contact/ and improve agents marquee layout
  app/components/AgentsMonitoring.tsx
  app/page.tsx
  outreach_monitor/processed/live_send_ledger.jsonl
Labels: none
