Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  fetch_hot_followup.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): skip active Twinsburg WWTS thread from hot-followup monitor
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): use real Gmail service instead of truthy placeholder in _init_gmail_service
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix/improve(outreach): real Gmail service init, import path robust fix, prepared for live hot-follow-up reply
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix(gmail): gmail_search no longer forces label:INBOX, breaking label-specific queries
  commands/google_workspace.py
Labels: none

fix(tools): add missing metadata exports to tool placeholder pages
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/favicon-generator/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
Labels: none

fix(outreach): build real gmail service from local token + refresh dropped credentials
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): add continuous improvement metrics and persistent high frequency runner
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): suppress duplicate outbound subject within 24h
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): make build verifier tolerate clean checkout, move build step before validation
  .github/workflows/gh-pages.yml
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/checks/build-and-verify.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  public/sitemap.xml
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

chk(ci): add offline route-rooted diagnostics for Pages failures
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/checks/build-and-verify.cjs
  scripts/checks/deploy-watchdog-check.cjs
Labels: automation

fix(deploy): disable conflicting continuous-pages-deploy workflow that fights primary Pages deploy
  .github/workflows/continuous-pages-deploy.yml.disabled
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-14.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

fix(build): remove incompatible Next.js redirects() block under static export
  next.config.mjs
Labels: none

chore(outreach): save runner local artifacts for continuous-improvement tracking
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/sent_ledger.jsonl
  outreach_monitor/processed/site_health_report.jsonl
  scripts/outreach/start_continuous_runner.bat
Labels: automation

chore(outreach): reconcile monitor/runner state artifacts and readiness info
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/run_high_frequency_forever.py
  scripts/outreach/start_zion_outreach_monitor.bat
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): align llm_tailoring_coverage reporting with active fallback path
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  .github/workflows/gh-pages.yml
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation
