Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add newsroom-runner report [skip ci]
  newsroom-runner-report.md
Labels: none

🤖 Add og-image-update-runner report [skip ci]
  og-image-update-runner-report.md
Labels: none

🤖 Add ai-trends-radar-runner report [skip ci]
  ai-trends-radar-runner-report.md
Labels: none

🤖 Add ai-trends-radar-runner report [skip ci]
  ai-trends-radar-runner-report.md
Labels: none

🤖 Add orphan-pages-detector report [skip ci]
  orphan-pages-detector-report.md
Labels: none

🤖 Add pagespeed-insights-runner report [skip ci]
  pagespeed-insights-runner-report.md
Labels: none

🤖 Add anchor-links-auto-fixer report [skip ci]
  anchor-links-auto-fixer-report.md
Labels: none

🤖 Add anchor-links-auto-fixer report [skip ci]
  anchor-links-auto-fixer-report.md
Labels: none

🤖 Add readme-advertiser report [skip ci]
  readme-advertiser-report.md
Labels: none

🤖 Add repo-knowledge-graph-runner report [skip ci]
  repo-knowledge-graph-runner-report.md
Labels: none

🤖 Add repo-radar-runner report [skip ci]
  repo-radar-runner-report.md
Labels: none

🤖 Add revenue-ideas-lab report [skip ci]
  revenue-ideas-lab-report.md
Labels: none

🤖 Add roadmap-curator report [skip ci]
  roadmap-curator-report.md
Labels: none

🤖 Add robots-auditor report [skip ci]
  robots-auditor-report.md
Labels: none

🤖 Add security-audit-runner report [skip ci]
  security-audit-runner-report.md
Labels: none

🤖 Add seo-audit-runner report [skip ci]
  seo-audit-runner-report.md
Labels: none

🤖 Add site-404-map-runner report [skip ci]
  site-404-map-runner-report.md
Labels: none

🤖 Add sitemap_runner report [skip ci]
  sitemap_runner-report.md
Labels: none

🤖 Add stale-content-auditor-runner report [skip ci]
  stale-content-auditor-runner-report.md
Labels: none

🤖 Add todo-scanner-runner report [skip ci]
  todo-scanner-runner-report.md
Labels: none

test: trigger comprehensive-test workflow specifically
  comprehensive-test-trigger.md
Labels: none

🤖 Add todo-summary-runner report [skip ci]
  todo-summary-runner-report.md
Labels: none

🤖 Add topic-cluster-builder-runner report [skip ci]
  topic-cluster-builder-runner-report.md
Labels: none

🤖 Add topics-map-runner report [skip ci]
  topics-map-runner-report.md
Labels: none

🤖 Add trigger-all-and-commit report [skip ci]
  trigger-all-and-commit-report.md
Labels: none

🤖 Add ultrafast-front-orchestrator report [skip ci]
  ultrafast-front-orchestrator-report.md
Labels: none

🤖 Add ultrafast-orchestrator report [skip ci]
  ultrafast-orchestrator-report.md
Labels: none

🤖 Add unused-media-scanner report [skip ci]
  unused-media-scanner-report.md
Labels: none

Add ESLint configuration to fix workflow parsing issues
  .eslintrc.js
Labels: none

fix: fix malformed concurrency section placement in docs-autogen workflow
  .github/workflows/docs-autogen.yml
Labels: workflows, config

test: trigger test-suite workflow specifically
  test-suite-trigger.md
Labels: none

Refactor GitHub workflow configurations and cleanup scripts
  .github/workflows/cleanup.yml
  .github/workflows/maintenance.yml
  .github/workflows/ui-evolution-weekly-beautify.yml
  .github/workflows/workflow-manager.yml
  workflow-health-report.md
Labels: workflows, config

test: trigger playwright-smoke workflow specifically
  playwright-smoke-trigger.md
Labels: none

Fix workflow syntax issues in maintenance.yml and cleanup.yml - Mon Aug 18 04:55:58 PM UTC 2025
  .github/workflows/cleanup.yml
  .github/workflows/maintenance.yml
Labels: workflows, config

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
  automation/netlify-build-stamp.txt
Labels: automation

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add ai-trends-radar-runner report [skip ci]
  ai-trends-radar-runner-report.md
Labels: none
