Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

fix: normalize remaining Metadata default imports to type imports and audit live site paths
  MEMORY.md
  automation/ai-email-lead-outreach-agent.cjs
  automation/ai-site-link-audit-automation.cjs
  commands/__pycache__/himalaya_mail.cpython-314.pyc
  commands/__pycache__/intelligent_email_responder_v33.cpython-314.pyc
  commands/__pycache__/v34_email_validator.cpython-314.pyc
  commands/__pycache__/v34_learning_loop.cpython-314.pyc
  commands/__pycache__/v34_reply_all_guarantee.cpython-314.pyc
  commands/v30/__pycache__/intelligent_email_responder_v31.cpython-314.pyc
  commands/v32_modules/__pycache__/lang_detector.cpython-314.pyc
  commands/zion_email_interaction_agent.py
Labels: docs, automation

feat(automation): add LLM-tailored outreach agent with duplicate suppression
  MEMORY.md
  app/about/page.tsx
  app/agents-monitoring/page.tsx
  app/ai/solutions-configurator/page.tsx
  app/ai/url-audit-assistant/page.tsx
  app/dashboard/page.tsx
  app/devops-services/page.tsx
  app/iot-services/page.tsx
  app/micro-saas/page.tsx
  app/security-services/page.tsx
  app/testimonials/page.tsx
  next-env.d.ts
  package-lock.json
  package.json
  public/sitemap.xml
Labels: docs

fix/automation: replace corrupted LLM outreach agent with clean rewrite
  MEMORY.md
Labels: docs

ci: use webpack for builds on all deployment workflows
  .github/workflows/ci-cd.yml
  .github/workflows/continuous-pages-deploy.yml
  .github/workflows/deploy-on-push.yml
Labels: automation

fix: update continuous-pages-deploy with proper deploy job and webpack
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

feat(seo/outreach): add free-trial and IT copilot SEO pages; stage CEO outreach drafts/assets
  MEMORY.md
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-free-trial-enterprise/page.tsx
  reports/trace.md
Labels: docs

feat(seo): add enterprise/poc/freelance lead-gen pages
  MEMORY.md
  app/seo/ai-platform-free-trial/page.tsx
  app/seo/enterprise-ai-poc-playbook/page.tsx
  app/seo/it-freelance-automation-tools/page.tsx
Labels: docs

fix: add verification step to continuous-pages-deploy
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

feat(seo/outreach): expand lead-gen pages and stage CEO outreach assets
  MEMORY.md
  app/seo/ai-business-proposal-automation/page.tsx
  app/seo/ai-business-proposal-template/page.tsx
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-enterprise-it-free-resources/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-platform-trial/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-ops-assistant-free-trial/page.tsx
  app/seo/ai-poc-to-production-playbook/page.tsx
  app/seo/ai-sales-workflow-automation-templates/page.tsx
  app/seo/ai-security-automation-platform-free-trial/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  app/seo/data-pipeline-automation-starter-kit/page.tsx
  app/seo/document-automation-enterprise-free-tools/page.tsx
  app/seo/enterprise-ai-automation-operations/page.tsx
  app/seo/free-it-health-check-monitoring-tools/page.tsx
  app/seo/it-automation-free-tools-scripts/page.tsx
  app/seo/it-cost-optimization-ai-tools/page.tsx
  app/seo/itsm-copilot-free-trial/page.tsx
  app/seo/procurement-automation-startup-kit/page.tsx
  app/seo/revenue-operations-ai-tools/page.tsx
  app/seo/zion-ai-free-tools/page.tsx
  tsconfig.tsbuildinfo
Labels: docs

chore(seo): stage expanded lead-gen pages for Pages verification
  MEMORY.md
Labels: docs

temp: local changes and new content for deploy
  _tmp_check_pages.cjs
  app/data/wave297.ts
  app/pricing-calculator/page.tsx
  blog/seo-bundle-20260706.md
  public/.well-known/assetlinks.json
  scripts/backup-to-remote.sh
  scripts/checks/_tmp-commits.cjs
  scripts/checks/_tmp-pages-check.cjs
  scripts/checks/seo-structured-data-check.cjs
  scripts/tmp_create_blog_pages.py
Labels: docs, automation

test: verify api write access
  verify-test.txt
Labels: none

chore: trigger fresh Pages deploy/verification
  MEMORY.md
  app/seo/it-automation-starter-kit/page.tsx
Labels: docs

chore: ensure fresh Pages source refresh
  MEMORY.md
Labels: docs

fix(deploy): restore root index.html for Pages 2026-07-06T19:58:16.899Z
  index.html
Labels: none

fix(deploy): restore sitemap.xml 2026-07-06T19:58:18.445Z
  sitemap.xml
Labels: none

fix(pages): add docs/.nojekyll so Pages serves _next assets from root
  docs/.nojekyll
Labels: none

feat(seo): add proposal template, copilot free resources, and contact-center free tools
  MEMORY.md
  app/seo/ai-business-proposal-template/page.tsx
  app/seo/ai-contact-center-free-tools/page.tsx
  app/seo/ai-copilot-enterprise-it-free-resources/page.tsx
Labels: docs

feat(seo): add email tuning, platform trial, and free tools lead-gen pages
  MEMORY.md
  app/seo/ai-email-tuning-free-tools/page.tsx
  app/seo/ai-free-platform-trial/page.tsx
  app/seo/ai-free-services-and-tools/page.tsx
  app/seo/ai-poc-to-production-playbook/page.tsx
  app/seo/ai-sales-workflow-automation-templates/page.tsx
  app/seo/zion-ai-free-tools/page.tsx
Labels: docs

feat(seo): add IT/health-check/docs free-tools lead-gen pages
  app/seo/document-automation-enterprise-free-tools/page.tsx
  app/seo/free-it-health-check-monitoring-tools/page.tsx
  app/seo/it-automation-free-tools/page.tsx
Labels: none

fix(outreach): webpack build, filtered leads, LLM retry, cross-folder miner
  .github/workflows/continuous-pages-deploy.yml
  Zion_Brain_Log.md
  commands/__pycache__/google_workspace.cpython-313.pyc
  commands/google_workspace.py
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/_run_safe_batch.py
  lead-crm/all-leads.json
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/historical_email_miner.py
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/outreach_batch_current.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/pipeline_sent_cache.txt
  lead-crm/replenish_cursor.json
  lead-crm/tailor_log.jsonl
  lead-crm/tailor_ready_llm.py
  package.json
Labels: docs, automation

chore(seo): finalize lead-gen SEO content and outreach assets
  MEMORY.md
  app/seo/ai-business-proposal-template/page.tsx
  app/seo/ai-contact-center-free-tools/page.tsx
  app/seo/ai-copilot-enterprise-it-free-resources/page.tsx
  app/seo/ai-email-tuning-free-tools/page.tsx
  app/seo/ai-free-platform-trial/page.tsx
  app/seo/ai-free-services-and-tools/page.tsx
  app/seo/ai-poc-to-production-playbook/page.tsx
  app/seo/ai-sales-workflow-automation-templates/page.tsx
  app/seo/document-automation-enterprise-free-tools/page.tsx
  app/seo/free-it-health-check-monitoring-tools/page.tsx
  app/seo/it-automation-free-tools/page.tsx
  app/seo/zion-ai-free-tools/page.tsx
Labels: docs

fix: deploy docs folder artifact to GitHub Pages
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

chore(outreach): update sent cache and pipeline log after CEO replies
  lead-crm/pipeline_log.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add AI/IT blog pages for lead generation
  app/blog/ai-cost-optimization-for-it-operations/page.tsx
  app/blog/ai-outsourcing-vs-inhouse-it-teams/page.tsx
  app/blog/ai-seo-content-strategy-for-ai-it-companies/page.tsx
Labels: none

fix(deploy): use out/ artifact for GitHub Pages
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

fix: continuous pages deploy artifact path, dedupe sitemap
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  public/sitemap.xml
  scripts/generate-sitemap-feed.cjs
Labels: automation

feat(seo): add AI/IT blog pages for MLOps, GRC, edge computing
  app/blog/ai-edge-computing-for-real-time-enterprise-workloads/page.tsx
  app/blog/ai-grc-automation-governance-risk-compliance/page.tsx
  app/blog/ai-mlops-observability-for-it-operations/page.tsx
Labels: none

chore(automation): sync site contents
  .tmp_sitemap_paths.txt
  commands/__pycache__/google_workspace.cpython-313.pyc
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/tailor_log.jsonl
Labels: none

feat(seo): add IT cost optimization and RevOps AI tools pages
  app/seo/it-cost-optimization-ai-tools/page.tsx
  app/seo/revenue-operations-ai-tools/page.tsx
Labels: none

fix(llm): wire Nous provider into unified LLM client and tailor pipeline
  lead-crm/tailor_ready_llm.py
  lib/llm_client.py
Labels: none

chore(outreach): sync workflow fix and pipeline artifacts
  .github/workflows/continuous-pages-deploy.yml
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/tailor_log.jsonl
Labels: automation

feat(seo): add 3 AI/IT blog pages for DevOps platform engineering, voice agents, and IT leaders
  app/blog/ai-devops-platform-engineering/page.tsx
  app/blog/ai-services-for-business-it-leaders-in-2026/page.tsx
  app/blog/ai-voice-agents-and-conversational-automation/page.tsx
Labels: none

fix(outreach): replace noisy leads and wire unified LLM client in sender
  lead-crm/all-leads.json
  lead-crm/send_outreach_batch.py
Labels: none

chore(outreach): sync tailored artifacts and pyc changes
  .github/workflows/continuous-pages-deploy.yml
  data/v26_run_log.jsonl
  lead-crm/__pycache__/tailor_ready_llm.cpython-313.pyc
  lead-crm/outreach_tailored_canonical.json
  lead-crm/tailor_log.jsonl
  lib/__pycache__/llm_client.cpython-313.pyc
Labels: automation

feat(seo): add 4 AI/IT blog pages for cybersecurity, FinOps, data engineering, IT consulting
  app/blog/ai-cloud-cost-management-and-finops-automation/page.tsx
  app/blog/ai-cybersecurity-threat-detection-and-response-automation/page.tsx
  app/blog/ai-data-engineering-modern-data-stack-for-enterprises/page.tsx
  app/blog/ai-it-consulting-services-complete-guide-for-2026/page.tsx
Labels: none

chore(outreach): sync miner and lead artifacts
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): record Nebius reply in sent cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add AI platform engineering, voice agents, IT leaders 2026 pages
  app/blog/ai-platform-engineering-modern-software-delivery/page.tsx
  app/blog/ai-services-for-it-leaders-2026/page.tsx
  app/blog/ai-voice-agents-conversational-automation/page.tsx
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): clean queue, send replies, and monitor responses
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/_run_safe_batch.py
  lead-crm/all-leads.json
  lead-crm/outreach_batch_current.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/send_outreach_batch.py
Labels: none
