Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat: add NavigationQuickLinks and improve homepage layout/navigation
  app/components/NavigationQuickLinks.tsx
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

site: improve navigation/services nav and center category truth, fix Solutions→solutions/* links, restore free-contact, update sitemap
  app/components/Navigation.tsx
  app/constants/categories.ts
  app/data/servicesData.ts
  app/tools/phishing-analyzer/page.tsx
Labels: none

feat: add HomepageEnhancements component and improve homepage navigation/layout/content
  app/components/HomepageEnhancements.tsx
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  app/case-studies/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
  public/_redirects
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  docs/industries/index.html
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(monitor): add processed outreach report excerpts
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat(tools): add /free-ai-it-tools landing page and redirect legacy /free-tools-hub
  components/Footer.tsx
  docs/free-ai-it-tools/index.html
  free-ai-it-tools/index.html
  public/_redirects
Labels: frontend

feat(tools): promote /free-ai-it-tools fallback in Pages workflow
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(tools): remove stale /free-ai-it-tools redirect and clean tree
  outreach_monitor/processed/monitor_report.jsonl
  public/free-ai-it-tools/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/globals.css
  app/page.tsx
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: homepage nav/catalog, footer links, add /free-contact and /use-cases
  app/components/Footer.tsx
  app/constants/navigation.ts
  app/free-contact/page.tsx
  app/page.tsx
  app/solutions/page.tsx
  app/tools/phishing-analyzer/page.tsx
  app/use-cases/page.tsx
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

chore(build): raise Node heap for Pages build wrapper
  scripts/build-wrapper.cjs
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/components/Footer.tsx
  app/components/Navigation.tsx
  app/help/page.tsx
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add /use-cases, /industries/financial-services, /public-roadmap, /status-page, /tools/phishing-analyzer + fallback routes
  docs/_redirects
  docs/industries/financial-services/index.html
  docs/use-cases/index.html
  public/_redirects
  public/public-roadmap/index.html
  public/status-page/index.html
Labels: none

chore(site): add /free-consultation, /solutions/healthcare and additional fallback routes
  docs/_redirects
  docs/solutions/healthcare/index.html
  docs/use-cases/index.html
  public/_redirects
  public/free-consultation/index.html
Labels: none

chore(outreach): automated outreach cycle
  app/business-customers/page.tsx
  app/components/Footer.tsx
  app/components/HomepageEnhancements.tsx
  app/components/NavigationQuickLinks.tsx
  app/governments/page.tsx
  app/industries/education-&-research/page.tsx
  app/industries/energy-&-utilities/page.tsx
  app/industries/financial-services-&-fintech/page.tsx
  app/industries/healthcare-&-life-sciences/page.tsx
  app/industries/legal-&-compliance/page.tsx
  app/industries/logistics-&-supply-chain/page.tsx
  app/industries/manufacturing-&-industrial/page.tsx
  app/industries/media-&-entertainment/page.tsx
  app/industries/page.tsx
  app/industries/retail-&-e-commerce/page.tsx
  app/industries/technology-&-saas/page.tsx
  app/integrators/page.tsx
  app/it-vendors/page.tsx
  app/page.tsx
  app/providers/page.tsx
  next-env.d.ts
  outreach_monitor/processed/monitor_report.jsonl
  scripts/gen-industries.cjs
Labels: automation

fix(pages): force include fallback pages in Pages artifact and verify new routes
  .github/workflows/gh-pages.yml
  docs/status/index.html
Labels: automation

feat(site): expand industries pages and status alias
  docs/industries/insurance/index.html
  docs/industries/legal/index.html
  docs/status/index.html
Labels: none

feat: add static docs/help fallback for /help route
  docs/help/index.html
Labels: none

chore(outreach): automated outreach cycle
  app/business-customers/page.tsx
  app/governments/page.tsx
  app/industries/education-&-research/page.tsx
  app/industries/energy-&-utilities/page.tsx
  app/industries/financial-services-&-fintech/page.tsx
  app/industries/healthcare-&-life-sciences/page.tsx
  app/industries/legal-&-compliance/page.tsx
  app/industries/logistics-&-supply-chain/page.tsx
  app/industries/manufacturing-&-industrial/page.tsx
  app/industries/media-&-entertainment/page.tsx
  app/industries/page.tsx
  app/industries/retail-&-e-commerce/page.tsx
  app/industries/technology-&-saas/page.tsx
  app/integrators/page.tsx
  app/it-vendors/page.tsx
  app/providers/page.tsx
  docs/use-cases/index.html
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/clean-industries.sh
Labels: automation

chore(outreach): automated outreach cycle
  app/use-cases/page.tsx
  docs/_redirects
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: improve /help, /use-cases, /solutions navigation; add static fallbacks and redirects
  app/components/Footer.tsx
  app/solutions/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  app/case-studies/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/industries/page.tsx
  app/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
  scripts/patch-industries-metadata.cjs
Labels: automation

feat(pages): add docs/services static services landing fallback
  .github/workflows/gh-pages.yml
  docs/services/index.html
  public/free-tools-hub/index.html
Labels: automation

feat: add case studies nav exposure, standalone testimonials, use-cases fallback
  app/case-studies/page.tsx
  app/components/Footer.tsx
  app/constants/navigation.ts
  app/testimonials/page.tsx
  docs/case-studies/index.html
Labels: none

feat: Add Industry Solutions hub with dynamic pages
  app/components/Footer.tsx
  app/constants/navigation.ts
  app/data/servicesData.ts
  app/globals.css
  app/industry-solutions/[industry]/page.tsx
  app/industry-solutions/page.tsx
Labels: none

fix: restore servicesData.json to proper dict format after exponential growth engine run
  app/data/servicesData.json
Labels: none

feat: Add SEO-optimized industry landing pages and improve navigation
  app/constants/navigation.ts
  app/industries/energy-utilities/page.tsx
  app/industries/financial-services-fintech/page.tsx
  app/industries/healthcare-life-sciences/page.tsx
  app/industries/legal-compliance/page.tsx
  app/industries/media-entertainment/page.tsx
  app/industries/page.tsx
  app/industries/retail-ecommerce/page.tsx
  app/industries/technology-saas/page.tsx
Labels: none

feat(seo): add /ai-automation-playbook page and update sitemap
  app/ai-automation-playbook/page.tsx
  public/sitemap.xml
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
