Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

fix: update Playwright config for Next.js export mode
  playwright.config.ts
Labels: none

fix: resolve final YAML syntax issues in workflow-validator.yml
  .github/workflows/marketing-daily.yml
  .github/workflows/monetization-continuous.yml
  .github/workflows/revenue-ideas-daily.yml
  .github/workflows/workflow-validator.yml
Labels: workflows, config, marketing

fix: resolve workflow runtime issues - timeout commands, jq dependencies, and serve installation
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright-smoke.yml
Labels: workflows, config

fix: disable workflows-auto-healer to prevent automatic workflow modifications
  fix_workflow_runtime_issues.sh
  package.json
  scripts/workflows-auto-healer.cjs.disabled
  tsconfig.tsbuildinfo
Labels: config

Create empty ecosystem configuration file
  ecosystem.github-actions-redundancy.cjs
Labels: none

Resolve ESM module issues, optimize build, and sync git repository
  FINAL_PROJECT_STATUS_2025-01-17.md
Labels: none

Add manifest for run-functions-and-rerun Netlify plugin
  netlify/plugins/run-functions-and-rerun/manifest.yml
Labels: config

Remove unused inputs from run-functions-and-rerun plugin
  netlify/plugins/run-functions-and-rerun/index.js
Labels: none

Refactor GitHub workflows for improved performance and reliability
  .github/workflows/codeql.yml
  .github/workflows/release-deploy.yml
  .github/workflows/security.yml
  .github/workflows/workflow-auto-healer.yml
  .github/workflows/workflow-manager.yml
  .github/workflows/workflow-validator.yml
Labels: workflows, config

Update GitHub Actions workflows and release process
  .github/workflows/release-deploy.yml
  .github/workflows/security.yml
  .github/workflows/workflow-auto-healer.yml
  .github/workflows/workflow-validator.yml
Labels: workflows, config

Fix GitHub workflow permissions and action version updates
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379731007-1-deployment-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379759033-2-deployment-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379777752-5-testing-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089844-1-deployment-advanced.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089846-4-testing-advanced.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089848-6-testing-intermediate.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-factory-automation.yml
  .github/workflows/broken_workflows_backup_1755470975/branch-cleanup.yml
  .github/workflows/broken_workflows_backup_1755470975/ci-self-heal.yml
  .github/workflows/broken_workflows_backup_1755470975/cursor-rules-autoupdate.yml
  .github/workflows/broken_workflows_backup_1755470975/dependabot-auto-approve.yml
  .github/workflows/broken_workflows_backup_1755470975/dependency-auto-upgrade.yml
  .github/workflows/broken_workflows_backup_1755470975/docs-autogen.yml
  .github/workflows/broken_workflows_backup_1755470975/ephemeral-branch-autorebase.yml
  .github/workflows/broken_workflows_backup_1755470975/fast-auto-push-to-main.yml
  .github/workflows/broken_workflows_backup_1755470975/workflow-auto-healer.yml
  .github/workflows/dependencies.yml
  .github/workflows/workflow-auto-healer.yml
  .github/workflows/workflow-manager.yml
  .github/workflows/workflow-validator.yml
Labels: workflows, config

Fix workflow permission and concurrency configuration across multiple files
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379731007-1-deployment-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379759033-2-deployment-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755379777752-5-testing-expert.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089844-1-deployment-advanced.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089846-4-testing-advanced.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-agent-1755381089848-6-testing-intermediate.yml
  .github/workflows/broken_workflows_backup_1755470975/agent-factory-automation.yml
  .github/workflows/broken_workflows_backup_1755470975/branch-cleanup.yml
  .github/workflows/broken_workflows_backup_1755470975/ci-self-heal.yml
  .github/workflows/broken_workflows_backup_1755470975/cursor-rules-autoupdate.yml
  .github/workflows/broken_workflows_backup_1755470975/dependabot-auto-approve.yml
  .github/workflows/broken_workflows_backup_1755470975/dependency-auto-upgrade.yml
  .github/workflows/broken_workflows_backup_1755470975/docs-autogen.yml
  .github/workflows/broken_workflows_backup_1755470975/ephemeral-branch-autorebase.yml
  .github/workflows/broken_workflows_backup_1755470975/fast-auto-push-to-main.yml
  .github/workflows/broken_workflows_backup_1755470975/workflow-auto-healer.yml
  .github/workflows/workflow-manager.yml
  tmp/download-actionlint.bash
Labels: workflows, config

Replace logs.info with console.log in run-functions-and-rerun plugin
  netlify/plugins/run-functions-and-rerun/index.js
Labels: none

style: restore Tailwind setup (postcss/tailwind config) and globals.css with Tailwind directives
  postcss.config.js
  styles/globals.css
  tailwind.config.js
Labels: frontend

Add package.json check to workflow jobs for conditional execution
  .github/workflows/cursor-rules-autoupdate.yml
  .github/workflows/infinite-improvement-loop.yml
  .github/workflows/maintenance.yml
  .github/workflows/playwright-smoke.yml
  .github/workflows/pr-auto-curator.yml
  .github/workflows/rapid-git-sync.yml
  .github/workflows/rapid-sync.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/repo-knowledge-graph.yml
  .github/workflows/repo-radar.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-gates.yml
  .github/workflows/self-healing-build.yml
  .github/workflows/sitemap-and-search.yml
  .github/workflows/sitemap-auto-commit.yml
  .github/workflows/stale.yml
  .github/workflows/test-auth.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  .github/workflows/todo-issue-sync.yml
  .github/workflows/yaml-validator.yml
Labels: workflows, config

Trigger test workflow - Mon Aug 18 04:44:32 PM UTC 2025
  test-trigger.md
Labels: none

Trigger GitHub Actions workflows for testing
  README.md
Labels: none

Trigger CI workflow test - Mon Aug 18 04:48:03 PM UTC 2025
  workflow-test-trigger.md
Labels: none

test: trigger workflows for testing and fixing
  workflow-test-trigger.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

Add simple test workflow to trigger GitHub Actions testing
  .github/workflows/simple-test.yml
Labels: workflows, config

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

Refactor workflow management scripts for better readability and formatting
  .github/workflows/workflow-manager.yml
Labels: workflows, config

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

Test multiple workflows - Mon Aug 18 04:49:14 PM UTC 2025
  multi-workflow-test.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add homepage_advertiser report [skip ci]
  automation/netlify-build-stamp.txt
  netlify/functions/homepage-advertiser-report.md
Labels: automation

🤖 Add cloud_orchestrator report [skip ci]
  netlify/functions/cloud-orchestrator-report.md
Labels: none

🤖 Add front-enhancer report [skip ci]
  netlify/functions/front-enhancer-report.md
Labels: none

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
