Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix(ci): remove duplicate allServices/Metadata imports in service-health page
  app/status/service-health/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): use servicesData.ts JSON default-export wrapper and normalize TS consumers
  app/components/ProposalPDF.tsx
  app/components/ServiceCounter.tsx
  app/data/servicesData.ts
  app/products/page.tsx
  app/tools/ai-service-router/AIServiceRouterClient.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(build): make servicesData.ts consistently export named allServices/Service
  app/data/servicesData.ts
Labels: none

fix(ci): add json module declaration and validate service-health import path
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(ci): correct servicesData import path in status/service-health page
  app/status/service-health/page.tsx
Labels: none

ci: clear stale export artifacts and force clean static export generation
  outreach_monitor/processed/monitor_report.jsonl
  scripts/build-wrapper.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: add diagnostic build-state phases to build wrapper
  scripts/build-wrapper.cjs
Labels: automation

ci: restore postbuild execution in wrapper with build-state diagnostics
  build-state.zip
  outreach_monitor/processed/monitor_report.jsonl
  public/sitemap.xml
  scripts/build-wrapper.cjs
Labels: automation

ci: remove accidental build-state.zip from repo
  build-state.zip
Labels: none

ci: restore postbuild execution in wrapper with build-state diagnostics
  lead-crm/all-leads.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/api/healthz/route.ts
  lead-crm/metrics_tailor_coverage.json
Labels: none

feat(monitoring): add lightweight /api/healthz endpoint for uptime checks
  app/api/healthz/route.ts
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/reports/pages-canonical-deploy-latest.json
Labels: automation

ci: capture next build output to automation/reports/build-latest.log
  outreach_monitor/processed/monitor_report.jsonl
  scripts/build-wrapper.cjs
Labels: automation

fix(ci): preflight required modules/binaries in build wrapper
  outreach_monitor/processed/monitor_report.jsonl
  scripts/build-wrapper.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(pages): switch to static source from main
  .github/pages.yml
Labels: none

feat(verifier): emit concise canonical deploy summary for continuous monitoring
  outreach_monitor/processed/monitor_report.jsonl
  scripts/checks/pages-canonical-deploy-verifier.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): preserve monitor evidence and clean workspace state
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci: enable unsecure node env + preserve outreach artifacts and drafts
  .github/workflows/gh-pages.yml
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  outreach_monitor/processed/next_ceo_reply_hemmersbach.json
  outreach_monitor/processed/next_ceo_reply_heygen.json
Labels: automation

fix(verifier): correct nested route canonical extraction and preserve summary output
  scripts/checks/pages-canonical-deploy-verifier.py
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

feat(outreach): expand all-folder discovery and timed follow-up queries
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

ci: remove wrapper preflight exits so build-state reflects real build errors
  scripts/build-wrapper.cjs
Labels: automation

fix: add tools/json-formatter index
  app/tools/json-formatter/index.html
Labels: none

ci: add build-state tail diagnostics from out/.next and postbuild output
  outreach_monitor/processed/monitor_report.jsonl
  package-lock.json
  scripts/build-wrapper.cjs
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  scripts/build-wrapper.cjs
Labels: automation

feat: add /privacy-policy and /terms-of-service pages
  app/privacy-policy/page.tsx
  app/terms-of-service/page.tsx
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: implement/terms/privacy-policy canonical legal pages and remove duplicate aliases
  app/api/healthz/route.ts
  app/privacy-policy/page.tsx
  app/privacy/page.tsx
  app/terms-of-service/page.tsx
  app/terms/page.tsx
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
  package-lock.json
  package.json
Labels: docs

fix: restore /api/healthz edge endpoint after accidental removal
  app/api/healthz/route.ts
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-13.md
  outreach_monitor/processed/monitor_report.jsonl
  outreach_ready_canonical.analysis.json
Labels: docs

chore(outreach): automated outreach cycle
  app/api/healthz/route.ts
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  outreach_monitor/processed/next_ceo_reply_heygen_postclose.json
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
