Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(outreach): sync monitor report
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  .github/workflows/gh-pages.yml
Labels: automation

fix(pages): canonical root/docs artifact, explicit /services /tools copies, cancel-in-progress true
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

fix: promote docs/free-tools/index.html fallback in Pages artifact
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: add /status and /status/service-health docs fallbacks and ensure artifact promotion
  .github/workflows/gh-pages.yml
  docs/status/index.html
  docs/status/service-health/index.html
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/dedupe_hot_followup_ledger.py
  token_control.json
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/services/ai-first-application-performance-monitoring-and-observability-for-it-in-2026/page.tsx
  memory/2026-07-23.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: docs

feat: regenerate servicesData.ts with 1651 services, fix email automation, send 14 hot follow-up replies
  app/data/servicesData.ts
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  scripts/outreach/hot_followup_responder.py
  scripts/outreach/hot_followup_simple.py
  scripts/sync_services_ts.cjs
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci,pages): downgrade checkout to v4 with fetch-depth 1 and restore services/status fallback routes
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  memory/2026-07-23.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  public/services/index.html
  token_control.json
Labels: none

fix(pages): add public/services/data-pipeline-observability fallback
  public/services/data-pipeline-observability/index.html
Labels: none

fix(pages): add public/services fallbacks for missing service routes
  public/services/ai-first-application-performance-monitoring-and-observability-for-it-in-2026/index.html
  public/services/cloud-cost-optimization/index.html
  public/services/cyber-incident-response/index.html
Labels: none

fix(outreach): resolve google_workspace merge state, add llm_tailor_config evidence
  commands/google_workspace.py
  outreach_monitor/processed/llm_tailor_config.json
Labels: none

chore(outreach): automated outreach cycle
  commands/google_workspace.py.bak
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/bounce_history.jsonl.bak
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

feat: add partners and case-studies fallback pages
  docs/case-studies/index.html
  docs/partners/index.html
Labels: none

fix(pages): copy missing service fallbacks into docs/services for Pages /docs source
  docs/services/ai-first-application-performance-monitoring-and-observability-for-it-in-2026/index.html
  docs/services/cyber-incident-response/index.html
  docs/services/data-pipeline-observability/index.html
Labels: none

fix(pages): route /case-studies and /industries to docs fallbacks
  public/_redirects
Labels: none

feat: add /book Calendly booking fallback page
  docs/book/index.html
Labels: none

fix(pages): rewrite corrupted docs/services fallback HTML cleanly
  docs/services/ai-first-application-performance-monitoring-and-observability-for-it-in-2026/index.html
  docs/services/cyber-incident-response/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
  web_prospecting_blocker_20260723_000146.json
Labels: none

feat: add support and community fallback pages
  docs/community/index.html
  docs/support/index.html
Labels: none

feat: add academy and developers fallback pages
  docs/developers/index.html
Labels: none

feat: add insights, integrations, resources, trust, roadmap, events, newsletter and docs hub
  docs/docs-hub/index.html
  docs/events/index.html
  docs/insights/index.html
  docs/newsletter/index.html
  docs/resources/index.html
  docs/roadmap/index.html
  docs/trust/index.html
Labels: none

feat: add pricing calculator, reference, library, samples, legal
  docs/legal/index.html
  docs/library/index.html
  docs/pricing/calculator/index.html
  docs/reference/index.html
  docs/samples/index.html
Labels: none

feat: add press and training fallback pages
  docs/press/index.html
  docs/training/index.html
Labels: none

fix(outreach): broaden Hermes auth.json fallback lookup so LLM tailoring enables at runtime
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  scripts/token_renewal_notifier.py
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
