Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix(outreach): enforce one-contact-per-domain in safe batch builder
  lead-crm/_run_safe_batch.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

fix(ci): restore servicesData/navigation/seoConstants/StepsIndicator import paths
  app/ai-services/page.tsx
  app/components/Footer.tsx
  app/components/LocalBusinessStructuredData.tsx
  app/components/ProposalPDF.tsx
  app/components/ServiceCounter.tsx
  app/components/SmartSearchBar.tsx
  app/configurator/page.tsx
  app/consulting/page.tsx
  app/data/servicesData.ts
  app/pricing-calculator/page.tsx
  app/products/layout.tsx
  app/products/page.tsx
  app/services/[id]/page.tsx
  app/services/stage/[stage]/page.tsx
  app/status/service-health/page.tsx
  app/tools/ai-service-router/AIServiceRouterClient.tsx
Labels: none

fix(seo): stop forcing homepage canonical in global layout
  app/layout.tsx
  app/portal/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(outreach): preserve gmail thread headers when sending CEO replies
  lead-crm/send_outreach_batch.py
Labels: none

fix(deps): bump Next and Playwright versions in package.json ranges
  package.json
Labels: none

fix(deps): force patched transitive versions via overrides
  package.json
Labels: none

docs(outreach): restore clean activation guide
  OUTREACH_SETUP.md
Labels: docs

feat(monitor): expand site health checks + telegram alert path
  scripts/site_health_check_log_status.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  tmp_hot_followup_check.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

ci: normalize services/seo/navigation/StepsIndicator import paths
  app/ai-services/page.tsx
  app/components/Footer.tsx
  app/components/LocalBusinessStructuredData.tsx
  app/components/ProposalPDF.tsx
  app/components/ServiceCounter.tsx
  app/components/SmartSearchBar.tsx
  app/configurator/page.tsx
  app/consulting/page.tsx
  app/pricing-calculator/page.tsx
  app/products/layout.tsx
  app/products/page.tsx
  app/services/[id]/page.tsx
  app/services/stage/[stage]/page.tsx
  app/status/service-health/page.tsx
  app/tools/ai-service-router/AIServiceRouterClient.tsx
Labels: none

fix: restore TS source imports, sync package-lock, package Pages out/ artifact
  package-lock.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(outreach): harden dedup, restore legacy state, ignore runtime artifacts
  .gitignore
  lead-crm/outreach-log.jsonl
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/site_monitor_state.json
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore: remove generated outreach runner artifacts
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): sync hot-followup ledger + miner dead-domain suppression
  scripts/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_monitor/processed/ceo_draft_19ec75d835ce8a1d.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

docs(outreach): add activation checklist + offline dry-run for authless validation
  ACTIVATION-CHECKLIST.md
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/offline_dry_run.py
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: docs, automation

chore(outreach): remove generated runner artifacts
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

chore(outreach): update HeyGen draft artifact with live draft id
  lead-crm/outreach_monitor/processed/ceo_draft_19ec75d835ce8a1d.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  tmp_query_hot_followup.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(.gitignore): align outreach runtime artifacts with actual scripts/ paths
  .gitignore
Labels: none

fix(.gitignore): also ignore root outreach_monitor processed files
  .gitignore
Labels: none

feat(outreach): add Nous token refresh fallback + miner improvements
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

feat(observability): add timing metrics to deploy-watchdog-check
  scripts/checks/deploy-watchdog-check.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(postbuild): tolerate missing out/services in service index generator
  scripts/generate_service_index.cjs
Labels: automation

chore: refresh token telemetry and sitemap
  data/token_dashboard.json
  data/token_state.json
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
