Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Add manual test workflow to verify GitHub Actions functionality
  .github/workflows/test-manual.yml
Labels: workflows, config

ci: trigger yaml-auto-fixer workflow specifically
  yaml-auto-fixer-trigger.md
Labels: none

🤖 Automated sync via cloud orchestrator [skip ci]
  netlify/functions/trigger-all-and-commit.js
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

Add Netlify serverless functions for cloud and front-end orchestration
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-front-runner.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/fast-front-promoter.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/features-capabilities-benefits-advertiser.js
  netlify/functions/front-enhancer.js
  netlify/functions/front-index-orchestrator.js
  netlify/functions/front-maximizer.js
  netlify/functions/front-visionary-expander.js
  netlify/functions/frontpage-enhancer.js
  netlify/functions/home-visionary-expander.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/hyper-front-index-accelerator.js
  netlify/functions/link-and-health-scheduler.js
  netlify/functions/marketing-and-features-promo.js
  netlify/functions/readme-advertiser.js
  netlify/functions/sitemap_runner.js
  netlify/functions/trigger-all-and-commit.js
  netlify/functions/ultrafast-orchestrator.js
Labels: none

Add test workflow to verify GitHub Actions functionality
  .github/workflows/workflow-test.yml
Labels: workflows, config

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

ci: trigger yaml-auto-fixer-simple workflow specifically
  yaml-auto-fixer-simple-trigger.md
Labels: none

🤖 Ultra-fast orchestration via Netlify function [skip ci]
  ULTRAFAST_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

Implement Netlify Functions for core orchestration and enhancement
  .gitignore
  automation/netlify-build-stamp.txt
  netlify-functions-testing-report.md
  netlify/functions/ai-changelog-runner.js
  netlify/functions/auto-scheduler.js
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/docs-index-runner.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/features-capabilities-benefits-advertiser.js
  netlify/functions/front-enhancer.js
  netlify/functions/front-maximizer.js
  netlify/functions/functions-manifest.json
  netlify/functions/headers-enforcer.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/image-optimizer-runner.js
  netlify/functions/innovation-lab.js
  netlify/functions/readme-advertiser.js
  netlify/functions/security-audit-runner.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/sitemap_runner.js
  netlify/functions/ultrafast-orchestrator.js
  package.json
Labels: automation, config

🤖 Trigger all functions and commit changes via Netlify function [skip ci]
  TRIGGER_ALL_AND_COMMIT_REPORT.md
Labels: none

🤖 Ultra-fast orchestration via Netlify function [skip ci]
  ULTRAFAST_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

workflow: trigger workflow-health-monitor workflow specifically
  workflow-health-monitor-trigger.md
Labels: none

🤖 Add readme-auto-advertiser report [skip ci]
  readme-auto-advertiser-report.md
Labels: none

workflow: trigger workflow-watchdog workflow specifically
  workflow-watchdog-trigger.md
Labels: none

Add smart merge agent workflow and improve workflow health check script
  .github/workflows/smart-merge-agent.yml
  scripts/workflow-health-check.sh
Labels: workflows, config

Add Netlify cloud functions for automated system orchestration
  netlify/functions/a11y-alt-text-runner.js
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/auto-scheduler.js
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/fast-front-promoter.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/features-capabilities-benefits-advertiser.js
  netlify/functions/front-ads-promoter.js
  netlify/functions/front-enhancer.js
  netlify/functions/front-index-orchestrator.js
  netlify/functions/frontpage-enhancer.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/hyper-front-index-accelerator.js
  netlify/functions/innovation-lab.js
  netlify/functions/link-and-health-scheduler.js
  netlify/functions/marketing-and-features-promo.js
  netlify/functions/metadata-optimizer-runner.js
  netlify/functions/readme-advertiser.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/sitemap_runner.js
  netlify/functions/stale-content-auditor-runner.js
  netlify/functions/ultrafast-front-orchestrator.js
  netlify/functions/ultrafast-orchestrator.js
Labels: none

workflow: trigger workflow-supervisor workflow specifically
  workflow-supervisor-trigger.md
Labels: none

workflow: trigger workflow-radar workflow specifically
  workflow-radar-trigger.md
Labels: none

workflow: trigger workflow-validator workflow again
  workflow-validator-trigger-2.md
Labels: none

Add multiple Netlify serverless functions for automation
  .gitignore
  automation/netlify-build-stamp.txt
  netlify/functions/auto-scheduler.js
  netlify/functions/broken-image-scanner.js
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-front-runner.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/fast-front-promoter.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/features-capabilities-benefits-advertiser.js
  netlify/functions/front-ads-promoter.js
  netlify/functions/front-enhancer.js
  netlify/functions/front-index-orchestrator.js
  netlify/functions/front-maximizer.js
  netlify/functions/frontpage-enhancer.js
  netlify/functions/functions-manifest.json
  netlify/functions/homepage_advertiser.js
  netlify/functions/hyper-front-index-accelerator.js
  netlify/functions/innovation-lab.js
  netlify/functions/link-and-health-scheduler.js
  netlify/functions/marketing-and-features-promo.js
  netlify/functions/readme-advertiser.js
  netlify/functions/security-audit-runner.js
  netlify/functions/sitemap_runner.js
  package.json
Labels: automation, config

workflow: trigger workflow-auto-healer workflow specifically
  workflow-auto-healer-trigger.md
Labels: none

build: trigger self-healing-build workflow specifically
  self-healing-build-trigger.md
Labels: none

ci: trigger ci-auto-heal workflow specifically
  ci-auto-heal-trigger.md
Labels: none

ci: trigger ci-self-heal workflow specifically
  ci-self-heal-trigger.md
Labels: none

ci: trigger ci-quality workflow specifically
  ci-quality-trigger.md
Labels: none

Fix GitHub Actions workflow syntax and add testing infrastructure
  .github/workflows/ci-lint-types-build.yml
  .github/workflows/cleanup.yml
  .github/workflows/cursor-rules-autoupdate.yml
  .github/workflows/maintenance.yml
  .github/workflows/merge-conflict-guard.yml
  .github/workflows/netlify-monitor.yml
  .github/workflows/workflow-manager.yml
  WORKFLOW_FIXES_SUMMARY.md
  test-workflows.js
  workflow-testing-plan.md
Labels: workflows, config

ci: trigger ci-lint-types-build workflow specifically
  ci-lint-types-build-trigger.md
Labels: none

ci: trigger ci-merge-main workflow specifically
  ci-merge-main-trigger.md
Labels: none

ci: trigger fast-lint-sync workflow specifically
  fast-lint-sync-trigger.md
Labels: none

automation: trigger automation-guardian-10min workflow specifically
  automation-guardian-10min-trigger.md
Labels: none

automation: trigger automation-orchestrator workflow specifically
  automation-orchestrator-trigger.md
Labels: none
