Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-16.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

ci(pages): fix fallback artifact outputs so deploy runs even when Next build fails
  .github/workflows/gh-pages.yml
Labels: automation

feat(outreach): improve LLM recovery from reasoning-only responses and adjust email extraction guards
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

ci(pages): promote automation/docs fallback routes and keep docs-fallback deploy gate
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): update dedup/bounce state and LLM readiness snapshot
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(outreach): automated outreach cycle
  automation_reports/outreach_llm_provider_status.jsonl
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(crawl): record 2026-07-16 site integrity probe
  artifacts/crawl-2026-07-16.json
  live-path-check.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/send_outreach_batch.py
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-16.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach+crawl): send 1 CEO reply to interoftkk.com, record 2026-07-16 crawl probe
  artifacts/crawl-2026-07-16.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/sent_ledger.jsonl
  outreach_monitor/processed/sent_threads.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-17.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

build: update sitemap.xml with current build timestamp
  public/sitemap.xml
  site-check.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-17.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: resolve build failures and deploy all 1614 services
  app/data/servicesData.ts
  app/products/layout.tsx
  app/products/page.tsx
  public/sitemap.xml
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat(outreach): improve LLM tailoring recovery and strict guard logic for interest/hot-follow-up drafts
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

ci: update workflow to use direct npm run build instead of build-wrapper
  .github/workflows/gh-pages.yml
  github-pages/artifact.tar
Labels: automation

ci: remove artifact.tar from commit
  github-pages/artifact.tar
Labels: none

ci: increase memory limit to 8GB for Next.js build
  .github/workflows/gh-pages.yml
Labels: automation

feat(outreach/gmail): add 24h auto-suppress guard and LLM tailoring recovery
  commands/google_workspace.py
  lead-crm/send_outreach_batch.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  commands/google_workspace.py
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none
