Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat: add admin-dashboard and partner-portal client pages
  app/admin-dashboard/page.tsx
  app/partner-portal/page.tsx
  public/sitemap.xml
Labels: none

feat: add recovered content pages and clean state for redeploy
  app/ai-first-education-platforms-and-learning-intelligence-in-2026/page.tsx
  app/ai-first-low-code-workflow-automation-for-brazilian-it-in-2026/page.tsx
  app/ai-first-occupational-health-and-safety-intelligence-in-2026/page.tsx
  app/ceo-partnership-negotiation-email-templates/page.tsx
Labels: none

feat: add partnership playbook and edge monitoring pages
  app/ai-first-low-latency-observability-and-edge-monitoring-for-it-in-2026/page.tsx
  app/ai-partnership-growth-playbook-2026/page.tsx
Labels: none

feat: add docs fallback pages for new routes
  docs/admin-dashboard/index.html
  docs/ai-first-low-latency-observability-and-edge-monitoring-for-it-in-2026/index.html
  docs/ai-partnership-growth-playbook-2026/index.html
  docs/ceo-partnership-negotiation-email-templates/index.html
  docs/partner-portal/index.html
  public/sitemap.xml
Labels: none

fix(pages): ensure /api fallback via static files and _redirects
  public/_redirects
  public/api.html
  public/api/index.html
Labels: none

fix: enable cancel-in-progress for Pages deploy concurrency
  .github/workflows/gh-pages.yml
Labels: automation

feat: add devsecops content page; remove out-of-scope nursing-care-checklist
  app/ai-first-devsecops-2026/page.tsx
  app/tools/nursing-care-checklist/page.tsx
Labels: none

fix: revert cancel-in-progress to false for Pages deploy
  .github/workflows/gh-pages.yml
Labels: automation

feat: add docs fallback for devsecops page
  docs/ai-first-devsecops-2026/index.html
Labels: none

feat: add micro-saas qualification rubric page and docs fallback
  app/micro-saas-qualification-rubric/page.tsx
Labels: none

feat: add docs fallback for micro-saas-qualification-rubric
  docs/micro-saas-qualification-rubric/index.html
Labels: none

chore: recover pages, add cyber-incident-response service, update outreach state
  public/sitemap.xml
Labels: none

chore(outreach): automated outreach cycle
  app/services/cyber-incident-response/page.tsx
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  outreach_monitor/processed/pending_approval_queue.jsonl
  token_control.json
Labels: none

fix(pages): add docs/tools fallback index.html for /tools route
  docs/tools/index.html
Labels: none

fix(pages): add docs/services fallback for /services route
  docs/services/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: resolve runtime monitor merge conflict; preserve latest events
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): use fetch-depth:1 to reduce checkout time and avoid cancellation
  .github/workflows/gh-pages.yml
Labels: automation

fix(ci): downgrade checkout to v4 and disable submodules to avoid cancel
  .github/workflows/gh-pages.yml
Labels: automation

Fix TypeScript syntax errors in SEO pages (double braces to single braces)
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
Labels: none

chore: test Pages trigger
  PAGES_TRIGGER_TEST
Labels: none

chore: remove Pages trigger test file
  PAGES_TRIGGER_TEST
Labels: none

fix: exclude problematic directories from type-check and build site successfully
  memory/2026-07-22.md
  outreach_monitor/processed/_run_hot_followup_llm_v2.py
  outreach_monitor/processed/llm_drafts/draft_1746f7b9cab8c606_1784702211.json
  outreach_monitor/processed/llm_drafts/draft_17a85f4a3d00fb6f_1784701815.json
  outreach_monitor/processed/llm_drafts/draft_17a866be549a510f_1784733580.json
  outreach_monitor/processed/llm_drafts/draft_17a9c84b28d8bc0a_1784702807.json
  outreach_monitor/processed/llm_drafts/draft_17aa62aedffb40a6_1784703413.json
  outreach_monitor/processed/llm_drafts/draft_17aa693f8a0b5789_1784701511.json
  outreach_monitor/processed/llm_drafts/draft_17aa6ad6ec7a2893_1784701140.json
  outreach_monitor/processed/llm_drafts/draft_17aafe1b25773fb9_1784700520.json
  outreach_monitor/processed/llm_drafts/draft_17aafe1b25773fb9_1784701130.json
  outreach_monitor/processed/llm_drafts/draft_17aafe1b25773fb9_1784701496.json
  outreach_monitor/processed/llm_drafts/draft_17ac3981abf43198_1784700492.json
  scripts/outreach/continuous_outreach_monitor.py
  scripts/outreach/run_hot_followup.py
  scripts/outreach_monitor/processed/high_freq_scanner_report.json
Labels: docs, automation

feat: add ai-first-incident-response-2026 page and docs fallback
  app/ai-first-incident-response-2026/page.tsx
  docs/ai-first-incident-response-2026/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add ai-first-cloud-cost-optimization page and docs fallbacks
  app/ai-first-cloud-cost-optimization/page.tsx
Labels: none

feat: add ai-data-contract-governance-2026 page and docs fallbacks
  app/ai-data-contract-governance-2026/page.tsx
  docs/ai-data-contract-governance-2026/index.html
  docs/ai-first-cloud-cost-optimization/index.html
Labels: none

fix: make Pages verify deployment step explicit bash to prevent EOF syntax error
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  memory/2026-07-22.md
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: docs

feat: add ai-first-cloud-migration-2026 page and docs fallback
  app/ai-first-cloud-migration-2026/page.tsx
  docs/ai-first-cloud-migration-2026/index.html
Labels: none

fix(maintenance): restore durable Gmail token renewal script
  scripts/maintenance/renew_gog_token.py
Labels: automation

Merge token renewal script restoration
  scripts/maintenance/renew_gog_token.py
Labels: automation

chore(outreach): automated outreach cycle
  docs/services/index.html
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add docs fallback for /free-tools/
  automation/solyssey-ceo-reply-template.txt
Labels: automation

feat: add docs fallback for /free-tools/
  docs/free-tools/index.html
Labels: none

fix(outreach): mark Solyssey supplier thread as in_negotiation to suppress duplicates
  automation/hot-followup-sent.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/suppressed_threads.json
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(pages): explicitly ensure /services /tools routes in artifact
  .github/workflows/gh-pages.yml
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
