Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat: add AI readiness audit checklist SEO lead page
  app/blog/ai-it-partnership-growth-playbook-2026/page.tsx
  outreach_monitor/processed/sent_ledger.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(miner): expand deep query coverage from 18 to 32 for richer all-folder mining
  lead-crm/historical_email_miner.py
Labels: none

fix(site): reroute known-broken service links to working live URLs across blog/services/docs
  app/blog/ai-first-anti-fraud-and-payment-intelligence-in-2026/page.tsx
  app/blog/ai-first-cloud-cost-management-and-finops-in-2026/page.tsx
  app/blog/ai-first-it-asset-management-and-discovery-in-2026/page.tsx
  app/blog/ai-first-loan-origination-and-credit-intelligence-in-2026/page.tsx
  app/blog/ai-first-low-code-workflow-automation-for-brazilian-it-in-2026/page.tsx
  app/blog/ai-knowledge-management-and-enterprise-search-in-2026/page.tsx
  app/blog/ai-led-energy-management-and-carbon-optimization-in-2026/page.tsx
  app/blog/ai-virtual-cfo-and-financial-operations-automation-in-2026/page.tsx
  lead-crm/all-leads.json
  lead-crm/miner_health.json
Labels: none

feat(content): add indoor mapping, capacity planning, and low-latency observability SEO pages
  MEMORY.md
  app/blog/ai-first-capacity-planning-and-resource-forecasting-for-it-in-2026/page.tsx
  app/blog/ai-first-indoor-mapping-and-location-intelligence-for-enterprises-in-2026/page.tsx
  app/blog/ai-first-low-latency-observability-and-edge-monitoring-for-it-in-2026/page.tsx
  app/blog/ai-first-managed-it-support-playbook-for-startups-in-2026/page.tsx
  app/blog/ai-first-sase-and-secure-access-for-distributed-it-teams-in-2026/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  automation/run_crawl.py
  automation/site_integrity_check.py
  automation/verify_crawl.py
Labels: docs, automation

feat(outreach): add CEO partnership and AI support automation outreach assets
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-ai-support-automation-update-outreach.json
  lead-crm/network-and-outreach/ceo-partnership-pilot-outreach.json
Labels: docs, automation

feat(outreach): add mutual-benefit partnership and free-tools CEO outreach assets
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-free-tools-and-engagement-outreach.json
  lead-crm/network-and-outreach/ceo-mutual-benefit-partnership-outreach.json
Labels: automation

fix(content): restore missing knowledge-base service pages from crawler 404s
  MEMORY.md
  app/services/ai-knowledge-base-rag-platform/page.tsx
  app/services/it-incident-knowledge-base-automation/page.tsx
  app/services/saas-knowledge-base/page.tsx
  automation/crawl_report.py
Labels: docs, automation

chore(repo): finalize service-page revert and automation cleanup
  MEMORY.md
  app/services/ai-knowledge-base-rag-platform/page.tsx
  app/services/it-incident-knowledge-base-automation/page.tsx
  app/services/saas-knowledge-base/page.tsx
  automation/crawl_report.py
  automation/crawl_script.py
  automation/reports/site-monitor-latest.json
  automation/run_crawl.py
  automation/verify_crawl.py
Labels: docs, automation

fix(services): add dynamic /services/[id] static params for all 1614 services
  MEMORY.md
  app/services/[id]/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/build-and-verify-latest.json
  automation/reports/site-monitor-latest.json
  public/sitemap.xml
Labels: docs, automation

fix(build): verify dynamic /services/[id] export resolves broken knowledge-base routes
  automation/reports/build-and-verify-latest.json
Labels: automation

chore(lead): refresh ready-to-send hot-followup CEO reply
  MEMORY.md
  lead-crm/ceo_hot_followup_ready_send.txt
Labels: docs

feat: add AI support automation playbook SEO lead page for MSPs
  app/blog/ai-support-automation-playbook-for-msps-and-it-teams-2026/page.tsx
  outreach/twinsburg-rack-stack-leads.md
Labels: docs

feat: switch outreach to dynamic discovery inbox scoring and harden thread resolution
  outreach/twinsburg-rack-stack-job-posts.md
  outreach/twinsburg-rack-stack-leads.md
  scripts/outreach/outreach_worker_automation.py
Labels: docs, automation

chore(monitor): save gmail monitor state
  lead-crm/gmail_monitor_status.json
Labels: none

chore(miner): refresh miner health snapshot
  lead-crm/miner_health.json
Labels: none

fix(pages): make continuous deploy concurrency ref-scoped and cancellable
  .github/workflows/continuous-pages-deploy.yml
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-log.jsonl
  automation/reports/site-monitor-latest.json
  automation/site_integrity_check.py
Labels: docs, automation

feat(miner): add speed/throughput metrics for continuous improvement monitoring
  lead-crm/historical_email_miner.py
Labels: none

feat(services): add AI-first business continuity and disaster recovery planning service page
  app/services/ai-first-business-continuity-and-disaster-recovery-planning-for-it-in-2026/page.tsx
Labels: none

feat(services): add supplier risk/procurement analytics and digital twin asset simulation service pages
  app/services/ai-first-digital-twin-and-asset-simulation-for-industry-in-2026/page.tsx
  app/services/ai-first-supplier-risk-and-procurement-analytics-for-it-in-2026/page.tsx
Labels: none

feat(outreach+services): add PT-BR CEO outreach assets and endpoint management/zero trust service page
  MEMORY.md
  app/services/ai-first-endpoint-management-and-zero-trust-access-for-it-in-2026/page.tsx
  automation/crawl_one_time.py
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-2026-ideas-outreach-pt-BR.json
  lead-crm/network-and-outreach/ceo-mutual-opportunity-outreach-pt-BR.json
Labels: docs, automation

feat(seo+automation): add reusable blog generator, 5 new AI/IT SEO pages, Twitter/X lead-gen config, miner health fix
  app/blog/ai-first-channel-partner-and-reseller-enablement-in-2026/page.tsx
  app/blog/ai-first-data-center-operations-and-hybrid-infrastructure-in-2026/page.tsx
  app/blog/ai-first-end-user-computing-and-modern-workplace-in-2026/page.tsx
  app/blog/ai-first-security-operations-and-soc-automation-in-2026/page.tsx
  app/blog/ai-first-vulnerability-management-and-patch-intelligence-in-2026/page.tsx
  lead-crm/all-leads.json
  lead-crm/free-tools-lead-capture.md
  lead-crm/miner_health.json
  lead-crm/network-and-outreach/ceo-twitter-x-lead-generation.json
  lead-crm/outreach_ready_canonical.json
  scripts/generate_blog_pages.py
Labels: docs, automation

fix: harden outreach email sanitizer against leaked LLM preambles
  outreach/twinsburg-rack-stack-call-list.md
  scripts/outreach/outreach_worker_automation.py
Labels: docs, automation

chore(pages): remove stale docs/404.html, _headers, .htaccess to restore Next routing
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  docs/.htaccess
  docs/404.html
  docs/_headers
Labels: docs, automation

fix: replace regex sanitizer with robust leaked-preamble remover
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(pages): deploy only out/ artifact; drop docs overlay that masked dynamic routes
  .github/workflows/continuous-pages-deploy.yml
  MEMORY.md
Labels: docs, automation

seo: add free AI readiness audit checklist page
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
Labels: none

feat(services+outreach): add SaaS cost optimization service page and PT-BR negotiation framework outreach
  MEMORY.md
  app/services/ai-first-saas-cost-optimization-and-license-management-for-it-in-2026/page.tsx
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-negotiation-framework-pt-BR.json
Labels: docs, automation

chore(miner): update miner health snapshot with performance metrics
  lead-crm/miner_health.json
Labels: none

fix(ci): scope CI concurrency to ci-cd workflow only to avoid cancelling Pages deploys
  .github/workflows/ci-cd.yml
Labels: automation

feat(services): add network performance/WAN optimization and change management/release validation service pages
  MEMORY.md
  app/services/ai-first-change-management-and-release-validation-for-it-in-2026/page.tsx
  app/services/ai-first-network-performance-and-wan-optimization-for-it-in-2026/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
Labels: docs, automation

chore(leads): add lead quality triage + tailor coverage telemetry in master cycle
  lead-crm/lead_quality_report.md
  lead-crm/run_outreach_cycle.py
Labels: docs

fix(pages): prevent cancellation of continuous deploy runs
  .github/workflows/continuous-pages-deploy.yml
  MEMORY.md
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
Labels: docs, automation

feat(services+outreach): add capacity management/chargeback service page and AI expansion offer PT outreach
  MEMORY.md
  app/services/ai-first-capacity-management-and-chargeback-for-it-in-2026/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-ai-expansion-offer-pt-BR.json
Labels: docs, automation

feat(outreach): add utils.llm_query backend fallback for tailored outreach
  MEMORY.md
  automation/reports/site-monitor-latest.json
  automation/scripts/site_integrity_check.py
  lead-crm/send_outreach_batch.py
Labels: docs, automation

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/drafts/ceo-hot-followup-template.md
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/run_outreach_cycle.py
  lead-crm/send_outreach_batch.py
  lead-crm/tailor_ready_fast.py
  scripts/ztg-gmail-monitor.sh
Labels: docs, automation

chore(lead): refresh ready-to-send Portuguese CEO hot-followup reply
  MEMORY.md
  automation/reports/site-monitor-latest.json
  lead-crm/ceo_hot_followup_ready_send.txt
Labels: docs, automation

fix(outreach): restore queue rebuild, add LLM coverage telemetry, harden send guard
  lead-crm/rebuild_outreach_queue.py
  lead-crm/run_outreach_cycle.py
Labels: none

feat(services+outreach): add APM/observability service page and performance observability PT outreach
  MEMORY.md
  app/services/ai-first-application-performance-monitoring-and-observability-for-it-in-2026/page.tsx
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-application-performance-observability-offer-pt-BR.json
Labels: docs, automation

fix(leads): filter invalid/placeholder domains from outreach queue
  lead-crm/rebuild_outreach_queue.py
Labels: none

seo: add AI support automation playbook lead page
  app/blog/ai-support-automation-playbook-2026/page.tsx
  scripts/outreach/outreach_worker_automation.py
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
