Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, docs, data

.github/labeler.yml:

automation:
  - 'automation/**/*'
  - '.github/workflows/**/*'
  - 'scripts/**/*'

frontend:
  - 'components/**/*'
  - 'pages/**/*'
  - 'styles/**/*'

docs:
  - '**/*.md'
  - 'docs/**/*'

data:
  - 'data/**/*'

chore(automation): Add autonomous content generation and health checks
  .github/workflows/auto-orchestrator.yml
  package.json
  pages/automation/index.tsx
  pages/trends/index.json
  pages/trends/trends-2025-08-09t17-40-49-545z.tsx
  scripts/check-links.mjs
  scripts/generate-tech-trends.mjs
  tsconfig.tsbuildinfo
Labels: automation, frontend

Add ArXiv Research and Remote Roles automation features
  .github/workflows/arxiv-research-15min.yml
  .github/workflows/global-bounties-3hourly.yml
  .github/workflows/governance-pulse-daily.yml
  .github/workflows/remote-roles-30min.yml
  automation/arxiv-research.cjs
  automation/remote-roles.cjs
  components/layout/EnhancedNavigation.tsx
  data/arxiv-research.json
  data/remote-roles.json
  pages/automation/arxiv-research.tsx
  pages/automation/index.tsx
  pages/automation/remote-roles.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend, data

Add new automation functions and update cron schedules
  netlify.toml
  netlify/functions/daily_status_report.js
  netlify/functions/issue_link_health.js
  netlify/functions/seo_audit.js
  netlify/functions/site_index.js
  pages/automation/innovations.tsx
  pages/index.tsx
Labels: frontend

chore(sync): auto-sync from cursor on cursor/automate-fundraising-deck-and-deal-room-generation-c352 at 2025-08-09T17:42:05.170Z
  data/reports/responsive/responsive-analysis.json
Labels: data

feat(automation): autonomous cloud automations — Netlify auto-healer, daily sitemap, weekly link auto-fix
  .github/workflows/link-auto-fix.yml
  .github/workflows/netlify-auto-healer.yml
  .github/workflows/sitemap-auto-commit.yml
  automation/netlify-auto-healer.cjs
Labels: automation

feat(automation): add autonomous CI healers, intelligent orchestrator runner, self-healing build, and weekly security scan
  .github/workflows/autonomous-intelligence.yml
  .github/workflows/ci-auto-heal.yml
  .github/workflows/security-weekly.yml
  .github/workflows/self-healing-build.yml
  package.json
Labels: automation

Add Netlify monitor log files with auth token warning
  automation/logs/netlify-monitor.log
  automation/logs/netlify-monitor.pid
  automation/logs/netlify-monitor.supervisor.log
Labels: automation

feat: Add automated workflows for docs, search index, and sitemap generation
  .github/workflows/automations-docs-nightly.yml
  .github/workflows/search-index-daily.yml
  .github/workflows/sitemap-daily.yml
  docs/AUTOMATIONS.md
  scripts/generate-automations-docs.mjs
  scripts/generate-search-index.mjs
Labels: automation, docs

Update git health status to clean working directory
  automation_logs/git-health-summary.json
Labels: none

Add autonomous cloud workflows and content sync automation
  .github/workflows/auto-dependency-bump.yml
  .github/workflows/auto-release.yml
  .github/workflows/autonomous-orchestrator.yml
  automation/cloud/README.md
  automation/cloud/content-sync.mjs
Labels: automation, docs

Add autonomous news digest and site automation workflows
  .github/workflows/links-autofix.yml
  .github/workflows/news-digest.yml
  .github/workflows/repo-stats.yml
  automation/news-digest-generator.cjs
  automation/repo-stats-updater.cjs
  pages/api/news/digests.ts
  pages/automation/news.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend

Add scheduled cron jobs for uptime, SEO, links, and dependency checks
  netlify.toml
  netlify/functions/cron-hourly-uptime.js
  netlify/functions/cron-weekly-deps.js
  netlify/functions/cron-weekly-links.js
  netlify/functions/cron-weekly-seo.js
  pages/index.tsx
Labels: frontend

Add Netlify monitor log files with auth token warning
  automation/logs/netlify-monitor.log
  automation/logs/netlify-monitor.pid
  automation/logs/netlify-monitor.supervisor.log
Labels: automation

feat(automation): add autonomous security audit, image optimization, and hourly performance audit
  .github/workflows/optimize-images.yml
  .github/workflows/performance-audit.yml
  .github/workflows/security-audit.yml
  automation/logs/netlify-monitor.log
  automation/logs/netlify-monitor.supervisor.log
  automation/optimize-images.cjs
  automation/security-audit.cjs
  package.json
Labels: automation

Checkpoint before follow-up message
  automation/logs/netlify-monitor.log
  automation/logs/netlify-monitor.supervisor.log
Labels: automation

Add automation pages for tech radar and security audit
  .github/workflows/security-audit.yml
  .github/workflows/sitemap-ping.yml
  .github/workflows/tech-radar.yml
  automation/autonomous-security-audit.cjs
  automation/autonomous-tech-radar.cjs
  components/layout/EnhancedNavigation.tsx
  package.json
  pages/automation/security.tsx
  pages/automation/tech-radar.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend

feat(automation): fast lint sync, daily sitemap, hourly link scan, and CodeQL analysis
  .github/workflows/codeql-analysis.yml
  .github/workflows/fast-lint-sync.yml
  .github/workflows/link-scan-hourly.yml
  .github/workflows/sitemap-daily.yml
Labels: automation

chore(sync): auto-sync from cursor on cursor/agent-enhancement-and-main-branch-integration-7066 at 2025-08-09T17:51:56.429Z
  automation_logs/git-health-summary.json
Labels: none

Add automation hub with StackExchange, NPM, OSV, and GitHub insights
  .github/workflows/github-pulse-hourly.yml
  .github/workflows/npm-trends-hourly.yml
  .github/workflows/osv-watch-twicedaily.yml
  .github/workflows/stackexchange-insights-15min.yml
  automation/github-pulse.cjs
  automation/npm-trends.cjs
  automation/osv-watch.cjs
  automation/stackexchange-insights.cjs
  data/github-pulse.json
  data/npm-trends.json
  data/security/osv-report.json
  data/stackexchange-insights.json
  pages/automation/github-pulse.tsx
  pages/automation/index.tsx
  pages/automation/npm-trends.tsx
  pages/automation/osv-watch.tsx
  pages/automation/stackexchange-insights.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend, data

chore(sync): auto-sync from cursor on cursor/automate-fundraising-deck-and-deal-room-generation-c352 at 2025-08-09T18:04:22.120Z
  automation/content-intelligence-autopilot.cjs
Labels: automation

feat(automation): add a11y audit, OG image generator and weekly updater
  .github/workflows/accessibility-audit.yml
  .github/workflows/og-image-update.yml
  automation/logs/netlify-monitor.log
  automation/og-image-generator.cjs
Labels: automation

Checkpoint before follow-up message
  automation/logs/netlify-monitor.log
Labels: automation

feat(cloud): add JSON-LD injector, robots/sitemap verifier, fast sitemap runner; integrate into cloud runner; tighten Actions schedule to 5min with concurrency
  .github/workflows/cloud-autonomous.yml
  automation/cloud-autonomous-runner.cjs
  automation/fast-sitemap-runner.cjs
  automation/robots-and-sitemap-verifier.cjs
  automation/seo-structured-data-injector.cjs
Labels: automation

chore(sync): auto-sync from cursor on cursor/agent-enhancement-and-main-branch-integration-7066 at 2025-08-09T18:16:06.755Z
  automation_logs/git-health-summary.json
Labels: none

feat(cloud): newsroom, changelog, broken image scanner, sitemap; 15-min cadence
  .github/workflows/autonomous-cloud.yml
  automation/broken-image-scanner.cjs
  automation/changelog-generator.cjs
  automation/newsroom-generator.cjs
  automation/sitemap-runner.cjs
  data/reports/images/broken-images.json
Labels: automation, data

fix(cloud): ensure target dirs exist; generate newsroom, changelog, site-health
  data/reports/images/broken-images.json
  docs/CHANGELOG.md
  pages/newsroom.tsx
  pages/site-health.tsx
Labels: frontend, docs, data

chore(autonomy): Add trends, link check, lighthouse, and npm audit workflows
  .github/workflows/auto-merge.yml
  .github/workflows/autonomous-orchestrator.yml
  .github/workflows/lighthouse.yml
  .github/workflows/link-check.yml
  .github/workflows/npm-audit.yml
  automation/cloud/README.md
  automation/cloud/trends.mjs
Labels: automation, docs

Add homepage, reports page, and issue triage workflow
  .github/workflows/issue-triage.yml
  pages/api/reports.ts
  pages/api/reports/[name].ts
  pages/index.tsx
  pages/reports/index.tsx
Labels: automation, frontend

chore(sync): auto-sync from cursor on cursor/automate-fundraising-deck-and-deal-room-generation-c352 at 2025-08-09T18:59:49.833Z
  .github/workflows/autopilot.yml
  automation/broken-links-autopilot.cjs
  automation/changelog-autopilot.cjs
  automation/localization-autopilot.cjs
  automation/pagespeed-autopilot.cjs
  automation/roadmap-autopilot.cjs
  pages/automations/index.tsx
  pages/index.tsx
Labels: automation, frontend

Add automation pages for HF models, spaces, DAO leaderboard, and roadmap issues
  .github/workflows/dao-leaderboard-30min.yml
  .github/workflows/hf-models-30min.yml
  .github/workflows/hf-spaces-30min.yml
  .github/workflows/roadmap-issues-hourly.yml
  automation/dao-leaderboard.cjs
  automation/hf-models.cjs
  automation/hf-spaces.cjs
  automation/roadmap-issues.cjs
  data/dao-leaderboard.json
  data/hf-models.json
  data/hf-spaces.json
  data/roadmap-issues.json
  pages/automation/dao-leaderboard.tsx
  pages/automation/hf-models.tsx
  pages/automation/hf-spaces.tsx
  pages/automation/index.tsx
  pages/automation/roadmap-issues.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend, data

feat: Add economy optimizer, anomaly detection, and governance brief
  .github/workflows/economy-detections.yml
  .github/workflows/economy-optimizer.yml
  package.json
  pages/economy/optimizer.tsx
  pages/index.tsx
  scripts/economy-anomaly-detector.ts
  scripts/economy-governance-brief.ts
  scripts/economy-optimizer.ts
Labels: automation, frontend

Add weekly changelog and sitemap generation cron jobs
  netlify.toml
  netlify/functions/cron-weekly-changelog.js
  netlify/functions/cron-weekly-sitemap.js
Labels: none

Add SEO and security automation with scheduled scans and reports
  .github/workflows/security-scan.yml
  .github/workflows/seo-auditor.yml
  automation/rss-feed-generator.cjs
  automation/security-scanner-runner.cjs
  automation/seo-auditor.cjs
  pages/api/reports/security.ts
  pages/api/reports/seo.ts
  pages/automation/security.tsx
  pages/automation/seo.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: automation, frontend

chore: Add autonomous agents for SEO, link scanning, and course tuning
  .github/workflows/autonomous-fast-agents.yml
  automation/autonomous-broken-link-scanner.cjs
  automation/autonomous-course-tuner.cjs
  automation/autonomous-seo-enhancer.cjs
  data/reports/broken-links.json
  data/reports/course-tuner.json
  data/reports/course-tuner.md
  data/reports/seo-suggestions.json
  pages/admin/broken-links.tsx
  pages/admin/seo-suggestions.tsx
Labels: automation, frontend, docs, data

feat: Add economy anomalies, backtest, and workflow integrations
  .github/workflows/economy-backtest.yml
  .github/workflows/economy-detections.yml
  .github/workflows/economy-optimizer.yml
  pages/economy/anomalies.tsx
  pages/index.tsx
  scripts/economy-backtest.ts
Labels: automation, frontend

feat: Add daily README badge update workflow and script
  .github/workflows/readme-badges-daily.yml
  README.md
  scripts/update-readme-badges.mjs
Labels: automation, docs

chore(automation): add GitHub pulse, rolling changelog, and workflow updates
  .github/workflows/auto-orchestrator.yml
  docs/CHANGELOG.md
  package.json
  pages/automation/index.tsx
  scripts/github-pulse.mjs
  scripts/rolling-changelog.mjs
  tsconfig.tsbuildinfo
Labels: automation, frontend, docs

Add AI-powered GitHub workflows for content and issue triage
  .github/workflows/ai-triage.yml
  .github/workflows/content-expansion.yml
  scripts/ai-generate-content.mjs
  scripts/ai-triage.mjs
Labels: automation
