Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(outreach): automated outreach cycle
  it_smb_outreach.py
  lead-crm/gmail_monitor_status.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/gmail_monitor_status.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  package-lock.json
Labels: none

feat(outreach): add CEO hot-follow-up template and LLM tailoring schema for fast activation
  outreach_templates/ai-follow-up/ceo_reply_template.md
  outreach_templates/ai-follow-up/tailoring_prompt.json
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

fix(audit): skip template URL placeholders to remove false-postive broken link
  scripts/live-link-audit.cjs
Labels: automation

fix(audit+pages): skip template links in audit; restore cloud-cost-optimization-platform docs redirect
  docs/services/cloud-cost-optimization-platform/index.html
Labels: none

feat(outreach): add CEO reply preview helper for safe prep without sending
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(pages): add free-ai-it-tools.html fallback redirect
  docs/free-ai-it-tools.html
Labels: none

Green tests + quarantine missing-dependency specs + workflow/doc fixes
  .github/workflows/ai-app-improvement-on-push.yml
  .github/workflows/ai-broken-link-page-automation.yml
  .github/workflows/ai-pm2-static-checks.yml
  .github/workflows/app-preflight.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/unstoppable-retry-guard.yml
  __tests__/build-smoke.test.js
  __tests__/openclaw-runner-contract.test.cjs
  __tests__/openclaw-runner-contract.test.js
  app/blog/ai-email-outreach-automation-for-msps-2026/page.tsx
  app/blog/ai-phone-agent-for-small-business-free-tools-2026/page.tsx
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  app/blog/healthcare-crm-automation-ai-patient-workflows-2026/page.tsx
  app/data/serviceTypes.ts
  app/services/ai-data-lakehouse-pipelines/page.tsx
  app/services/ai-it-consulting-and-digital-transformation-roadmap/page.tsx
  app/services/ai-reliability-slos-and-incident-automation/page.tsx
  config/jest-quarantine.json
  data/token_dashboard.json
  data/token_state.json
  public/sitemap.xml
  tsconfig.tsbuildinfo
Labels: automation

chore(ci): disable extra nonessential workflows; clean active paths
  .github/workflows/accessibility-scorecard.yml.disabled
  .github/workflows/api-schema-validation.yml.disabled
  .github/workflows/app-preflight.yml.disabled
  .github/workflows/audit-nightly.yml.disabled
  .github/workflows/audit-report-cleanup.yml.disabled
  .github/workflows/auto-label.yml.disabled
  .github/workflows/auto-merge-dependabot.yml.disabled
  .github/workflows/auto-pr-security-patch.yml.disabled
  .github/workflows/autonomous-growth-signal-monitor.yml.disabled
  .github/workflows/autonomous-quality-drift-sentinel.yml.disabled
  .github/workflows/autonomous-release-guardian-smoke-weekly.yml.disabled
  .github/workflows/autonomous-writer-queue-guard.yml.disabled
  .github/workflows/broken-links-out.yml.disabled
  .github/workflows/bundle-size-smoke-weekly.yml.disabled
  .github/workflows/bundle-size.yml.disabled
  .github/workflows/bundle-split-analyzer.yml.disabled
  .github/workflows/cert-monitor.yml.disabled
  .github/workflows/changelog.yml.disabled
  .github/workflows/ci-cd-smoke-weekly.yml.disabled
Labels: automation

docs: add deploy verification and continuous monitoring checklist
  docs/deploy-verification-and-monitoring-checklist.md
Labels: docs

chore(outreach): automated outreach cycle
  .github/workflows/accessibility-scorecard.yml
  .github/workflows/api-schema-validation.yml
  .github/workflows/app-preflight.yml
  .github/workflows/audit-nightly.yml
  .github/workflows/audit-report-cleanup.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/auto-pr-security-patch.yml
  .github/workflows/autonomous-growth-signal-monitor.yml
  .github/workflows/autonomous-quality-drift-sentinel.yml
  .github/workflows/autonomous-release-guardian-smoke-weekly.yml
  .github/workflows/autonomous-release-guardian.yml
  .github/workflows/autonomous-writer-queue-guard.yml
  .github/workflows/broken-links-out.yml
  .github/workflows/bundle-size-smoke-weekly.yml
  .github/workflows/bundle-size.yml
  .github/workflows/bundle-split-analyzer.yml
  .github/workflows/cert-monitor.yml
  .github/workflows/changelog.yml
  .github/workflows/ci-cd-smoke-weekly.yml
  lead-crm/gmail_monitor_status.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: automation

feat(outreach): strengthen CEO hot-follow-up template with past-work gratitude, partnership path, and Calendly/website CTAs
  outreach_templates/ai-follow-up/ceo_reply_template.md
Labels: docs

fix(pages/ci): switch gh-pages workflow to npm install and add missing redirects
  .github/workflows/gh-pages.yml
  docs/ai-services-index.html
  docs/services/ai-development-acceleration/index.html
  docs/services/ai-help-desk-automation/index.html
  docs/services/cloud-migration-assessment-tool/index.html
  docs/services/fleet-management-gps-tracking/index.html
  docs/services/free-tools/index.html
  docs/services/lead-generation-outreach-automation/index.html
  docs/services/nextjs-static-export/index.html
  docs/services/seo-consulting/index.html
Labels: automation

feat(outreach): add OUTREACH_DRY_RUN mode for safe end-to-end validation without sending emails
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): add structured dry-run JSONL report for safe high-frequency lead triage
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  scripts/reports/live-link-audit.json
Labels: automation

fix: add missing /free-tools static page to resolve 404
  app/free-tools/page.tsx
Labels: none

feat(monitoring): add LLM tailoring coverage tracking to high-frequency outreach monitor
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(monitoring): allow monitor LLM coverage parsing without env vars
  scripts/outreach/monitor_dry_run.py
Labels: automation

feat(outreach): add dry-run probe for alive hot-follow-up thread candidates
  scripts/outreach/probe_alive_threads_dry_run.py
Labels: automation

chore: remove orphaned it_smb_outreach.py compatibility alias
  it_smb_outreach.py
Labels: none

fix(pages/ci): add final missing redirect fallbacks and lock gh-pages npm install
  scripts/reports/live-link-audit.json
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/gmail_monitor_status.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

chore(ci): reduce active workflow count; disable extra nonessential jobs
  .github/workflows/codeowners-smoke-weekly.yml.disabled
  .github/workflows/codeql-analysis-smoke-weekly.yml.disabled
  .github/workflows/codeql-analysis.yml.disabled
  .github/workflows/content-freshness.yml.disabled
  .github/workflows/content-summarizer.yml.disabled
  .github/workflows/core-web-vitals-monitor-smoke-weekly.yml.disabled
  .github/workflows/core-web-vitals-monitor.yml.disabled
  .github/workflows/custom-eslint.yml.disabled
  .github/workflows/daily-health-digest.yml.disabled
  .github/workflows/db-retention.yml.disabled
  .github/workflows/dependabot-config-validate-smoke-weekly.yml.disabled
  .github/workflows/dependabot-config-validate.yml.disabled
  .github/workflows/dependency-audit.yml.disabled
  .github/workflows/dependency-health.yml.disabled
  .github/workflows/dependency-review-smoke-weekly.yml.disabled
  .github/workflows/dependency-review.yml.disabled
  .github/workflows/dependency-update-bot.yml.disabled
  .github/workflows/emergency-recovery.yml.disabled
  .github/workflows/external-link-rot-monitor.yml.disabled
Labels: automation

chore(outreach): automated outreach cycle
  .github/workflows/codeowners-smoke-weekly.yml
  .github/workflows/codeql-analysis-smoke-weekly.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/content-freshness.yml
  .github/workflows/content-summarizer.yml
  .github/workflows/core-web-vitals-monitor-smoke-weekly.yml
  .github/workflows/core-web-vitals-monitor.yml
  .github/workflows/custom-eslint.yml
  .github/workflows/daily-health-digest.yml
  .github/workflows/db-retention.yml
  .github/workflows/dependabot-config-validate-smoke-weekly.yml
  .github/workflows/dependabot-config-validate.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/dependency-health.yml
  .github/workflows/dependency-review-smoke-weekly.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-update-bot.yml
  .github/workflows/emergency-recovery.yml
  .github/workflows/external-link-rot-monitor.yml
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: automation

docs(outreach): add unblock operator card for safe live send transition
  outreach_monitor/processed/UNBLOCK_OPERATOR_CARD.md
Labels: docs

chore(pages): cache-bust redirect files to invalidate Pages CDN
  docs/ai-services-index.html
  docs/ai/demo/index.html
  docs/free-ai-it-tools.html
  docs/new-ai-services/index.html
  docs/services/ai-4801/index.html
  docs/services/ai-4802/index.html
  docs/services/ai-4803/index.html
  docs/services/ai-4804/index.html
  docs/services/ai-4805/index.html
  docs/services/ai-4806/index.html
  docs/services/ai-4807/index.html
  docs/services/ai-4808/index.html
  docs/services/ai-development-acceleration/index.html
  docs/services/ai-help-desk-automation/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/cloud-migration-assessment-tool/index.html
  docs/services/devops-automation-consulting/index.html
  docs/services/fleet-management-gps-tracking/index.html
  docs/services/free-tools/index.html
  docs/services/lead-generation-outreach-automation/index.html
  docs/services/nextjs-static-export/index.html
  docs/services/property-management-suite/index.html
  docs/services/seo-consulting/index.html
  docs/services/smart-booking-scheduling-platform/index.html
Labels: none

fix(ci+site+email): add npm lockfile for GitHub Actions cache; restore Pages/monitor paths; fix 404 routes; clean outreach invalid domains
  package-lock.json
Labels: none

fix(ci): add package-lock.json to fix failing GitHub Actions lockfile check
  package-lock.json
Labels: none

fix(lighthouse): explicit contents permission + npm cache-dependency-path
  .github/workflows/lighthouse-budget.yml
Labels: automation

fix(ci): add package-lock.json for GitHub Actions npm cache
  app/components/SiteBreadcrumbs.tsx
  package-lock.json
  tsconfig.tsbuildinfo
Labels: none

fix(ci): add missing lighthouse:production script
  package.json
Labels: none

fix(ci): use working lint:check in unstoppable guard; run lighthouse against live site
  .github/workflows/unstoppable-retry-guard.yml
  .hermes_fix_ci.py
  package.json
Labels: automation

chore: remove temporary helper script
  .hermes_fix_ci.py
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

fix(build/types): relax BreadcrumbItem.label and cast service arrays in allServices
  app/components/SiteBreadcrumbs.tsx
  app/data/servicesData.ts
  package-lock.json
  tsconfig.tsbuildinfo
Labels: none

fix(typecheck): relax emailIntelligenceServices literal inference to satisfy Service[]
  app/data/servicesData.ts
Labels: none

fix(types): use label instead of name in blog breadcrumb items to match SiteBreadcrumbs interface
  app/blog/ai-email-outreach-automation-for-msps-2026/page.tsx
  app/blog/ai-phone-agent-for-small-business-free-tools-2026/page.tsx
  app/blog/healthcare-crm-automation-ai-patient-workflows-2026/page.tsx
Labels: none

fix(ci): include optional deps in guard workflow for lightningcss/next-font
  .github/workflows/unstoppable-retry-guard.yml
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
