Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

Add cache warmer function to improve site performance and monitoring
  netlify.toml
  netlify/functions/cache-warmer.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Add new autonomous functions for changelog, deps, and innovation
  netlify.toml
  netlify/functions/changelog-publisher.js
  netlify/functions/dependency-health-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-generator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Add orphan pages and asset size report runners with HTML/MD reports
  automation/asset-size-report.cjs
  automation/orphan-pages-auditor.cjs
  netlify.toml
  netlify/functions/asset-size-report.js
  netlify/functions/functions-manifest.json
  netlify/functions/orphan-pages-runner.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add meta-tags and orphan-pages audits; fix front ads arrays; schedule and advertise on homepage
  automation/front-index-ads.cjs
  automation/front-index-auto-advertiser.cjs
  automation/meta-tags-audit.cjs
  automation/orphan-pages-audit.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/meta-tags-audit-runner.js
  netlify/functions/orphan-pages-report-runner.js
  public/automation/meta-tags-audit.json
  public/automation/orphan-pages-report.json
Labels: automation, config

chore: build artifacts and homepage automation links [skip ci]
  automation/netlify-build-stamp.txt
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat: Add revenue ideas orchestrator and related automation components
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-agents-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

chore: trigger netlify automations and build [skip ci] (2025-08-11T23:02:05.135Z)
  automation/netlify-build-stamp.txt
Labels: automation

Modify Netlify trigger script to return only build stamp file
  scripts/trigger-netlify-automations.cjs
Labels: none

fix(front): correct JSX comments and advertise new cloud automations
  automation/content-freshness.cjs
  automation/license-compliance.cjs
  automation/performance-audit.cjs
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/license-compliance-runner.js
  netlify/functions/performance-audit-runner.js
  package.json
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): terminology runner, schedule, and homepage links
  automation/terminology-consistency.cjs
  data/terminology.json
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/terminology-consistency-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Add content staleness and orphan page detection automation
  automation/content-staleness-auditor.cjs
  automation/orphan-page-detector.cjs
  netlify.toml
  netlify/functions/content-staleness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/orphan-page-detector.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

chore: satisfy eslint for unused-assets-report
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/i18n-extractor-runner.js
  netlify/functions/unused-assets-report.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automations): add content freshness, link graph, and roadmap generator; advertise on front + home; schedule in Netlify
  automation/netlify-build-stamp.txt
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/roadmap-auto-generator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(front): add Explore links to new reports (perf, licenses, freshness)
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

Add content freshness audit with reporting and scheduled runner
  automation/front-index-advertiser.cjs
  netlify.toml
  netlify/functions/freshness-audit-runner.js
  netlify/functions/functions-manifest.json
  package-lock.json
  pages/index.tsx
  pages/reports/freshness.tsx
  public/reports/freshness/2025-08-11.json
  public/reports/freshness/index.html
  public/reports/freshness/latest.json
  scripts/freshness-audit.js
Labels: frontend, automation, config

feat(automations): add content-gap-analyzer, cta-optimizer, ultra-innovation-accelerator; schedule + homepage links; manifest regen
  netlify.toml
  netlify/functions/content-gap-analyzer.js
  netlify/functions/cta-optimizer.js
  netlify/functions/functions-manifest.json
  netlify/functions/ultra-innovation-accelerator.js
  pages/index.tsx
Labels: frontend, config

chore(automation): Add content freshness, anchor, and orphan asset audits
  automation/content-freshness-auditor.cjs
  automation/internal-anchor-auditor.cjs
  automation/orphan-asset-scanner.cjs
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-anchor-audit-runner.js
  netlify/functions/orphan-asset-report-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

Add dependency licenses audit and tech debt dashboard automation
  netlify.toml
  netlify/functions/dependency-licenses-audit.js
  netlify/functions/tech-debt-dashboard.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend

feat(automation): add OG metadata auditor + homepage/front advertising + schedule and manifest
  automation/og-metadata-auditor.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/og-metadata-auditor.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

Add internal link, meta, journey, and badge automation tools
  automation/internal-link-suggester.cjs
  automation/meta-audit.cjs
  automation/readme-badges-updater.cjs
  automation/user-journey-simulator.cjs
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-suggester.js
  netlify/functions/meta-audit.js
  netlify/functions/readme-badges-updater.js
  netlify/functions/user-journey-simulator.js
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/internal-links.tsx
  pages/reports/journeys.tsx
Labels: frontend, automation, config

Add content quality automation tools for duplicate and unused media detection
  automation/duplicate-content-detector.cjs
  netlify.toml
  netlify/functions/duplicate-content-detector.js
  netlify/functions/functions-manifest.json
  netlify/functions/unused-media-auditor.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Add new automated runners for a11y, design tokens, and revenue CTAs
  automation/design-token-harmonizer.cjs
  netlify.toml
  netlify/functions/a11y-alt-text-auditor-runner.js
  netlify/functions/design-token-harmonizer-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-cta-inserter-runner.js
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add revenue-optimizer & seo-content-gap cloud functions; advertise on front; reports page
  automation/front-index-advertiser.cjs
  automation/revenue-optimizer.cjs
  automation/seo-content-gap.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-optimizer.js
  netlify/functions/seo-content-gap.js
  pages/main/front/index.tsx
  pages/reports/seo-gaps.tsx
Labels: frontend, automation, config

feat(automation): add schema, perf budget, and i18n audit automations; update homepage [skip ci]
  automation/i18n-keys-auditor.cjs
  automation/performance-budget-enforcer.cjs
  automation/schema-metadata-generator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/i18n-audit-runner.js
  netlify/functions/metadata-schema-runner.js
  netlify/functions/perf-budget-runner.js
  pages/index.tsx
Labels: frontend, automation, config

Add automated audits for external links, OG meta, and unused assets
  automation/external-blank-rel-auditor.cjs
  automation/og-meta-auditor.cjs
  automation/unused-assets-scanner.cjs
  netlify.toml
  netlify/functions/external-link-rel-auditor-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/og-meta-audit-runner.js
  netlify/functions/unused-assets-scanner-runner.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add AI trends radar + SEO audit cloud functions; advertise on homepage; schedules
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/dead-code-report.js
  netlify/functions/functions-manifest.json
  netlify/functions/security-audit-runner.js
  netlify/functions/seo-audit-runner.js
  pages/index.tsx
Labels: frontend, config

feat(automations): add internal-link-optimizer and revenue-ideas-orchestrator; schedule in netlify.toml; advertise on homepage
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-optimizer.js
  netlify/functions/revenue-ideas-orchestrator.js
  pages/index.tsx
Labels: frontend, config

Add alt-text suggester and components catalog automation runners
  automation/alt-text-suggester.cjs
  automation/components-catalog.cjs
  netlify.toml
  netlify/functions/alt-text-suggester-runner.js
  netlify/functions/components-catalog-runner.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add Netlify scheduled function meta-accelerator and advertise across site
  netlify/functions/functions-manifest.json
  netlify/functions/meta-accelerator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add UX A11y Auditor, Perf Budget Runner, Innovation Lab Pro; schedule and advertise on homepage/front [skip ci]
  automation/perf-budget-runner.cjs
  automation/ux-a11y-auditor.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-lab-pro.js
  netlify/functions/perf-budget-runner.js
  netlify/functions/ux-a11y-auditor.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

Add docs drift detector and smart interlinker automation tools
  automation/docs-drift-detector.cjs
  automation/smart-interlinker.cjs
  netlify.toml
  netlify/functions/docs-drift-detector.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, automation, config

Add content freshness, meta tags, and link graph runners
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): add OG coverage + perf budget + roadmap automations; schedules + homepage links
  automation/og-coverage-auditor.cjs
  automation/performance-budget-reporter.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/og-coverage-auditor.js
  netlify/functions/performance-budget-runner.js
  netlify/functions/roadmap-builder-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add 4 cloud runners (seo-audit, ai-trends-radar, ui-beautifier, deps-auto-upgrade)
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/seo-audit-runner.js
  netlify/functions/ui-beautifier-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

feat(automation): add routes map, component props docs, and static asset inventory; schedule as Netlify functions and advertise on homepage
  automation/asset-inventory.cjs
  automation/component-props-docs.cjs
  automation/routes-map-generator.cjs
  netlify.toml
  netlify/functions/asset-inventory-runner.js
  netlify/functions/component-props-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/routes-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  public/reports/assets/assets.json
  public/reports/assets/index.html
  public/reports/components/components-props.json
  public/reports/components/index.html
  public/reports/routes/index.html
  public/reports/routes/routes.json
Labels: frontend, automation, config

Add autonomous scanners for unused assets and orphan routes
  automation/orphan-routes-detector.cjs
  automation/unused-assets-scanner.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/orphan-routes-detector.js
  netlify/functions/unused-assets-scanner.js
  pages/index.tsx
  pages/reports/orphan-routes.tsx
  pages/reports/unused-assets.tsx
Labels: frontend, automation, config

feat(front): advertise new cloud runners on main/front and homepage
  pages/main/front/index.tsx
Labels: frontend

Add automated runners for content, i18n, performance, and structured data
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/i18n-seed-runner.js
  netlify/functions/performance-hints-runner.js
  netlify/functions/structured-data-auditor.js
  pages/index.tsx
Labels: frontend, config

Add semantic code map and performance budget automation tools
  automation/perf-budget-guardian.cjs
  automation/semantic-code-map.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/perf-budget-guardian.js
  netlify/functions/semantic-code-map-runner.js
  package.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
