Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: area:automation, area:pages, area:components, area:styles, area:docs, area:data, area:workflows, type:security

.github/labeler.yml:

area:automation:
  - 'automation/**'
area:pages:
  - 'pages/**'
area:components:
  - 'components/**'
area:styles:
  - 'styles/**'
area:docs:
  - 'docs/**'
area:data:
  - 'data/**'
area:workflows:
  - '.github/**'
type:security:
  - 'automation/security-*.cjs'

feat(homepage): autonomous cloud advert section + generator + fast workflow; fix Link and site-health types
  .github/workflows/homepage-autoupdate.yml
  automation/homepage-features-factory.cjs
  automation/homepage-orchestrator.cjs
  components/home/AutoFeatures.tsx
  data/home/auto-features.json
  package.json
  pages/index.tsx
  pages/site-health.tsx
Labels: area:automation, area:pages, area:components, area:data, area:workflows

ci: add autonomous hourly/daily/realtime workflows for cloud automation and self-healing
  .github/workflows/autonomous-daily.yml
  .github/workflows/autonomous-hourly.yml
  .github/workflows/autonomous-realtime.yml
Labels: area:workflows

fix(admin): escape JSX tokens in whitelabel page; ci: add autonomous workflows
  pages/admin/whitelabel.tsx
Labels: area:pages

Add autonomous cloud workflows for automation, orchestration, and releases
  .github/workflows/autonomous-cloud-automation.yml
  .github/workflows/autonomous-cloud-orchestrator.yml
  .github/workflows/autonomous-release.yml
  automation_logs/git-health-summary.json
Labels: area:workflows

feat: Add content generation for blog and services indexes with RSS
  .github/workflows/content-automation.yml
  automation_logs/git-health-summary.json
  package.json
  pages/blog/index.tsx
  pages/services/index.tsx
  scripts/generate-indexes.cjs
  scripts/generate-rss.cjs
  tsconfig.tsbuildinfo
Labels: area:pages, area:workflows

Update TypeScript build info for project configuration
  tsconfig.tsbuildinfo
Labels: none

chore(sync): auto-sync from cursor on cursor/agent-enhancement-and-main-branch-integration-7066 at 2025-08-09T22:01:53.522Z
  automation_logs/git-health-summary.json
Labels: none

Add automation workflows for marketplace, quotes, and sitemap
  .github/workflows/marketplace-enrichment.yml
  .github/workflows/quote-requests-sync.yml
  .github/workflows/sitemap-refresh.yml
  automation/marketplace-service-enrichment.cjs
  automation/quote-requests-sync.cjs
  automation_logs/git-health-summary.json
Labels: area:automation, area:workflows
