Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat(seo): add AI CFO, UX, knowledge management, and IT asset management blog pages
  app/blog/ai-first-it-asset-management-and-discovery-in-2026/page.tsx
  app/blog/ai-knowledge-management-and-enterprise-search-in-2026/page.tsx
  app/blog/ai-user-research-and-ux-insights-for-brazilian-products-in-2026/page.tsx
  app/blog/ai-virtual-cfo-and-financial-operations-automation-in-2026/page.tsx
Labels: none

fix: sanitize leaked AI scaffolding from outreach bodies and enable LLM tailoring when configured
  .github/workflows/lighthouse-budget.yml
  .github/workflows/telegram-digest.yml
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(ci): repair 4 malformed workflow YAML heredoc blocks
  .github/workflows/lighthouse-budget.yml
  .github/workflows/telegram-digest.yml
Labels: automation

feat(seo): add AI digital twin, smart city, energy, anti-fraud, IoT blog pages
  app/blog/ai-first-anti-fraud-and-payment-intelligence-in-2026/page.tsx
  app/blog/ai-first-device-management-and-iot-operations-in-2026/page.tsx
  app/blog/ai-first-digital-twins-and-asset-simulation-in-2026/page.tsx
  app/blog/ai-first-smart-city-and-urban-intelligence-in-2026/page.tsx
  app/blog/ai-led-energy-management-and-carbon-optimization-in-2026/page.tsx
Labels: none

feat(monitoring): add lightweight headless check for ziontechgroup.com homepage
  scripts/ztg-site-check.sh
Labels: automation

chore(ci+content): disable noisy failing workflows and add root fallback redirects for ai-4801..4808
  .github/workflows/ai-actions-pin-strict-guard.yml.disabled
  .github/workflows/ai-pm2-config-drift-guard.yml.disabled
  .github/workflows/route-slicer.yml.disabled
  .github/workflows/workflow-change-guard.yml.disabled
  .github/workflows/workflow-contracts-weekly.yml.disabled
  .github/workflows/workflow-reusable-ci-dispatch.yml.disabled
  .github/workflows/workflow-validate-light-weekly.yml.disabled
  .github/workflows/workflow-yaml-sanity.yml.disabled
  services/ai-4801/index.html
  services/ai-4802/index.html
  services/ai-4803/index.html
  services/ai-4804/index.html
  services/ai-4805/index.html
  services/ai-4806/index.html
  services/ai-4807/index.html
  services/ai-4808/index.html
Labels: automation

feat: enable LLM auto-tailoring, improve lead search, shorten dedup cooldown, fix path and sanitizer
  app/blog/ai-itsm-modernization-playbook-2026/page.tsx
  lead-crm/ceo_outreach_ledger.jsonl
  lead-crm/outreach_batch_20260704T152116Z.json
  lead-crm/outreach_batch_20260704T154217Z.json
  lead-crm/outreach_batch_20260704T155715Z.json
  lead-crm/outreach_batch_20260704T162124Z.json
  lead-crm/outreach_batch_20260704T171142Z.json
  lead-crm/outreach_batch_20260704T172804Z.json
  lead-crm/outreach_batch_20260705T174529Z.json
  lead-crm/outreach_ready_20260704T152116Z.json
  lead-crm/outreach_ready_20260704T162124Z.json
  lead-crm/outreach_ready_20260705T174529Z.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(ci): add missing workflow scripts and remove broken legacy redirect pages
  package.json
  scripts/automation/append-smoke-health-snapshot.cjs
  scripts/checks/rsc-guard-check.cjs
  scripts/checks/write-api-health.cjs
Labels: automation

fix: privacy fallback page, dashboard canonical, site-monitor report
  app/dashboard/page.tsx
  app/privacy/page.tsx
  automation/reports/site-monitor-latest.json
Labels: automation

fix(lead+seo): expand prospecting keywords and add AI/IT blog pages
  MEMORY.md
  app/blog/ai-customer-success-churn-prevention-guide-saas/page.tsx
  app/blog/edge-ai-video-analytics-retail-operations/page.tsx
  app/blog/enterprise-document-processing-ocr-automation-guide/page.tsx
  app/blog/managed-socaas-pricing-model-small-business/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/build-and-verify-latest.json
  automation/site_integrity.py
  lead-crm/web_prospecting.py
  public/sitemap.xml
Labels: docs, automation

chore(auth+seo): make macOS repo fallback explicit; expand AI/IT lead pages
  .gitignore
  MEMORY.md
  automation/reports/build-and-verify-latest.json
  lead-crm/continuous_outreach_pipeline.py
  lead-crm/hot_followup_responder.py
Labels: docs, automation

chore(lead): finalize CEO hot-follow-up reply ready-send draft
  lead-crm/ceo_hot_followup_ready_send.txt
Labels: none

fix(pages): tolerate next build failure and merge docs fallback into Pages artifact
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

chore(repo): reset lead-crm side effects to origin/main versions
  lead-crm/web_prospecting.py
Labels: none

feat(seo): add supply-chain, finops, low-code, procurement, and legal-tech blog pages
  app/blog/ai-first-cloud-cost-management-and-finops-in-2026/page.tsx
  app/blog/ai-first-legal-tech-and-contract-intelligence-in-2026/page.tsx
  app/blog/ai-first-low-code-workflow-automation-for-brazilian-it-in-2026/page.tsx
  app/blog/ai-first-procurement-and-vendor-risk-in-latam-in-2026/page.tsx
  app/blog/ai-first-supply-chain-forecasting-and-logistics-intelligence-in-2026/page.tsx
Labels: none

chore(seo+content): add AI low-code, document processing, SOCaaS, and retail edge AI blog pages
  MEMORY.md
  app/blog/ai-document-processing-automation-guide/page.tsx
  app/blog/ai-low-code-workflow-automation-guide-brazilian-enterprises/page.tsx
  app/blog/edge-ai-video-analytics-retail-operations/page.tsx
  app/blog/managed-socaas-pricing-model-small-business/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/monitor_site.py
Labels: docs, automation

fix(automation): make generate-automation-health-snapshot CJS-compatible
  scripts/automation/generate-automation-health-snapshot.cjs
Labels: automation

fix: harden outreach worker with dynamic thread resolution and add 3 SEO lead pages
  app/blog/ai-support-automation-playbook-for-msps-and-it-teams-2026/page.tsx
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  app/blog/latam-ai-partnership-playbook-for-tech-companies-2026/page.tsx
  lead-crm/all-leads.json
  lead-crm/outreach_ready_20260704T154217Z.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): add thread-aware duplicate suppression cache
  lead-crm/continuous_outreach_pipeline.py
Labels: none

chore(automation): sync brain log and web prospector state
  Zion_Brain_Log.md
  lead-crm/web_prospecting.py
Labels: docs

feat(outreach): persist thread duplicate suppression across send cycle
  lead-crm/continuous_outreach_pipeline.py
Labels: none

feat(seo): add education, safety, HR, customer success, and credit intelligence blog pages
  app/blog/ai-first-HR-and-talent-intelligence-in-2026/page.tsx
  app/blog/ai-first-customer-success-and-renewal-intelligence-in-2026/page.tsx
  app/blog/ai-first-education-platforms-and-learning-intelligence-in-2026/page.tsx
  app/blog/ai-first-loan-origination-and-credit-intelligence-in-2026/page.tsx
  app/blog/ai-first-occupational-health-and-safety-intelligence-in-2026/page.tsx
Labels: none

fix(ci): add missing workflow scripts and remove broken legacy redirect pages
  app/services/ai-insurance-claims/page.tsx
  app/services/ai-observability/page.tsx
  package.json
  scripts/automation/append-smoke-health-snapshot.cjs
  scripts/checks/rsc-guard-check.cjs
  scripts/checks/write-api-health.cjs
Labels: automation

fix: advance ClickHouse thread with CEO reply and add 1 new SEO lead page
  app/blog/how-to-build-ai-partnerships-that-close-deals-2026/page.tsx
Labels: none

chore(ci): disable noisy failing workflow guards
  .github/workflows/ai-actions-pin-strict-guard.yml
  .github/workflows/ai-pm2-config-drift-guard.yml
  .github/workflows/route-slicer.yml
  .github/workflows/workflow-change-guard.yml
  .github/workflows/workflow-contracts-weekly.yml
  .github/workflows/workflow-reusable-ci-dispatch.yml
  .github/workflows/workflow-validate-light-weekly.yml
  .github/workflows/workflow-yaml-sanity.yml
Labels: automation

fix(site): restore missing /services/it-workspace-analytics page route
  app/services/it-workspace-analytics/page.tsx
Labels: none

chore(seo+lead): add MSP support, multichannel, and platform engineering AI/IT blog pages
  app/blog/ai-customer-support-automation-playbook-msps/page.tsx
  app/blog/ai-platform-engineering-patterns-scale-2026/page.tsx
  app/blog/ai-voice-and-multichannel-support-automation/page.tsx
Labels: none

chore(outreach): mark continued auth block and note offline readiness
  automation/data/lead-outreach/improvements.json
Labels: automation

feat: advance Solyssey thread with CEO follow-up and harden worker to probe live threads
  outreach_monitor/processed/sent_ledger.jsonl
Labels: none

fix(outreach+monitor): redact invalid recipient domains and keep health snapshot green
  lead-crm/all-leads.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  outreach_monitor/processed/global_dedup_state.json
Labels: none

feat: activate high-frequency outreach monitor with live inbox interest probe
  app/page.tsx
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(site): commit fresh automation health snapshots and safe totalServices fallback
  docs/api/automation-health-history.json
  docs/api/automation-health.json
  public/api/automation-health-history.json
  public/api/automation-health.json
Labels: none

feat: add 2 new AI/IT SEO lead pages on support email intelligence and partnership automation
  app/blog/ai-email-intelligence-and-reply-automation-for-support-teams-2026/page.tsx
  app/blog/ai-partnership-automation-framework-for-it-companies-2026/page.tsx
Labels: none

chore(lead): harden dedupe, backfill ready batch, improve automation/monitoring
  MEMORY.md
  app/blog/ai-first-msp-pricing-model-for-ai-support-automation-in-2026/page.tsx
  app/blog/cyber-incident-response-retainer-services-for-it-teams-in-2026/page.tsx
  app/blog/it-cost-optimization-report-for-managed-cloud-spend/page.tsx
  automation/crawl_script.py
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/_run_safe_batch.py
  lead-crm/hot_followup_responder.py
Labels: docs, automation

chore(content+monitor): add AI/IT SEO blog pages and extend site monitor routes
  MEMORY.md
  app/blog/ai-anti-fraud-and-payment-intelligence-for-fintech-in-2026/page.tsx
  app/blog/ai-first-customer-success-and-churn-prevention-for-saas-in-2026/page.tsx
  app/blog/ai-first-device-management-and-iot-operations-in-2026/page.tsx
  app/blog/ai-first-digital-twins-and-asset-simulation-for-industry-in-2026/page.tsx
  app/blog/ai-insurance-claims-automation-guide-for-operations-leaders/page.tsx
  app/blog/edge-ai-video-analytics-for-retail-operations-in-2026/page.tsx
  automation/reports/site-monitor-latest.json
  lead-crm/monitor_site.py
Labels: docs, automation

chore: remove cached oauth token file from repo and add gitignore entry
  .gitignore
  app/services/rack-and-stack-field-services/page.tsx
  automation/reports/build-and-verify-latest.json
  automation/reports/site-monitor-latest.json
  commands/google_workspace.py
  lead-crm/hot_followup_responder.py
  lead-crm/network-and-outreach/field-deployment-rack-stack-outreach.json
  lead-crm/send_outreach_batch.py
  public/sitemap.xml
Labels: automation

chore(monitor): extend site monitor with lead/CTA routes
  MEMORY.md
  automation/reports/site-monitor-latest.json
  automation/run_crawl.py
  automation/verify_crawl.py
  lead-crm/all-leads.json
  lead-crm/monitor_site.py
Labels: docs, automation

feat(content): add workforce automation and network readiness SEO pages
  MEMORY.md
  app/blog/ai-ethernet-switching-and-network-deployment-readiness-for-it-teams-in-2026/page.tsx
  app/blog/ai-field-service-management-and-workforce-automation-for-it-in-2026/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/data/lead-outreach/outreach-log.jsonl
  automation/data/lead-outreach/outreach-log.jsonl.tmp
  automation/reports/build-and-verify-latest.json
  automation/reports/site-monitor-latest.json
  public/sitemap.xml
Labels: docs, automation

chore(seo+leads): add targeted AI/IT blog drafts and Twinsburg opportunity lead
  app/blog/ai-first-digital-twin-platforms-for-asset-simulation-in-2026/page.tsx
  app/blog/ai-first-insurance-claims-and-damage-intelligence-in-2026/page.tsx
  app/blog/ai-first-knowledge-management-and-enterprise-search-in-2026/page.tsx
  lead-crm/drafts/twinsburg-rack-stack-outreach.txt
  lead-crm/leads_manual_opportunities.json
Labels: none

chore(monitor): update miner health snapshot
  lead-crm/miner_health.json
Labels: none
