Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix(funnel): restore real pricing page and Calendly-first CTA
  app/pricing/page.tsx
Labels: none

chore: ignore outreach runtime artifacts; remove tracked runtime files
  .gitignore
  docs/pricing/index.html
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  public/.pages-trigger
Labels: none

fix(funnel): restore pricing page with Calendly-first CTAs; add docs fallback and pages trigger
  docs/pricing/index.html
Labels: none

fix(outreach): harden CEO hot-followup sender with validation and safe default dry-run
  scripts/outreach/send_hot_followup_ceo.py
Labels: automation

fix: unmask phone links on contact; restore docs/blog fallback; bump services page copy
  app/services/page.tsx
  docs/blog/index.html
Labels: none

feat(funnel): add 8 landing pages (20260723-161054)
  docs/services/ai-readiness-audit-brazil/index.html
  docs/services/cloud-cost-optimization/index.html
  docs/services/cybersecurity-soc-automation/index.html
  docs/services/data-pipeline-lakehouse/index.html
  docs/services/devops-ci-cd-ai/index.html
  docs/services/email-outreach-automation/index.html
  docs/services/managed-it-smb-brazil/index.html
  docs/services/zero-trust-identity/index.html
  docs/solutions/ai-readiness-audit-brazil/index.html
  docs/solutions/cloud-cost-optimization/index.html
  docs/solutions/cybersecurity-soc-automation/index.html
  docs/solutions/data-pipeline-lakehouse/index.html
  docs/solutions/devops-ci-cd-ai/index.html
  docs/solutions/email-outreach-automation/index.html
  docs/solutions/managed-it-smb-brazil/index.html
  docs/solutions/zero-trust-identity/index.html
Labels: none

fix(types): resolve merge conflicts, fix type errors in servicesData/wave files
  app/components/ServiceComparisonTool.tsx
  app/data/serviceTypes.ts
  app/data/servicesData.ts
  app/data/wave212.ts
  app/page.tsx
  app/services/[id]/page.tsx
  app/tools/phishing-analyzer/page.tsx
Labels: none

fix(types): resolve merge conflicts and TypeScript errors (#38969)
  app/components/ServiceComparisonTool.tsx
  app/data/serviceTypes.ts
  app/data/servicesData.ts
  app/data/wave212.ts
  app/data/wave214.ts
  app/data/wave216.ts
  app/page.tsx
  app/services/[id]/page.tsx
  app/tools/phishing-analyzer/page.tsx
Labels: none

fix(types): add remaining wave stub exports and services
  app/data/wave213.ts
  app/data/wave214.ts
  app/data/wave215.ts
  app/data/wave216.ts
  app/data/wave216AiServices.ts
  app/data/wave216AutomationServices.ts
  app/data/wave216CloudServices.ts
  app/data/wave216DataServices.ts
  app/data/wave216MicroSaasServices.ts
  app/data/wave216SecurityServices.ts
Labels: none

fix(cdn): improve Pages HTML cache headers and add immutable assets rule
  public/_headers
Labels: none

fix: hard-reset wave214/wave216 to clean stubs to remove conflict remnant artifacts
  app/data/wave214.ts
  app/data/wave216.ts
Labels: none

fix: add missing wave216 SwarmIntelligence/EdgeAiInference exports
  app/data/wave216.ts
Labels: none

feat(funnel): add AI Readiness Assessment /ai-readiness route + Pages public copy fix
  .github/workflows/simple-pages.yml
  app/ai-readiness/page.tsx
  docs/ai-readiness/index.html
Labels: automation

chore(outreach): automated outreach cycle
  docs/app/blog/ai-fintech-integration-brazilian-banks/index.html
  docs/app/blog/ai-predictive-maintenance-manufacturing-latam/index.html
  docs/app/blog/ai-retail-automation-brazil/index.html
  docs/app/blog/ai-roadmap-for-it-departments-in-2026/index.html
  docs/free-ai-readiness-audit-checklist-for-it-managers-2026/index.html
  scripts/reports/pages-canonical-deploy-latest.json
  scripts/reports/pages-canonical-deploy-summary.json
Labels: automation

fix(main): resolve TS errors and restore Service type exports after recent merge
  app/data/servicesData.ts
  app/data/wave189_combined.ts
  app/tools/phishing-analyzer/page.tsx
Labels: none

fix: add missing wave213/215/216 exports for TS resolver
  app/data/wave213.ts
  app/data/wave215.ts
  app/data/wave216.ts
Labels: none

feat(outreach): promote inbox interest hits to follow-up queue when hot-followup is empty
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix: hard-reset wave214/wave216 and add missing wave exports on v2
  app/data/wave189_combined.ts
  app/data/wave214.ts
Labels: none

fix(types): resolve TS errors in client-side tool pages and exclude .next from tsconfig include
  app/tools/incident-postmortem/page.tsx
  app/tools/jwt-inspector/page.tsx
  app/tools/phishing-analyzer/page.tsx
  app/tools/release-notes-generator/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/tech-stack-recommender/page.tsx
  tsconfig.json
Labels: none

fix(pages): recreate missing docs/ static fallbacks for /tools/* and /services/* routes
  docs/api/index.html
  docs/services/ai-20260723/index.html
  docs/tools/ai-customer-support-pro/index.html
  docs/tools/ai-email-analyzer/index.html
  docs/tools/ai-prompt-optimizer/index.html
Labels: none

fix(deploy): restore explicit Pages rewrite rules for docs fallback routes
  public/_redirects
Labels: none

fix(deploy): add missing docs fallbacks for newsroom, free-services-and-tools, and AI ops pages
  docs/free-services-and-tools/index.html
  docs/newsroom/index.html
  docs/services/autonomous-ai-operations/index.html
  docs/services/autonomous-ai-ops-retainer/index.html
Labels: none

chore(gitignore): stop tracking outreach runtime artifacts
  .gitignore
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(token-renewal): add renew_gog_token.py and renew_wrapper.sh for LaunchAgent
  scripts/maintenance/renew_gog_token.py
  scripts/maintenance/renew_wrapper.sh
Labels: automation

chore: autonomous growth engine redeploy
  docs/services/ai-readiness-audit-brazil/.page_hash
  docs/services/cloud-cost-optimization/.page_hash
  docs/services/cybersecurity-soc-automation/.page_hash
  docs/services/data-pipeline-lakehouse/.page_hash
  docs/services/devops-ci-cd-ai/.page_hash
  docs/services/email-outreach-automation/.page_hash
  docs/services/managed-it-smb-brazil/.page_hash
  docs/services/zero-trust-identity/.page_hash
  docs/solutions/ai-readiness-audit-brazil/.page_hash
  docs/solutions/cloud-cost-optimization/.page_hash
  docs/solutions/cybersecurity-soc-automation/.page_hash
  docs/solutions/data-pipeline-lakehouse/.page_hash
  docs/solutions/devops-ci-cd-ai/.page_hash
  docs/solutions/email-outreach-automation/.page_hash
  docs/solutions/managed-it-smb-brazil/.page_hash
  docs/solutions/zero-trust-identity/.page_hash
Labels: none

fix(leads): remove invalid/fake discovered leads
  app/data/discovered_leads.json
Labels: none

fix(deploy): restore fallback routes/docs and expand _redirects
  public/_redirects
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(funnel): switch contact secondary CTA to phone call link
  app/contact/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  app/contact/page.tsx
Labels: none

chore(lead-crm): stop runtime JSONL churn + normalize masked phone links + add /tools CTA for services/calendly
  app/components/IntegrationHubShowcase.tsx
  app/components/ServiceStatsWidget.tsx
  app/tools/page.tsx
  docs/about/index.html
  docs/blog/index.html
  docs/configurator/index.html
  docs/pricing/index.html
  docs/services/index.html
  docs/solutions/index.html
Labels: none

chore(outreach): automated outreach cycle
  memory/2026-07-23.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(git): harden .gitignore for runtime JSONL/telemetry churn
  .gitignore
Labels: none

chore(growth): harden outreach defaults and improve contact page CTAs
  app/blog/ai-managed-it-services-and-msp-automation/page.tsx
  app/contact/page.tsx
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

feat(growth): upgrade /tools header CTAs and bottom conversion section
  app/tools/page.tsx
Labels: none

fix(tools): add /tools fallback and redirect rule
  docs/tools/index.html
  public/_redirects
Labels: none

fix(routes): add /tools and /free-tools-hub fallbacks; cleanup /products and /case-studies redirects
  docs/case-studies/index.html
  docs/free-tools-hub/index.html
  docs/products/index.html
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
