Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

feat(services): add AI Meeting Intelligence: Minutes and Actions
  app/services/ai-meeting-intelligence-minutes-and-actions/page.tsx
  commands/utils/__pycache__/__init__.cpython-311.pyc
  commands/utils/__pycache__/__init__.cpython-313.pyc
  commands/utils/__pycache__/__init__.cpython-314.pyc
  commands/utils/__pycache__/llm_client.cpython-311.pyc
  commands/utils/__pycache__/llm_client.cpython-313.pyc
  commands/utils/__pycache__/llm_client.cpython-314.pyc
Labels: none

feat(site): add health.json endpoint, favicon/meta theming, and structured JSON-LD on key pages
  public/agents/monitoring/index.html
  public/ai-agents/index.html
  public/ai-chat-companion/index.html
  public/ai-financial-services/index.html
  public/blog/ai-driven-marketing-automation-strategies/index.html
  public/blog/ai-security-best-practices-protecting-your-ai-systems-from-emerging-threats/index.html
  public/blog/cloud-migration-and-ai-modernizing-infrastructure-for-intelligent-workloads/index.html
  public/contact/index.html
  public/health.json
  public/health/index.html
  public/help/index.html
  public/offline.html
  public/services/ai-automation/index.html
  public/services/ai-endpoint-management-and-zero-trust-access-for-it-in-2026/index.html
  public/services/ai-network-performance-and-wan-optimization-for-it-in-2026/index.html
  public/services/ai-services/index.html
  public/services/cloud-services/index.html
  public/services/cybersecurity/index.html
  public/services/data-analytics/index.html
  public/services/devops-services/index.html
  public/services/iot-platform/index.html
  public/services/it-outsourcing/index.html
  public/services/it-services/index.html
  public/services/micro-saas-services/index.html
  public/services/security-services/index.html
Labels: none

feat(site): improve contact page, add service JSON-LD, and static caching headers
  public/_headers
  public/contact/index.html
  public/services/ai-automation/index.html
  public/services/ai-services/index.html
  public/services/cloud-services/index.html
  public/services/cybersecurity/index.html
  public/services/data-analytics/index.html
  public/services/devops-services/index.html
  public/services/it-outsourcing/index.html
  public/services/it-services/index.html
  public/services/security-services/index.html
Labels: none

fix(outreach): strengthen duplicate checks and remove dead code in sender
  lead-crm/send_outreach_batch.py
Labels: none

feat(contact): add WhatsApp click-to-chat for faster outreach reply
  app/contact/page.tsx
Labels: none

feat(contact): add WhatsApp click-to-chat for faster outreach reply
  app/contact/page.tsx
Labels: none

fix(contact): sync public/contact static fallback with app contact page
  public/contact/index.html
Labels: none

ci(dependabot): auto-merge Dependabot PRs to reduce advisory exposure
  .github/workflows/dependabot-auto-merge.yml
Labels: automation

fix: dedupe thread 17ae7d5ca039b58a and dry-run REPO path
  lead-crm/ceo_dry_run_drafts.py
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

fix(outreach): deduplicate sent ledgers and prevent repeat sends
  lead-crm/ceo_outreach_ledger.jsonl
Labels: none

chore: remove stray runtime artifacts from working tree
  scripts/outreach_monitor/processed/high_frequency_runner_metrics.jsonl
  scripts/outreach_monitor/processed/runner_heartbeat.json
Labels: automation

fix: use repo-relative BASE_DIR in monitor_dry_run.py
  lead-crm/outreach_send_disabled_analysis.jsonl
  scripts/outreach/monitor_dry_run.py
Labels: automation

feat: auto-activate LLM tailoring from Hermes config + fix monitor BASE_DIR
  lead-crm/outreach_send_disabled_analysis.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(outreach): suppress dead domains start.co and start.com in miner
  lead-crm/historical_email_miner.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore: dedupe ledger entry for thread 19f3df60bc1cf2ed
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none

fix(outreach): suppress start.com in minter and bounce filters
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

docs(outreach): add activation setup guide for llm + gmail
  OUTREACH_SETUP.md
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
Labels: none

fix(seo): add missing description/title to portal and redirect metadata
  app/portal/page.tsx
  app/services/ai-claims-automation/page.tsx
Labels: none

fix(email): enforce exclusion-list filtering across Gmail send paths
  commands/google_workspace.py
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(email): harden gmail_send_reply_fixed with exclusion-list guard
  commands/google_workspace.py
Labels: none

ci: add timeout-minutes to workflows and fix trigger keys
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/hook-self-test.yml
  .github/workflows/lighthouse-baseline.yml
  .github/workflows/lighthouse-budget.yml
  .github/workflows/telegram-digest.yml
  .github/workflows/test-coverage.yml
  .github/workflows/unstoppable-retry-guard.yml
  commands/google_workspace.py
  lead-crm/exclusion-list.json
Labels: automation

feat(outreach): add mined_contact_quality.jsonl + summary hooks
  lead-crm/mined_contact_quality.jsonl
Labels: none

ci: fix workflow trigger keys after yaml round-trip and add explicit job timeouts
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lighthouse-baseline.yml
  .github/workflows/robots-sitemap-compliance.yml
  .github/workflows/telegram-digest.yml
  .github/workflows/visual-regression.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/historical_email_miner.py
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(outreach): update mined_contact_quality.jsonl with latest run
  lead-crm/mined_contact_quality.jsonl
Labels: none

fix(outreach): unify lead-crm and outreach_monitor ledgers, restore sent_ledger.jsonl
  scripts/outreach_monitor/processed/sent_ledger.jsonl
Labels: automation

fix(outreach): create missing hot_followup_reply_ledger.jsonl placeholder
  scripts/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: automation

fix(miner): drop generic/invalid/placeholder leads before insertion
  lead-crm/historical_email_miner.py
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-12.md
Labels: docs

fix(ci): sync package-lock.json to current package.json to restore npm ci
  package-lock.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

docs(outreach): add activation setup guide for llm + gmail
  OUTREACH_SETUP.md
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/_run_safe_batch.py
  lead-crm/metrics_tailor_coverage.json
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(outreach): CEO draft marker + Hermes/Nous LLM fallback path
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
Labels: none
