Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

Add quantum AI phase 19 automation modules and scripts
  automation/quantum-ai-analytics.cjs
  automation/quantum-ai-autonomous-intelligence.cjs
  automation/quantum-ai-cognitive-architecture.cjs
  automation/quantum-ai-ecosystem.cjs
  automation/quantum-ai-enterprise.cjs
  automation/quantum-ai-governance.cjs
  automation/quantum-ai-integration.cjs
  automation/quantum-ai-orchestration.cjs
  automation/quantum-ai-production.cjs
  automation/quantum-ai-self-evolution.cjs
  package.json
Labels: automation, config

Add API documentation and user management pages to Zion App
  pages/api-documentation.tsx
  pages/enhanced-navigation.tsx
  pages/user-management.tsx
Labels: frontend

fix: resolve syntax errors in api-documentation.tsx - escape unescaped quotes in JSON strings
  pages/api-documentation.tsx
Labels: frontend

Update API docs, robots, sitemap, and metadata with minor improvements
  netlify/functions/functions-manifest.json
  next-env.d.ts
  pages/api-documentation.tsx
  pages/robots.tsx
  pages/sitemap.tsx
  public/reports/metadata/index.html
  tsconfig.tsbuildinfo
Labels: frontend, config

fix: resolve remaining linting issues in api-documentation.tsx
  pages/api-documentation.tsx
Labels: frontend

Add Phase 21: Quantum AI Universal Intelligence & Cosmic Integration
  PHASE_21_SUMMARY.md
Labels: none

📦 Add GitHub Actions for site health, content, and link monitoring
  .github/workflows/content-gap-analyzer.yml
  .github/workflows/continuous-site-health-monitor.yml
  .github/workflows/enhanced-link-health-guardian.yml
  GITHUB_ACTIONS_README.md
  enhanced_link_crawler.py
  requirements.txt
Labels: workflows, config

chore: Add link crawl workflows and external link health checks
  .github/workflows/agent-factories.yml
  .github/workflows/link-crawl-and-fix.yml
  automation/cursor-agents/prompts-1755377392495.json
  automation/fix-internal-links.cjs
  automation/generate-agent-factories.cjs
  data/reports/external-links/external-links-1755377392292.json
  data/reports/link-sentinel/internal-fixes-2025-08-16T20-49-52-431Z.json
  data/reports/link-sentinel/internal-report-2025-08-16T20-49-51-598Z.json
Labels: workflows, automation, config

Add layout audit automation with Playwright and GitHub Actions
  .github/workflows/layout-audit.yml
  automation/agent-factory-suggester.cjs
  automation/layout-crawler.cjs
  automation/layout-fixer.cjs
  data/reports/agent-suggestions/layout-agent-proposals-2025-08-16T20-52-22-299Z.md
  data/reports/layout-audit/latest.json
  data/reports/layout-audit/layout-report-2025-08-16T20-52-14-931Z.json
  data/reports/layout-audit/layout-suggestions-2025-08-16T20-52-18-622Z.json
  package.json
Labels: workflows, automation, config

Add GitHub workflows for agents factories and app crawl/indexing
  .github/workflows/agents-factories-matrix.yml
  .github/workflows/app-crawl-and-index.yml
Labels: workflows, config

feat(links): add safe internal link auto-fixer, agent factory generator, and CI workflows; enhance internal analysis for dynamic routes and redirects
  .github/workflows/link-crawl-and-fix.yml
  automation/fix-internal-links.cjs
  automation/site-link-crawler.cjs
  data/reports/link-sentinel/internal-fixes-2025-08-16T23-29-34-096Z.json
  data/reports/link-sentinel/internal-report-2025-08-16T23-29-33-949Z.json
Labels: workflows, automation, config

feat(automation): add repo crawler, agent generator, reusable agent runner, and matrix workflows; minimal scripts and deps
  .github/workflows/agents-matrix.yml
  .github/workflows/crawl-content.yml
  .github/workflows/generate-agents.yml
  .github/workflows/reusable-agent.yml
  requirements.txt
  scripts/crawl_repo.py
  scripts/generate_agents.py
  scripts/run_agent.py
Labels: workflows, config

feat(seo): add content indexer and make front promos registry-driven
  automation/content-indexer.cjs
  automation/front-index-advertiser.cjs
  pages/main/front/index.tsx
  public/automation/content-registry.json
Labels: frontend, automation, config

chore(agents): add agent factory, evaluator, auto-merge, and exploration workflows with minimal scripts
  .github/workflows/agent-factory.yml
  .github/workflows/automerge-if-better.yml
  .github/workflows/evaluator.yml
  .github/workflows/exploration.yml
  scripts/idea-generator.cjs
  scripts/run-agent.cjs
Labels: workflows, config

chore(ci): add .lighthouserc.json and pa11yci.json for evaluator
  .lighthouserc.json
  pa11yci.json
Labels: config

feat(seo): feeds + pings; registry-driven promos; content indexer (feature branch)
  core
  netlify/functions/site-crawler.js
  public/atom.xml
  public/automation/content-registry.json
  public/feed.xml
  scripts/generate-feeds.cjs
Labels: config

feat(layout): BFS crawler, fail threshold, CI creates scheduled issue; proposals latest.md
  .github/workflows/layout-audit.yml
  automation/agent-factory-suggester.cjs
  automation/layout-crawler.cjs
Labels: workflows, automation, config

feat(ci): add docs link check and sharded crawling agent factory with persistent queue
  .github/workflows/agent-factory.yml
  .github/workflows/docs-link-check.yml
  state/queue.json
Labels: workflows, config

Initialize core module with base implementation
  core
Labels: none

ci(agents): add Agent Factory, Navigation Intelligence orchestrator, and PR link sanity w/ summary
  .github/workflows/agent-factory.yml
  .github/workflows/navigation-intelligence.yml
  .github/workflows/pr-navigation-smarts.yml
Labels: workflows, config

Initialize core module with base implementation
  core
Labels: none

feat(factory): add agent factory workflows (generate/evaluate/promote/evolve) and scripts (generate/evaluate/evolve)
  .github/workflows/agents-factory-evaluate.yml
  .github/workflows/agents-factory-evolve.yml
  .github/workflows/agents-factory-generate.yml
  .github/workflows/agents-factory-promote.yml
  zion.app/automation/agents/factory/evaluate.cjs
  zion.app/automation/agents/factory/evolve.cjs
  zion.app/automation/agents/factory/generate.cjs
Labels: workflows, config

chore(automation): add agent factories, ultrafast, auto-discovery, scheduler; add factories (ui-evolution, seo) and smoke-test stub
  automation/seo-factory.cjs
  automation/ui-evolution-factory.cjs
  core
Labels: automation

Initialize core repository with initial binary files and structure
  core
Labels: none

ci: auto-open PRs from cursor/* to main
  .github/workflows/auto-pr-cursor-branches.yml
  core
Labels: workflows, config

chore(self-heal): automated build healing
  netlify/functions/functions-manifest.json
  next-env.d.ts
  public/reports/ai-trends/index.html
  public/reports/metadata/index.html
  public/reports/seo/index.html
Labels: config

feat: add enhanced workflow auto-heal system and recovery tools
  .github/workflows/enhanced-auto-heal.yml
  .github/workflows/playwright-smoke.yml
  .github/workflows/pr-update-with-main.yml
  GITHUB_ACTIONS_ANALYSIS_AND_SOLUTIONS.md
  GITHUB_ACTIONS_FIX_RECOMMENDATIONS.md
  emergency-recovery.sh
  workflow-auto-heal-engine.py
  workflow-health-report.json
Labels: workflows, config

feat: recover critical GitHub Actions workflows - Phase 1 complete
  .github/workflows/ci.yml
  .github/workflows/dependency-management.yml
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/test.yml
  CRITICAL_WORKFLOW_RECOVERY.md
  IMMEDIATE_RECOVERY_ACTIONS.md
  RECOVERY_PROGRESS_SUMMARY.md
Labels: workflows, config

Update responsive content workflow with permissions and Node.js setup
  .github/workflows/responsive-content.yml
Labels: workflows, config

Fix cron schedule syntax for homepage auto-update workflow
  .github/workflows/homepage-auto-update.yml
Labels: workflows, config

Fix workflow name quoting in GitHub Actions configuration
  .github/workflows/agent-agent-1755379777751-3-monitoring-advanced.yml
Labels: workflows, config

Fix workflow name quoting in GitHub Actions configuration
  .github/workflows/agent-agent-1755379777746-0-full-stack-advanced.yml
Labels: workflows, config

Fix cron schedule syntax for homepage auto-update workflow
  .github/workflows/homepage-auto-update.yml
Labels: workflows, config

Fix cron schedule syntax for exponential AI delegation workflow
  .github/workflows/exponential-ai-delegation.yml
Labels: workflows, config

Fix extra whitespace in GitHub workflow cron schedule comments
  .github/workflows/app-automation.yml
  .github/workflows/app-monitoring.yml
  .github/workflows/automation-cleanup.yml
  .github/workflows/automation-dashboard.yml
  .github/workflows/autonomous-cloud-automations.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/content-generation.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/homepage-auto-update.yml
  .github/workflows/intelligent-content-generation.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/yaml-auto-fixer-simple.yml
  .github/workflows/yaml-auto-fixer.yml
  .github/workflows/yaml-validator.yml
Labels: workflows, config

Update GitHub workflow cron schedules for more precise timing
  .github/workflows/app-automation.yml
  .github/workflows/app-monitoring.yml
  .github/workflows/automation-cleanup.yml
  .github/workflows/automation-dashboard.yml
  .github/workflows/autonomous-cloud-automations.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/content-generation.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/homepage-auto-update.yml
  .github/workflows/intelligent-content-generation.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/yaml-auto-fixer-simple.yml
  .github/workflows/yaml-auto-fixer.yml
  .github/workflows/yaml-validator.yml
Labels: workflows, config

chore(workflows): Enhance background agent merge and sync systems
  .github/workflows/merge-conflict-guard.yml
  .github/workflows/rapid-git-sync.yml
  .github/workflows/smart-merge-agent.yml
  .github/workflows/workflow-auto-healer.yml
  .github/workflows/workflow-supervisor.yml
  BACKGROUND_AGENT_MERGE_GUIDE.md
  automation/git-sync.cjs
  scripts/check-merge-conflicts.sh
  scripts/fix-all-workflows.sh
  scripts/workflow-health-check.sh
Labels: workflows, automation, config

🔧 Fix GitHub Actions workflows: resolve permission issues and improve security
  .github/workflows/ai-content-autonomy.yml
  .github/workflows/cloud-autonomous-orchestrator.yml
  .github/workflows/homepage-auto-advertiser.yml
  .github/workflows/homepage-auto-update.yml
  .github/workflows/link-auto-fix.yml
  .github/workflows/pr-auto-curator.yml
  .github/workflows/readme-auto-advertiser.yml
  .github/workflows/readme-autogen.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/seo-audit.yml
  .github/workflows/sitemap-auto-commit.yml
Labels: workflows, config

🚀 Add comprehensive test suite and auto-fix workflows for GitHub Actions
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/comprehensive-test.yml
Labels: workflows, config

fix: resolve TypeScript errors and unused state variables
  pages/discover.tsx
  pages/user-management.tsx
Labels: frontend

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
