Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(outreach): refresh ready queue state
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach): log Nebius advanced negotiation reply
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): record Nebius scheduling reply
  lead-crm/pipeline_log.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add advanced analytics, agentic CX, automation governance, resilience, financial ops, HR analytics, IT compliance, operational excellence, and revenue assurance pages
  automation/reports/build-and-verify-latest.json
  public/sitemap.xml
Labels: automation

fix(links): redirect stale /services/* slugs to canonical routes
  docs/services/ai-document-processing-ocr/index.html
  docs/services/ai-predictive-analytics-platform/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/siem-as-a-service/index.html
  docs/services/w178-insurance-claims-auto/index.html
  docs/services/zero-trust-network-architecture/index.html
Labels: none

fix(links): add static redirects for stale service/blog paths
  docs/blog/index.html
  docs/services/ai-insurance-claims-automation/index.html
  docs/services/cloud-cost-optimization-service/index.html
  docs/services/siem-security-platform/index.html
  docs/services/zero-trust-network-access/index.html
Labels: none

feat(seo): add Nebius LATAM expansion partnership guide
  app/blog/nebius-partnership-latam-expansion-guide/page.tsx
Labels: none

chore(deploy): refresh sitemap and build verification metadata
  automation/reports/build-and-verify-latest.json
  public/sitemap.xml
Labels: automation

chore(cache): bust stale Pages cache for blog posts
  docs/blog/ai-agentic-workflow-automation-reduce-manual-work-hours/index.html
  docs/blog/ai-computer-vision-quality-inspection/index.html
  docs/blog/cyber-incident-response-retainer-ready-before-breach/index.html
Labels: none

fix(links): redirect /services/cloud-cost-optimization and /services/ai-insurance-claims to canonical service pages
  docs/services/ai-insurance-claims/index.html
  docs/services/cloud-cost-optimization/index.html
Labels: none

chore(outreach): mine 14 new leads and refresh ready queue
  lead-crm/all-leads.json
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach+seo): advance Nebius negotiation, refresh miner output, add managed AI cloud support page
  Zion_Brain_Log.md
  app/blog/managed-ai-cloud-support-for-startups-and-enterprises-in-2026/page.tsx
  broken-links-docs-report.json
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/historical_miner_results.json
  lead-crm/pipeline_log.json
Labels: docs

chore(outreach): refresh lock and pipeline log after mining tick
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): normalize pipeline lock/log after mining tick
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): finalize lock/log/queue state
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): refresh ready queue excluding generic providers
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
Labels: none

feat(seo): add AI vendor co-selling / Nebius partnership page
  app/blog/nebius-partnership-and-ai-vendor-co-selling-2026/page.tsx
Labels: none

fix(links): align internal links to working routes
  app/ai-claims-automation/page.tsx
  app/ai-lab/page.tsx
  components/ServiceFinderChat.tsx
Labels: frontend

chore(outreach): log miner tick and state check
  lead-crm/pipeline_log.json
Labels: none

feat(outreach+seo): refresh queue and add AI vendor channel partnership page
  app/blog/ai-vendor-channel-partnership-model-for-latam/page.tsx
  lead-crm/all-leads.json
  lead-crm/miner_log.json
Labels: none

chore(outreach+memory): refresh pipeline state and daily memory
  app/services/[id]/page.tsx
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/historical_miner_results.json
  lead-crm/pipeline_log.json
  memory/2026-07-07.md
Labels: docs

fix(links): add static redirects for stale /services/* slugs
  docs/services/ai-document-processing-ocr/index.html
  docs/services/ai-predictive-analytics-platform/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/siem-as-a-service/index.html
  docs/services/w178-insurance-claims-auto/index.html
  docs/services/zero-trust-network-architecture/index.html
Labels: none

fix: add redirect pages for legacy service slugs
  docs/services/ai-claims-automation/index.html
  docs/services/cloud-cost-optimization-platform/index.html
  docs/services/cloud-cost-optimization-service/index.html
Labels: none

chore(repo): normalize docs conflicts and pipeline state
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): inspect pipeline artifacts for recovery actions
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

docs(memory): persist daily state and normalize hot-followup artifact
  lead-crm/pipeline_log.json
  memory/2026-07-07.md
Labels: docs

fix(links): add remaining static redirects for stale /services/* slugs
  docs/services/ai-document-processing-ocr/index.html
  docs/services/ai-predictive-analytics-platform/index.html
  docs/services/siem-as-a-service/index.html
  docs/services/w178-insurance-claims-auto/index.html
  docs/services/zero-trust-network-architecture/index.html
Labels: none

feat(seo): add Nebius LATAM AI partnership opportunity page
  app/blog/nebius-latam-ai-partnership-opportunity-2026/page.tsx
Labels: none

chore(outreach+qa): add live link audit script and refresh pipeline state
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
  scripts/live-link-audit.cjs
Labels: automation

fix(links): canonicalize stale /services/* slugs in live docs and chunks
  docs/_next/static/chunks/app/tools/port-scanner/page-209532b71cb9cb54.js
  docs/_next/static/chunks/app/tools/ssl-checker/page-3d3d3d88e373b5a7.js
  docs/blog/ai-agentic-workflow-automation-reduce-manual-work-hours/index.html
  docs/blog/ai-computer-vision-quality-inspection/index.html
  docs/blog/cyber-incident-response-retainer-ready-before-breach/index.html
  docs/blog/data-warehouse-modernization-legacy-to-cloud/index.html
  docs/blog/fleet-management-gps-tracking-visibility-utilization/index.html
  docs/blog/managed-observability-247-detect-issues-before-customers/index.html
  docs/blog/managed-service-providers-add-ai-layer/index.html
  docs/blog/rag-knowledge-base-platform-internal-ai-assistants/index.html
  docs/static/chunks/app/tools/port-scanner/page-209532b71cb9cb54.js
  docs/static/chunks/app/tools/ssl-checker/page-3d3d3d88e373b5a7.js
  docs/tools/port-scanner/index.html
  docs/tools/ssl-checker/index.html
Labels: none

chore(outreach+qa): sync miner results and live link audit script
  lead-crm/all-leads.json
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/pipeline_log.json
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
Labels: automation

fix: add redirect from /ai/demo/ to /ai-lab/
  docs/ai/demo/index.html
Labels: none

chore(outreach): finalize lock and pipeline log state
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): record user-requested automation tick
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): rebuild clean ready queue excluding noise
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach+seo+qa): normalize pipeline state, add Nebius partnership SEO
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/pipeline_log.json
  scripts/live-link-audit.cjs
  scripts/reports/live-link-audit.json
Labels: automation

deploy: static export 2026-07-07T04:26:29.589Z
  data/services.json
Labels: none

chore(outreach): send Awaz.ai Calendly resend reply and update cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore(outreach): finalize Awaz.ai update and miner state
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/miner_log.json
  lead-crm/pipeline_log.json
Labels: none

chore(outreach): refresh logs/state and LLM provider audit
  Zion_Brain_Log.md
  lead-crm/continuous_outreach_pipeline.lock
  lead-crm/miner_log.json
  lead-crm/pipeline_log.json
Labels: docs

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
