Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

Add new autonomous scanners for assets, routes, and large images
  automation/duplicate-assets-scanner.cjs
  automation/large-image-auditor.cjs
  automation/route-map-generator.cjs
  netlify.toml
  netlify/functions/duplicate-assets-scanner.js
  netlify/functions/functions-manifest.json
  netlify/functions/large-image-auditor.js
  netlify/functions/route-map-generator.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automations): add robots/headers optimizer, README badges updater, and directory builder; wire to front auto-ads and schedules [skip ci]
  automation/front-index-auto-advertiser.cjs
  automation/navigation-directory-builder.cjs
  automation/readme-badges-updater.cjs
  automation/robots-and-headers-optimizer.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/navigation-directory-builder.js
  netlify/functions/readme-badges-updater.js
  netlify/functions/robots-and-headers-optimizer.js
Labels: automation, config

chore(front): refresh auto-promos and optimize robots/headers [skip ci]
  automation/netlify-build-stamp.txt
  pages/main/front/index.tsx
  public/_headers
  public/robots.txt
Labels: frontend, automation

Add auto redirect mapper and asset size guardian functions
  automation/asset-size-guardian.cjs
  automation/auto-redirect-mapper.cjs
  netlify.toml
  netlify/functions/asset-size-guardian.js
  netlify/functions/auto-redirect-mapper.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add design-tokens-curator, seo-title-meta-curator, innovation-lab-curator with Netlify schedules; update front pages to advertise; fix netlify.toml merge markers
  automation/design-tokens-curator.cjs
  automation/innovation-lab-curator.cjs
  automation/seo-title-meta-curator.cjs
  netlify.toml
  netlify/functions/design-tokens-curator.js
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-lab-curator.js
  netlify/functions/seo-title-meta-curator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add stale-content-auditor + schedule + homepage ads; resolve netlify.toml conflicts
  automation/stale-content-auditor.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

chore: add latest netlify trigger artifacts [skip ci]
  automation/logs/latest-netlify-build-trigger.json
  automation/logs/netlify-build-trigger-2025-08-11T23-39-12-342Z.json
  automation/netlify-build-stamp.txt
Labels: automation, config

feat(automations): add stale-content and unused-exports cloud functions; advertise on front; fix netlify schedules; regenerate manifest
  automation/front-index-ads.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/stale-content-auditor-runner.js
  netlify/functions/unused-exports-runner.js
Labels: automation, config

feat(automation): add internal-links analyzer, stale-content auditor, deps auto-upgrade runner; homepage ads; fix netlify schedules; add advanced git sync
  automation/advanced-git-sync.cjs
  automation/internal-links-analyzer.cjs
  automation/stale-content-auditor.cjs
  netlify.toml
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-links-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
Labels: frontend, automation, config

Fix comment syntax in home page auto-generated sections
  pages/index.tsx
Labels: frontend

feat(automation): new autonomous cloud automations (revenue ideas, front index advertiser, complexity report, roadmap synthesizer) + homepage links + fix netlify schedule conflicts
  automation/complexity-report.cjs
  automation/roadmap-synthesizer.cjs
  netlify/functions/complexity-report.js
  netlify/functions/front-index-auto-advertiser-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-ideas-runner.js
  netlify/functions/roadmap-synthesizer.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(cloud): add stale-content auditor + deps auto-upgrade runners; fix netlify schedules; advertise invention orchestrator on home
  netlify.toml
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
Labels: frontend

feat(automations): add Stale Content Auditor and Repo Heatmap Netlify functions; advertise on home/front; schedule + manifest regen
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/repo-heatmap-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): promote cloud automations on front; add capability map runner; regenerate manifest
  netlify/functions/functions-manifest.json
Labels: config

fix(front): resolve JSX comment causing build error
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

Add roadmap and redirects audit automation tools
  automation/redirects-audit.cjs
  automation/roadmap-generator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/redirects-audit-runner.js
  netlify/functions/roadmap-generator-runner.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): new 404 map, component coupling graph, content freshness; fix merge conflicts; advertise on homepage [skip ci]
  automation/component-coupling-graph.cjs
  automation/content-freshness-scanner.cjs
  automation/link-sentinel-aggregator.cjs
  netlify.toml
  netlify/functions/component-coupling-graph-runner.js
  netlify/functions/content-freshness-score-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/site-404-map-runner.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add stale-content auditor and deps-upgrade runners; netlify schedules; front ads
  automation/front-index-ads.cjs
  automation/stale-content-auditor.cjs
  netlify.toml
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/stale-content-auditor-runner.js
Labels: automation, config

feat(automation): Add code hotspots, type health, and roadmap generators
  automation/auto-roadmap-generator.cjs
  automation/code-hotspots-radar.cjs
  automation/component-api-docs-generator.cjs
  automation/front-index-advertiser.cjs
  automation/type-health-monitor.cjs
  netlify.toml
  netlify/functions/auto-roadmap-runner.js
  netlify/functions/code-hotspots-radar.js
  netlify/functions/component-api-docs-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/type-health-monitor.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): new front-index-directory-builder Netlify function; schedule; fix homepage merge markers; advertise intelligent automations on front
  netlify.toml
  netlify/functions/front-index-directory-builder.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): Autonomy Score runner + homepage/front links; schedule; fix merge markers
  automation/autonomy-score.cjs
  netlify.toml
  netlify/functions/autonomy-score-runner.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

fix(home): correct JSX comment block token [skip ci]
  netlify.toml
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): add smart-redirector and semantic-crosslinker; schedule + advertise on homepage; resolve netlify.toml conflicts; regen manifest
  netlify/functions/autonomous-invention-orchestrator.js
  netlify/functions/functions-manifest.json
  netlify/functions/semantic-crosslinker.js
  netlify/functions/smart-redirector.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

Add autonomous innovation functions and update homepage sections
  netlify.toml
  netlify/functions/autonomous-content-curator.js
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-ideas-lab.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

fix: resolve remaining conflict markers on homepage and schedules [skip ci]
  netlify.toml
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

feat: Add merge conflict resolver and autonomous invention orchestrator
  automation/merge-conflict-auto-resolver.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/merge-conflict-auto-resolver.js
  pages/index.tsx
Labels: frontend, automation, config

feat: Add performance, structured data, and anchor checking automations
  automation/front-index-advertiser.cjs
  automation/internal-anchors-checker.cjs
  automation/performance-budget-auditor.cjs
  automation/structured-data-generator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/internal-anchors-checker.js
  netlify/functions/performance-budget-runner.js
  netlify/functions/structured-data-generator.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): Add roadmap curator and patterns miner tools
  automation/patterns-miner.cjs
  automation/roadmap-curator.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/patterns-miner.js
  netlify/functions/roadmap-curator.js
  pages/automation/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

fix(home): resolve leftover merge markers; link Autonomy Score
  netlify/functions/functions-manifest.json
Labels: config

feat: Add ops dashboard, automation health, and new scheduled functions
  automation/automation-health-report.cjs
  automation/ops-consolidator.cjs
  netlify.toml
  netlify/functions/automation-health.js
  netlify/functions/functions-manifest.json
  netlify/functions/ops-consolidator.js
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/generate-netlify-functions-manifest.cjs
Labels: frontend, automation, config

feat(automation): add invention orchestrator; homepage+hub links; schedule
  netlify.toml
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

Add content, docs, and image auditing runners with reports
  automation/content-freshness-audit.cjs
  automation/docs-link-audit.cjs
  automation/image-dimension-audit.cjs
  netlify.toml
  netlify/functions/content-freshness-runner.js
  netlify/functions/docs-link-audit-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/image-dimension-audit-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(home/front): add Autonomy Score links; resolve conflicts; schedule runner
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config

feat(automation): Add autonomous meta and rapid sync orchestrators
  netlify.toml
  netlify/functions/autonomous-invention-orchestrator.js
  netlify/functions/autonomous-meta-orchestrator.js
  netlify/functions/functions-manifest.json
  netlify/functions/innovation-lab.js
  netlify/functions/rapid-sync.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automation): cloud stale-content auditor + deps auto-upgrade runners; schedules; front ads; manifest
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): content-gap analyzer + schedules; homepage/hub links
  automation/content-gap-analyzer.cjs
  netlify.toml
  netlify/functions/content-gap-analyzer.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add asset inventory and internal link graph runners
  automation/asset-inventory.cjs
  automation/internal-link-graph.cjs
  netlify.toml
  netlify/functions/asset-inventory-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): Add UX, route map, and OpenGraph coverage runners
  README.md
  automation/opengraph-coverage-auditor.cjs
  automation/route-map-builder.cjs
  automation/ux-friction-scanner.cjs
  netlify/functions/functions-manifest.json
  netlify/functions/opengraph-coverage-runner.js
  netlify/functions/route-map-runner.js
  netlify/functions/ux-friction-runner.js
  package-lock.json
  package.json
  pages/index.tsx
Labels: frontend, automation, config

chore(lint): satisfy no-empty and no-unused-vars in stale-content runner
  automation/contributing-refresher.cjs
  automation/docs-toc-builder.cjs
  automation/readme-badges-generator.cjs
  automation/release-cadence-recommender.cjs
  netlify.toml
  netlify/functions/contributing-refresher.js
  netlify/functions/docs-toc-builder.js
  netlify/functions/functions-manifest.json
  netlify/functions/readme-badges-runner.js
  netlify/functions/release-cadence-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
Labels: frontend, automation, config

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
