Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

add docs/tools/yaml-formatter/index.html
  docs/tools/yaml-formatter/index.html
Labels: none

add docs/tools/cron-job-visualizer/index.html
  docs/tools/cron-job-visualizer/index.html
Labels: none

fix: deploy docs fallback pages even when build fails
  .github/workflows/gh-pages.yml
Labels: automation

fix: deploy docs fallback pages even when build fails
  .github/workflows/gh-pages.yml
Labels: automation

fix: swap order - out/ first then docs/ for priority
  .github/workflows/gh-pages.yml
Labels: automation

add out/tools/cron-job-visualizer/index.html
  out/tools/cron-job-visualizer/index.html
Labels: none

add out/tools/yaml-formatter/index.html
  out/tools/yaml-formatter/index.html
Labels: none

simplify deploy condition
  .github/workflows/gh-pages.yml
Labels: automation

add simple-pages workflow
  .github/workflows/simple-pages.yml
Labels: automation

chore(outreach): normalize monitor report state before deploy
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

Revert "chore(outreach): normalize monitor report state before deploy"
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: resolve TypeScript errors and add new tools
  app/tools/health-check-script/page.tsx
  app/tools/phishing-analyzer/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore: remove broken tool stubs, seed health data, sync build artifacts
  app/tools/api-contract-generator/page.tsx
  app/tools/json-formatter/index.html
  app/tools/json-formatter/page.tsx
  app/tools/webhook-inspector/page.tsx
  data/service-health.json
  out/tools/cron-job-visualizer/index.html
  out/tools/yaml-formatter/index.html
  public/sitemap.xml
Labels: none

add ip-address-validator tool
  out/tools/ip-address-validator/index.html
Labels: none

add out/tools/number-format-converter/index.html
  out/tools/number-format-converter/index.html
Labels: none

add out/tools/email-validator/index.html
  out/tools/email-validator/index.html
Labels: none

fix: remove unrecoverable broken tool stubs, link repair to working tools, rebuild green
  app/free-tools-hub/page.tsx
  app/free-tools/page.tsx
  app/tools/health-check-script/page.tsx
  app/tools/page.tsx
  public/sitemap.xml
Labels: none

fix: resolve merge conflict markers in page.tsx and outreach_worker_automation.py, add pages_watchdog.py
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix: correct JSX braces in SEO pages, update ESLint config for TypeScript compatibility, fix package.json dependencies
  app/data/discovered_leads.json.bak
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  check_hot_followup_cron.py
  commands/intelligent_email_responder_v12.bak
  lead-crm/hot_followup_responder.py
  lead-crm/outreach-log.jsonl
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/pipeline_sent_cache.txt
  lead-crm/retry_pending_hot_followup.py
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/metrics/monitor_report.jsonl
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/next_hot_followup_llm_draft.json
  package-lock.json
  package.json
  package.json.bak
  scripts/add_25_new_services.py.bak
Labels: automation

fix(css): restore stylesheet on static fallback pages
  docs/contact/index.html
  docs/new-ai-services/index.html
Labels: none

docs(tools): update tools hub claim to 50+ free tools
  app/tools/page.tsx
Labels: none

chore: update outreach metrics and hot followup script
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/llm_hot_followup_responder.py
Labels: automation

feat: upgrade /tools/health-check with preset route checks and summary
  app/tools/health-check/page.tsx
  out/tools/email-validator/index.html
  out/tools/ip-address-validator/index.html
  out/tools/number-format-converter/index.html
Labels: none

recovery: restore lead-crm, monitor, outreach worker/state from recovery branches
  lead-crm/mined_contact_quality.jsonl
  monitor_run.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix: CNAME for docs folder
  docs/CNAME
Labels: none

feat(content/tools): add manifest/env/.gitignore generators, update tools hub copy, refresh sitemap/logs
  app/tools/env-validator/page.tsx
  app/tools/gitignore-generator/page.tsx
  app/tools/manifest-generator/page.tsx
  app/tools/page.tsx
  automation/site_check.py
  lead-crm/outreach-log.jsonl
  public/sitemap.xml
Labels: automation

feat(tools): add AI Support Ticket Classifier tool and index entry
  0001-feat-tools-add-AI-Support-Ticket-Classifier-tool-and.patch
  app/tools/ai-support-ticket-classifier/page.tsx
  app/tools/page.tsx
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add more case studies and expand content
  app/tools/health-check-script/page.tsx
Labels: none

fix: remove merge markers from google_workspace.py and clean monitor artifacts
  0001-feat-tools-add-AI-Support-Ticket-Classifier-tool-and.patch
  commands/google_workspace.py
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add operational /status dashboard and link from health tool
  app/status/page.tsx
Labels: none

add out/tools/ip-address-validator/index.html
  out/tools/ip-address-validator/index.html
Labels: none

add out/tools/email-validator/index.html
  out/tools/email-validator/index.html
Labels: none

add out/tools/number-format-converter/index.html
  out/tools/number-format-converter/index.html
Labels: none

feat: add missing services, case studies, and industry solutions
  app/case-studies/page.tsx
  app/free-tools/page.tsx
  app/tools/cron-validator/page.tsx
  app/tools/page.tsx
  app/tools/regex-builder/page.tsx
  app/tools/ssl-checker/page.tsx
  case-studies/additional-studies.md
  docs/case-studies/index.html
  docs/industries/index.html
  fix_remaining_typescript_errors.cjs
  industries/additional-solutions.md
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  tsconfig.json
Labels: docs, automation

chore: update outreach monitor processed files with latest data
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

chore: merge remote changes and update outreach monitor data
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

chore: update outreach monitor local state
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add API documentation page
  app/api/page.tsx
  app/data/servicesData.ts
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none
