Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore: force Pages redeploy for /status cache refresh
  .github/pages-deploy-trigger
Labels: none

chore: force Pages redeploy for /status cache refresh round 2
  .github/pages-deploy-trigger
Labels: none

chore(outreach): automated outreach cycle
  docs/status/index.html
  memory/2026-07-22.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore: update outreach monitor data files
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix: resolve undefined 'service' variable in high_frequency_monitor.py
  scripts/outreach/high_frequency_monitor.py
Labels: automation

chore: update outreach metrics with latest monitoring data
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/metrics/monitor_report.jsonl
Labels: none

refactor: remove health-check back-link and tighten page
  app/tools/health-check/page.tsx
Labels: none

feat: add wave services and industry fields
  app/data/servicesData.ts
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

feat: add docs/sitemap/robots checks to health-check tool
  app/tools/health-check/page.tsx
  out/data/services.json
  out/feed.xml
  out/service-index.json
  out/tools/health-check/__next._full.txt
  out/tools/health-check/__next.tools.health-check.__PAGE__.txt
  out/tools/health-check/index.html
  out/tools/health-check/index.txt
Labels: none

Fix merge conflicts and add missing exports for build
  app/data/servicesData.ts.bak
  app/data/wave212.ts
  app/data/wave213.ts
  app/data/wave214.ts
  app/data/wave215.ts
  app/data/wave216.ts
Labels: none

Add continuous quality check workflow for CI
  .github/workflows/continuous-quality-check.yml
Labels: automation

chore(outreach): automated outreach cycle
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  memory/2026-07-21.md
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/metrics/monitor_report.jsonl
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/llm_drafts/draft_1795733950be3f61_1784695326.json
  outreach_monitor/processed/llm_drafts/draft_17a1a23455d311cb_1784693036.json
  outreach_monitor/processed/llm_drafts/draft_17a9b96569e2b1b2_1784695372.json
  outreach_monitor/processed/llm_drafts/draft_17aa09a959864cec_1784693025.json
  outreach_monitor/processed/llm_drafts/draft_17aa0ef0c45e71a7_1784693014.json
  outreach_monitor/processed/llm_drafts/draft_17aaa19a90df740b_1784693004.json
  outreach_monitor/processed/llm_drafts/draft_17aafa3bc7eddc1b_1784692993.json
  outreach_monitor/processed/llm_drafts/draft_17aafe1b25773fb9_1784692983.json
  outreach_monitor/processed/llm_drafts/draft_17aafe1b25773fb9_1784695361.json
  outreach_monitor/processed/llm_drafts/draft_17ac9d589f758ba2_1784692973.json
  outreach_monitor/processed/llm_drafts/draft_17acc1a44f61dffd_1784692964.json
  outreach_monitor/processed/llm_drafts/draft_17ace3cb5ba33436_1784692955.json
  outreach_monitor/processed/llm_drafts/draft_17ae8bef12ef37bc_1784692945.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: docs

feat: add /ai and /api app pages with fresh app-shell markup
  out/data/services.json
  out/feed.xml
  out/service-index.json
Labels: none

chore: refresh /api page content to invalidate CDN cache
  app/api/page.tsx
  out/data/services.json
  out/feed.xml
  out/service-index.json
Labels: none

fix: restore strict severity typing in phishing-analyzer tool
  app/ai/page.tsx
  out/ai/__next._full.txt
  out/ai/__next.ai.__PAGE__.txt
  out/ai/index.html
  out/ai/index.txt
  out/data/services.json
  out/feed.xml
  out/service-index.json
Labels: none

chore: fix hot-followup ledger, automation status, outreach LLM toggle, docs fallback
  automation/AUTOMATION_STATUS.md
  automation/hot-followup-sent.json
  automation/run_outreach_scan.py
  automation/run_outreach_scan.py.bak
  docs/index.html
  scripts/outreach_monitor/processed_backup_20260714204719/hot_followup_reply_ledger.jsonl.bak
Labels: docs, automation

fix: replace stale privacy/terms redirects with real static pages
  public/privacy/index.html
  public/terms/index.html
Labels: none

fix: remove stale app/* privacy/terms redirects, rely on real app routes
  app/privacy/index.html
  out/data/services.json
  out/feed.xml
  out/service-index.json
Labels: none

feat: add client-side free tools and repair outreach scan automation
  app/tools/ai-support-triage/page.tsx
  app/tools/cloud-cost-estimator/page.tsx
  app/tools/incident-postmortem/page.tsx
  app/tools/jwt-inspector/page.tsx
  app/tools/tech-stack-recommender/page.tsx
  automation/run_outreach_scan.py
  scripts/token_manager_v2.py
Labels: automation

feat: register new client-side tools in /tools directory
  app/tools/page.tsx
Labels: none

feat: add resume screener tool, demo hub, learning paths
  app/demo/page.tsx
  app/learning-paths/page.tsx
  app/tools/resume-screener/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add fallback /api and /services/ai-workflow-automation pages; enable LLM outreach tailorer
  automation/run_outreach_scan.py
  docs/api/index.html
  docs/services/ai-workflow-automation/index.html
Labels: automation

fix: restore valid free-tools categories and add new tool links
  app/free-tools/page.tsx
Labels: none

feat: add nursing care checklist and release notes generator
  app/tools/nursing-care-checklist/page.tsx
  app/tools/release-notes-generator/page.tsx
Labels: none

feat: add ops/hr tools + demo hub + learning paths update
  app/tools/change-risk-analyzer/page.tsx
  app/tools/incident-timeline-builder/page.tsx
  app/tools/onboarding-checklist/page.tsx
Labels: none

feat: add incident severity calculator, config validator, AI content generator, API response visualizer, managed-it page
  app/services/managed-it/page.tsx
  app/tools/ai-content-generator/page.tsx
  app/tools/api-response-visualizer/page.tsx
  app/tools/config-validator/page.tsx
  app/tools/incident-severity-calculator/page.tsx
Labels: none

feat: add ops/dev/hr/accessibility tools and managed-it page
  app/tools/ai-image-alt-writer/page.tsx
  app/tools/api-response-visualizer/page.tsx
  app/tools/change-risk-analyzer/page.tsx
  app/tools/cloud-cost-estimator/page.tsx
  app/tools/command-generator/page.tsx
  app/tools/config-validator/page.tsx
  app/tools/docker-compose-generator/page.tsx
  app/tools/http-status-reference/page.tsx
  app/tools/incident-postmortem/page.tsx
  app/tools/incident-severity-calculator/page.tsx
  app/tools/jwt-inspector/page.tsx
  app/tools/markdown-table-generator/page.tsx
  app/tools/tech-stack-recommender/page.tsx
Labels: none

refactor: restore clean free-tools page structure and tool registry
  app/free-tools/page.tsx
Labels: none

feat: add architecture patterns and disaster recovery playbook pages
  app/architecture-patterns/page.tsx
  app/disaster-recovery/page.tsx
Labels: none

chore: update servicesData.ts with 351 services
  app/data/servicesData.ts
Labels: none

feat: generate 1637 service detail pages
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/gen_service_pages.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix(pages): add /api and /api.html static fallbacks in public/
  public/api.html
  public/api/index.html
Labels: none

fix(404s,routing): restore missing service pages and remove blocking redirects
  docs/_redirects
  docs/services/ai-collaboration-copilot.html
  docs/services/ai-content-asset-studio.html
  docs/services/ai-development-acceleration.html
  docs/services/lead-generation-outreach-automation.html
  next.config.mjs
Labels: none

fix(pages): add /api and /api.html static fallbacks in public/
  public/api.html
  public/api/index.html
Labels: none

fix: normalize eslint results; work around next lint CLI issue
  app/data/servicesData.ts
  app/tools/ai-support-triage/page.tsx
  app/tools/phishing-analyzer/page.tsx
  app/tools/resume-screener/page.tsx
  app/tools/ssl-checker/page.tsx
  out/data/services.json
  out/feed.xml
  out/service-index.json
Labels: none

fix: remove broken next lint script, normalize eslint results
  package.json
Labels: none

feat: add LLM-tailored response generator, hot follow-up sender, and email automation improvements
  data/outreach/hot_followup_pending_reply_v2.json
  scripts/comprehensive_automation_fix.py
  scripts/llm_tailored_responses.py
  scripts/send_hot_followup.py
  scripts/unified_email_sender.py
Labels: automation

chore: update services and outreach data files with latest content
  app/data/servicesData.ts
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix(pages): add _redirects fallback for /api to /api.html
  public/_redirects
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
