Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

fix: fix malformed multiline echo statements in workflow files
  .github/workflows/cleanup.yml
  .github/workflows/maintenance.yml
  .github/workflows/workflow-manager.yml
Labels: workflows, config

test: trigger test workflow specifically
  test-trigger.md
Labels: none

🤖 Automated sync via cloud orchestrator [skip ci]
  netlify/functions/cloud_orchestrator.js
  netlify/functions/front-enhancer.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/sitemap_runner.js
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
  pages/front/index.tsx
Labels: frontend

🤖 Update sitemap and robots.txt via Netlify function [skip ci]
  public/robots.txt
  public/sitemap-index.xml
  public/sitemap.xml
Labels: none

🤖 Add homepage_advertiser report [skip ci]
  homepage-advertiser-report.md
Labels: none

🤖 Add cloud_orchestrator report [skip ci]
  cloud-orchestrator-report.md
Labels: none

🤖 Add front-enhancer report [skip ci]
  front-enhancer-report.md
Labels: none

ci: trigger CI workflow specifically
  ci-trigger.md
Labels: none

Implement 15 Netlify Functions with testing and comprehensive report
  automation/netlify-build-stamp.txt
  netlify-functions-testing-report.md
  netlify/functions/ai-changelog-runner.js
  netlify/functions/cloud_orchestrator.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/fast-orchestrator.js
  netlify/functions/front-enhancer.js
  netlify/functions/front-index-orchestrator.js
  netlify/functions/frontpage-enhancer.js
  netlify/functions/functions-manifest.json
  netlify/functions/homepage_advertiser.js
  netlify/functions/link-and-health-scheduler.js
  netlify/functions/marketing-and-features-promo.js
  netlify/functions/security-audit-runner.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/sitemap_runner.js
  netlify/functions/trigger-all-and-commit.js
  netlify/functions/ultrafast-orchestrator.js
Labels: automation, config

workflow: trigger workflow-validator workflow specifically
  workflow-validator-trigger.md
Labels: none

Fix workflow syntax errors and add missing automation scripts
  .github/workflows/workflow-manager.yml
  automation/check-workflow-health.cjs
  automation/continuous-automation-improvement-system.js
Labels: workflows, automation, config

Add Netlify serverless functions for site automation and monitoring
  automation/netlify-build-stamp.txt
  netlify/functions/a11y-alt-text-runner.js
  netlify/functions/adaptive-orchestrator.js
  netlify/functions/ai-changelog-runner.js
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/auto-discovery-runner.js
  netlify/functions/continuous-orchestrator.js
  netlify/functions/docs-index-runner.js
  netlify/functions/front-visionary-expander.js
  netlify/functions/functions-manifest.json
  netlify/functions/headers-enforcer.js
  netlify/functions/home-visionary-expander.js
  netlify/functions/homepage_advertiser.js
  netlify/functions/netlify-auto-healer-runner.js
  netlify/functions/security-audit-runner.js
  netlify/functions/seo-audit-runner.js
  netlify/functions/sitemap_runner.js
Labels: automation, config

fix: add quotes to cron syntax in cleanup workflow
  .github/workflows/cleanup.yml
Labels: workflows, config

security: trigger security-scan workflow specifically
  security-scan-trigger.md
Labels: none

🤖 Add a11y-alt-text-runner report [skip ci]
  a11y-alt-text-runner-report.md
  automation/netlify-build-stamp.txt
Labels: automation

🤖 Add adaptive-orchestrator report [skip ci]
  adaptive-orchestrator-report.md
Labels: none

Fix workflow-manager.yml syntax issues - Mon Aug 18 04:53:37 PM UTC 2025
  .github/workflows/workflow-manager.yml
Labels: workflows, config

🤖 Add ai-changelog-runner report [skip ci]
  ai-changelog-runner-report.md
Labels: none

🤖 Add ai-trends-radar-runner report [skip ci]
  ai-trends-radar-runner-report.md
Labels: none

🤖 Add anchor-links-auto-fixer report [skip ci]
  anchor-links-auto-fixer-report.md
Labels: none

🤖 Add auto-discovery-runner report [skip ci]
  auto-discovery-runner-report.md
Labels: none

🤖 Add auto-scheduler report [skip ci]
  auto-scheduler-report.md
Labels: none

🤖 Add autonomous-meta-orchestrator report [skip ci]
  autonomous-meta-orchestrator-report.md
Labels: none

🤖 Add broken-image-scanner report [skip ci]
  broken-image-scanner-report.md
Labels: none

🤖 Add broken-image-scanner-runner report [skip ci]
  broken-image-scanner-runner-report.md
Labels: none

🤖 Add canonical-auditor report [skip ci]
  canonical-auditor-report.md
Labels: none

🤖 Add cloud_orchestrator report [skip ci]
  cloud-orchestrator-report.md
Labels: none

🤖 Add code-smell-audit-runner report [skip ci]
  code-smell-audit-runner-report.md
Labels: none

🤖 Add component-coupling-graph-runner report [skip ci]
  component-coupling-graph-runner-report.md
Labels: none

🤖 Add component-size-report report [skip ci]
  component-size-report-report.md
Labels: none

performance: trigger performance-monitoring workflow specifically
  performance-monitoring-trigger.md
Labels: none

🤖 Add content-freshness-score-runner report [skip ci]
  content-freshness-score-runner-report.md
Labels: none

🤖 Add continuous-front-runner report [skip ci]
  continuous-front-runner-report.md
Labels: none

🤖 Add continuous-orchestrator report [skip ci]
  continuous-orchestrator-report.md
Labels: none

🤖 Add dead-code-report report [skip ci]
  dead-code-report-report.md
Labels: none

🤖 Add deps-auto-upgrade-runner report [skip ci]
  deps-auto-upgrade-runner-report.md
Labels: none

🤖 Add docs-index-runner report [skip ci]
  docs-index-runner-report.md
Labels: none

🤖 Add docs-search-index-runner report [skip ci]
  docs-search-index-runner-report.md
Labels: none

🤖 Add duplicate-media-finder-runner report [skip ci]
  duplicate-media-finder-runner-report.md
Labels: none

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'
