Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat(seo): add voice automation 2026, CIO AI strategy 2026, DevOps platform engineering pages
  app/blog/ai-devops-platform-engineering-faster-releases/page.tsx
  app/blog/ai-voice-agents-conversational-automation-2026/page.tsx
  app/blog/it-consulting-ai-strategy-for-cio-2026/page.tsx
Labels: none

feat(seo): add observability-toil, RPA+AI, agentic automation business-case pages
  app/blog/ai-agentic-automation-business-cases-2026/page.tsx
  app/blog/ai-observability-toil-reduction-for-it/page.tsx
  app/blog/ai-rpa-intelligent-automation-internal-operations/page.tsx
Labels: none

chore(outreach): clean noisy leads and reset ready cache
  lead-crm/all-leads.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add Brazilian/AI marketing, free services, and 2026 AI consulting pages
  app/blog/ai-ia-generativa-para-marketing-e-conteudo-empresarial/page.tsx
  app/blog/consultoria-ia-para-empresas-em-2026/page.tsx
  app/blog/servicos-gratuitos-ia-zion-tech-group/page.tsx
Labels: none

fix(blog): repair dangerouslySetInnerHTML on 2 remaining blog pages
  app/blog/ai-services-for-business-it-leaders-in-2026/page.tsx
  app/blog/ai-voice-agents-and-conversational-automation/page.tsx
Labels: none

feat(seo): add Brazilian generative AI cases, Brazil automation, and free IT AI tools pages
  app/blog/automacao-ia-empresas-brasil/page.tsx
  app/blog/free-ai-tools-for-it-teams/page.tsx
  app/blog/ia-generativa-cases-empresariais/page.tsx
Labels: none

chore(outreach): sync miner artifacts
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/miner_log.json
Labels: none

feat(seo): add AI observability, copilot IT support, chatbot builder, process automation, and computer vision QA pages
  app/seo/ai-chatbot-builder-free-trial/page.tsx
  app/seo/ai-computer-vision-quality-assurance/page.tsx
  app/seo/ai-copilot-it-support/page.tsx
  app/seo/ai-observability-free-trial/page.tsx
  app/seo/ai-process-automation-enterprise/page.tsx
Labels: none

feat(seo): add B2B AI cases, free AI tools 2026, and IT AI best practices
  app/blog/cases-ia-b2b-atendimento-automacao/page.tsx
  app/blog/free-ai-tools-for-ai-it-companies-in-2026/page.tsx
  app/blog/melhores-praticas-ia-para-times-de-ti/page.tsx
Labels: none

chore(outreach): mine new leads and clean voter artifacts
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
  lead-crm/__pycache__/send_outreach_batch.cpython-313.pyc
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add data pipeline, document automation, email automation, platform trial, and security ops pages
  app/seo/ai-data-pipeline-automation/page.tsx
  app/seo/ai-document-automation-free-tools/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-platform-free-trial/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
Labels: none

chore(outreach): remove conflicting data artifacts and add continuous improvement doc + filtered leads
  app/components/Footer.tsx
  docs/outreach_continuous_improvement.md
  lead-crm/outreach_batch_current.json
Labels: docs

chore: ignore conflicting data artifacts and clean index
  .gitignore
  data/response_scores.jsonl
  data/v26_run_log.jsonl
  data/v26_stats.jsonl
Labels: none

feat(seo): add incident response retainer, managed services 2026 roadmap, and AI partnerships pages
  app/blog/ai-incident-response-retainer-for-it-teams/page.tsx
  app/blog/ai-managed-services-2026-roadmap/page.tsx
  app/blog/ai-partnerships-and-channel-opportunities-2026/page.tsx
Labels: none

chore(outreach): clean noisy leads from all-leads
  lead-crm/all-leads.json
Labels: none

chore: apply autostash and refresh SEO/automation changes
  app/blog/automacao-ia-empresas-brasil/page.tsx
  app/blog/cases-ia-b2b-atendimento-automacao/page.tsx
  app/blog/free-ai-tools-for-ai-it-companies-in-2026/page.tsx
  app/blog/free-ai-tools-for-it-teams/page.tsx
  app/blog/ia-generativa-cases-empresariais/page.tsx
  app/blog/melhores-praticas-ia-para-times-de-ti/page.tsx
  app/data/wave178.ts
  app/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/ssl-checker/page.tsx
Labels: none

chore: remove broken blog block and add governance, context, edge realtime, memory agents, orchestration SEO pages
  app/blog/ai-incident-response-retainer-for-it-teams/page.tsx
  app/blog/ai-managed-services-2026-roadmap/page.tsx
  app/blog/ai-partnerships-and-channel-opportunities-2026/page.tsx
  app/blog/cases-ia-b2b-atendimento-automacao/page.tsx
  app/blog/free-ai-tools-for-ai-it-companies-in-2026/page.tsx
  app/blog/melhores-praticas-ia-para-times-de-ti/page.tsx
  app/seo/ai-context-engineering/page.tsx
  app/seo/ai-edge-realtime/page.tsx
  app/seo/ai-governance-trust/page.tsx
  app/seo/ai-memory-agents/page.tsx
  app/seo/ai-model-orchestration/page.tsx
Labels: none

chore(outreach): mine leads, update sent cache, and refresh ready queue
  lead-crm/historical_miner_results.json
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add AI business intelligence, document processing, fraud detection, revenue forecasting, and revenue operations pages
  app/seo/ai-business-intelligence/page.tsx
  app/seo/ai-document-processing/page.tsx
  app/seo/ai-fraud-detection/page.tsx
  app/seo/ai-revenue-forecasting/page.tsx
  app/seo/ai-revenue-operations/page.tsx
Labels: none

feat(seo): add managed services contract model, voice agents, and observability automation pages; refresh outreach queue
  app/blog/ai-managed-services-contract-model/page.tsx
  app/blog/ai-observability-and-it-operations-automation/page.tsx
  app/blog/ai-voice-agents-for-support-and-sales/page.tsx
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore: add AI retail forecasting, insurance claims, healthcare clinical, energy optimization, and fleet logistics SEO pages
  app/seo/ai-energy-optimization/page.tsx
  app/seo/ai-fleet-logistics/page.tsx
  app/seo/ai-healthcare-clinical/page.tsx
  app/seo/ai-insurance-claims/page.tsx
  app/seo/ai-retail-forecasting/page.tsx
Labels: none

feat(seo): add manufacturing quality, smart city, agriculture, adaptive education, legal/contract intelligence SEO pages and validate final blog block
  app/blog/ai-managed-services-contract-model/page.tsx
  app/blog/ai-observability-and-it-operations-automation/page.tsx
  app/blog/ai-voice-agents-for-support-and-sales/page.tsx
  app/seo/ai-agriculture/page.tsx
  app/seo/ai-education-adaptive/page.tsx
  app/seo/ai-legal-contract/page.tsx
  app/seo/ai-manufacturing-quality/page.tsx
  app/seo/ai-smart-city/page.tsx
Labels: none

feat(seo): add government/public sector, media/entertainment, construction, and aviation/aerospace AI SEO pages
  app/seo/ai-aviation-aerospace/page.tsx
  app/seo/ai-construction/page.tsx
  app/seo/ai-government-public-sector/page.tsx
  app/seo/ai-media-entertainment/page.tsx
Labels: none

feat(seo): add IT decision-maker AI tools, free services, and partnership-model pages
  app/blog/ai-it-partnership-model-for-nebius-and-similar-vendors/page.tsx
  app/blog/free-ai-services-and-tools-for-businesses/page.tsx
  app/blog/it-decision-maker-ai-tools-for-2026/page.tsx
Labels: none

chore(outreach): mark declined and noisy contacts in sent cache
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add co-selling with Nebius, AI pricing models, and free tools/offerings pages
  app/blog/ai-co-selling-with-nebius-and-other-ai-vendors/page.tsx
  app/blog/ai-pricing-models-for-it-managed-services/page.tsx
  app/blog/ai-services-free-tools-and-client-offerings-for-2026/page.tsx
Labels: none

chore(outreach): refresh clean ready queue and record Nebius follow-up
  lead-crm/outreach_ready_canonical.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

feat(seo): add support automation, SOC AI, and IT growth strategy pages
  app/blog/ai-growth-strategies-for-it-companies-in-2026/page.tsx
  app/blog/ai-security-automation-and-soc-ai-in-2026/page.tsx
  app/blog/ai-support-automation-for-it-providers/page.tsx
Labels: none

feat: add CEO hot-followup reply draft, refresh CRM ready state, and expand AI/IT SEO lead-gen pages
  lead-crm/outreach_batch_current.json
Labels: none

feat(seo): add SOC automation, enterprise AI consulting, and platform engineering pages
  app/blog/ai-consulting-services-for-enterprise-it-in-2026/page.tsx
  app/blog/ai-platform-engineering-2026-services-guide/page.tsx
  app/blog/ai-soc-automation-and-threat-detection-in-2026/page.tsx
Labels: none

fix: publish /automation docs artifact
  .gitignore
  docs/automation/__next._full.txt
  docs/automation/__next._head.txt
  docs/automation/__next._index.txt
  docs/automation/__next._tree.txt
  docs/automation/__next.automation.__PAGE__.txt
  docs/automation/__next.automation.txt
  docs/automation/index.html
  docs/automation/index.txt
Labels: none

fix(deploy): normalize Pages artifact path to out first, docs fallback
  .github/workflows/continuous-pages-deploy.yml
  Zion_Brain_Log.md
  app/automation/page.tsx
  app/site-map/page.tsx
  automation/data/broken-links-report.json
  automation/data/service-counts-report.json
  automation/reports/build-and-verify-latest.json
  docs/_next/static/chunks/app/automation/page-5eb73478a86058ab.js
  docs/static/chunks/app/automation/page-5eb73478a86058ab.js
  lead-crm/all-leads.json
  lead-crm/miner_log.json
  lead-crm/pipeline_log.json
Labels: docs, automation

chore(outreach): refresh ready queue from new miner results
  lead-crm/all-leads.json
  lead-crm/miner_log.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach): run historical miner and refresh leads
  lead-crm/all-leads.json
  lead-crm/miner_log.json
Labels: none

feat(outreach+seo): advanced Nebius follow-up and LATAM partnership page
  app/blog/nebius-ai-cloud-partnership-model-for-latam/page.tsx
  lead-crm/historical_miner_results.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/pipeline_log.json
  lead-crm/tailor_log.jsonl
Labels: none

feat(seo): add outsourcing vs in-house IT, CI/CD AI automation, and IT cost optimization pages
  app/blog/ai-ci-execution-and-ci-cd-ai-automation/page.tsx
  app/blog/ai-cost-optimization-for-it-operations-2026/page.tsx
  app/blog/ai-outsourcing-vs-inhouse-it-teams-2026/page.tsx
Labels: none

feat(seo): add process mining, knowledge management, low-code platform, video analytics, and voice assistant pages; restore 3 developer blog posts
  app/blog/ai-consulting-services-for-enterprise-it-in-2026/page.tsx
  app/blog/ai-platform-engineering-2026-services-guide/page.tsx
  app/blog/ai-soc-automation-and-threat-detection-in-2026/page.tsx
  app/seo/ai-knowledge-management/page.tsx
  app/seo/ai-low-code-platform/page.tsx
  app/seo/ai-process-mining/page.tsx
  app/seo/ai-video-analytics/page.tsx
  app/seo/ai-voice-assistant-business/page.tsx
Labels: none

feat(seo): add Nebius LATAM partnership guide page
  app/blog/nebius-latam-ai-cloud-partnership-guide/page.tsx
Labels: none

chore(outreach): record Nebius advanced follow-up
  lead-crm/pipeline_log.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

chore(outreach): advance Nebius call scheduling and update CRM cache
  lead-crm/pipeline_log.json
  lead-crm/pipeline_sent_cache.txt
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
