Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore(outreach): automated outreach cycle
  _tmp_hot_followup_check.py
  outreach_monitor/processed/monitor_report.jsonl
  token_control.json
Labels: none

chore(outreach): automated outreach cycle
  _tmp_inspect_thread.py
  check_hot_followup.py
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add subscriptions, faq, mentorship, consultants, allies, ai roi calc
  docs/allies/index.html
  docs/consultants/index.html
  docs/frequently-asked-questions/index.html
  docs/mentorship/index.html
  docs/subscriptions/index.html
  docs/tools/ai-roi-calc/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  memory/2026-07-23.md
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/hot_followup_sender.py
  outreach_monitor/processed/minimal_hot_followup_monitor.py
  outreach_monitor/processed/pending_ceo_drafts.jsonl
Labels: docs

feat: add hiring, internships, browse-* and start pages
  docs/browse-ai/index.html
  docs/browse-services/index.html
  docs/browse-tools/index.html
  docs/hiring/index.html
  docs/internships/index.html
  docs/start/index.html
Labels: none

feat: add mobile, desktop, marketplace, changelog, roadmap, status pages
  docs/changelogs/index.html
  docs/desktop-app/index.html
  docs/mobile-app/index.html
  docs/plugin-marketplace/index.html
  docs/public-roadmap/index.html
  docs/status-page/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(monitor): recognize Hermes auth fallback in LLM tailoring coverage
  scripts/outreach/high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add glossary, showcase, webinars, datasets, benchmarks, templates, workflows, integrations directory, ai email analyzer
  docs/benchmarks/index.html
  docs/datasets/index.html
  docs/glossary/index.html
  docs/integrations-directory/index.html
  docs/showcase/index.html
  docs/templates/index.html
  docs/tools/ai-email-analyzer/index.html
  docs/webinars/index.html
  docs/workflows/index.html
Labels: none

feat: add podcasts, community, notifications, invoices, estimates, proposals, contracts, kb
  docs/contracts/index.html
  docs/estimates/index.html
  docs/invoices/index.html
  docs/knowledge-base/index.html
  docs/notifications/index.html
  docs/podcasts/index.html
  docs/proposals/index.html
  docs/slack-community/index.html
Labels: none

feat: add open source, security, release notes, api reference, sdk, cli, changelog, certifications
  docs/api-reference/index.html
  docs/certifications/index.html
  docs/cli/index.html
  docs/open-source/index.html
  docs/release-notes/index.html
  docs/sdk/index.html
  docs/security-advisories/index.html
Labels: none

feat: add downloads, apps, marketplace, pricing, orders, billing, subscription, renewals, usage
  docs/apps/index.html
  docs/billing/index.html
  docs/downloads/index.html
  docs/marketplace/index.html
  docs/orders/index.html
  docs/renewals/index.html
  docs/subscription/index.html
  docs/usage/index.html
Labels: none

feat: add login, signup, account, profile, settings, admin, dashboard, analytics, reports
  docs/account/index.html
  docs/admin/index.html
  docs/analytics/index.html
  docs/login/index.html
  docs/profile/index.html
  docs/reports/index.html
  docs/settings/index.html
  docs/signup/index.html
Labels: none

feat: add jobs, portals, models, playground, fine-tuning, embeddings, prompt optimizer
  docs/career-development/index.html
  docs/developer-portal/index.html
  docs/embeddings/index.html
  docs/fine-tuning/index.html
  docs/jobs/index.html
  docs/models/index.html
  docs/partner-portal/index.html
  docs/playground/index.html
  docs/tools/ai-prompt-optimizer/index.html
Labels: none

feat: add coupons, promotions, referrals, affiliates, reviews, testimonials, case study, whitepapers, ebooks, guides
  docs/affiliates/index.html
  docs/case-study/index.html
  docs/coupons/index.html
  docs/ebooks/index.html
  docs/guides/index.html
  docs/promotions/index.html
  docs/referrals/index.html
  docs/reviews/index.html
  docs/whitepapers/index.html
Labels: none

feat: add ai customer support pro tool page
  docs/tools/ai-customer-support-pro/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add newsroom/social-impact section and /services/ai-observability fallback
  app/components/NewsroomTracker.tsx
  app/newsroom/page.tsx
  docs/services/ai-observability/index.html
  public/_redirects
  public/services/ai-observability/index.html
Labels: none

feat(seo): add homepage metadata block
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): resolve monitor_report merge conflict
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/seo/ai-contact-center-automation/page.tsx
  app/seo/ai-copilot-for-enterprise-it/page.tsx
  app/seo/ai-document-automation-enterprise/page.tsx
  app/seo/ai-email-automation-business/page.tsx
  app/seo/ai-free-tools-enterprise/page.tsx
  app/seo/ai-security-operations-automation/page.tsx
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/metrics/llm_responder_metrics.jsonl
  outreach_monitor/metrics/monitor_report.jsonl
  outreach_monitor/processed/hot_followup_cron_summary.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/next_hot_followup_llm_draft.json
  outreach_monitor/processed/pending_ceo_drafts.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/mined_contact_quality.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat: add sentiment analyzer, meeting summarizer, code reviewer, image captioner
  docs/tools/ai-code-reviewer/index.html
  docs/tools/ai-image-captioner/index.html
  docs/tools/ai-meeting-summarizer/index.html
  docs/tools/ai-sentiment-analyzer/index.html
Labels: none

fix(pages): add docs fallbacks for /newsroom/ and /services/ai-observability/
  docs/newsroom/index.html
  docs/services/ai-observability/index.html
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(pages): serve /newsroom/ via docs fallback rewrite
  public/_redirects
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): skip undeliverable threads in discovery to reduce dead sends
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: restore corrupted wave216.ts import statement and phishing-analyzer Link import
  app/data/wave216.ts
  app/tools/phishing-analyzer/page.tsx
  data/token_dashboard.json
  data/token_state.json
  lead-crm/ceo_outreach_ledger.jsonl
  lead-crm/outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  lead-crm/outreach_sent_history.jsonl
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  token_control.json
Labels: none
