Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  public/services/ai-customer-support-pro/index.html
Labels: none

chore(outreach): refresh dedup, ledgers, draft state, and hot-followup cron runners
  memory/2026-07-15.md
  outreach_monitor/processed/_cron_hot_followup_check.py
  outreach_monitor/processed/_run_hot_followup_cron.py
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/hot_followup_cron_summary.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/next_hot_followup_llm_draft.json
  outreach_monitor/processed/run_hot_followup_cron.py
  scripts/outreach/outreach_worker_automation.py
Labels: docs, automation

chore(outreach): refresh outreach runtime state after rebased sync
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/hot_followup_cron_summary.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/next_hot_followup_llm_draft.json
Labels: none

chore(outreach): log hot-followup run with no contacts found
  memory/2026-07-15.md
Labels: docs

chore(outreach): checkpoint remaining runtime state
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/next_hot_followup_llm_draft.json
Labels: none

fix(seo): preserve legacy service slug with permanent redirect to platform page
  app/services/cloud-cost-optimization-service/page.tsx
Labels: none

fix(seo): keep platform redirect path and preserve legacy slug redirect
  app/services/cloud-cost-optimization-platform/page.tsx
Labels: none

fix(seo): restore stable redirects for legacy and canonical cloud cost service URL
  docs/services/cloud-cost-optimization-service/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_sent_history.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): harden interest-probe noise filters and add skipped metrics
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): preserve latest live send checks and worker state
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/sent_threads.json
  rechecked-broken-links-docs.json
  reports/site_probe.py
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

docs(outreach): add OAuth setup guide for live send recovery
  scripts/outreach/GMAIL_OAUTH_SETUP.md
Labels: docs, automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

Add case-studies redirect fallback for 404 path
  docs/case-studies/index.html
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

feat(outreach): recognize Hermes google_token.json and add ADC/gcloud fallback
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/sent_threads.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
  site_probe_report.err
  site_probe_report.json
  tmp-linkcheck.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): support 4x hot-follow-up label variant and Hermes token path
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  memory/2026-07-15.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: fix outreach-live-llm-tailoring workflow with fallback LLM env vars
  .github/workflows/outreach-live-llm-tailoring.yml
Labels: automation

chore: resolve stash conflicts, keep local outreach monitor state
  next.config.mjs
  outreach_monitor/processed/_cron_hot_followup_check.py
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/hot_followup_cron_summary.json
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/next_hot_followup_llm_draft.json
  outreach_monitor/processed/run_hot_followup_cron.py
Labels: none

chore(outreach): sync dedup ledger and preserve redirect docs
  docs/solutions/scribe/index.html
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/sent_threads.json
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
Labels: automation

fix: update footer and homepage links to live paths
  app/components/Footer.tsx
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  .github/workflows/visual-regression.yml
  components/ServiceFinderChat.tsx
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: frontend, automation

chore(outreach): automated outreach cycle
  commands/run_gmail_check.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  query_hot_followup.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/hot_followup_reply_ledger.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): expire stale interest drafts after 3 days; validate filter/metrics
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): enforce noise filter centrally and add unconditional TTLEXPIRY
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix: canonical cloud-cost link in homepage service cards
  app/page.tsx
Labels: none

fix(outreach): purge stale queue entries and enforce noise filtering on cleanup path
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
