Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Add tech debt, revenue, and ownership automation runners
  README.md
  automation/code-ownership-map.cjs
  automation/revenue-ideas-orchestrator.cjs
  automation/tech-debt-heatmap.cjs
  netlify.toml
  netlify/functions/code-ownership-map-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-ideas-runner.js
  netlify/functions/tech-debt-heatmap-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add roadmap-curator, revenue-ideas-lab, auto-discovery runner; advertise on homepage and front; fix netlify.toml merge markers
  netlify.toml
  netlify/functions/auto-discovery-runner.js
  netlify/functions/revenue-ideas-lab.js
  netlify/functions/roadmap-curator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/reports/roadmap.tsx
Labels: frontend

chore(netlify): update functions manifest
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add smart redirects, QA knowledge and SEO schema runners
  automation/qa-knowledge-generator.cjs
  automation/seo-schema-generator.cjs
  automation/smart-redirects-manager.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/qa-knowledge-runner.js
  netlify/functions/seo-schema-runner.js
  netlify/functions/smart-redirects-manager.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add component-props-docs and topics-map runners; fix schedules; advertise on homepage [skip ci]
  automation/component-props-docs.cjs
  automation/topics-map.cjs
  netlify.toml
  netlify/functions/component-props-docs-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/topics-map-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): new cloud runners (deps auto-upgrade, stale content); fix netlify schedules; update manifest
  netlify.toml
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/stale-content-auditor-runner.js
Labels: config

feat(automation): add cloud spelling/terminology auditor and reading-level analyzer; schedule functions; advertise on homepage and front index
  automation/front-index-ads.cjs
  automation/reading-level-analyzer.cjs
  automation/spelling-terminology-auditor.cjs
  netlify/functions/functions-manifest.json
  netlify/functions/reading-level-runner.js
  netlify/functions/spelling-terminology-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
  public/reports/reading-level/index.html
  public/reports/reading-level/latest.json
  public/reports/spelling/index.html
  public/reports/spelling/latest.json
Labels: frontend, automation, config

feat(automation): add autonomous innovation + stale content auditor; fix netlify schedules; advertise on homepage
  automation/front-index-advertiser.cjs
  automation/stale-content-auditor.cjs
  netlify/functions/autonomous-innovation-generator.js
  netlify/functions/functions-manifest.json
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
Labels: frontend, automation, config

Add autonomous cloud services: cache warmer, a11y audit, and SEO pinger
  automation/a11y-auditor.cjs
  automation/edge-cache-warmer.cjs
  automation/search-engine-pinger.cjs
  netlify.toml
  netlify/functions/a11y-auditor.js
  netlify/functions/edge-cache-warmer.js
  netlify/functions/search-engine-pinger.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation

chore(netlify): schedule autonomous-invention-orchestrator
  automation/netlify-build-stamp.txt
  netlify.toml
  netlify/functions/functions-manifest.json
Labels: automation, config

chore(netlify): regenerate functions manifest
  netlify/functions/functions-manifest.json
Labels: config

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

feat(autonomy): add scheduled cloud automations
  automation/component-prop-coverage.cjs
  automation/roadmap-synthesizer.cjs
  automation/schema-org-auditor.cjs
  docs/ROADMAP_AUTO.md
  netlify/functions/component-prop-coverage-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/roadmap-synthesizer.js
  netlify/functions/schema-org-enhancer.js
  pages/index.tsx
  public/automation/component-prop-coverage.json
  public/automation/roadmap.json
  public/automation/schema-audit.json
Labels: frontend, automation, docs, config

feat(front): advertise new cloud automations on front hub; build OK
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

chore: resolve conflicts and merge schedules/manifests; include upstream tools and new validators
  automation/internal-anchors-validator.cjs
  automation/readability-audit.cjs
  automation/stale-content-auditor.cjs
  netlify.toml
  netlify/functions/functions-manifest.json
  netlify/functions/internal-anchors-validator-runner.js
  netlify/functions/readability-audit-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automation): add new autonomous cloud functions + advertise on homepage; resolve schedules [skip ci]
  netlify.toml
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/component-coupling-graph-runner.js
  netlify/functions/content-freshness-score-runner.js
  netlify/functions/deps-auto-upgrade-runner.js
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/site-404-map-runner.js
  netlify/functions/stale-content-auditor-runner.js
  pages/index.tsx
Labels: frontend

Add new runners to functions manifest for improved automation
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add ops intelligence runners and homepage section
  automation/adaptive-orchestrator.cjs
  automation/anchor-links-auto-fixer.cjs
  automation/component-coupling-graph-runner.cjs
  automation/content-freshness-score-runner.cjs
  automation/internal-link-graph-runner.cjs
  automation/knowledge-pack-runner.cjs
  automation/license-compliance-auditor.cjs
  automation/pagespeed-insights-runner.cjs
  automation/site-404-map-runner.cjs
  netlify.toml
  netlify/functions/adaptive-orchestrator.js
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/component-coupling-graph-runner.js
  netlify/functions/content-freshness-score-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/knowledge-pack-runner.js
  netlify/functions/license-compliance-auditor.js
  netlify/functions/pagespeed-insights-runner.js
  netlify/functions/site-404-map-runner.js
  pages/index.tsx
Labels: frontend, automation, config

feat(automation): add internal link graph, coupling graph, freshness, 404 map, anchor-fixer + runners; advertise on front pages; fix netlify schedules; update functions manifest
  automation/anchor-links-auto-fixer.cjs
  automation/component-coupling-graph.cjs
  automation/content-freshness-score.cjs
  automation/internal-link-graph.cjs
  automation/knowledge-pack.cjs
  automation/site-404-map.cjs
  netlify.toml
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/component-coupling-graph-runner.js
  netlify/functions/content-freshness-score-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-link-graph-runner.js
  netlify/functions/knowledge-pack-runner.js
  netlify/functions/pagespeed-insights-runner.js
  netlify/functions/site-404-map-runner.js
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

fix(netlify): resolve conflict markers, add schedules; regen functions manifest
  netlify/functions/functions-manifest.json
Labels: config

Make quick nav dock visible on all screen sizes
  pages/main/front/index.tsx
Labels: frontend

fix: resolve merge conflicts in netlify.toml and merge schedules
  netlify.toml
Labels: none

Update functions manifest generation timestamp
  netlify/functions/functions-manifest.json
Labels: config

Add GitHub workflows for automation guardian and front continuous runner
  .github/workflows/automation-guardian.yml
  .github/workflows/front-continuous.yml
Labels: workflows, config

Add GitHub workflows for front continuous and guardian schedulers
  .github/workflows/front-continuous-scheduler.yml
  .github/workflows/guardian-scheduler.yml
Labels: workflows, config

Add GitHub workflows for front and guardian schedulers
  .github/workflows/front-scheduler.yml
  .github/workflows/guardian-scheduler.yml
Labels: workflows, config

Add GitHub Actions workflows for automation guardian and front runner
  .github/workflows/automation-guardian.yml
  .github/workflows/front-continuous.yml
Labels: workflows, config

ci: add ultrafast orchestrator, readme autogen, homepage updater; advertise on homepage
  .github/workflows/homepage-auto-update.yml
  .github/workflows/readme-autogen.yml
  .github/workflows/ultrafast-cloud-orchestrator.yml
  README.md
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, workflows, config

Add GitHub Actions workflows for automated repository maintenance
  .github/workflows/front-index-advertiser.yml
  .github/workflows/homepage-updater.yml
  .github/workflows/knowledge-graph-publisher.yml
  .github/workflows/readme-advertiser.yml
  .github/workflows/ultrafast-sync.yml
  pages/main/front/index.tsx
Labels: frontend, workflows, config

chore(lint): satisfy eslint for actions catalog and README generator
  .github/workflows/actions-catalog.yml
  README.md
  automation/front-actions-advertiser.cjs
  package.json
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/generate-actions-catalog.js
  scripts/generate-readme.js
Labels: frontend, workflows, automation, config

feat(front): advertise new CI orchestrators on main/front and home
  netlify/functions/functions-manifest.json
  pages/main/front/index.tsx
Labels: frontend, config

Update GitHub repo links from zion to zion.app in multiple files
  README.md
  pages/index.tsx
  scripts/generate-actions-catalog.js
  scripts/generate-readme.js
Labels: frontend

chore(automation): add autonomous GitHub Actions and advertise on homepage
  .github/workflows/ai-trends-radar.yml
  .github/workflows/cloud-autonomous-orchestrator.yml
  .github/workflows/docs-intelligence.yml
  .github/workflows/media-optimizer.yml
  .github/workflows/security-auto-heal.yml
  .github/workflows/topics-and-clusters.yml
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, workflows, config

Add new GitHub Actions and update README with workflow details
  .github/workflows/code-intel-sweeper.yml
  .github/workflows/docs-knowledge-synth.yml
  .github/workflows/front-hyper-refresh.yml
  .github/workflows/media-optimizer.yml
  README.md
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
  scripts/generate-readme.js
Labels: frontend, workflows, config

docs(readme): refresh automations list with new workflows
  README.md
Labels: none

Add autonomous GitHub Actions workflows and homepage section
  .github/workflows/actions-advertiser.yml
  .github/workflows/actions-health-report.yml
  README.md
  netlify/functions/functions-manifest.json
  pages/index.tsx
  public/actions-manifest.json
  scripts/actions-advertiser.cjs
  scripts/actions-health-report.cjs
Labels: frontend, workflows, config

Add GitHub Actions section to front page with workflow cards
  .github/workflows/branch-cleanup.yml
  .github/workflows/dead-code-report.yml
  .github/workflows/duplicate-media-finder.yml
  .github/workflows/image-optimizer.yml
  .github/workflows/todo-scanner.yml
  .github/workflows/ultra-rapid-sync.yml
  automation/front-actions-advertiser.cjs
  pages/main/front/index.tsx
Labels: frontend, workflows, automation, config

feat(automation): add intelligent-orchestrator, anomaly-watchdog, and pulse-sync scheduled functions; advertise on homepage; schedule in netlify.toml
  README.md
  netlify.toml
  netlify/functions/anomaly-watchdog.js
  netlify/functions/intelligent-orchestrator.js
  netlify/functions/pulse-sync.js
  pages/index.tsx
Labels: frontend

feat(automation): add autonomous-cloud-conductor; schedule every minute; advertise on home/front
  README.md
  netlify.toml
  netlify/functions/autonomous-cloud-conductor.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(autonomy): add Autonomous Cloud Brain + Function Health Monitor; schedule in Netlify; advertise on homepage; regenerate functions manifest
  netlify.toml
  netlify/functions/autonomous-cloud-brain.js
  netlify/functions/function-health-monitor.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
Labels: frontend, config
