Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

chore(outreach): save CEO hot-followup reply template
  lead-crm/drafts/ceo-hot-followup-template.md
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/drafts/ceo-new-lead-template.md
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

chore(automation): refresh site integrity check, outreach log, and monitor snapshot
  MEMORY.md
  automation/data/lead-outreach/outreach-log.jsonl
  automation/reports/site-monitor-latest.json
  automation/scripts/site_integrity_check.py
  automation/site_integrity_crawl.py
Labels: docs, automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

feat(services+outreach): add identity governance/access management and cloud security posture pages plus PT outreach
  MEMORY.md
  app/services/ai-first-cloud-security-posture-management-for-it-in-2026/page.tsx
  app/services/ai-first-identity-governance-and-access-management-for-it-in-2026/page.tsx
  automation/data/lead-outreach/improvements.json
  automation/reports/site-monitor-latest.json
  lead-crm/network-and-outreach/ceo-identity-governance-and-cloud-security-offer-pt-BR.json
Labels: docs, automation

seo: add AI-human handoff playbook support teams lead page
  app/blog/ai-human-handoff-playbook-for-support-teams-2026/page.tsx
Labels: none

chore(seo): add 30-day AI/IT SEO content calendar
  app/data/seo_content_calendar_30d.json
Labels: none

seo: add AI contract review and legal ops automation lead page
  app/blog/ai-contract-review-and-legal-operations-automation-2026/page.tsx
  outreach/candidate-intake.html
Labels: none

chore(leads): triage snapshot of high-signal leads
  lead-crm/lead_triage_snapshot_20260708.md
Labels: docs

chore: archive old audit reports and prune health history
  public/api/automation-health-history.json
Labels: none

feat(miner): improve lead quality heuristics and domain noise filtering
  lead-crm/historical_email_miner.py
Labels: none

chore(seo): add blog internal linking map
  app/data/blog_internal_links.json
Labels: none

feat: add AI workflow automation services page
  app/blog/ai-powered-change-management-for-it-teams-2026/page.tsx
  app/services/ai-workflow-automation/page.tsx
  outreach_monitor/github-actions-reliability-report-2026-07-08.md
Labels: docs

chore(site-monitor): refresh automation/reports/site-monitor-latest.json
  automation/reports/site-monitor-latest.json
Labels: automation

feat: add AI MSP security and compliance automation services page
  app/services/ai-msp-security-and-compliance-automation/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  app/blog/free-ai-it-tools-ziontechgroup/index.md
  lead-crm/all-leads.json
  lead-crm/drafts/top5_personalized_outreach_drafts.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

feat: add AI customer success churn prevention services page
  app/services/ai-customer-success-churn-prevention/page.tsx
Labels: none

feat(tailor): add LLM retry/backoff and env-tunable call timeout
  lead-crm/tailor_ready_with_llm.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

feat(tailor): cap per-cycle LLM tailoring to ZT_MAX_TAILOR
  lead-crm/tailor_ready_with_llm.py
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

feat: harden LLM tailor retries and branching metrics
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat: add AI incident response and oncall automation services page
  app/services/ai-email-bounce-and-deliverability-recovery/page.tsx
  app/services/ai-incident-response-and-oncall-automation/page.tsx
Labels: none

chore(outreach): add hot-ready CEO drafts for top prospects
  lead-crm/drafts/hot_ready_outreach_pack_20260708/channelpronetwork.md
  lead-crm/drafts/hot_ready_outreach_pack_20260708/gakenholz.md
  lead-crm/drafts/hot_ready_outreach_pack_20260708/shervacom.md
  lead-crm/drafts/hot_ready_outreach_pack_20260708/sscs-sa.md
  lead-crm/drafts/hot_ready_outreach_pack_20260708/ztg-brazil.md
Labels: docs

chore: final local artifacts and daily memory
  Zion_Brain_Log.md
  lead-crm/outreach_health_checkpoint.json
  memory/2026-07-08.md
  scripts/reports/live-link-audit.json
Labels: docs, automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: none

feat(miner): add rolling high-frequency monitor metrics
  lead-crm/historical_email_miner.py
  lead-crm/miner_health_history.json
Labels: none

chore(outreach): update miner health and ready queue snapshots
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(outreach): automated outreach cycle
  Zion_Brain_Log.md
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
Labels: docs

outreach: add Twinsburg rack/stack leads CSV
  outreach/twinsburg-leads.csv
Labels: none

feat(leads): add public research context to top 5 prospects
  lead-crm/outreach_ready_canonical.json
Labels: none

docs(outreach): add daily ops digest
  lead-crm/daily-ops-digest.md
Labels: docs

feat(seo): add clean robots.txt with sitemap reference
  public/robots.txt
Labels: none

chore(ci): disable noisy failing lighthouse-ci and ci-cd workflows
  .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/lighthouse-ci.yml.disabled
  Zion_Brain_Log.md
  automation/data/lead-outreach/outreach-log.jsonl
  automation/run_outreach_scan.py
  lead-crm/all-leads.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_tailored_canonical.json
  lead-crm/web_prospecting.py
  logs/web_prospecting.err
  logs/web_prospecting.out
  route_smoke_test.py
  tmp_smoke.py
Labels: docs, automation

fix: exclude additional bouncing outreach domains from discovery
  app/services/ai-endpoint-management-and-patch-automation/page.tsx
  app/services/ai-it-asset-discovery-and-lifecycle-automation/page.tsx
  app/services/ai-ransomware-recovery-and-business-continuity-automation/page.tsx
  outreach/twinsburg-agency-referral-request.txt
  scripts/outreach/outreach_worker_automation.py
Labels: automation

fix(pages): merge docs redirects into Pages artifact when out/ is primary
  .github/workflows/continuous-pages-deploy.yml
Labels: automation

ci(pages): add minimal docs-only Pages deploy workflow
  .github/workflows/docs-pages-deploy.yml
Labels: automation

fix: restore Calendly scheduling link to working /kleber-ziontechgroup path
  app/components/ContactFunnel.tsx
  app/components/Footer.tsx
  app/contact/page.tsx
Labels: none

ci(pages): add valid docs-only Pages deploy workflow
  .github/workflows/docs-pages-deploy.yml
Labels: automation

chore(outreach): automated outreach cycle
  app/data/internal_link_fix_policy.json
  app/page.tsx
  app/zion-ai-customer-360/page.tsx
  components/AgentsMonitoring.tsx
  components/Footer.tsx
  components/Navigation.tsx
  components/ServiceMatchQuiz.tsx
  lead-crm/all-leads.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/outreach_tailored_canonical.json
  scripts/internal_link_audit.py
Labels: frontend, automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
