Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'

chore: refresh package-lock after npm install
  package-lock.json
Labels: none

fix(pages): restore /case-studies /industries /testimonials docs fallbacks for Pages artifact
  docs/case-studies/index.html
  docs/industries/index.html
  docs/testimonials/index.html
Labels: none

ci(pages): promote docs fallback stubs into artifact root so /case-studies /industries /testimonials are served
  .github/workflows/gh-pages.yml
Labels: automation

chore: add self-diagnosing trace logging to outreach and site-improv workflows
  .github/workflows/outreach-live-llm-tailoring.yml
  .github/workflows/site-improv-agent.yml
Labels: automation

chore: upload workflow trace logs as artifacts for future self-diagnosis
  .github/workflows/outreach-live-llm-tailoring.yml
  .github/workflows/site-improv-agent.yml
Labels: automation

chore: remove stale local artifacts and docs fallbacks from tracking
  artifacts/crawl-2026-07-16.json
  artifacts/hot-followup-scan-2026-07-16.json
  docs/configurator/index.html
  docs/dashboard/index.html
Labels: none

fix(pages): recover /case-studies /industries /testimonials via Wayback; add reviewed CEO reply draft
  docs/case-studies/index.html
  docs/industries/index.html
  docs/testimonials/index.html
  outreach_monitor/processed/hot_followup_ceo_reply_solyssey_draft.txt
Labels: none

fix: restore runtime guardian, fix-agent pipeline, live crawl, and site health
  automation/autonomous-runtime-fix-agent-executor.cjs
  automation/autonomous-runtime-fix-agent-factory.cjs
  automation/autonomous-runtime-guardian.cjs
  automation/reports/site-health/latest.txt
  automation/scripts/live-crawl.cjs
Labels: automation

feat: add himalaya send fallback and safer hot-followup transport selection
  automation/ai-email-himalaya-fallback.cjs
  automation/ai-email-outreach-llm-agent.cjs
  automation/data/lead-outreach/hot-followup-ceo-reply-draft.txt
Labels: automation

merge: resolve servicesData.ts conflict by taking upstream version
  app/data/servicesData.ts
Labels: none

fix: use gmail send command prefix in fallback transport
  automation/ai-email-outreach-llm-agent.cjs
Labels: automation

cron(2026-07-16): site health report + outreach cleanup
  outreach_monitor/processed/hot_followup_ceo_reply_solyssey_draft.txt
  outreach_monitor/processed/site_health_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  lead-crm/tailor_log.jsonl
  lead-crm/tailor_ready_llm.py
  memory/2026-07-16.md
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/tailor_ready_llm.py
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  automation/AUTOMATION_STATUS.md
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs, automation

feat(outreach): improve LLM email extraction and prompt shape for reasoning-only provider output
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): save reviewed CEO follow-up draft for !!!hot-follow-up Solyssey thread
  outreach_monitor/processed/hot_followup_ceo_reply_solyssey_draft.txt
Labels: none

chore(outreach): update dedup/bounce state and LLM readiness snapshot
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(crawl): add curl-based probe script and daily crawl artifacts for autopilot
  artifacts/crawl-2026-07-16.json
  live-path-check.json
  scripts/crawl_probe.py
Labels: automation

fix(outreach): repair indentation after partial-LLM-env monitoring patch
  scripts/outreach/outreach_worker_automation.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  memory/2026-07-16.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/outreach_send_disabled_analysis.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci: continuity artifacts for 2026-07-16 autopilot rerun
  .github/workflows/gh-pages.yml
  memory/2026-07-16.md
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/site_health_report.jsonl
Labels: docs, automation

chore(outreach): automated outreach cycle
  .github/workflows/gh-pages.yml
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: automation

chore(automation): resume script + link audit verifier
  automation/AUTOMATION_STATUS.md
  automation/resume-paused-jobs.sh
Labels: docs, automation

ci(pages): use build wrapper with docs fallback; deploy if artifact has any index.html pages
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): update dedup/bounce state and LLM readiness snapshot
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(pages): record latest live path check snapshot
  live-path-check.json
Labels: none

chore(outreach): update dedup/bounce state and LLM readiness snapshot
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore(pages): update live-path-check snapshot
  live-path-check.json
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  outreach_monitor/processed/historical_miner_ts.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

ci(pages): fix pages output formatting for GitHub Actions and keep docs fallback deploy
  .github/workflows/gh-pages.yml
Labels: automation
