Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: automations, ci, content

Adjust layout and background styling for improved visual design
  components/layout/EnhancedLayout.tsx
  pages/_document.tsx
  pages/index.tsx
  tsconfig.tsbuildinfo
Labels: content

Add Netlify build hook trigger to autopilot workflow
  .github/workflows/autopilot.yml
Labels: automations, ci

Consolidate CSS imports into a single globals stylesheet
  pages/_app.tsx
Labels: content

Add futuristic background and improve document structure
  components/layout/EnhancedLayout.tsx
  pages/_document.tsx
Labels: content

Refactor enhanced home page with hero, features, and cloud automation sections
  pages/enhanced-home.tsx
Labels: content

feat(home): enable Tailwind and global App; futuristic animated landing page renders correctly
  pages/_app.tsx
  postcss.config.js
  styles/globals.css
  tailwind.config.js
Labels: content

chore(git): ignore .next build artifacts
  .gitignore
Labels: none

feat(home): enable Tailwind CSS and upgrade homepage with futuristic design, effects and layout
  package-lock.json
  pages/_app.tsx
  postcss.config.js
  styles/globals.css
  tailwind.config.js
Labels: content

feat(home): ensure main/front route renders homepage; upgrade futuristic hero with animated shimmer and starfield; advertise features, capabilities, and benefits
  pages/index.tsx
  pages/main/front/index.tsx
  styles/globals.css
Labels: content

chore: commit build output to allow branch switch (temporary)
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/chunks/561.js
  .next/server/pages-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/main/front.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/bB4K8G18PIt1RZXrwup-t/_buildManifest.js
  .next/static/bB4K8G18PIt1RZXrwup-t/_ssgManifest.js
  .next/static/chunks/633-7a45ff3c8ea48b73a2ee.js
  .next/static/chunks/pages/index-644a01bd01593ebd1698.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/chunks/pages/main/front-34c8ade0d4fdd150165b.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eccb20ab98e959b6f1e1.css
  .next/trace
Labels: none

chore(netlify): disable smart secrets scanning to avoid false positive in node-libs-browser buffer test
  netlify.toml
Labels: none

feat(home): redesign homepage with futuristic animations, effects, and improved features/capabilities/benefits
  pages/index.tsx
  styles/globals.css
Labels: content

Regenerate build artifacts and update Next.js build manifest
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/A1pjgtNrD7qDd60W5o37b/_buildManifest.js
  .next/static/A1pjgtNrD7qDd60W5o37b/_ssgManifest.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/trace
Labels: none

feat(front): add futuristic main/front landing page showcasing features, capabilities, and benefits
  pages/main/front/index.tsx
Labels: content

chore: add .gitignore and Next.js redirect from / to /main/front
  .gitignore
  next.config.js
Labels: none

feat(homepage): autonomous intelligent updater + scheduled CI to refresh highlights
  .github/workflows/autonomous-homepage-updater.yml
  automation/homepage-intelligent-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

Simplify homepage explore section and add homepage updater script
  .github/workflows/homepage-updater.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/0.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/DveiRjyMwOhIesm6J_8z1/_buildManifest.js
  .next/static/DveiRjyMwOhIesm6J_8z1/_ssgManifest.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/chunks/pages/index-d3023fe868da0945ed66.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/trace
  automation/homepage-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

chore: Update build artifacts and regenerate static files
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/0.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/8Pp7CLiTUYs54O-gqaX8A/_buildManifest.js
  .next/static/8Pp7CLiTUYs54O-gqaX8A/_ssgManifest.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/trace
Labels: none

feat(homepage): autonomous Explore section updater and CI workflow
  .github/workflows/homepage-updater.yml
  automation/homepage-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

chore(ci): run homepage updater every 15 minutes
  .github/workflows/homepage-updater.yml
Labels: automations, ci

Update build artifacts and optimize static generation for production
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/0.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/FUx3Uws7fOhaqfpTtIO-f/_buildManifest.js
  .next/static/FUx3Uws7fOhaqfpTtIO-f/_ssgManifest.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/chunks/pages/index-f5a0b07b90ba1d1718b9.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/trace
Labels: none

Regenerate build artifacts with updated Next.js build ID
  .github/workflows/autonomous-home-index.yml
  .github/workflows/home-index-auto-update.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/KEpOCpap7xpAODwjC1wqL/_buildManifest.js
  .next/static/KEpOCpap7xpAODwjC1wqL/_ssgManifest.js
  .next/static/chunks/pages/index-105c3cc2f65ce9a5f26b.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/trace
  automation/home-index-updater.cjs
  pages/index.tsx
Labels: automations, ci, content

Add autonomous updates section to homepage with latest improvements
  .github/workflows/homepage-autonomous-update.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/0.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/3L4UULF9lUV2jSxwCX0DX/_buildManifest.js
  .next/static/3L4UULF9lUV2jSxwCX0DX/_ssgManifest.js
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/chunks/pages/index-715ebeb195fc9be18f4c.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/92d98b94e3d0b9815c60.css
  .next/trace
  automation/homepage-autonomous-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

Update homepage links and explore more section
  .github/workflows/homepage-auto-update.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/chunks/pages/index-638899a71abe884b723b.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/eb97519142451e7797ba.css
  .next/static/ljr_yfUT0v42VOhs9UmJJ/_buildManifest.js
  .next/static/ljr_yfUT0v42VOhs9UmJJ/_ssgManifest.js
  .next/trace
  automation/home-updater.cjs
  pages/index.tsx
Labels: automations, ci, content

feat(homepage): autonomous auto-advertiser injects dynamic Explore section
  .github/workflows/homepage-auto-advertiser.yml
  .gitignore
  automation/homepage-auto-advertiser.cjs
Labels: automations, ci

Update home page with live highlights and dynamic content sections
  .github/workflows/homepage-auto-update.yml
  .next/BUILD_ID
  .next/build-manifest.json
  .next/cache/webpack/client-production/0.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/index.pack
  .next/cache/webpack/client-production/index.pack.old
  .next/cache/webpack/server-production/0.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/index.pack
  .next/cache/webpack/server-production/index.pack.old
  .next/prerender-manifest.json
  .next/server/pages/404.html
  .next/server/pages/500.html
  .next/server/pages/automation.html
  .next/server/pages/index.html
  .next/server/pages/newsroom.html
  .next/server/pages/site-health.html
  .next/static/5Lf_zZUGtG58N8syx5Gr6/_buildManifest.js
  .next/static/chunks/pages/index-75a96080d2c750bb09e8.js
  .next/static/chunks/pages/index-8e13bab546a77c9b1544.js
  .next/static/css/12a1f7e514ba38bb0230.css
  .next/static/css/4263f968c4adb1850055.css
  .next/static/upHYGWvZi2APgO-IrG-T4/_buildManifest.js
  .next/static/upHYGWvZi2APgO-IrG-T4/_ssgManifest.js
  .next/trace
  automation/homepage-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

feat(homepage): autonomous explore-section updater + scheduled workflow (no build artifacts)
  .github/workflows/homepage-auto-update.yml
  automation/homepage-updater.cjs
  package.json
  pages/index.tsx
Labels: automations, ci, content

feat(front): implement futuristic main/front landing with animated backgrounds, features, capabilities, benefits; redirect /front -> /main/front
  pages/front/index.tsx
  pages/main/front/index.tsx
Labels: content

chore(ci): add robust git sync scripts and speed up rapid sync to 1m
  .github/workflows/rapid-git-sync.yml
  automation/advanced-git-sync.cjs
  automation/git-sync.cjs
  package.json
Labels: automations, ci

ci(automation): add rapid sync and CI self-heal workflows
  .github/ci-self-heal.yml
  .github/rapid-sync.yml
Labels: none

.github/labeler.yml:

automations:
  - changed-files:
      - any-glob-to-any-file: ['automation/**', '.github/workflows/**']
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
content:
  - changed-files:
      - any-glob-to-any-file: ['pages/**', 'components/**', 'styles/**']
