Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

fix(redirects): App Router redirect routes for legacy /services/{vcio,access-management}
  app/services/access-management/page.tsx
  app/services/access-management/route.ts
  app/services/vcio/page.tsx
  app/services/vcio/route.ts
  public/services/access-management/index.html
  public/services/vcio/index.html
Labels: none

chore(monitor): refresh hot-followup state; no new inbound since last CEO reply, duplicate send blocked
  lead-crm/gmail_monitor_status.json
Labels: none

feat(monitor): add accessibility scorecard script with history tracking
  automation/accessibility-scorecard.cjs
Labels: automation

feat(mining/monitor): faster miner loop, stronger LLM classification prompt, refreshed hot-followup monitor state
  lead-crm/gmail_monitor_status.json
  lead-crm/historical_email_miner.py
  lead-crm/miner_health.json
Labels: none

feat(outreach/mining): LLM-tailored thread context, faster continuous miner, improved monitoring
  lead-crm/ai_it_historical_email_miner.py
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/send_outreach_batch.py
Labels: none

feat(automation): add high-frequency miner/outreach cron configs; allow JSON in lead-crm gitignore
  .gitignore
  lead-crm/miner_cron.json
  lead-crm/outreach_cron.json
Labels: none

chore(miner/outreach): record continuous improvement artifacts; monitor state refreshed
  lead-crm/all-leads.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(mining/outreach): refresh miner health and outreach readiness artifacts for continuous monitoring
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(mining/outreach): refresh continuous monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

chore(mining/outreach): refresh continuous monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

fix(automation): route email_process to continuous pipeline; refresh miner/outreach monitoring artifacts
  lead-crm/all-leads.json
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  scripts/email_process.sh
Labels: automation

chore(mining/outreach): refresh continuous monitoring artifacts
  lead-crm/all-leads.json
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

chore(mining/outreach): refresh monitoring artifacts and session memory note
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  memory/2026-07-10.md
  route_smoke_test.py
Labels: docs

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
Labels: none

fix(routes): add missing source pages for ai-reliability-slos-and-incident-automation and ai-dashboard
  app/services/ai-reliability-slos-and-incident-automation/page.tsx
Labels: none

fix(routes): add missing source pages for ai-reliability-slos-and-incident-automation and ai-dashboard
  app/ai-dashboard/page.tsx
Labels: none

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/all-leads.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

fix(automation): reduce pipeline runner step timeouts to prevent scheduled timeout
  lead-crm/miner_health.json
  lead-crm/outreach_ready_canonical.json
  lead-crm/run_outreach_cycle.py
Labels: none

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

chore(smoke): add route smoke script; refresh miner monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  smoke_routes.py
Labels: none

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

fix(automation): add supplement circuit breaker to continuous outreach pipeline
  lead-crm/all-leads.json
  lead-crm/continuous_outreach_pipeline.py
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

fix(automation): route email/lead pipeline scripts to staged runner; refresh monitoring artifacts
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  scripts/email_process.sh
  scripts/lead_pipeline.sh
Labels: automation

changelog: add internal link audit script for continuous site quality monitoring
  scripts/internal_link_audit.js
Labels: automation

chore(state): add local audit cache with ttl to avoid monitor churn; refresh monitoring artifacts
  .state/audit-cache.txt
  .tmp_lead.out
  .tmp_monitor.out
  .tmp_pipeline.out
  .tmp_token.out
  lead-crm/all-leads.json
  lead-crm/gmail_monitor_status.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
  lead-crm/outreach_ready_canonical.json
  scripts/reports/live-link-audit.json
Labels: automation

chore: clean stray temp files; keep state cache and monitoring artifacts
  .tmp_lead.out
  .tmp_monitor.out
  .tmp_pipeline.out
  .tmp_token.out
Labels: none

feat(services): add AI supply chain optimization service page for SEO and lead generation
  app/services/ai-supply-chain-optimization/page.tsx
Labels: none

fix(pages): add fallback static page for ai supply chain optimization
  docs/services/ai-supply-chain-optimization/index.html
Labels: none

chore(mining/outreach): refresh monitoring artifacts
  lead-crm/all-leads.json
  lead-crm/miner_health.json
  lead-crm/miner_health_history.json
Labels: none

fix(tools/blog/ci): add favicon-generator fallback, fix blog footer link, disable failing snapshot workflow
  .github/workflows/ai-openclaw-autonomy-handoff-snapshot.yml.disabled
  app/tools/favicon-generator/page.tsx
Labels: automation

fix(email+ci): clean invalid outreach domains and restore GitHub Pages deploy trigger
  .github/workflows/ai-content-ideas-and-evolution-deploy.yml
  lead-crm/outreach_monitor_latest.json
Labels: automation

fix(audit): switch internal link audit script to .cjs for ESM compatibility
  scripts/internal_link_audit.cjs
Labels: automation

ci: restore missing automation health freshness checker and GitHub Pages deploy trigger
  scripts/automation/check-automation-health-static-freshness.cjs
Labels: automation

feat(seo): improve AI-first SaaS cost optimization service page copy and CTAs
  app/services/ai-first-saas-cost-optimization-and-license-management-for-it-in-2026/page.tsx
Labels: none

feat(monitoring): add thread-alive probe to high-frequency email monitor for outreach lead candidates
  scripts/outreach/high_frequency_monitor.py
Labels: automation

fix(redirect/ci): restore docs/ai/demo 301 redirect; reduce workflow noise
  docs/ai/demo/index.html
Labels: none

fix(site): restore 404 routes /services/ai-data-lakehouse-pipelines and /blog/free-ai-readiness-audit-checklist-for-it-managers-2026
  app/blog/free-ai-readiness-audit-checklist-for-it-managers-2026/page.tsx
  app/services/ai-data-lakehouse-pipelines/page.tsx
Labels: none

fix(pages): make /new-ai-services static and redirect ai-4801..4808 to docs overview
  docs/new-ai-services/index.html
  docs/services/ai-4801/index.html
  docs/services/ai-4802/index.html
  docs/services/ai-4803/index.html
  docs/services/ai-4804/index.html
  docs/services/ai-4805/index.html
  docs/services/ai-4806/index.html
  docs/services/ai-4807/index.html
  docs/services/ai-4808/index.html
Labels: none

chore(ci): disable redundant auto workflows to reduce queue/fail noise
  .github/workflows/ai-app-visit-audit-implement-deploy-smoke-weekly.yml.disabled
  .github/workflows/ai-app-visit-audit-implement-deploy.yml.disabled
  .github/workflows/ai-content-ideas-and-evolution-deploy.yml.disabled
  .github/workflows/ai-content-ideas-deploy.yml.disabled
  .github/workflows/ai-content-max-velocity-deploy.yml.disabled
  .github/workflows/ai-navigation-pages-audit.yml.disabled
  .github/workflows/ai-production-deploy-validation-smoke-weekly.yml.disabled
  .github/workflows/ai-production-deploy-validation.yml.disabled
  .github/workflows/deploy-health.yml.disabled
  .github/workflows/deploy-on-push-smoke-weekly.yml.disabled
  .github/workflows/deploy-preflight-smoke-weekly.yml.disabled
  .github/workflows/deploy-preflight.yml.disabled
Labels: automation

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
