Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

🤖 Add anchor-links-auto-fixer report [skip ci]
  anchor-links-auto-fixer-report.md
Labels: none

🤖 Add auto-discovery-runner report [skip ci]
  auto-discovery-runner-report.md
Labels: none

security: trigger security-audit workflow specifically
  security-audit-trigger.md
Labels: none

fix: add quotes to cron syntax in multiple workflows
  .github/workflows/cursor-rules-autoupdate.yml
  .github/workflows/dependencies.yml
  .github/workflows/maintenance.yml
Labels: workflows, config

Add missing automation scripts for workflows
  automation/performance-audit.cjs
  scripts/seo-audit.js
Labels: automation

📋 Add comprehensive Netlify Functions recovery report [skip ci]
  automation/netlify-local-stamp.txt
  netlify-functions-recovery-report.md
Labels: automation

🤖 Automated sync via cloud orchestrator [skip ci]
  netlify/functions/continuous-orchestrator.js
  netlify/functions/frontpage-enhancer.js
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

seo: trigger seo-audit workflow specifically
  seo-audit-trigger.md
Labels: none

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
  pages/index.tsx
Labels: frontend

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

release: trigger release-deploy workflow specifically
  release-deploy-trigger.md
Labels: none

Refactor workflow management scripts and improve code formatting
  .github/workflows/cleanup.yml
  .github/workflows/maintenance.yml
  .github/workflows/workflow-manager.yml
  package.json
  public/reports/workflows/latest.json
  public/reports/workflows/report-2025-08-18T16-56-18-485Z.json
  validate-workflows-local.py
Labels: workflows, config

🤖 Add ui-evolution-weekly-beautify report [skip ci]
  ui-evolution-weekly-beautify-report.md
Labels: none

Add Netlify functions for multiple runners with placeholder implementations
  a11y-alt-text-runner-report.md
  adaptive-orchestrator-report.md
  ai-changelog-runner-report.md
  ai-trends-radar-runner-report.md
  anchor-links-auto-fixer-report.md
  auto-discovery-runner-report.md
  automation/netlify-build-stamp.txt
  netlify/functions/a11y-alt-text-runner.js
  netlify/functions/adaptive-orchestrator.js
  netlify/functions/ai-changelog-runner.js
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/anchor-links-auto-fixer.js
  netlify/functions/auto-discovery-runner.js
Labels: automation

deps: trigger dependencies workflow specifically
  dependencies-trigger.md
Labels: none

deploy: trigger continuous-deployment workflow specifically
  continuous-deployment-trigger.md
Labels: none

Add workflow testing trigger file
  test-workflow-trigger.md
Labels: none

Fix GitHub Actions workflow issues: complete ci.yml workflow, fix ESLint configuration, and resolve React unescaped entities
  .eslintrc.json
  .github/workflows/ci.yml
  netlify/functions/functions-manifest.json
  pages/500.tsx
  pages/about.tsx
  public/reports/metadata/index.html
  tsconfig.tsbuildinfo
Labels: frontend, workflows, config

cleanup: trigger cleanup workflow specifically
  cleanup-trigger.md
Labels: none

fix: fix remaining malformed multiline run commands in maintenance workflow
  .github/workflows/maintenance.yml
Labels: workflows, config

Fix malformed YAML syntax in workflow-manager.yml
  .github/workflows/workflow-manager.yml
Labels: workflows, config

security: trigger codeql-analysis workflow specifically
  codeql-analysis-trigger.md
Labels: none

Update workflow permissions and regenerate functions manifest
  .github/workflows/autonomous-meta.yml
  netlify/functions/functions-manifest.json
  public/reports/metadata/index.html
  tsconfig.tsbuildinfo
Labels: workflows, config

Refactor CI workflow and add comprehensive workflow testing report
  .github/workflows/continuous-integration.yml
  workflow-testing-report.md
Labels: workflows, config

ci: trigger commitlint workflow specifically
  commitlint-trigger.md
Labels: none

Add pull-requests: write permission to workflows and update dependencies
  .github/workflows/auto-fix-workflows.yml
  .github/workflows/exponential-ai-delegation.yml
  .github/workflows/gitleaks.yml
  .github/workflows/search-index-autogen.yml
  .github/workflows/security-auto-heal.yml
  .github/workflows/security-gates.yml
  .github/workflows/security-scan.yml
  .github/workflows/sitemap-auto-commit.yml
  WORKFLOW_TESTING_README.md
  package-lock.json
  package.json
  public/reports/workflows/local-test-report.json
  public/reports/workflows/testing-progress.json
  public/reports/workflows/workflow-testing-plan.json
  scripts/start-workflow-testing.sh
  scripts/test-workflows-locally.cjs
  scripts/workflow-testing-plan.cjs
  scripts/workflow-testing-tracker.cjs
Labels: workflows, config

🤖 Automated sync via cloud orchestrator [skip ci]
  netlify/functions/trigger-all-and-commit.js
  netlify/functions/ultrafast-orchestrator.js
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

ci: trigger actionlint workflow specifically
  actionlint-trigger.md
Labels: none

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none

🤖 Update marketing and features promo via Netlify function [skip ci]
  MARKETING_PROMO.md
  marketing-index.ts
Labels: none

🤖 Continuous orchestration via Netlify function [skip ci]
  CONTINUOUS_ORCHESTRATION_REPORT.md
  netlify/functions/functions-manifest.json
Labels: config

🤖 Fast front promotion via Netlify function [skip ci]
  FAST_FRONT_PROMOTION_REPORT.md
Labels: none

🤖 Front page enhancements via Netlify function [skip ci]
  pages/front/index.ts
Labels: frontend

🤖 Frontpage enhancements via Netlify function [skip ci]
  FRONTPAGE_ENHANCEMENT_REPORT.md
Labels: none
