Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflows, automation, docs, config, security, marketing

.github/labeler.yml:

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

workflows:
  - '.github/workflows/**'

automation:
  - 'automation/**'

docs:
  - 'docs/**'

config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

security:
  - 'automation/security-*.cjs'

marketing:
  - 'automation/*marketing*'
  - '.github/workflows/*marketing*'

Remove plugin name from module exports
  netlify/plugins/run-functions-and-rerun/index.js
Labels: none

fix(netlify): remove invalid name export from local plugin to satisfy Netlify runtime
  netlify/functions/functions-manifest.json
Labels: config

Update redirects and Netlify config for static export
  _redirects
  netlify.toml
Labels: none

Migrate Next.js project to static export and update Netlify configuration
  _redirects
  netlify.toml
  package.json
Labels: config

chore(audit): dead code + broken image reports [ci skip]
  data/reports/dead-code/report-2025-08-11T20-35-28-860Z.json
  data/reports/images/broken-images.json
Labels: config

chore(front): promo refresh [skip ci]
  pages/main/front/index.tsx
Labels: frontend

Remove legacy redirects and disable Netlify Next.js plugin
  netlify.toml
  public/_redirects
Labels: none

chore(health): link checks + sitemap refresh [ci skip]
  data/reports/external-links/external-links-1754944578256.json
  public/sitemap.xml
Labels: config

chore(media): OG images + optimized assets [ci skip]
  data/reports/images/image-optimization-1754944583659.json
Labels: config

chore(newsroom): refresh newsroom content [ci skip]
  pages/newsroom.tsx
Labels: frontend

chore(repo): radar metrics + knowledge graph [ci skip]
  data/reports/repo-knowledge-graph.json
  data/reports/repo-radar-metrics.json
Labels: config

chore(seo): refresh sitemap [skip ci]
  public/sitemap.xml
Labels: none

Update build hook and function manifest handling in automation scripts
  netlify/functions/functions-manifest.json
  netlify/functions/trigger-all-and-commit.js
  scripts/trigger-netlify-automations.cjs
Labels: config

chore(audit): dead code + broken image reports [ci skip]
  data/reports/dead-code/report-2025-08-11T20-38-15-992Z.json
  data/reports/images/broken-images.json
Labels: config

Configure commitlint and husky for improved commit message validation
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
Labels: config

chore(health): link checks + sitemap refresh [ci skip]
  data/reports/external-links/external-links-1754944739602.json
  public/sitemap.xml
Labels: config

chore(media): OG images + optimized assets [ci skip]
  data/reports/images/image-optimization-1754944744779.json
Labels: config

chore(repo): radar metrics + knowledge graph [ci skip]
  data/reports/repo-knowledge-graph.json
  data/reports/repo-radar-metrics.json
Labels: config

chore(seo): refresh sitemap [skip ci]
  public/sitemap.xml
Labels: none

ci: fix git automations
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
Labels: workflows, config

chore: Add GitHub workflows for CI, auto-fix, and release management
  .github/workflows/auto-fix.yml
  .github/workflows/automerge-main.yml
  .github/workflows/ci-self-heal.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .husky/commit-msg
  commitlint.config.cjs
  netlify/functions/functions-manifest.json
Labels: workflows, config

Checkpoint before follow-up message
  .github/workflows/netlify-functions-trigger.yml
Labels: workflows, config

Fix escaped quote in site health page class name
  pages/site-health.tsx
Labels: frontend

Add test coverage and update CI workflow configuration
  .github/renovate.json
  .github/workflows/ci-self-heal.yml
  .github/workflows/ci.yml
  __mocks__/fileMock.js
  __tests__/smoke.test.ts
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/smoke.ts.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  jest.config.cjs
  jest.setup.ts
  netlify/functions/functions-manifest.json
  package-lock.json
  package.json
  utils/smoke.ts
Labels: workflows, config

chore(repo): radar metrics + knowledge graph [ci skip]
  data/reports/repo-knowledge-graph.json
  data/reports/repo-radar-metrics.json
Labels: config

feat(automation): add AI Trends Radar and Dependency Insights cloud automations; schedule + homepage links
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/deps-insights-runner.js
  netlify/functions/functions-manifest.json
  pages/index.tsx
  scripts/deps-insights.js
Labels: frontend, config

feat(autonomy): add new cloud audits + rapid git sync; schedule + advertise
  automation/a11y-audit.cjs
  automation/internal-anchor-audit.cjs
  automation/orphan-pages-finder.cjs
  automation/seo-schema-audit.cjs
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/internal-anchor-audit-runner.js
  netlify/functions/orphan-pages-runner.js
  netlify/functions/rapid-git-sync.js
  netlify/functions/seo-schema-audit-runner.js
  pages/index.tsx
Labels: frontend, automation, config

fix(audit): remove CSS.escape usage; refresh functions manifest
  automation/internal-anchor-audit.cjs
  netlify/functions/functions-manifest.json
Labels: automation, config

chore(ci): auto-open PRs for cursor/* branches
  .github/auto-open-pr.yml
Labels: config

chore: refresh netlify functions manifest [skip ci]
  netlify/functions/functions-manifest.json
Labels: config

feat(automation): add Dependency Health Radar
  automation/dependency-health-radar.cjs
  data/reports/dependency-health.json
  netlify.toml
  netlify/functions/dependency-health-radar-runner.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
  pages/reports/deps/index.tsx
  public/reports/deps/index.html
Labels: frontend, automation, config

feat(automation): add new cloud runners; advertise on homepage; schedule in Netlify; regen manifest
  netlify.toml
  netlify/functions/auto-discovery-runner.js
  netlify/functions/automation-guardian-runner.js
  netlify/functions/branch-cleanup-runner.js
  netlify/functions/cloud-autonomous-orchestrator-runner.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

feat(automation): add revenue-ideas-lab function and advertise on front pages
  netlify/functions/functions-manifest.json
  netlify/functions/revenue-ideas-lab.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

feat(automations): add autonomous-cloud-inventions Netlify Function + homepage advertising; schedule every 2m; manifest regen
  automation/autonomous-cloud-inventions.cjs
  netlify.toml
  netlify/functions/autonomous-cloud-inventions.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, automation, config

feat(automations): add SEO audit, AI trends radar, and search index runners; advertise on homepage and hub; schedule on Netlify
  netlify.toml
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/functions-manifest.json
  netlify/functions/seo-audit-runner.js
  netlify/functions/website-search-index-runner.js
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, config

chore(front): refresh homepage explore section via automation runner
  pages/index.tsx
Labels: frontend

feat(cloud): add functions-directory automation and advertise on front [skip ci]
  automation/front-index-ads.cjs
  automation/front-index-auto-advertiser.cjs
  netlify.toml
  netlify/functions/functions-directory.js
  netlify/functions/functions-manifest.json
Labels: automation, config

feat(automation): add AI Trends Radar, Revenue Ideas Orchestrator, Media Auto Release functions; advertise on homepage and hub; schedule in Netlify; regen manifest
  netlify.toml
  netlify/functions/ai-trends-radar.js
  netlify/functions/functions-manifest.json
  netlify/functions/media-auto-release.js
  netlify/functions/revenue-ideas-orchestrator.js
  pages/automation/index.tsx
  pages/index.tsx
  pages/main/front/index.tsx
Labels: frontend, config

chore(front): ensure autonomy directory is advertised [skip ci]
  automation/netlify-build-stamp.txt
Labels: automation

feat(automation): add AI Trends Radar + A11y Audit as autonomous Netlify functions; advertise on homepage and hub; schedule and manifest updated
  automation/a11y-audit.cjs
  netlify.toml
  netlify/functions/a11y-audit-runner.js
  netlify/functions/ai-trends-radar-runner.js
  netlify/functions/functions-manifest.json
  pages/automation/index.tsx
  pages/index.tsx
Labels: frontend, automation, config
