Repository Zion-Holdings/zion.app, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, automation, backend

feat(outreach): in-process high-frequency runner, structured worker results, continuous metrics
  scripts/outreach/outreach_worker_automation.py
  scripts/outreach/run_high_frequency_forever.py
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(site): canonical metadata, homepage breadcrumb JSON-LD for auth/site improvements
  app/layout.tsx
  app/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  app/tools/color-palette-generator/page.tsx
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-14.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

fix(site): fallback static HTML for missing routes + use-client ordering fix
  public/ai-services/index.html
  public/contact/index.html
  public/services/index.html
Labels: none

fix: move 'use client' to top in 39 tool pages
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
Labels: none

fix(ci): move use-client directive to top or remove invalid ordering in tool pages
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
  lead-crm/miner_log.json
Labels: none

fix(ci): replace brittle build:ci wrapper with direct next build for Pages deploy
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): update llm tailoring readiness state
  outreach_monitor/processed/llm_tailoring_readiness.json
Labels: none

chore: local runner/monitor state
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

fix(ci): remove metadata export from client tool pages
  app/tools/base64/page.tsx
  app/tools/box-shadow-generator/page.tsx
  app/tools/color-blindness-simulator/page.tsx
  app/tools/color-contrast-checker/page.tsx
  app/tools/color-palette-generator/page.tsx
  app/tools/cron-expression-explainer/page.tsx
  app/tools/css-gradient-generator/page.tsx
  app/tools/css-minifier-beautifier/page.tsx
  app/tools/currency-converter/page.tsx
  app/tools/html-minifier-beautifier/page.tsx
  app/tools/html-to-jsx/page.tsx
  app/tools/image-color-extractor/page.tsx
  app/tools/json-diff-viewer/page.tsx
  app/tools/json-formatter/page.tsx
  app/tools/json-schema-generator/page.tsx
  app/tools/json-to-csv-converter/page.tsx
  app/tools/jwt-decoder/page.tsx
  app/tools/lorem-ipsum-generator/page.tsx
  app/tools/markdown-preview/page.tsx
  app/tools/number-base-converter/page.tsx
  app/tools/password-generator/page.tsx
  app/tools/password-strength-checker/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/qr-code-generator/page.tsx
  app/tools/regex-tester/page.tsx
  app/tools/secure-hash-generator/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/sql-formatter/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/string-case-converter/page.tsx
  app/tools/subnet-calculator/page.tsx
  app/tools/timestamp-converter/page.tsx
  app/tools/unit-converter/page.tsx
  app/tools/url-encoder-decoder/page.tsx
  app/tools/uuid-generator/page.tsx
  app/tools/word-counter/page.tsx
  app/tools/xml-formatter-validator/page.tsx
  app/tools/yaml-json-converter/page.tsx
Labels: none

chore(outreach): automated outreach cycle
  check_hot_followup.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  app/tools/favicon-generator/page.tsx
  app/tools/roi-calculator/page.tsx
  app/tools/track-engineer-fit/page.tsx
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(ci): normalize tool page client/server directives and metadata exports
  app/tools/analytics/page.tsx
  app/tools/favicon-generator/page.tsx
  app/tools/health-check/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/roi-calculator/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/ssl-checker/page.tsx
  app/tools/track-engineer-fit/page.tsx
Labels: none

ci(pages): run npm run build:ci instead of npm run build
  .github/workflows/gh-pages.yml
Labels: automation

ci(pages): revert to npm run build
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  memory/2026-07-14.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

feat(outreach): add LLM tailoring path + subject-level dedup + contact blockers
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(next): enforce client/server rules in tool pages
  app/tools/analytics/page.tsx
  app/tools/health-check/page.tsx
  app/tools/port-scanner/page.tsx
  app/tools/service-comparison/page.tsx
  app/tools/service-recommender/page.tsx
  app/tools/ssl-checker/page.tsx
Labels: none

ci(pages): use build:ci and do not fail deploy on postbuild validation errors
  .github/workflows/gh-pages.yml
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  scripts/build-wrapper.cjs
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

fix(outreach): skip send if CEO reply already exists in thread
  scripts/outreach/outreach_worker_automation.py
Labels: automation

feat(monitor): create LLM-tailored interest drafts from inbox probe
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/pipeline_sent_cache.txt
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

cron: outreach send-disabled analysis run 2026-07-14T07:30Z
  memory/2026-07-14.md
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
Labels: none

ci(pages): preserve postbuild failure in final state and allow deploy to continue
  scripts/build-wrapper.cjs
Labels: automation

feat(outreach): improve LLM CEO reply prompt specificity and required actionability
  scripts/outreach/outreach_worker_automation.py
Labels: automation

outreach: run disabled analysis (0 sends, 25 improved) and guard web_prospecting state reset
  lead-crm/miner_log.json
  lead-crm/web_prospecting.py
  memory/2026-07-14.md
  outreach_monitor/processed/monitor_report.jsonl
Labels: docs

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  tmp_cron_hot_followup.py
Labels: none

fix: null-safe pricing in home/stage pages and outreach runtime updates
  app/page.tsx
  app/services/stage/[stage]/page.tsx
  app/tools/color-palette-generator/page.tsx
  outreach_monitor/processed/bounce_history.jsonl
  outreach_monitor/processed/global_dedup_state.json
  outreach_monitor/processed/llm_tailoring_readiness.json
  outreach_monitor/processed/pending_approval_queue.jsonl
  public/sitemap.xml
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(runtime): sync outreach runner artifacts
  outreach_monitor/processed/bounce_history.jsonl
  scripts/outreach_monitor/processed/runner_continuous_improvement.json
  scripts/outreach_monitor/processed/runner_counters.json
  scripts/outreach_monitor/processed/runner_run_readme.txt
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  outreach_monitor/processed/monitor_report.jsonl
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  hot_followup_check.py
  lead-crm/all-leads.json
  lead-crm/historical_miner_results.json
  lead-crm/metrics_tailor_coverage.json
  lead-crm/mined_contact_quality.jsonl
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  logs/web_prospecting.out
  outreach_monitor/processed/monitor_report.jsonl
  scripts/build-wrapper.cjs
Labels: automation

fix: correct postbuild verification logic and artifact requirements
  public/sitemap.xml
  scripts/checks/build-and-verify.cjs
Labels: automation

fix(monitor): import label helpers for hot-follow-up labeling
  scripts/outreach/minimal_high_frequency_monitor.py
Labels: automation

chore(outreach): automated outreach cycle
  lead-crm/metrics_tailor_coverage.json
  lead-crm/miner_log.json
  lead-crm/outreach_monitor/processed/interest_draft_queue.jsonl
  outreach_monitor/processed/monitor_report.jsonl
Labels: none

.github/labeler.yml:

docs:
  - '**/*.md'

frontend:
  - 'pages/**'
  - 'components/**'
  - 'styles/**'

automation:
  - 'automation/**'
  - '.github/workflows/**'
  - 'scripts/**'

backend:
  - 'pages/api/**'
  - 'utils/**'
